{% set
  link, button, image, paragraph, heading =
  promo.link,
  promo.button,
  promo.image,
  promo.paragraph,
  promo.heading
%}

{% if promo.style and promo.homepage %}
  {% set classes = "ama__promo--homepage ama__promo--#{promo.style}" %}
{% else %}
  {% set classes = "ama__promo--#{promo.style}" %}
{% endif %}

{% if button %}
  <div {{ setAttributes(classes, attributes) }}>
    {% else %}
  <a href="{{ link }}" {{ setAttributes(classes, attributes) }}>
{% endif %}

  {% block image %}
    {% if image %}
      <div class="ama__image">
        {% include '@atoms/image/image.twig' %}
      </div>
    {% endif %}
  {% endblock %}

  {% include '@atoms/heading/heading.twig' %}

  {% if paragraph.text %}
    {% include '@atoms/paragraph.twig' %}
  {% endif %}

  {% if button %}
    {% include '@atoms/button/button.twig' %}
  {% endif %}

{% if button %}
  </div>
{% else %}
  </a>
{% endif %}
