.ama__agenda-date{
  a {
    @extend .ama__h5;
    padding-bottom: 3px;
    line-height: 1.3;

    &.current {
      border-bottom: solid 3px $gray-64;
    }

  }
}

.ama__tabs-mobile{

  @include breakpoint($bp-xs){
    display: none;
  }
}
