.bg_purple_gradient {
  background: $linear-purple-gradient;
}
.bg_pale_purple {
  background-color: $bg-purple;
}
.bg-white {
  background-color: $white;
}
.bg_none {
  background-color: transparent;
}
.bg_gray {
  background-color: $bg-gray;
}
.bg_purple {
  background-color: $purple;
}
.light_text {
  color: $white;
}
.dark_text {
  color: $black;
}
