blockquote {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 30px;
  * {
    &:last-child {
      margin-bottom: 0;
    }
  }
  margin-bottom: 1em;
  @include breakpoint($bp-med) {
    padding-left: 13px;
  }
  @include breakpoint($bp-large) {
    padding-left: 26px;
  }
  p,
  a,
  li,
  ol,
  table,
  img,
  span,
  h1, h2, h3, h4, h5, h6,
  div {
    text-align: left;
  }
  ol {
    list-style-position: inside;
    margin-left: 0px;
    @include breakpoint($bp-xs) {
      margin-left: 4px;
    }
  }
  ul {
    @include breakpoint($bp-xs) {
      margin-left: 4px;
    }
    @include breakpoint($bp-med) {
      margin-left: -5px;
    }
    @include breakpoint($bp-large) {
      margin-left: -5px;
    }
  }
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $purple;
    width: 5px;
    height: 100%;
  }
}
