blockquote,
.blockquote {
  position: relative;
  margin-left: 9.2%;

  &:before {
    content: '';
    height: 100%;
    background-color: $purple;
    position: absolute;
    width: 5px;

  }

  &__text {
    margin-left: 1.6%;

    max-width: 100%;

    @include breakpoint($bp-small) {
      max-width: 59%;
    }
  }

  * {
    margin-left: 25px;
  }
}