%ama__button,
.ama__button,
button {
  @include ama-button();

  &--secondary {
    @include ama-button("", "secondary");
  }

  &--tertiary {
    @include ama-button("", "tertiary");
  }

  &--complementary {
    @include ama-button("", "complementary");
  }

  &--complementary-secondary {
    @include ama-button("", "complementary-secondary");
  }

  &--block {
    @include ama-button("block", "");
  }

  &--small {
    @include ama-button("small", "");
  }

  &--reset {
    @include ama-button("", "reset");
  }

  &--subscribe {
    @include ama-button("", "subscribe");
  }

  &--homepage {
    @include ama-button("", "homepage");
  }

  &--homepage-secondary {
    @include ama-button("", "homepage-secondary");
  }

  &--promo {
    @include ama-button("", "promo");

    &--secondary {
      @include ama-button("", "promo-secondary");
    }
  }

  &--link {
    @include ama-button("", "link");
  }
}

.ama__button--small.ama__button--tertiary  {
  @include ama-button("small", "tertiary");
}

.ama__input-wrapper--subscribe-news {
  %ama__button,
  .ama__button,
  button {
    @include ama-button();
    &--news-subscribe {
      @include ama-button("", "news-subscribe");
    }
  }
  &:hover {
    .ama__button--news-subscribe {
      border-color: transparent;
      color: $white;
      background-color: $purple;
      + span.arrow {
        + span.arrow {
          display: none;
          + span.sub-title {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
