.ama__form-group .ui-checkboxradio-label {
  background: transparent;
  border: 0;
  color: $black;
  outline: none;
  box-shadow: none;

  &:focus,
  &:active,
  &:hover {
    border: 0;
    color: $black;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }

  span {
    color: $gray-64;
  }

  .ui-icon-background {
    box-shadow: none;
    border: 1px solid $gray-7;
    width: 20px;
    height: 20px;
  }
}

.ui-checkboxradio-label.ui-icon-background,
.ui-checkboxradio-label.ui-state-active,
.ui-checkboxradio-label.ui-state-active:active,
.ui-checkboxradio-label.ui-state-active:hover {
  background-color: transparent;
  border: 0;
  color: $black;
  outline: none;
  box-shadow: none;

  .ui-checkboxradio-icon {
    background-color: $purple;
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png");
    background-position: -63px -143px;
  }
}
