.ama__checkbox,
.facet-item {
  &.ui-checkboxradio-label,
  .ui-checkboxradio-label {
    @include gutter($margin-bottom-half...);
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    border: 0;
    color: $black;
    outline: none;
    box-shadow: none;
    text-align: left;
    padding: 0;

    &.ui-checkboxradio-checked {
      .facet-item__count {
        display: none;
      }
    }

    &:focus,
    &:active,
    &:hover {
      border: 0;
      color: $black;
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }

    span {
      color: $black;
    }

    .ui-icon-background {
      margin-right: calc($gutter/4);
      box-shadow: none;
      border-radius: 0;
      border: 1px solid #595959;
      width: 20px;
      min-width: 20px;
      height: 20px;
    }

    &.ui-icon-background,
    &.ui-state-active,
    &.ui-state-active:active,
    &.ui-state-active:hover {
      background-color: transparent;
      border: 0;
      color: $black;
      outline: none;
      box-shadow: none;

      .ui-checkboxradio-icon {
        background-color: $purple;
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png");
        background-position: -63px -143px;
      }
    }

    .facet-item__count {
      margin-left: calc($gutter/4);
    }
  }
  &.hidden-facet {
    display: none;
  }
}
