.ama__display-switch {
  display: inline-block;
  border: solid 1px $purple;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: calc($gutter / 4);
  margin-bottom: calc($gutter / 4);
  font-weight: $font-weight-semibold;
  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
  }

  &--active {
    background: $purple;
    color: $white;
  }
}

  //Event listing checkbox styling
#views-exposed-form-event-type-listing-event-listing-block {
  .js-form-type-textfield + .form-actions {
    margin-top: 14px;
  }
  .fieldgroup {
    margin-top: 0;
  }
  .ama__display-switch {
    font-family: $myriad-pro;
    padding: 0;
    line-height: 1;
    margin-right: 5px;
    border: none;
    border-radius: unset;
    input[checked="checked"] + label,
    input:focus + label {
      background: #46166B;
      color: #ffffff;
    }
    input {
      display: none;
    }
    label {
      font-family: $myriad-pro;
      border: solid 1px $purple;
      border-radius: 5px;
      color: $black;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 600;
      margin-right: 0;
      padding: 1px 5px;
      text-transform: capitalize;
      background: none;
      span {
        display: none;
      }
    }
  }
}

