.ama__display-switch {
  display: inline-block;
  border: solid 1px $purple;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: $gutter / 4;
  margin-bottom: $gutter / 4;
  font-weight: $font-weight-semibold;
  @include breakpoint($bp-small min-width) {
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
  }

  &--active {
    background: $purple;
    color: $white;
  }
}


