/**
 * Backgrounds
 */
.bg_purple_gradient {
  background: $linear-purple-gradient;
}

/**
 * Background Colors
 */
.bg_light_purple {
  background-color: $subscribe-filled;
}
.bg_white,
.bg-white {
  background-color: $white;
}
.bg_none {
  background-color: transparent;
}
.bg_gray,
.bg-gray {
  background-color: $bg-gray;
}
.bg_purple,
.bg-purple {
  background-color: $purple;
}
.bg_dark_purple {
  background-color: $dark-purple;
}

/**
 * Text Contrast
 */
.light_text {
  color: $white;
}
.dark_text {
  color: $black;
}

/**
 * Padding
 */
.padding_bottom_14 {
  padding-bottom: 14px;
}
.padding_bottom_28 {
  padding-bottom: 28px;
}
.padding_bottom_42 {
  padding-bottom: 42px;
}
.padding_bottom_70 {
  padding-bottom: 70px;
}
.padding_bottom_98 {
  padding-bottom: 98px;
}
.padding_top_14 {
  padding-top: 14px;
}
.padding_top_28 {
  padding-top: 28px;
}
.padding_top_42 {
  padding-top: 42px;
}
.padding_top_70 {
  padding-top: 70px;
}
.padding_top_98 {
  padding-top: 98px;
}

/**
 * Borders
 */
.border_top_gray {
  border-top: 1px solid $border-gray;
}
.border_bottom_gray {
  border-bottom: 1px solid $border-gray;
}
