.ama__form-steps {
  list-style: none;

  &__step {
    @include gutter($margin-bottom-full...);
    @extend %ama__h3;
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 0;
  }

  &__step:hover {
    cursor: pointer;
  }
  
  &__icon-container {
    @include gutter($margin-right-full...);
    width: 40px;
    height: 45px;
    overflow: hidden;
  }

  &__icon {
    @extend %ama__h3;
    background-color: $gray-50;
    color: $white;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    margin: 0;

    &.completed {
      @extend .icon--completed;
      border-radius: 0;
      text-indent: -500px;
    }

    &.edit,
    &.current {
      @extend .icon--edit;
      border-radius: 0;
      text-indent: -500px;
    }

    &.error {
      @extend .icon--error;
      border-radius: 0;
      text-indent: -500px;
    }
  }

  &__label {
    margin: 0;
    flex: 1;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid $gray-50;
      width: 100%;
      top: 40%;
      z-index: -1;
    }

    &__optional {
      color: $gray-50;
      font-style: italic;
      display: block;
    }

    &__text {
      @include gutter($padding-right-full...);
      @extend %ama__h2;
      background-color: $white;
    }
  }
}
