// Sets up the base font styles for headings, mobile first scaling up
.ama__h1,
%ama__h1 {
  // Mobile (default)
  @include type($font-serif, 1.888em, $font-weight-medium, 1.1176470588);

  // Tablet
  @media (min-width: $bp-med) {
    @include type($font-serif, 2.4em, $font-weight-medium, 1.0833333333);
  }

  // Desktop
  @media (min-width: $bp-large) {
    @include type($font-serif, 2.7em, $font-weight-medium, 1.0740740741);
  }
}
.ama__h2,
%ama__h2 {
  // Mobile (default)
  @include type($font-serif, 1.222em, $font-weight-medium, 1.1818181818);
  margin-bottom: 6px;

  @media (min-width: $bp-med) {
    @include type($font-serif, 1.7em, $font-weight-medium, 1.1176470588);
    margin-bottom: 9px;
  }
}
.ama__h3,
%ama__h3 {
  // Mobile (default)
  @include type($font-serif, 1.111em, $font-weight-medium, 1.2);
  margin-bottom: 6px;

  @media (min-width: $bp-med) {
    @include type($font-serif, 1.5em, $font-weight-medium, 1.1333333333);
    margin-bottom: 9px;
  }
}
.ama__h4,
%ama__h4 {
  // Mobile (default)
  @include type($font-sans-serif, 18px, $font-weight-bold, 1.2222222222);
  margin-bottom: 6px;

  @media (min-width: $bp-med) {
    @include type($font-sans-serif, 24px, $font-weight-bold, 1.1666666667);
    margin-bottom: 9px;
  }
}
.ama__h5,
%ama__h5 {
  // Mobile (default)
  @include type($font-sans-serif, 16px, $font-weight-bold, 1.4375);
  margin-bottom: 6px;

  @media (min-width: $bp-med) {
    @include type($font-sans-serif, 18px, $font-weight-bold, 1.3888888889);
    margin-bottom: 9px;
  }
}
.ama__h6,
%ama__h6 {
  // Mobile (default)
  @include type($font-sans-serif, 14px, $font-weight-bold, 1.5);
  margin-bottom: 6px;

  @media (min-width: $bp-med) {
    @include type($font-sans-serif, 15px, $font-weight-bold, 1.4666666667);
    margin-bottom: 9px;
  }
}
