/* Define the Sassy Map called $icons */
$icons: (
    ama-logo
    alert,
    arrow,
    audio,
    audio-yellow,
    checkbox,
    checkmark,
    checkmark-black,
    clear,
    close,
    closedropdown,
    closedropdownsmall,
    cme,
    cme-yellow,
    completed,
    download,
    edit,
    external,
    external-site,
    external-site-yellow,
    error,
    grid,
    image-gold,
    image-purple,
    hide,
    information,
    internal-site,
    internal-site-yellow,
    list,
    lock,
    next,
    opendropdown,
    opendrownsmall,
    pdf,
    pdf-yellow,
    play,
    pdf,
    podcast,
    podcast-black,
    podcast-yellow,
    previous,
    radio,
    search,
    search-white,
    search-purple,
    select,
    show,
    triangle,
    usermenu,
    usermenu-outline,
    valid,
    video,
    video-yellow,
    viewless,
    viewmore
);

/* For each key in the map, created an own class */
/* If you need to add a new icon add it to arraw above */

@each $name in $icons {
  .icon--#{$name} {
    display: inline-block;
    background: url("../icons/svg/icon-" + $name + ".svg") no-repeat 0 0;
    background-size: 33px 33px;
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
  }
}

@each $name in $icons {
  #atoms-icon-#{$name} svg {
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
  }
}

.icon--lock {
  background-size: 10px 15px;
  min-height: 15px;
  min-width: 14px;
  max-height: 15px;
  max-width: 14px;
}

