// Styles the Image Href with Text variant.
.ama__link--with-image {
  a {
    display: flex;
    .ama__image__text {
      display: block;
      padding-left: $gutter / 2;
    }
  }
}

// Inline Images using ckeditor.
// Embedded thumbnails are always aligned right with a max width.
.media-thumbnail {
  clear: both;
  width: 100%;
  @include breakpoint($bp-small) {
    max-width: $inline-image-width;
    margin:0 0 $gutter / 2 $gutter / 2;
    clear: right;
    float: right;
  }
}

// "Full" images are always aligned right and have a max width, but videos are full width.
.media-full {
  &.video {
    max-width: 100%;
    clear: both;
  }
  &.image {
    clear: both;
    width: 100%;
    @include breakpoint($bp-small) {
      max-width: $inline-image-width;
      margin:0 0 $gutter / 2 $gutter / 2;
      clear: right;
      float: right;
    }
  }
}

// All aligned media elements should display aligned right with a max-width
.media.align-right,
.media.align-center,
.media.align-left {
  clear: both;
  width: 100%;
  @include breakpoint($bp-small) {
    max-width: $inline-image-width;
    margin:0 0 $gutter / 2 $gutter / 2;
    clear: right;
    float: right;
  }
}

// Style Image/Video captions
.caption {
  display: block;
  font-style: italic;
}
