// Styles the Image Href with Text variant.
.ama__link--with-image {
  a {
    display: flex;

    .ama__image__text {
      display: block;
      padding-left: $gutter / 2;
    }
  }
}

.ama__image {

  @include breakpoint($bp-small) {
    &--left {
      float: right;
      @include gutter($margin-right-half...);
    }

    &--right {
      @include gutter($margin-left-half...);
      @include gutter($margin-top-half...);
      @include gutter($margin-bottom-half...);
      float: right;
      width: 100%;
    }
  }
}
//embedded image with caption - wrap caption
figure.embed-entity--caption {
  display: table;

  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
}

figure.embedded-entity.align-left {
  margin-left: $gutter / 2;
  margin-bottom: $gutter / 2;
}

figure.embedded-entity.align-right {
  margin-left: $gutter / 2;
  margin-bottom: $gutter / 2;
}

// Inline Images using ckeditor.

.embedded-entity {
  &.align-right,
  &.align-center,
  &.align-left {
    @include breakpoint($bp-xs) {
      width: 100%;
      clear: both;
      margin-left:0;
    }
    @include breakpoint($bp-small) {
      width: auto;
      clear: none;
      @include gutter($margin-left-half...);
      float: right;
    }
  }
}
