// Styles the Image Href with Text variant.
.ama__link--with-image {
  display: flex;

  .ama__image {
    width: 33%;
    max-width: 33%;
  }

  .ama__image__text {
    display: block;
    padding-left: $gutter / 2;
  }
}
