/* Links */
a {
  @include type($myriad-pro, $font-weight-regular);
  color: $black;
  text-decoration: underline;
  outline: 0;
}

*[class*="__page-content"] p {
 a {
   &:hover,
   &:focus {
     background-color: $bodyTextHoverPurple;
   }
 }
}

.sg-pattern svg {
  max-height: 22px;
  max-width: 22px;
  vertical-align: middle;
}

.ama__link--no-underline,
%ama__link--no-underline {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }
  &:active,
  &:hover,
  &:focus {
    color: $black;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--icon {
  text-decoration: none;

  svg {
    max-height: 22px;
    max-width: 22px;
    vertical-align: middle;
  }

  span {
    margin-right: $gutter/4;
    text-decoration: underline;
  }

  &:hover{
    text-decoration: underline;
  }

  &.ama__link--no-underline{
    span {
      text-decoration: none;
    }
    &:active, &:hover{
      text-decoration: none;
      span{
        text-decoration: underline;
      }
    }
  }
}
//
.ama__link--white,
%ama__link--white {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  &:link,
  &:visited {
    color: $white;
  }
  &:active,
  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--blue,
%ama__link--blue {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  span {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $blue;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $hoverBlue;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--hover-red,
%ama__link--hover-red {
  @include type($myriad-pro, $font-weight-semibold);
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }

  &:active,
  &:hover,
  &:focus {
    color: $hoverRed;
    background-color: transparent;
  }
}

.ama__link--purple,
%ama__link--purple {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  span {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $purple;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $purple;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--gray-50,
%ama__link--gray-50 {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  span {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $gray-50;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $gray-50;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--homepage,
%ama__link--homepage {
  @include type($myriad-pro, $font-weight-regular);
  text-decoration: none;

  span {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $homepagePurple;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $homepagePurple;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--homepage-viewall,
%ama__link--homepage-viewall {
  @include font-size($font-sizes--14px);
  @include type($myriad-pro, $font-weight-semibold);
  text-decoration: none;
  font-style: italic;

  span {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $purple;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $purple;
    text-decoration: underline;
    background-color: transparent;
  }
}

.ama__link--icon,
%ama__link--icon{
  icon {
    display: inline-block;
    max-width: 22px;
    max-height: 22px;
    min-height: 22px;
    vertical-align: middle;
    min-width: 22px;
    background-size: contain;
  }
}
.dr-finder_back_link {
  color:$purple;
  text-decoration: none;
}
