/* Links */
a {
  @include type($myriad-pro, $font-weight-regular);
  color: $black;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    color: $blue;
  }

  svg {
    height: 22px;
    width: 22px;
    vertical-align: middle;
  }
}

.ama__link--white,
%ama__link--white {
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $white;
  }
  &:active,
  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
  }
}

.ama__link--blue,
%ama__link--blue {
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $blue;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $hoverBlue$hoverBlue;
    text-decoration: underline;
  }
}

.ama__link--purple,
%ama__link--purple{
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $purple;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $purple;
    text-decoration: underline;
  }
}
