/* Links */
a {
  @include type($myriad-pro, $font-weight-regular);
  color: $black;
  text-decoration: none;
  outline: 0;

  &:hover,
  &:focus {
    color: $blue;
  }

  svg {
    height: 22px;
    width: 22px;
    vertical-align: middle;
  }
}

.ama__link--white,
%ama__link--white {
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $white;
  }
  &:active,
  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
  }
}

.ama__link--blue,
%ama__link--blue {
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $blue;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $hoverBlue$hoverBlue;
    text-decoration: underline;
  }
}

.ama__link--purple,
%ama__link--purple{
  @include type($myriad-pro, $font-weight-regular);

  &:link,
  &:visited {
    color: $purple;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $purple;
    text-decoration: underline;
  }
}

//Topic page links
body.topic {
  a {
    color: $topic_black;
    text-decoration: none;
    outline: 0;
    &:hover,
    &:focus {
      color: $topic_black;
    }

    svg {
      height: 22px;
      width: 22px;
      vertical-align: middle;
    }
  }
}

.topic__link--black,
%topic__link--black {
  &:link,
  &:visited {
    color: $topic_black;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $topic_blue;
    text-decoration: none;
  }
}

.ama__link--white,
%link--white,
.topic__link--white {
  &:link,
  &:visited {
    color: $topic_white;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $topic_white;
    text-decoration: underline;
  }
}

.ama__link--blue,
%link--blue,
.topic__link--blue {
  &:link,
  &:visited {
    color: $topic_blue;
  }
  // if the default link style changes this will need to include color: black; text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: $topic_blue;
    text-decoration: underline;
  }
}
