.listicle {
  counter-reset: ama-listicle;
  list-style: none;
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);

  > ol > li::before {
    content: " ";
  }

  &__item {

    counter-increment: ama-listicle;
    @include type($kepler-std, $font-weight-light);
    margin-bottom: calc($gutter/4);
    @include gutter($margin-top-half...);
    @include breakpoint($bp-small max-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    p, a {
      font-family: inherit;
      font-weight: inherit;
    }

    &::before {
      content: " ";
    }

    h2::before {
      content: counter(ama-listicle);
      position: relative;
      color: $black;
      top: 0;
      text-align: center;
      @include type($myriad-pro, $font-weight-semibold);
      font-size: 22px;
      margin-right: 12px;
    }

    &-sub {
      list-style: none;
      padding-left: 0 !important;
      width: 100%;

      &-item {
        list-style: none;
        @include gutter($margin-bottom-half...);
        margin-top: 0;
      }
    }
    .media {
      margin-top: calc($gutter /2);
    }
  }

  &__title,
  h3,
  h2 {
    @include type($myriad-pro, $font-weight-regular);
    font-size: 22px;
    margin-bottom: calc($gutter /4);
    display: inline-block;
    @include breakpoint($bp-small max-width) {
      max-width: 90%;
    }

    a {
      font-family: inherit;
      font-weight: inherit;
      color: inherit;
      &:hover {
        color: $gating-block-link;
      }
      &:focus-visible {
        outline: 2px solid $gating-block-link;
      }
    }
  }
  .clearfix {
    width: 100%;
    height: 1px;
    clear: both;
  }

  //Overrides for bullet and unmarked list
  &.bullet, &.unmarked {
    margin-left: 0;
    .listicle__item {
      margin-left: 0;
      h2::before,
      h3::before {
        content: '';
        width: 6px;
        height: 6px;
      }
    }
  }
  
  // Specific styles for .unmarked
  &.unmarked {
    list-style: none;
    .listicle__item {
      padding-left: 0;
      h2::before,
      h3::before {
        display: none;
      }
    }
  }
}
