.listicle {
  counter-reset: ama-listicle;
  list-style: none;
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);

  &__item {

    counter-increment: ama-listicle;
    position: relative;
    margin-left: 43px;
    @include gutter($margin-bottom-half...);
    @include gutter($margin-top-half...);

    &::before {
      content: counter(ama-listicle);
      position: absolute;
      background: $homepagePurple;
      color: $white;
      width: 25px;
      height: 25px;
      top: 4px;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -1.78px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -43px
    }

    &-sub {
      list-style: none;
      padding-left: 0 !important;

      &-item {
        @include gutter($margin-bottom-half...);
        @include gutter($margin-top-half...);
      }
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    @include gutter($margin-bottom-full...);

    a {
      font-weight: inherit;
      color: inherit;
    }
  }
}

