section ol,
article ol {
  @include gutter($margin-bottom-half...);
}

.remove-empty {
  p:empty {
    display: none;
  }
}

.default-list {
  @extend .remove-empty;
  list-style-position: inside;
  margin-left: 13px;
  margin-bottom: 14px;
  counter-reset: inst;
  list-style: none;
  @include breakpoint($bp-med) {
    margin-left: 32px;
  }
  @include breakpoint($bp-large) {
    margin-left: 30px;
  }
  li {
    position: relative;
    counter-increment: inst;
    &::before {
      position: absolute;
      left: 0;
    }
    // Second level.
    ol {
      padding-left: 1em;
      margin-left: -15px;
      margin-bottom: 0;
    }
  }
}

.ama__membership {
  ol:not([class]) {
    @extend .default-list;
    margin-left: 0;
    > li {
      padding-left: 30px;

      &::before {
        content: counter(inst, decimal) " )";
      }
      // Second level.
      > ol {
        counter-reset: inner;
        counter-increment: inner;
        margin-left: 0;
        > li {
          padding-left: 25px;
          margin-left: -44px;


        }
      }
    }
  }
}

.text-body,
.ama__hub-card,
.ama__hub-hero-row,
.paragraph,
.paragraph--type--wysiwyg {
  // Rather than hacking ckeditor to put a default class on all ols,
  // negate any ols that have classes added by the user, then follow strict inheritance.
  ol:not([class]) {
    @extend .default-list;
    > li {
      padding-left: 30px;
      &::before {
        content: counter(inst, decimal) " )";
      }
      // Second level.
      > ol {
        > li {
          padding-left: 25px;
          &::before {
            content:"" counter(inst, lower-alpha) ".";
          }
          // Everything Below.
          > ol {
            // Any lists below 2nd level follow the numbering of the parent list,
            // making them appear to be the same list level.
            margin-left: -44px;
            counter-reset: inner;
            counter-increment: inner;
            > li {
              &::before {
                content:"" counter(inst, lower-alpha) ".";
              }
              ol {
                margin-left: -42px;
              }
            }
          }
        }
      }
    }
  }
  // Code of Medical Ethics list style.
  ol.cme-list {
    @extend .default-list;
    > li {
      padding-left: 30px;
      &::before {
        content:"(" counter(inst, lower-alpha) ")";
      }
     // Second level.
      > ol {
        > li {
          padding-left: 30px;
          &::before {
            content:"(" counter(inst, lower-roman) ")";
          }
          // Third Level.
          > ol {
            margin-left: -15px;
            > li {
              padding-left:24px;
              &::before {
                content: counter(inst, lower-alpha) ".";
              }
              // Everything Below.
              > ol {
                // Any lists below 3rd level follow the numbering of the parent list,
                // making them appear to be the same list level.
                counter-reset: inner;
                counter-increment: inner;
                margin-left: -40px;
                > li {
                  &::before {
                    content: counter(inst, lower-alpha) ".";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
