.ama__radio {
  .ui-checkboxradio-label {
    @include gutter($margin-top-half...);
    @include gutter($margin-bottom-full...);
    color: $gray-64;
    display: block;
    padding: 0;
    text-align: left;
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    text-align: left;

    &:focus,
    &:active,
    &:hover {
      border: 0;
      color: $black;
      outline: none;
      box-shadow: none;
      background-color: transparent;
    }

    span {
      color: $gray-64;
    }

    .ui-icon-background {
      box-shadow: none;
      border: 1px solid $gray-50;
      width: 20px;
      height: 20px;
    }

    &.ui-checkboxradio-checked .ui-icon,
    &.ui-checkboxradio-checked:hover .ui-icon {
      background-color: $purple;
      border: 1px solid $purple;
      border-radius: 50%;

      &.ui-icon {
        position: relative;
        width: 20px;
        height: 20px;
        background-image: none;
        box-shadow: none;
      }
    }

    .ui-checkboxradio-icon-space {
      @include gutter($margin-left-half...);
    }
  }
}

.webform-submission-contact-us-form {
  .ui-checkboxradio-label,
  .ui-checkboxradio-label:hover {
    border: 1px solid $purple;
    padding: 3px 20px;
    text-transform: none;

    &.ui-state-active {
      background-color: $purple;
      color: white;
    }
  }
}
