.ui-checkboxradio-label {
  @include gutter($margin-top-half...);
  @include gutter($margin-bottom-full...);
  color: $gray-64;
  display: block;
  padding: 0;
  text-align: left;

  &:hover {
    color: $gray-64;
  }

  &.ui-checkboxradio-checked .ui-icon,
  &.ui-checkboxradio-checked:hover .ui-icon {
    background-color: $purple;
    border: 1px solid $purple;
    border-radius: 50%;

    &.ui-icon {
      position: relative;
      width: 18px;
      height: 18px;
      background-image: none;
      box-shadow: none;
    }
  }

  .ui-checkboxradio-icon-space {
    @include gutter($margin-left-half...);
  }
}
