.ui-checkboxradio-label {
  @include gutter($margin-top-half...);
  @include gutter($margin-bottom-full...);
  color: $gray-64;
  display: block;
  padding: 0;
  text-align: left;

  &:hover {
    color: $gray-64;
  }
}

.ui-checkboxradio-label .ui-icon-background {
  position: relative;
  left: 2px;
  border: 1px solid $gray-7;
  width: 16px;
  height: 16px;
  background-image: none;
  box-shadow: none;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  background-color: $purple;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid $white;
  box-shadow: 0px 0px 0px 1px $purple;
}
