.ama-dr-finder-search-field {
  * {
    width: 100%;
  }

  @include breakpoint($bp-small) {
    display: flex;
    // Since some items have labels and the button does not, let align to bottom axis.
    align-items: flex-end;
    gap: 15px;
  }
}

// This label needs to be on top of input.
.ama-dr-finder-search-field label {
  width: 100%;
  color: $purple;
  font-size: inherit;
  text-transform: inherit;
  font-weight: normal;
}

.ama-dr-finder-search-field input[type="text"] {
  flex-grow : 1;
  flex-shrink : 1;
  flex-basis : 0;
  font-style: italic;
  border: 1px solid $purple;
  color: $gray-50;
  line-height: 1.2;

  &:focus,
  &:active {
    border: 1px solid $purple;
    color: $black;
    font-style: normal;
  }
}

.ama-dr-finder-search-field button[type="button"],
.ama-dr-finder-search-field input[type="submit"] {
  margin-top: 0;
  border-radius: 25px;
  align-self: flex-end;
  background-color: $purple;
  padding: 8px 20px;
  color: $white;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid $purple;
  cursor: pointer;

  &:hover {
    color: $purple;
    background: none;
    border: 1px solid $purple;
  }
}

.ama-dr-finder-search-field .form-actions {
  @include breakpoint($bp-small) {
    margin-top: 0;
  }
}

// Fighting jquery.
.dr-finder-autocomplete b.ui-menu-item-wrapper {
  display: inline !important;
  color: $gray-30;
  margin: 0 !important;
  padding: 0 !important;
}
// Fighting jquery.
.dr-finder-autocomplete b.ui-state-active {
  background: transparent !important;
  font-weight: bold !important;
}
// Fighting jquery.
.dr-finder-autocomplete .ui-menu-item::selection {
  background: transparent !important;
}
// Stylin' jquery.
.dr-finder-autocomplete {
  box-shadow: 0 0 3px 3px $profileHeader-image;
}
