.ama__search__field {
  @include gutter($margin-bottom-full...);
  display: flex;
  align-items: center;

  @include breakpoint($bp-small) {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;
  }

  // This has to be specific b/c it's so different.
  &__input[type="text"] {
    font-style: italic;
    border: 0;
    border-bottom: 1px solid $light-blue;
    color: $gray-50;
    line-height: initial;
    padding: 1em 28px 3px 0;

    &:focus,
    &:active {
      color: $black;
      font-style: normal;
    }
  }

  // This has to be specific b/c it's so different.
  &__button {
    margin-left: -24px;
    background: none;
    border: none;
    padding: 0;
  }

  &--in-body {
    align-items: unset;

    .ama__search__field__input[type="text"],
    .ama__search__field__input[type="text"]:focus,
    .ama__search__field__input[type="text"]:active {
      padding: 5px 10px;
    }

    .ama__search__field__button {
      background: $purple;
      margin: 0;
      padding: 5px 5px 0;
    }
  }
}
