.ui-selectmenu-button,
.ui-selectmenu-button:hover,
.ui-selectmenu-button:active {
  @include gutter($margin-top-half...);
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);
  border: 1px solid $gray-7;
  border-radius: 0;
  background: $white;
  font-weight: normal;
  color: $black;

  .ama__search-header__options & {
    border: 1px solid $purple;
    color: $purple;
  }
}

.form-select.error + .ui-selectmenu-button {
  border: 1px solid $red;
}

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:focus,
  &:active {
    background: $white;
    outline: none;
    border:1px solid $hoverPurple;
    box-shadow: none;
  }

  .ui-icon {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: $black $white $white $white;
  }
}

.ui-widget.ui-widget-content {
  .ui-state-disabled {
    display: none;
  }
}

.ui-selectmenu-text {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selectmenu-button {
  border: 1px solid $gray-7;
  background: $white;
  color: $black;
  max-height: 400px
}


.ui-selectmenu-menu .ui-menu-item {
  .ui-menu-item-wrapper {
    @include gutter($padding-left-full...);
  }

  &:hover {
    .ui-menu-item-wrapper.ui-state-active {
      margin: 0;
      border: 0;
    }
  }

  .ui-menu-item-wrapper.ui-state-active,
  .ui-widget-content .ui-menu-item-wrapper.ui-state-active,
  .ui-widget-header .ui-menu-item-wrapper.ui-state-active,
  a.ui-button:active,
  .ui-button:active {
    border: 0;
    font-weight: normal;
    color: $white;
    background: $purple;
  }
}
