.ui-selectmenu-button,
.ui-selectmenu-button:hover,
.ui-selectmenu-button:active {
  border: 1px solid $gray-7;
  border-radius: 0;
  background: $white;
  font-weight: normal;
  color: $black;
}

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  width: 100%;

  &:focus,
  &:active {
    background: $white;
    outline: none;
    border:1px solid $hoverPurple;
    box-shadow: none;
  }

  .ui-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: $black $white $white $white;
  }
}

.ui-selectmenu-text {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selectmenu-button {
  border: 1px solid $gray-7;
  background: $white;
  color: $black;
  max-height: 400px
}

.ui-selectmenu-menu .ui-state-active,
.ui-selectmenu-menu .ui-widget-content .ui-state-active,
.ui-selectmenu-menu .ui-widget-header .ui-state-active,
.ui-selectmenu-menu a.ui-button:active,
.ui-selectmenu-menu .ui-button:active,
.ui-selectmenu-menu .ui-button.ui-state-active:hover {
  border: 0;
  background: $purple;
  font-weight: normal;
  color: $white;
}
