.ama__site-logo {
  height: 45px;

  .logo {
    height: 45px;
    width: 110px;
  }

  &--footer {
    height: 108px;
    display: block;
    flex: 1 100%;

    .logo {
      height: 108px;
      width: 269px;
    }
  }
}
