.ama__site-logo {
  height: 44px;

  &:focus-visible {   
    .logo {
      outline: 2px solid $blue;
      outline-offset: 3px;
    }   
  }

  .logo {
    height: 44px;
    width: 110px;
    max-width: unset;
  }

  &--footer {
    @include gutter($margin-bottom-full...);
    height: 108px;
    display: block;
    flex: 1 100%;

    .logo {
      height: 108px;
      width: 269px;
    }
  }
}
