.ama__site-logo {
  height: 45px;

  &:focus {   
    .logo {
      outline: 2px solid $pg-lt-blue;
      outline-offset: 3px;
    }   
  }

  .logo {
    height: 45px;
    width: 110px;
  }

  &--footer {
    @include gutter($margin-bottom-full...);
    height: 108px;
    display: block;
    flex: 1 100%;

    .logo {
      height: 108px;
      width: 269px;
    }
  }
}
