.ama__tabs{
  border: none !important;
  border-radius: 0;
  padding: 0;

  .ama__tabs-navigation {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
    @include breakpoint($bp-small) {
      display: block;
    }

    .ui-tabs-tab{
      background: $white;
      border: none;
    }

    &--mobile {
      @include breakpoint($bp-small) {
        display: none;
      }
    }
  }

  .ama__tabs--content {
    padding: 5px;
  }
}
