/**
 * @file
 * Define responsive table.
 *
 *
 */

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $gray-64;
  table-layout: fixed;

  @include breakpoint($bp-small) {
    display: table;
  }
}

caption {
  display: block;

  @include breakpoint($bp-small) {
    display: table-caption;
  }
}

thead {
  display: block;

  @include breakpoint($bp-small) {
    display: table-header-group;
  }

  tr {
    text-transform: uppercase;
    position: absolute;
    top: -9999px;
    left: -9999px;

    @include breakpoint($bp-small) {
      position: static;
    }

    th {
      display: block;
      border: 1px solid $gray-50;
      hyphens: auto;
      vertical-align: top;

      @include breakpoint($bp-small) {
        display: table-cell;
      }
    }
  }
}

tbody {
  display: block;

  @include breakpoint($bp-small) {
    display: table-row-group;
  }

  tr {
    display: block;

    @include breakpoint($bp-small) {
      display: table-row;

      &.odd,
      &:nth-child(odd)  {
        background: $gray-7;
      }
    }

    td {
      border: 1px solid $gray-7;
      display: block;
      padding: 2px 2px 2px 50%;
      position: relative;
      hyphens: auto;

      &.odd,
      &:nth-child(odd)  {
        background: $gray-7;
      }

      @include breakpoint($bp-small) {
        display: table-cell;
        vertical-align: top;
        padding: 2px;
        border: 1px solid $gray-50;

        &.odd,
        &:nth-child(odd)  {
          background: transparent;
        }
      }

      &:before {
        font-weight: bold;
        text-transform: uppercase;
        content: attr(data-title);
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        white-space: normal;

        @include breakpoint($bp-small) {
          display: none;
        }
      }
    }
  }
}

tfoot {
  display: block;

  @include breakpoint($bp-small) {
    display: table-header-group;
  }
}
