/*
 * jQuery Basic Table
 * Author: Jerry Low
 */

table {
  background: $white;
  border-collapse: collapse;
  width: 100%;
}

table tr,
table th,
table td {
  border: none;
}

table th,
table td {
  text-align: left;
  padding: $gutter/4;

}

table th {
  text-transform: uppercase;
}

table tr td {
  background: $gray-20;
}

table tr:nth-of-type(2n+2) td {
  background: $white;
}

table.bt tbody td {

}

table.bt thead {
  display: none;
}

table.bt tbody td {
  border: none;
  display: block;
  vertical-align: top;

  &:before {
    content: attr(data-th) ":";
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;

  }

  &:last-child {
    @include gutter($padding-bottom-half...);

  }

  &:first-of-type:before,
  &:first-of-type .bt-content {

  }

  &:last-of-type:before,
  &:last-of-type .bt-content {
  }

  .bt-content {
    vertical-align: top;
    display: block;
    hyphens: auto;
  }

  .bt-hide {
    display: none;
  }
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


caption {
  text-align: left;
}
