// Global input styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  @include gutter($padding-left-half...);
  @include gutter($padding-right-half...);
  @include font-size($p-font-sizes);
  outline: none;
  border: 1px solid $gray-7;
  display: block;
  box-shadow: none;

  &:focus,
  &:active {
    border: 1px solid $purple;
  }

  &.error {
    border: 1px solid $red;
  }

  &.valid {
    color: $black;
  }
}

label,
legend,
.field-prefix .webform-element-description,
.field-prefix .description,
.field-prefix fieldset,
#edit-pronouns--wrapper--description {
  @include font-size($small-font-sizes);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $gray-50;

  &.error {
    color: $red;
    font-weight: normal;
    display: block;
    text-transform: inherit;
  }
}

.ama__help-text {
  @extend %ama__type--small;
  color: $gray-50;
  font-style: italic;
}

.ama__tooltip {
  @extend %ama__type--small;
  color: $blue;
}

.ama__tooltip-bubble {
  width: 200px;
  box-shadow: none;
  min-width: 0;
}

.ui-tooltip {
  @extend %ama__type--small;
}
