section ul,
article ul,
.ama__list {
  @include gutter($margin-bottom-half...);

  li {
    @include gutter($margin-left-full...);
    padding: 0;
    list-style: disc;

    ul {
      @include gutter($margin-left-full...);
      list-style-position: outside;
    }
  }

  ul {
    @include gutter($margin-left-full...);
    list-style: none;
  }
}
article {
    .text-body {
        ul {
            width: 100%;
        }
        ul li {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            width: 100%;

            &:before {
                 display: inline-block;
                 content: "•";
                 width: 8px;
                 margin-right: 15px;
                 font-size: 31px;
                 line-height: 18px;
                 align-self: baseline;
                 margin-top: 3px;
             }
        }
    }
}
