img,
video,
object {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
}

.ama__video-container {
  position: relative;
  width: 100%;
  padding-top: 50%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}