img,
video,
object {
  max-width: 100%;
  height: auto;
}

.ama__video__container {
  position: relative;
  width: 100%;
  padding-top: 56%;
  .video-embed-field-provider-youtube {
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
}
