<div class="ama__member-feature-rail">
  {% for articleStub in memberFeatureRail.articleStubs %}
    {% if articleStub.hasVideo %}
       <div class="ama__member-feature-rail__video-wrapper">
       <span class="ama__member-feature-rail__video-wrapper__icon">
         <span class="icon--triangle"></span>
       </span>
    {% endif %}
    {% include '@molecules/article-stub/article-stub.twig' %}
    {% if articleStub.hasVideo %}
      </div>
    {% endif %}
  {% endfor %}
  {% include '@atoms/link/link.twig' with { link : memberFeatureRail.viewMoreLink } %}
</div>
