.ama__member-feature-rail {
  @include child-top-gutters($gutter * 2);
  @include gutter($margin-bottom-full...);
  @include gutter-all($padding-all-full...);
  display: grid;
  margin-left: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gutter;
  background: $gray-7;

  & > * {
    margin-top: 0;
    max-height: 325px;
  }


  .ama__article-stub {
    @include gutter($margin-bottom-full...);
    margin-top: 0;
  }

  @include breakpoint($bp-med) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: $gutter * 4;

    .ama__article-stub {

      &:last-child {
        display: block;
      }
    }
  }

  .ama__article-stub .ama__image {
    width: 100%;
  }

  .ama__article-stub__copy {
    display: none;
  }

  &__video-wrapper {
    position: relative;
  }

  &__video-wrapper__icon {
    position: absolute;
    right: 0;
    background: $homepagePurple;
    height: 40px;
    width: 40px;

    .icon--triangle {
      background-size: 15px 15px;
      min-height: 100%;
      min-width: 100%;
      background-position: center;
      max-height: 100%;
      max-width: 100%;
    }
  }

  [data-ancestor-position = "3"] {
    display: none;
  }

  .ama__link--homepage-viewall:link {
    grid-column: 1/3;
    text-align: right;
  }

  @include breakpoint($bp-small) {
    grid-template-columns: 1fr;
    padding: 0 0 0 $gutter;
    display: flex;
    flex-direction: column;

    .ama__link--homepage-viewall:link {
      text-align: left;
    }
  }

  @include breakpoint($bp-large) {
    [data-ancestor-position = "3"] {
      display: block;
    }
  }
}
