.ama__list {
  li {
    @include gutter($margin-left-full...);
    padding: 0;
    list-style-position: outside;

    ul {
      @include gutter($margin-left-full...);
      list-style-position: outside;
    }
  }

  ul {
    @include gutter($margin-left-full...);
    list-style-position: outside;
  }
}

