.ama__tools {
  @include gutter($padding-left-full...);
  @include gutter($padding-right-full...);
  @include breakpoint($bp-med min-width) {
    padding: 0;
  }

  h3 {
    @include gutter($padding-bottom-quarter...);
  }
}

.ama__news-article,
.ama__event-detail,
.ama__evergreen-page,
.ama__press-release,
.ama__subcategory-index {
  .ama__tools {
    @include gutter($padding-top-full...);
    @include gutter($padding-left-full...);
    @include gutter($padding-right-full...);
    @include gutter($margin-bottom-full...);
    display: flex;
    flex-wrap: wrap;
    background: #F4F3F1;
    border: solid #CAC4BD;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 16px 0px 5px 0px;

    h2 {
      flex: 0 1 100%;
      font-size: 26px;
    }
  }
}
