{% set heading, paragraph, button = inlineBlockCopy.heading, inlineBlockCopy.paragraph, inlineBlockCopy.button %}

<div class="ama__inline-block-copy col-xs-12 col-sm-4">
  <div class="ama__rule"></div>
  <div class="ama__inline-block-copy__content">
    {% include "@atoms/heading.twig" %}
    {% include "@atoms/paragraph.twig" %}
    {% include "@atoms/button.twig" %}
  </div>
  <div class="ama__rule"></div>
</div>
