{% set heading, paragraph, button = inlineBlockCopy.heading, inlineBlockCopy.paragraph, inlineBlockCopy.button %}

<div class="ama__inline-block-copy">
  <div class="ama__rule"></div>
  <div class="ama__inline-block-copy--content">
    {% include "@atoms/heading.twig" %}
    {% include "@atoms/paragraph.twig" %}
    {% include "@atoms/button.twig" %}
  </div>
  <div class="ama__rule"></div>
</div>

