<div class="ama__hub">
  <footer class="ama__footer styleguide">
    <div class="ama__footer__bottom">
      <div class="container">
        {% block utility %}
          <ul class="ama__footer__menu-utility">
            {% for link in footerHubPage.menus.utility %}
              <li>
                {% include "@atoms/link/link.twig" %}
              </li>
            {% endfor %}
          </ul>
        {% endblock %}
        {% include "@atoms/copyright.twig" %}
      </div>
    </div>
  </footer>
</div>