{% extends '@templates/two-column-right.twig' %}

{% block contentTop %}
  {% include '@organisms/masthead/masthead.twig' %}
  {% include "@molecules/inline-bio.twig" %}
{% endblock %}

{% block pageContent %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@molecules/article-stub/article-stub-as-inline.twig' %}
  {% set heading = heading|merge({
    "level": "1",
    "class": "ama__h1"
  }) %}
  {% include '@atoms/heading/heading.twig' %}
  {% set promo = promoAsInline %}
  {% include '@molecules/promo/promo.twig' %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@molecules/jama/jama.twig' with {jama : jamaAsInline} %}
  {% include '@molecules/tags.twig' %}
  <section class="ama__page--news__teasers">
    {% include '@molecules/jama/jama.twig' with {jama : jamaAsBottom} %}
    {% include '@organisms/four-up-teaser.twig' %}
  </section>
{% endblock %}

{% block sidebarSecondary %}
  {% include '@molecules/jama/jama.twig' with {jama : jamaAsSidebar} %}
  {% include '@organisms/tools.twig' %}
{% endblock %}
