// Parameters
// $size => "normal", "small"
// $type => "solid", "outline"
// $color => rgba() or hex value
//

@mixin ama-button ($size:"normal", $style:"solid") {
  @include ama-button-base;
  // layout
  @if($size == "normal") {
    @include type($font-sans-serif, 100%, $base-font-weight, 1);
    padding: 20px 40px;
  }
    // small
  @else {
    @include type($font-sans-serif, 100%, $base-font-weight, 1);
    padding: 7px 20px;
  }

  @if($style == "solid") {
    background-color: $purple;
    border-color: transparent;
    color: $white;

    &:hover {
      background-color: $purple-darker;
    }
  }
    //outline
  @else {
    background-color: transparent;
    border-color: $purple;
    color: $purple;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }
}


