{# @copyright Copyright (c) 2022 Palantir.net #}
<div class="dr-finder-search">
{# Include the dr finder search fields #}
    <h{{ drFinderSearch.heading.level }} class="{{ drFinderSearch.heading.class }}"> {{ drFinderSearch.heading.text|raw }} </h{{ drFinderSearch.heading.level }}>
</div>
