{% set link1, link2 = hubBanner.link1, hubBanner.link2 %}

<div class="hub-container">
  <div class="ama__hub-banner">
  {% if hubBanner.link1 %}
    <div>
    {% include "@atoms/link/link.twig" with { link : hubBanner.link1 } %}
    </div>
  {% endif %}
  {% if hubBanner.link2 %}
    <div>
    {% include "@atoms/link/link.twig" with { link : hubBanner.link2 } %}
    </div>
  {% endif %}
  </div>
</div>
