{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search suggestion.
#}
<div class="dr-finder-filter_suggestions">
  <span>{{ drFinderFilterSuggestion.suggestionHeader }}</span>
  <div class="dr-finder-filter_suggestion__text">
    <ul>
      <li>{{ drFinderFilterSuggestionText.TextOne }}</li>
      <li>{{ drFinderFilterSuggestionText.TextTwo }}</li>
    </ul>
  </div>
</div>
