{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search suggestion.
#}
<div class="dr-finder-filter_suggestions">
  <span>{{ drFinderFilterSuggestion.suggestionHeader }}</span>
  <div class="dr-finder-filter_suggestion__text">
    <ul>
      {% for suggestionText in drFinderFilterSuggestion.suggestionText %}
        <li>{{ suggestionText.text }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
