{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search suggestion.
#}
<div class="dr-finder-filter_suggestions">
  {{ drFinderFilterSuggestion.suggestionHeader }}
</div>
<div class="dr-finder-filter_suggestion-text">
  <ul>
    <li>{{ drFinderFilterSuggestionText.TextOne }}</li>
    <li>{{ drFinderFilterSuggestionText.TextTwo }}</li>
  </ul>
</div>
