{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search suggestion.
#}
<div class="dr-finder-filter-suggestions">
      {{ drFinderFilterSuggestion.suggestionText }}
    <div class="dr_finder_search_results_header_no_result">
        <ul>
            <li>{{ drFinderSearchResultsHeaderNoResult.suggestionNoResultOne }}</li>
            <li>{{ drFinderSearchResultsHeaderNoResult.suggestionNoResultTwo }}</li>
        </ul>
    </div>
</div>

