<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="20px" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>baseline-insert_invitation-24px</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage-with-alert" transform="translate(-111.000000, -3476.000000)">
            <g id="Group-12" transform="translate(109.000000, 3372.000000)">
                <g id="baseline-insert_invitation-24px" transform="translate(0.000000, 103.000000)">
                    <path d="M14.875,12 L10.5,12 L10.5,17 L14.875,17 L14.875,12 Z M14,1 L14,3 L7,3 L7,1 L5.25,1 L5.25,3 L4.375,3 C3.40375,3 2.63375,3.9 2.63375,5 L2.625,19 C2.625,20.1 3.40375,21 4.375,21 L16.625,21 C17.5875,21 18.375,20.1 18.375,19 L18.375,5 C18.375,3.9 17.5875,3 16.625,3 L15.75,3 L15.75,1 L14,1 Z M16.625,19 L4.375,19 L4.375,8 L16.625,8 L16.625,19 Z" id="Shape" fill="#8543DA" fill-rule="nonzero"></path>
                    <polygon id="Shape" points="0 0 21 0 21 24 0 24"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
