$blue: #027dbc;
$orange: #ed8000;
$purple: #46166b;
$purple: #46166b;

//Hover colors
$light-blue: #3597c9;
$light-orange: #f1a233;
$light-purple: #6b4589;

//Greyscale
$black: #333333;
$black-55: #333333;
$black-25: #7f7f7f;
$black-15: #ededed;
