$white: #ffffff;
$purple: #46166b;
$purple-darker: #320e52;
$purple-lighter: #e3dce9;
$red: #c8102e;
$red-darker: #e67200;
$orange: #ed8b00;
$orange-darker: #f6c51b;
$blue: #02aaec;
$blue-lighter: #d9f2fc;
$green: #64a70b;
$black: #000000;
$black-55: #737373;
$black-20: #cccccc;
$black-15: #d9d9d9;
$black-7: #ededed;
$black-3: #f7f7f7;
$gray-8: #a1a1a4;