.ama__people-listing {
  .ama__people-listing__card-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__card-container {
    @include gutter($padding-top-full...);
    @include gutter($padding-bottom-full...);
    height: 100%;
    min-height: 100%;

    @include breakpoint($bp-small) {
      margin-left: calc(-12.08% * .1);
      margin-right: calc(-12.08% * .1);
    }

    @include breakpoint($bp-large) {
      margin-left: calc(-22.08% * .1);
      margin-right: calc(-22.08% * .1);
    }
  }

  .ama__masthead {
    padding: 0;
  }
}
