.ama__filter {
  display:none;
  @include breakpoint($bp-med) {
    display: block;
  }
  .ama__applied-filters__tags,
  .ama__expand-list {
    display: none;
  }

  .ama__checkboxes {
    max-height: 300px;
    overflow: scroll;
  }

  @include breakpoint($bp-med){
    .ama__applied-filters__tags,
    .ama__expand-list {
      display: block;
    }

    .ama__search-header,
    .ama__search-header__results {
      display: none;
    }
  }

  &__see-results {
    display: none;
  }

  &__collapse-panels {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    text-align: center;

    @include breakpoint($bp-large){
      display: none;
    }
  }
  .ama__content-facets {
    .ama__content-facets__header {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 0;
      display: flex;
      align-items: center;
      background: transparent;
      border: 0;
      border-radius: 0;
      color: #000000;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 26px;
      flex: 1;
      margin-bottom: 0;

      .ama__expand-list__header__text {
        font-size: 22px;
        line-height: 26px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
      }
    }
    .facet-item {
      list-style-type: none;

      label {
        line-height: 1.6em;
      }
    }
  }
}
