.ama__product-nav {
  display: none;
  background: $black;

  @include breakpoint($bp-small) {
    display: block;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    padding: 11px 0;
    @include breakpoint($bp-small) {
      padding: 6px 0;
    }
  }

  li {
    list-style: none;

    a {
      margin: 0 (calc($gutter / 2));
      z-index: 99;
      line-height: 1;
      font-size: 12px;

      @include breakpoint($bp-med) {
        font-size: 14px;
        line-height: 27px;
      }

      @include button_focus_outline_light;
    }
  }
}
