{% block header %}
  {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page header content'}}%}
{% endblock %}

<div class="ama__layout--one-column container {{ class }}">
  {# Keeping tabindex for accessibility purposes #}

  <section class="ama__layout--one-column__content-top">
    {% block contentTop %}
      {% include '@base/placeholder.twig' with {'placeholder':{'text':'Content Top region content'}}%}
    {% endblock %}
  </section>

  <article class="ama__layout--one-column__page-content" role="article">
    {% block pageContent %}
      {% set placeholder = one_column.page_content.placeholder %}
      {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page main content'}}%}
    {% endblock %}
  </article>

</div>

{% block footer %}
  {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page footer content'}}%}
{% endblock %}
