<div class="layout-container">
  {% if not pageContentClass %}
    {% set pageContentClass = 'ama__layout--two-column--right__page-content' %}
  {% endif %}

  {% block header %}
    {% include '@organisms/main-navigation/main-navigation.twig' %}
  {% endblock %}

  <div class="ama__layout--two-column--right container {{ class }}">
    {# Keeping tabindex for accessibility purposes #}
    <section class="ama__layout--two-column--right__content-top">
      {% block contentTop %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Content Top region content'}}%}
      {% endblock %}
    </section>

    <article class="{{ pageContentClass }}" role="article">
      {% block pageContent %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page Content region content'}}%}
      {% endblock %}
    </article>

    <aside id="sidebar-primary" class="ama__layout--two-column--right__sidebar--primary" role="complementary"></aside>

    <aside id="sidebar-secondary" class="ama__layout--two-column--right__sidebar--secondary" role="complementary">
      {% block sidebarSecondary %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Sidebar Secondary region content'}}%}
      {% endblock %}
    </aside>
  </div>

  {% block footer %}
    {% include "@organisms/footer/footer.twig" %}
  {% endblock %}
</div>
