<div class="layout-container">
  {% block header %}
    {% include '@organisms/main-navigation/main-navigation.twig' %}
  {% endblock %}

  <div class="ama__layout--two-column--left container {{ class }}">
    {# Keeping tabindex for accessibility purposes #}
    <section class="ama__layout--two-column--left__content-top">
      {% block contentTop %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Content Top region content'}}%}
      {% endblock %}
    </section>

    <article class="ama__layout--two-column--left__page-content" role="article">
      {% block pageContent %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page Content region content'}}%}
      {% endblock %}
    </article>

     <aside id="sidebar-primary" class="ama__layout--two-column--left__sidebar--primary" role="complementary">
      {% block sidebarPrimary %}
        {% include '@base/placeholder.twig' with {'placeholder':{'text':'Primary Sidebar region content'}}%}
      {% endblock %}
    </aside>

    <aside id="sidebar-secondary" class="ama__layout--two-column--left__sidebar--secondary" role="complementary">
        {% block sidebarSecondary %}
        {% endblock %}
    </aside>
  </div>

  {% block footer %}
    {% include "@organisms/footer/footer.twig" %}
  {% endblock %}
</div>
