<div class="ama__form-steps__step" role="tab">
  <div class="ama__form-steps__icon-container">
    <span class="ama__form-steps__icon {{ step.icon }}">{{ step.index }}</span>
  </div>
  <p class="ama__form-steps__label">
    <span class="ama__form-steps__label__text">{{ step.label }}</span>
    <span class="ama__form-steps__label__optional">{{ step.optional }}</span>
  </p>
</div>
