<div class="ama__search__field ama__search__field--in-body">
  <label for="ama__search__label" class="is-vishidden">{{ searchField.label }}:</label>
  <input id="{{ searchField.id }}" class="ama__search__field__input" name="{{ searchField.name }}" type="text" placeholder="{{ searchField.placeholder }}" required="" aria-required="true">
  <div class="ama__global-search__action" aria-label="Search button">
    {% if searchField.buttonText %}
      {% set paragraph = searchField.buttonText %}
      {% include '@atoms/paragraph.twig' %}
    {% else %}
       <input type="submit" id="edit-submit-acquia-search" value="Search" class="button ama__button">
    {% endif %}
  </div>
</div>
