{% set paragraph = blockquote.paragraph %}

{% if blockquote.type == 'forum' %}
  <div id="block-ama-one-forums-content">
{% endif %}
<blockquote>
  {% include '@atoms/paragraph.twig' %}
</blockquote>
{% if blockquote.type == 'forum' %}
  </div>
{% endif %}
