<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>OnHover_MySubscriptions_All devices_ArticleHeader</title>
    <g id="OnHover_MySubscriptions_All-devices_ArticleHeader" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="32" height="32"></rect>
        <g id="Subscriptions-Icon" transform="translate(4.75, 7.25)" stroke="#FFFFFF" stroke-width="0.375">
            <g id="Group">
                <rect id="Rectangle" fill="#46166B" x="0" y="0" width="22.5" height="17.5" rx="2.00250006"></rect>
                <line x1="0.625" y1="0.625" x2="11.2027991" y2="10.458588" id="Line-5" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="11.5778338" y1="0.625" x2="22.2018873" y2="10.4934742" id="Line-5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.7259, 5.5869) scale(-1, 1) translate(-16.7259, -5.5869)"></line>
            </g>
        </g>
    </g>
</svg>