<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Onhover_MyTopics_AllDevices_ArtHeader</title>
    <g id="Onhover_MyTopics_AllDevices_ArtHeader" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="32" height="32"></rect>
        <g id="Topics-Icon" transform="translate(6.25, 5.6172)" stroke="#FFFFFF" stroke-width="0.375">
            <rect id="Rectangle" fill="#46166B" x="0" y="0.922063045" width="7.62561924" height="19.6087352" rx="1.08937418"></rect>
            <rect id="Rectangle" fill="#46166B" transform="translate(13.7321, 10.3828) rotate(-12) translate(-13.7321, -10.3828)" x="9.91925716" y="0.578478739" width="7.62561924" height="19.6087352" rx="1.08937418"></rect>
            <line x1="0.26381484" y1="4.73487266" x2="7.43276706" y2="4.73487266" id="Line-2" fill="#D8D8D8" stroke-linecap="square"></line>
            <line x1="0.207961978" y1="16.7179886" x2="7.4048714" y2="16.7179886" id="Line-3" fill="#D8D8D8" stroke-linecap="square"></line>
            <line x1="9.07713555" y1="5.39202751" x2="16.0512477" y2="3.88746612" id="Line-4" fill="#D8D8D8" stroke-linecap="square"></line>
            <line x1="9.76936282" y1="8.63657759" x2="16.652781" y2="7.18621923" id="Line-4" fill="#D8D8D8" stroke-linecap="square"></line>
            <line x1="11.4321699" y1="16.7179886" x2="18.3966027" y2="15.1905397" id="Line-4" fill="#D8D8D8" stroke-linecap="square"></line>
        </g>
    </g>
</svg>