{# This pattern is a wrapper that, despite being a sibling of the article preview variant pseudopatterns, includes one in its code. #}
{# We're using the "Title only" variant of Article Preview because it already exists. #}
{% set link = articleStubAsInline.link %}
{%  set heading = articleStubAsInline.heading|merge({
    "level": 4,
    "class": "ama__article-stub--inline__label"
  })
%}

<div class="ama__article-stub--inline">
  {% include "@atoms/heading/heading.twig" %}
  {% include "@atoms/link/link.twig" %}
</div>
