<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 184</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" style="fill-opacity:.5;">
        <g transform="translate(-343.000000, -124.000000)" fill="#00acee" id="Fill-184" style="fill-opacity:.5;">
            <path d="M365.362,136.737 C365.368,136.878 365.372,137.019 365.372,137.162 C365.372,141.499 362.07,146.501 356.032,146.501 C354.178,146.501 352.453,145.958 351,145.027 C351.257,145.057 351.518,145.072 351.783,145.072 C353.321,145.072 354.736,144.548 355.86,143.667 C354.423,143.641 353.211,142.692 352.793,141.388 C352.994,141.426 353.199,141.446 353.411,141.446 C353.71,141.446 354,141.406 354.276,141.331 C352.774,141.03 351.643,139.703 351.643,138.113 L351.643,138.071 C352.085,138.317 352.592,138.465 353.13,138.482 C352.249,137.893 351.669,136.888 351.669,135.75 C351.669,135.148 351.831,134.584 352.114,134.099 C353.733,136.085 356.152,137.392 358.88,137.529 C358.824,137.289 358.795,137.038 358.795,136.781 C358.795,134.968 360.265,133.498 362.077,133.498 C363.022,133.498 363.875,133.897 364.473,134.535 C365.221,134.388 365.924,134.115 366.558,133.739 C366.313,134.505 365.792,135.148 365.115,135.555 C365.779,135.475 366.411,135.299 367,135.038 C366.56,135.696 366.003,136.274 365.362,136.737 M359,124 C350.163,124 343,131.163 343,140 C343,148.836 350.163,156 359,156 C367.837,156 375,148.836 375,140 C375,131.163 367.837,124 359,124"></path>
        </g>
    </g>
</svg>
