{% set image = searchResult.image %}
{% set link = searchResult.title %}
{% set classes = [
searchResult.bestBet ? "ama__search-result--best-bet"
] %}

{% set link = searchResult.link %}

<a href="#" class="ama__search-result__link">
  <div class="ama__search-result {{ classes|join(' ') }}">
    <div class="{{ searchResult.bestBet ? 'ama__search-result--best-bet__text' : 'ama__search-result__text' }}">
      {% if searchResult.category %}
        {% include "@atoms/paragraph.twig" with { "paragraph" : searchResult.category } %}
      {% endif %}

      {% if link %}
        {% set link = link|merge({class: 'ama__link--black', target: 'self'}) %}
        <h2 class="ama__h2 ama__search-result__title">
          Search Result Title
        </h2>
      {% endif %}

      {% if searchResult.paragraph %}
        <div class="ama__search-result__description">
          {% include "@atoms/paragraph.twig" with { "paragraph" : searchResult.paragraph } %}
        </div>
      {% endif %}
    </div>
    {% if image %}
      <div class={{ searchResult.bestBet ? 'ama__search-result--best-bet__image' : 'ama__search-result__image' }}>
        {% include "@atoms/image/image.twig" %}
      </div>
    {% endif %}
  </div>
</a>
