.ama__subcategory-hero {
  @include breakpoint($bp-small max-width) {
    flex-direction: column;
  }

  display: flex;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    @include breakpoint($bp-small max-width) {
      width: 100%;
    }
    width: 75%;

    img {
      width: 100%;
    }
  }

  &__copy {
    @include breakpoint($bp-small max-width) {
      width: 100%;
    }
    @include gutter($padding-left-half...);
    @include gutter($padding-right-half...);
    width: 25%;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  &__title {
    @extend .ama__h3;
  }

  .ama__h4--purple { // @todo replace with purple style
    @extend .ama__h4--purple;
    font-weight: $font-weight-semibold;
  }

  .ama__subcategory-hero__metadata {
    @extend .ama__type--small;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }

}

