.ama__ribbon_user_menu--mobile {
  display: flex;
}

.ama__ribbon_user_menu--container {
  display: none;
  align-items: center;
}

.ama__ribbon_user_menu {
  display: flex;
  justify-content: center;
}

.ama__ribbon_user_menu--nav {
  margin: 0;
}

.ama__ribbon_user_menu--nav {
  display: flex;
  list-style: none;
}

.ama__ribbon_user_menu--nav_item {
  &:first-child {
    border-right: 1px solid $gray-64;
  }
}

.ama__ribbon_user_menu--nav_item a {
  display: block;
  padding: 15px;
}

@include breakpoint($bp-med) {
  .ama__ribbon_user_menu--mobile {
    display: none;
  }

  .ama__ribbon_user_menu--container {
    display: flex;
  }
}
