.ama__tags,
article[class*='__page-content'] .ama__tags {
  @include ama-rules(1px, "", $gray-7, solid);
  @include ama-rules(1px, "bottom", $gray-7, solid);
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);
  @include gutter($padding-top-full...);
  @include gutter($padding-bottom-full...);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  left:0;
  width:100%;

  li {
    margin-left: 0;
    list-style: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.ama__tag {
  @include gutter($margin-right-half...);
  @include gutter($margin-bottom-half...);
  @include gutter-all($padding-all-half...);
  text-decoration: none;
  display: block;
  background: $gray-7;
  color: $purple;
  white-space: nowrap;

  &:hover{
    text-decoration: underline;
  }
}
