.ama__footer {
  @include gutter-all($padding-all-full...);
  @include gutter($margin-top-full...);
  background-color: $gray-7;

  @include breakpoint($bp-large min-width) {
    > .container {
      display: flex;
      flex-flow: row wrap;
    }
  }

  ul {
    list-style-type: none;
  }

  &__container {
    @include child-top-gutters($gutter);
  }

  &__menu-container {
    @include gutter($margin-top-half...);
    @include child-top-gutters($gutter / 2);

    @include breakpoint($bp-large min-width) {
      width: calc(100% / 3 * 1);
      > ul {
        width: 100%;
      }
    }
  }

  &__menu-secondary-user {
    display: flex;

    ul {
      width: 50%;
    }
  }

  &__menu-utility {
    @extend %ama__type--small;
    margin-top: 0;

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: "|";
      }
    }
  }

  &__mission-statement {
    @include breakpoint($bp-large min-width) {
      @include gutter($padding-right-full...);
      width: calc(100% / 3 * 2);
    }
  }

  // This is interesting...
  .ama__rule--horizontal {
    border-color: $gray-64;
  }
}
