.paragraph--type--form-50-50 {
  display: flex;
  margin-bottom: calc($gutter/2);
  flex-direction: column;
  @include breakpoint($bp-small) {
    flex-direction: row;
  }

  > div {
    @include breakpoint($bp-small) {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  .text-content {
    background: $gray-20;
    padding: 28px 4%;
    @include breakpoint($bp-small) {
      padding: 57px 4.4% 28px;
      padding-bottom: 0;
    }
    @include breakpoint($bp-large max-width) {
      flex-basis: 40%;
    }
  }

  .form-content {
    background: $gray-7;
    padding: 28px 8.6% 26px;
    @include breakpoint($bp-small) {
      padding: 57px 8.6% 0;
    }
    @include breakpoint($bp-small max-width) {
      h3,
      > div {
        text-align: center;
      }
    }
    
    &.success {
      h3,
      h3 + div {
        display: none;
      }
    }
  }

  .ama__h1 {
    margin-bottom: 14px;
  }

  .ama__hub-card__image {
    margin: 33px auto 50px;
    display: none;
    @include breakpoint($bp-med) {
      display: block;
      max-width: 196px;
    }
    @include breakpoint($bp-large) {
      max-width: 344px;
    }
  }

  .salesforce-lead-form {
    display: flex;
    flex-wrap: wrap;
    .form-item {
      flex-grow: 1;
      flex-basis: 100%;
      @include breakpoint($bp-small max-width) {
        margin-top: 28px;
        margin-bottom: 0;
        text-align: left;
      }
      // First name and last name display next to eachother if present
      &.js-form-item-first-name {
        + .js-form-item-last-name,
        &:has(+ .js-form-item-last-name) {
          @include breakpoint($bp-small) {
            margin-top: 18px;
            flex-basis: 50%;
          }
        }
        @include breakpoint($bp-small) {
          + .js-form-item-last-name {
            padding-left: 7px;
          }
          &:has(+ .js-form-item-last-name) {
            padding-right: 7px;
          }
        }
      }
      label {
        font-size: 14px;
        text-transform: capitalize;
        color: $black;
        font-weight: normal;
        &:after {
          content: '';
        }
      }
      input {
        font-size: 14px;
        line-height: 1;
        padding: 3.25px 3px;
        &.error {
          background: none;
        }
        &:focus-visible {
          border: 2px solid $tab-focus-blue;
        }
      }

      .form-item--error-message {
        margin-top: 4px;
        margin-bottom: 0;
        border: none;
        strong {
          color: $red;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    @include breakpoint($bp-small) {
      .js-form-item-first-name {
        padding-right: 7px;
      }
      .js-form-item-last-name {
        padding-left: 7px;
      }
    }
    .form-actions {
      margin: 14px auto 6px;
      input {
        min-width: 173px;
        padding: 5.5px 14px;
        font-weight: normal;
    
        &:focus-visible {
          outline: 2px solid $tab-focus-blue;
          outline-offset: 3px;
        }
      }
    }
  }

  .form-content.success {
    padding: 120px 0;
    @include breakpoint($bp-small) {
      padding: 92px 0;
    }
  }

  #lead-form-container {
    .success_message {
      text-align: center;
      position: relative;
      h2 {
        font-size: 38px;
        margin-bottom: 112px;
        &:after {
          content: " ";
          position: absolute;
          left: 42%;
          top: 65px;
          width: 92px;
          height: 92px;
          background: url('../images/check_confirmation.svg') no-repeat 0px 0px;
        }
      }
      p {
        padding-top: 28px;
        margin: 0 auto;
        max-width: 280px;
      }
    }
  }
}