.paragraph.form-50-50  {
  display: flex;
  margin: $gutter 0;
  flex-direction: column;
  @include breakpoint($bp-small) {
    flex-direction: row;
  }
  @include breakpoint($bp-med) {
    margin: $gutter;
  }

  > div {
    @include breakpoint($bp-small) {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  .text-content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 0 0 18.5px 0;
    @include breakpoint($bp-small) {
      padding-right: calc($gutter/2);
      padding-bottom: 0;
      font-size: 18px;
    }
    @include breakpoint($bp-med) {
      padding-right: 40px;
    }
    .title {
      h2 {
        font-weight: $font-weight-regular;
      }
    }

    p, p * {
      font-size: 16px;
      @include breakpoint($bp-small) {
        font-size: 18px;
      }
    }
  }

  #lead-form-container {
    padding-bottom: $gutter;
    padding-top: 3.5px;
  }

  .form-content {
    padding: 0;

    @include breakpoint($bp-small) {
      padding-left: calc($gutter/2);
      padding-bottom: 0;
    }
    @include breakpoint($bp-med) {
      padding: $gutter 0 0 40px;
    }

    &.success {
      display: flex;
      align-items: center;
      padding-top: 0;

      h3,
      h3 + div:not(#lead-form-container) {
        display: none;
      }
    }

    .ama__h1 {
      @include breakpoint($bp-small) {
        padding-top: $gutter;
      }
    }
  }

  .ama__h1 {
    @include type($kepler-std, $font-weight-regular);
    font-size: $gutter;
    margin-bottom: calc($gutter/2);
  }
  .video-embed-field-provider-youtube {
    margin-bottom: calc($gutter*.75);
  }
  .ama__hub-card__image,
  .ama__brightcove-gallery,
  .ama__hub-hero__video {
    margin: calc($gutter/2) 0 38px;
  }

  .ama__hub-card__image {
    position: relative;
    height: 0;
    padding-bottom: 66.67%;
    .ama__image {
      position: absolute;
    }
  }

  .salesforce-lead-form {
    display: flex;
    flex-wrap: wrap;
    .form-item {
      flex-grow: 1;
      flex-basis: 100%;
      margin-top: 0;
      @include breakpoint($bp-small max-width) {
        margin-bottom: calc($gutter/2);
        text-align: left;
      }
      label {
        font-size: calc($gutter/2);
        text-transform: uppercase;
        color: $black;
        font-weight: normal;
        &:after {
          content: '';
        }
      }
      input {
        font-size: 18px;
        line-height: 1;
        padding: 11px 17px;
        border: 1px solid $gray-64;
        &.error {
          background: none;
        }
        &:focus-visible {
          border: 1px solid $tab-focus-blue;
        }
      }
    }
    .form-actions {
      margin: calc($gutter/2) 0;
      input {
        min-width: 173px;
        font-weight: normal;
        @include ama-button(0, "secondary");

        &.form-submit.ama__button {
          caret-color: transparent;
          margin: 0;
          padding: 5px 42px;
        }

        &:focus-visible {
          outline: 2px solid $tab-focus-blue;
          outline-offset: 3px;
        }
      }
    }
  }

  .form-item--error-message {
    margin-top: 4px;
    margin-bottom: 0;
    border: none;
    strong {
      color: $red;
      font-size: 12px;
      font-weight: normal;
    }
  }


    .success_message {
      @include breakpoint($bp-small) {
        padding-left:20px;
      }
      p {
        padding-top: calc($gutter/2);
        font-size: 17px;
      }
    }

}