.ama__hub-card {
  @include gutter($margin-bottom-half...);
  display: flex;
  background-color: $gray-7;
  background-size: contain;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  min-height: 400px;
  width: 100%;

  &__heading {
    @include gutter-all($padding-all-full...);
    margin: 0;
  }

  &__description {
    @include gutter-all($padding-all-full...);
    max-width: none;
    width: auto;
  }

  .ama__image {
    width: 100%;
  }

  &:hover {
    background-color: darken($gray-7, 10%);
  }

  &--no-image {
    min-height: 0;

    .ama__hub-card__heading {
      border-bottom: 1px so & d $gray-50;
    }

    .ama__hub-card__text {
      @include gutter($padding-top-half...);
      @include gutter($padding-bottom-half...);
    }
  }

  &--portrait {
    background-size: cover;
    background-position: center top;

    .ama__hub-card__description {
      margin-top: auto;
    }
  }

  @include breakpoint($bp-small $bp-med) {
    // 2-up layout
    // when there are three items it's 50:50
    &:nth-child(1):nth-last-child(2) {
      @include gutter($margin-right-half...);
      @include gutter($margin-bottom-half...);
      width: calc(50% - 14px);
    }

    &:nth-child(2):nth-last-child(1) {
      @include gutter($margin-left-half...);
      @include gutter($margin-bottom-half...);
      width: calc(50% - 14px);
    }

    // 3-up layout
    // when there are three items it's 50:50/100
    // first item is
    &:nth-child(1):nth-last-child(3) {
      @include gutter($margin-right-half...);
      @include gutter($margin-bottom-half...);
      width: calc(50% - 14px);
    }
    // last of three doesn't have right padding
    &:nth-child(2):nth-last-child(2) {
      @include gutter($margin-left-half...);
      width: calc(50% - 14px);

    }

    &:nth-child(3):nth-last-child(1) {
      width: 100%;
    }

    // 3-up layout
    // when there are three items it's 50:50/50:50
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      width: calc(50% - 14px);
    }
    // first of three doesn't have left padding
    &:nth-child(1):nth-last-child(4),
    &:nth-child(3):nth-last-child(2) {
      @include gutter($margin-right-half...);
      @include gutter($margin-bottom-half...);
    }
    // last of three doesn't have right padding
    &:nth-child(2):nth-last-child(3),
    &:nth-child(4):nth-last-child(1) {
      @include gutter($margin-bottom-half...);
    }
  }

  @include breakpoint($bp-med) {
    // 2-up layout
    // when there are three items it's 50:50
    &:nth-child(1):nth-last-child(2) {
      @include gutter($margin-right-half...);
      width: calc(50% - 14px);
    }

    &:nth-child(2):nth-last-child(1) {
      margin-right: 0;
      width: 50%;
    }

    // 3-up layout
    // when there are three items it's 33:33:33
    &:nth-child(1):nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):nth-last-child(1) {
      @include gutter($margin-right-half...);
      width: calc(33.333% - 14px);
    }
    // first of three doesn't have left padding
    &:nth-child(1):nth-last-child(3) {
      //margin-left: 0;
    }
    // last of three doesn't have right padding
    &:nth-child(3):nth-last-child(1) {
      margin-right: 0;
      width: 33.333%;
    }

    // 4-up layout
    // when there are three items it's 25:25:25:25
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      @include gutter($margin-right-half...);
      width: calc(25% - 14px);
    }

    // last of three doesn't have right padding
    &:nth-child(4):nth-last-child(1) {
      margin-right: 0;
      width: 25%;
    }
  }
}
