.ama__hub-row,
.ama__hub-row > .layout__region--main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &.twoCards {
    .ama__hub-card {
      &__button-container {
        &.text-only {
          width: 100%;
        }
      }
    }
  }
  &.manyCards {
    .ama__hub-card {
      &:nth-child(3):nth-last-child(1) {
        @include breakpoint($bp-small $bp-med) {
          .ama__hub-card__button-container {
            &.ama__hub-card__button-flex.text-only {
              &.text-only {
                flex-direction: row;
                display: flex;
                a {
                  width: 48%;
                  margin-bottom: 0;
                }
                a:nth-child(2) {
                  margin: 0 0 0 16px;
                }
              }
            }
          }
        }
      }
      &__button-flex {
        padding: 0;
        flex-direction: column;

          width: 100%;
          a {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          a:nth-child(2) {
            margin: 0;
          }
        }

    }
  }
}
