.ama__form-group {
  @include gutter($margin-bottom-full...);
  position: relative;

  &__submit {
    @include gutter($margin-top-full...);
    display: flex;
    justify-content: flex-end;
  }
}

.ama__form {
  &__header {
    @include gutter($margin-bottom-full...);
    @include gutter($padding-bottom-full...);
    border-bottom: 1px solid $gray-50;
  }

  &__lead-in {
    @include gutter($margin-bottom-full...);
  }

  &__wrapper {
    display: flex;
    flex-direction: row;

    & > div {
      flex: 1;
    }
  }

  &__section,
  &__section.ui-accordion-content {
    display: none;
    border: 0;
    padding: 0;

    @include breakpoint($bp-small){
      margin-left: 75px;
    }
  }
}
