<div class="applied-filters">
  <div class="applied-filters__header">
    <p class="applied-filters__label">{{ appliedFilters.label }}</p>
    <a id="appliedFiltersRemove" class="ama__link applied-filters__remove">{{ appliedFilters.clearAll }}</a>
  </div>
  <ul id="appliedFiltersTags" class="applied-filters__tags"></ul>
</div>
