<div id="ama__explore-menu" class="ama__explore-menu">
  <div class="ama__explore-menu__button main">
    {% include "@atoms/heading/heading.twig"  with { heading : exploreMenu.heading } %}
    <i class="ama__explore-menu__caret"></i>
  </div>
  <div class="ama__explore-menu__button mobile"></div>
  <div class="ama__explore-menu__menu">
    {# Use styleguide json data. #}
    {% if exploreMenu.product_nav is null %}
      <ul>
        {% for link in exploreMenu.links %}
          <li>{% include "@atoms/link/link.twig" %}</li>
        {% endfor %}
      </ul>
    {% else %}
      {# Use Drupal menu data. #}
      {{ exploreMenu.product_nav }}
    {% endif %}
  </div>
</div>
