{% set setError = form.textField.error ? "error" %}
{% set heading, paragraph, textField, date, email, password, telephone, number, textArea, selectMenu, checkbox, radioButton, rangeField, button =
form.heading, form.paragraph,form.textField,form. date, form.email, form.password, form.telephone, form.number, form.textArea, form.selectMenu, form.checkbox, form.radioButton, form.rangeField, form.button %}

<div class="container">
  {% include "@atoms/heading/heading.twig" %}
  {% include "@atoms/paragraph.twig" %}

  <div class="ama__form-wrapper">
    <div class="ama__form-container">
      <form id="test-form" role="tabpanel">
        <div class="tablist">
          {% set step = form.formSteps[0] %}
          {% include "@atoms/forms/form-step.twig" %}
          <div class="ama__form__section">
            {% include "@atoms/forms/text-field.twig" %}
            {% include "@atoms/forms/date-field.twig" %}
          </div>

          {% set step = form.formSteps[1] %}
          {% include "@atoms/forms/form-step.twig" %}
          <div class="ama__form__section">
            {% include "@atoms/forms/email-field.twig" %}
            {% include "@atoms/forms/password-field.twig" %}
          </div>

          {% set step = form.formSteps[2] %}
          {% include "@atoms/forms/form-step.twig" %}
          <div class="ama__form__section">
            {% include "@atoms/forms/month-field.twig" %}
            {% include "@atoms/forms/number-field.twig" %}
          </div>

          {% set step = form.formSteps[3] %}
          {% include "@atoms/forms/form-step.twig" %}
          <div class="ama__form__section">
            {% include "@atoms/forms/telephone-field.twig" %}
            {% include "@atoms/forms/textarea.twig" %}
          </div>


          {% set step = form.formSteps[4] %}
          {% include "@atoms/forms/form-step.twig" %}
          <div class="ama__form__section">
              {% include "@atoms/forms/select-menu.twig" %}
            {% include "@atoms/forms/checkbox.twig" %}
            {% include "@atoms/forms/radio-button.twig" %}
            {% include "@atoms/forms/range-field.twig" %}
          </div>
        </div>

        <div class="ama__form-group__submit">
          {% include "@atoms/button/button.twig" %}
        </div>
      </form>
    </div>
  </div>
</div>

