<div class="global-search-trigger button ama__button ">
  <i class="global-search-trigger__icon icon--search-white"></i>
</div>
<div class="ama__global-search">
  {% include '@atoms/forms/search-field-as-in-body.twig' with { searchField : globalSearch.searchField } %}
</div>
