<div class="ama__pagination">
  <div class="ama__pagination__container">
    <a
      class="ama__pagination__prev"
      href="#"
      >{% include "@atoms/media/icons/svg/icon-arrow-left.twig" %}</a>
    {% for page in pagination.pages %}
      <a href="#" class="ama__pagination__page {{ page.active ? 'is-active' : '' }}" type="button" data-page="{{ page.text }}"><span>Page</span> {{ page.text }}</a>
    {% endfor %}
    <a
      class="ama__pagination__next"
      href="#"
      >{% include "@atoms/media/icons/svg/icon-arrow-right.twig" %}</a>
  </div>
</div>
