{% set classes = [
    subscribePromo.wide ? "ama__subscribe-promo--wide",
    subscribePromo.homepage ? "ama__subscribe-promo--homepage"
  ]
%}

<div class="ama__subscribe-promo {{ classes|join(' ') }}">
  {% include '@atoms/heading/heading.twig' with { heading : subscribePromo.subjectTitle } %}
  <div class="ama__subscribe-promo__container">
    <div class="ama__subscribe-promo__content">
      {% include '@atoms/heading/heading.twig' with { heading : subscribePromo.heading } %}
      {% include '@atoms/paragraph.twig' with { paragraph : subscribePromo.paragraph } %}
      {% set email = subscribePromo.email %}
    </div>
    <div class="ama__subscribe-promo__form">
      <form>
        {% include '@atoms/forms/email-field.twig' %}
        {% set button = subscribePromo.button %}
        {% include '@atoms/button/button.twig' %}
      </form>
    </div>
  </div>
</div>
