<div class="ama__subscribe-promo">
  {% include '@atoms/heading/heading.twig' with { heading : subscribePromo.subjectTitle } %}
  {% include '@atoms/heading/heading.twig' with { heading : subscribePromo.heading } %}
  {% include '@atoms/paragraph.twig' with { paragraph : subscribePromo.paragraph } %}
  {% set email = subscribePromo.email %}
  {% include '@atoms/forms/email-field.twig' %}
  {% set button = subscribePromo.button %}
  {% include '@atoms/button/button.twig' %}
</div>
