<a href="{{ subcategory.link.href }}" class="ama__subcategory-exploration__subcategory">
  {% if subcategory.image %}
    {% set image = subcategory.image %}
    {% include "@atoms/image/image.twig" with {"class": "ama__subcategory__image"} %}
  {% endif %}
  {% set heading = subcategory.heading %}
  {% include "@atoms/heading/heading.twig" %}
</a>
