<div class="expand-list expand-list">
  <h4 class="expand-list__header">
    <span class="expand-list__header__icon"></span>
    <span class="expand-list__header__text">Location</span>
  </h4>
  <div class="panel">
    <p>Location Panel</p>
  </div>

  <h4 class="expand-list__header">
    <span class="expand-list__header__icon"></span>
    <span class="expand-list__header__text">Audience</span>
  </h4>
  <div class="panel">
    <p>Audience Panel</p>
  </div>
</div>
