<div role="tabpanel" aria-hidden="false" aria-expanded="true" aria-labelledby="accordion-tab">
  <div class="ama__form-steps" role="tablist">
    {% for step in formSteps %}
      {% set step = step %}
      {% include "@atoms/forms/form-step.twig" %}
    {% endfor %}
  </div>
</div>
