<div class="ama__global-search">
  <div class="ama__global-search--desktop">
    {% include '@atoms/forms/search-field-as-in-body.twig' with { searchField : globalSearch.searchField } %}
  </div>
</div>
