{% set heading, paragraph = hubSectionHeader.heading, hubSectionHeader.paragraph %}

<section class="ama__hub-section-header">
  {% include "@atoms/heading.twig" %}
  {% include "@atoms/paragraph.twig" %}
</section>
