{% set image, heading = bio.image, bio.heading %}

<aside class="ama__inline-bio">
  {% if bio.image %}
      {% include "@atoms/image.twig"  with {
        "class": "ama__inline-bio__image"}
      %}
  {% endif %}

  <div class="ama__inline-bio__text">
    {% include "@atoms/heading.twig" %}

    {% for paragraph in bio.paragraphs %}
      {% include "@atoms/paragraph.twig" %}
    {% endfor %}

    {% for link in bio.links %}
      {% include "@atoms/link.twig" %}
    {% endfor %}
  </div>
</aside>
