<div class="ama__partner-promo">
  <h2 class="ama__partner-promo__heading">{{ partnerPromo.heading }}</h2>
  <p class="ama__partner-promo__paragraph">{{ partnerPromo.paragraph }}</p>
  {% set button = partnerPromo.button %}
  {% include '@atoms/button/button.twig' %}
</div>
