{% set image = partnerPromo.image %}
<div class="ama__partner-promo">
  <div class="ama__partner-promo__image">
    {% include '@atoms/image/image.twig' %}
  </div>
  <div class="ama__partner-promo__text">
    <h2 class="ama__partner-promo__heading">{{ partnerPromo.heading }}</h2>
    <p class="ama__partner-promo__paragraph">{{ partnerPromo.paragraph }}</p>
    {% set button = partnerPromo.button %}
    {% include '@atoms/button/button.twig' %}
  </div>
</div>
