{% set image = partnerPromo.image %}
<div class="ama__partner-promo">
  <div class="ama__partner-promo__image">
    {% include '@atoms/image/image.twig' %}
  </div>
  <div class="ama__partner-promo__text">
    {% include '@atoms/heading/heading.twig' with { heading : partnerPromo.heading } %}
    {% include '@atoms/paragraph.twig' with { paragraph: partnerPromo.paragraph } %}
    {% set button = partnerPromo.button %}
    {% include '@atoms/button/button.twig' %}
  </div>
</div>
