{% set link = "https://www.google.com/" %}

{% if not button %}
  <a href="{{ link }}" class="ama__promo ama__promo--{{ style }}">
{% else %}
  <div class="ama__promo ama__promo--{{ style }}">
{% endif %}

  {% block image %}
    {% if image %}
      <div class="ama__image">
        {% include '@atoms/image.twig' %}
      </div>
    {% endif %}
  {% endblock %}

  {% include '@atoms/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}

  {% if button %}
    {% include '@atoms/button.twig' %}
  {% endif %}

{% if not button %}
  </div>
{% else %}
  </a>
{% endif %}
