{% set link = "https://www.google.com/" %}

{% if not button %}
  <a href="{{ link }}" class="ama__promo--link ama__link--black">
{% endif %}
<div class="ama__promo {{ class }} ama__promo--{{ style }}">
  {% block image %}
    {% if image %}
      <div class="ama__image">
        {% include '@atoms/image.twig' %}
      </div>
    {% endif %}
  {% endblock %}

  {% include '@atoms/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}

  {% if button %}
    {% include '@atoms/button.twig' %}
  {% endif %}
</div>
{% if not button %}</a>{% endif %}
