{% set resourceLink = resourceLinkAsInline.resourceLink %}
{% set paragraph = resourceLinkAsInline.paragraph %}

<a href="#" class="ama__resource-link--inline" data-resource="{{ resourceLink }}">
  <h4 class="ama__resource-link--inline__label">{{ resourceLinkAsInline.heading.text }}</h4>
  <h3 class="ama__resource-link--inline__text">{{ resourceLinkAsInline.paragraph.text }}</h3>
</a>
