<div id="ama__sign-in-dropdown" class="ama__sign-in-dropdown">
  <i class="icon--usermenu-outline ama__sign-in-dropdown__user-icon"></i>
  <span class="ama__sign-in-dropdown__text">{{ signInDropdown.text }}</span>
  <i class="ama__sign-in-dropdown__caret"></i>
  <div class="ama__sign-in-dropdown__menu">
    {% for menuGroups in signInDropdown.menuGroups %}
      <ul class="ama__sign-in-dropdown__menu__group">
        {% for item in menuGroups.group %}
          {% set link = item.link %}
          <li>
            {% include "@atoms/link/link.twig" %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
