<div class="ama__subscribe-promo">
  <p class="ama__subscribe-promo__subject-title">{{ subscribePromo.subjectTitle }}</p>
  <p class="ama__subscribe-promo__heading">{{ subscribePromo.heading }}</p>
  <p class="ama__subscribe-promo__paragraph">{{ subscribePromo.paragraph }}</p>
  {% set email = subscribePromo.email %}
  {% include '@atoms/forms/email-field.twig' %}
  {% set button = subscribePromo.button %}
  {% include '@atoms/button/button.twig' %}
</div>
