<div class="ama__tools__learn-more">
  {% set heading = learnMore.heading|merge({
    "level": 5,
    "class": "ama__h5"
  }) %}
  {% block learMoreHeading %}
    {% include "@atoms/heading.twig" %}
  {% endblock %}
  <ul>
    {% block learMoreLinks %}
      {% for link in learnMore.links %}
        {% set link = link %}
        <li>
          {% include '@atoms/link.twig' %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
</div>
