<div class="ama__category__article-stub-two-up">
  {% set contentGroupingHeader = category.articleStubsThreeUp.contentGroupingHeader %}
  {% include '@atoms/content-grouping-header.twig' %}
  <div class="grid-container">
    {% for articleStub in category.articleStubsTwoUp.content %}
      {% include "@molecules/article-stub/article-stub.twig" %}
    {% endfor %}
  </div>
</div>
