<div class="ama_category_navigation_wrapper" body-scroll-lock-ignore>
  <nav id="ama_category_navigation_menu" class="ama_category_navigation_menu" role="navigation">
    {% for menuGroup in categoryNavigationMenu.menuGroups %}
      <ul class="ama_category_navigation_menu__group sm sm-clean sm  sm-vertical">
        {% for group in menuGroup.group %}
          {% set link = group.link %}
          {% set heading = group.heading %}
          <li class="ama_category_navigation_menu__section" data-sm-horizontal-sub="true">
            {% if heading %}
              {% include "@atoms/heading/heading.twig" %}
            {% else %}
              {% include "@atoms/link/link.twig" %}
            {% endif %}
            {#Submenu array#}
            {% if link.subMenu %}
              <ul class="ama_category_navigation_menu__flyout">
                <li class="ama_category_navigation_menu__flyout__container">
                  <div class="ama_category_navigation_menu__submenu">
                    <ol>
                      {% for subMenuItem in link.subMenu %}
                        {% set link = subMenuItem.link %}
                        <li>
                          {% include "@atoms/link/link.twig" %}
                        </li>
                      {% endfor %}
                    </ol>
                  </div>
                  {#article stubs#}
                  {% set link = group.link %}
                  {% if link.articleStubs %}
                    <div class="ama_category_navigation_menu__articles">
                      {% for article in link.articleStubs %}
                        {% set articleStub = article %}
                        {% include "@molecules/article-stub/article-stub.twig" %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </li>
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </nav>

</div>
