{% set appliedFilters, expandList, searchField, button = filter.appliedFilters, filter.expandList, filter.searchField, filter.button %}

<div class="ama__filter">
  {% include "@molecules/applied-filters.twig" %}
  {% include "@molecules/expand-list.twig" %}
</div>


