<div class="ama__sales-landing-page-hero">
  {% set image = salesLandingPageHero.image %}
  {% include '@atoms/image/image.twig' %}

  <div class="ama__sales-landing-page-hero__content">
    {% set subtitle = salesLandingPageHero.subtitle %}
    {% include '@atoms/subtitle.twig' %}

    {% set paragraph = salesLandingPageHero.paragraph %}
    {% include '@atoms/paragraph.twig' %}

    {% set button = salesLandingPageHero.button %}
    {% include '@atoms/button/button.twig' %}
  </div>
</div>
