<div class="ama__subcategory-exploration-with-images">
  <div class="ama__subcategory-exploration-with-images__container">
    {% set heading = subcategoryExplorationWithImages.heading %}
    {% include "@atoms/heading/heading.twig" %}
    {% for subcategory in subcategoryExplorationWithImages.subcategory %}
      {% include "@molecules/visual-subcategory.twig" %}
    {% endfor %}
  </div>
  <div class="ama__subcategory-exploration-with-images__view-all">
    {% set link = subcategoryExplorationWithImages.viewAll %}
    {% include "@atoms/link/link.twig" %}
  </div>
  <div class="ama__subcategory-exploration-with-images__view-less">
    {% set link = subcategoryExplorationWithImages.viewLess %}
    {% include "@atoms/link/link.twig" %}
  </div>
</div>
