<div class="ama__subcategory-exploration">
  <div class="ama__subcategory-exploration__list">
    <ul>
      {% for link in subcategoryExploration.links %}
        <li>
          <a href="{{ link.url }}">
            <h2>{{ link.text }}</h2>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <a href="#" class="ama__link--purple ama__subcategory-exploration__show-more">View all subcategories
    <span class="ama__subcategory-exploration__show-more--open">
      <i class="icon--opendropdown"></i>
    </span>
    <span class="ama__link--purple ama__subcategory-exploration__show-more--close">
      <i class="icon--closedropdown"></i>
    </span>
  </a>
</div>
