<div {{ setAttributes('ama__tools', attributes) }}>
  {% set heading, moreHeading = tools.heading, tools.learnMore.heading %}
  {% set tools, moreLinks = tools.list, tools.learnMore.links %}

  {% include "@atoms/heading/heading.twig" %}

  {% block tools %}
    {% include "@molecules/tools-list.twig" %}
  {% endblock %}

  {% set heading = moreHeading %}
  {% include "@atoms/heading/heading.twig" %}

  {% set links = moreLinks%}
  <div class="ama__tools-learn-more">
    {% block moreLinks %}
      {% include "@molecules/tools-learn-more.twig" %}
    {% endblock %}
  </div>
</div>
