.ama__subcategory-exploration-with-images {
  @include gutter-all($padding-all-full...);
  background-color: $gray-7;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1200px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;
    overflow: hidden;
    width: 100%;

    & > * {
      @include gutter($padding-left-half...);
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: $gutter-mobile/2;
      padding-right: $gutter-mobile/2;

      @include breakpoint($bp-small) {
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 180px;
        max-width: 180px;
      }
    }

    @include breakpoint($bp-small) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &.expanded {
      @include breakpoint($bp-small) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  &__title {
    @include gutter($margin-top-full...);
    flex: 0 0 100%;
    max-width: 100%;

    @include breakpoint($bp-small) {
      flex: 0 0 180px;
      max-width: 180px;
    }

  }

  &__view-all,
  &__view-less {
    clear: both;
    text-align: right;
    width: 100%;

    .ama__link {
      display: block;
      color: $blue;
      text-decoration: none;
      line-height: 1em;
      font-weight: 800;
    }
  }

  &__view-less {
    display: none;
  }
}
