.ama__category-index {
  &.container {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }

  .ama__display-switch-menu,
  form.views-exposed-form .form-item-subcategory-terms {
    margin-top: 0;
  }

  form.views-exposed-form .js-form-type-textfield {
    margin-bottom: 0;
  }

  .views-exposed-form .js-form-type-textfield {
    @include breakpoint($bp-med max-width) {
      margin: 0;
    }
  }

  .ama__subcategory-page-article-stub {
    &:nth-child(n+4) {
      @include breakpoint($bp-small max-width) {
        display: none;
      }
    }

    @include breakpoint($bp-small max-width) {
      padding: $gutter / 2;
    }

    padding: $gutter 0;
    border-bottom: solid 2px $gray-7;
  }

  .ama__category-index__stubs__load-more {
    text-align: center;
    padding: $gutter ($gutter / 2);

    button {
      width: 100%;
      font-weight: $font-weight-regular;

      @include breakpoint($bp-small min-width) {
        width: 33%;
      }
    }
  }

  form.views-exposed-form .form-item.form-topic-search {
    margin-top: 0;
  }
}
