.global-search-trigger {
  position: relative;
  display: flex;
  justify-content: center;
  color: $white;
  height: 56px;
  width: 56px;
  align-items: center;
  border-left: 1px solid #E4E3E6;

  @include breakpoint($bp-small) {
    display: none;
  }

  &__icon {
    background-size: 24px 24px;
    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;
  }
}

.ama__global-search {
  display: none;
  height: 52px;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 600;
  border-top: 1px solid #E4E3E6;
  @include breakpoint($bp-small) {
    background-color: $white;
    position: relative;
    display: flex;
    padding: 0 21px;
    top: 0;
    height: 44px;
    max-width: 343px;
    border: 1px solid #E4E3E6;
    border-radius: 100px;
    align-items: center;
    margin: 0 28px 0 auto;
    &__action {
      margin-left: 15px;
    }
  }
  @include breakpoint($bp-med) {
    flex-grow: 1;
  }

  &:focus-within {
    border: 2px solid $blue;
  }


  form {
    width: 100%;
  }

  .searchbar-wrapper {
    width: 100%;
  }

  input[type="text"],
  .ama__search__field__input {
    padding: 16px 14px;
    background-image: none;
    border: none;
    font-size: 16px;
    line-height: 1;
    flex-grow: 1;

    @include breakpoint($bp-small) {
      padding: 0;
      display: block;
    }

    &:focus,
    &:active {
      color: $black;
      font-style: normal;
      border: none;
    }
  }

  .form-actions {
    margin: 0;
  }

  .ama__global-search__action {
    .ama__button {
      @extend .icon--search-purple;
      background-size: 0 0;
      padding: 0;
      outline: none;
      overflow: hidden;
      min-width: 100px;
      position: relative;
      text-indent: 0;
      border: none;
      background-color: $purple;
      height: 52px;
      max-height: 52px;
  
      @include breakpoint($bp-small) {
        background-color: $white;
        background-size: 24px 24px;
        background-position: center;
        min-height: 24px;
        max-height: 24px;
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        width: 24px;
        text-indent: -999px;
      }
    }
  }
}

.sapi-did-you-mean {
  margin-bottom: 20px;
}
