.ama__placeholder {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($h2-font-sizes);
  min-height: 50px;
  color: $gray-50;
  border: 4px dashed $gray-50;
  text-align: center;
  height: 100%;
  width: 100%;
}
