<ol class="listicle">
  {% for list in listicle %}
  <li class="listicle__item">
  <h2 class="listicle__title">{% if list.link %}<a href="{{ list.link }}">{% endif %}{{ list.text|raw }}{% if list.link %}</a>{% endif %}</h2>	
    {% if list.description %}
    <ol class="listicle__item-sub">
      {% for sublist in list.description %}
      <li class="listicle__item-sub-item">{{ sublist.text|raw }}</li>
      {% endfor %}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>
