<?xml version="1.0" encoding="UTF-8"?>
<svg width="55px" height="55px" viewBox="0 0 55 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Twitter Logo For Footer</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M27.5,2.5 C41.3071187,2.5 52.5,13.6928813 52.5,27.5 C52.5,41.3071187 41.3071187,52.5 27.5,52.5 C13.6928813,52.5 2.5,41.3071187 2.5,27.5 C2.5,13.6928813 13.6928813,2.5 27.5,2.5 Z M22.2421067,14.2142353 L14.5,14.2142353 L24.65066,28.9871234 L14.5,40.7857647 L16.7937633,40.7857647 L25.6689717,30.4690684 L32.7578933,40.7857647 L40.5,40.7857647 L29.9729683,25.4654646 L39.6526167,14.2142353 L37.3589833,14.2142353 L28.954635,23.9835196 L22.2421067,14.2142353 Z M21.143325,15.9409589 L27.74726,25.3874857 L28.7757333,26.8585323 L37.3600667,39.1375703 L33.83698,39.1375703 L26.8319083,29.1178393 L25.803435,27.6462293 L17.6202383,15.9409589 L21.143325,15.9409589 Z" fill="#9073A6" fill-rule="nonzero"></path>
    </g>
</svg>