<div id="ama__forums">
  <div id="block-pagetitle">
    {% set heading = ForumTopic.heading %}
    {% include "@atoms/heading/heading.twig" %}
  </div>
</div>
<div class="ama__topic">
  <div class="ama__topic-header">
    <div class="ama__topic-author">
      {% set link = ForumTopic.author %}
      {% include "@atoms/link/link.twig" %}
    </div>
    <div class="ama__topic-date">
      {% set date = ForumTopic.date.date %}
      {{ date }}
    </div>
    <div class="ama__topic-print">
      {% set link = ForumTopic.print %}
      {% include "@atoms/link/link.twig" %}
    </div>
  </div>
  <div class="ama__topic-body">
    {% set paragraph = ForumTopic.body %}
    {% include '@atoms/paragraph.twig' %}
  </div>
  <div class="ama__topic-resolution">
    {% set resolution = ForumTopic.resolution.text %}
    {{ resolution }}
  </div>
  <div class="ama__topic-downloads">
    {% set link = ForumTopic.downloads %}
    {% include "@atoms/link/link.twig" %}
  </div>
  <div class="ama__topic-comment">
    {% set link = ForumTopic.commentLink %}
    {% include "@atoms/link/link.twig" %}
  </div>
</div>
