//  Color Inventory
$bg-purple: #ece7f0;
$bodyTextHoverPurple: #DAD0E1;
$pill-hover: #e4d3e7;
$glossary-purple: #a28ab5;
$hoverPurple: #9073A6;
$homepagePurple: #7229D1;
$li-border-purple: #512d6d;
$button-purple: #471b6d;
$purple: #46166B; // AMA Primary Purple.
$series-icon: #3d1660;
$interim-block: #3f2378;
$bookmark-purple: #310f4a;

//Grayscale
$white: #ffffff;
$search-suggestions-white: #fefefe;
$search-suggestions-white: #fefefe;
$resource-link: #eeeeee;
$block-quote-border: #e2e2e2;
$gray-4: #F5F5F5;
$gray-7: #EDEDED;
$tools-background: #F4F3F1;
$scrollbar-gray: #f1f1f1;
$bg-gray: #f4f4f4;
$gray-20: #CBCBCB;
$forum-border: #cecece;
$block-quote-border-left: #b3b3b3;
$gray-border: #b4b4b4;
$border-gray: #a1a1a4;
$scrollbar-bg: #aaaaaa;
$gray-30: #979797;
$gray-40: #7f7f7f;
$gray-50: #767676;
$gray-64: #5C5C5C;
$date-olive: #424242;
$gray-80: #2E2E2E;
$black: #000000;

$light-blue: #d9f2fc;
$pg-xtra-lt-blue: #cceefb;
$hoverGrayBlue: #ccd7e2;
$gating-block-blue: #bce2f7;
$pg-lt-blue: #80d4f5;
$hoverBlue: #3597C9;
$description-blue: #02aaec;
$pg-blue: #02aaec;
$blue: #027DBC;
$description-blue-visited: #0176a5;
$tab-focus-blue: #0076a5;
$gating-block-link: #015884;
$ama-alert: #025785;
$darkBlue: #003a70;
$text-navy: #001b1b;

$tools-border: #CAC4BD;
$hoverComplementary: #ffd8a3;
$orange-light: #FFD8A3;
$complementary: #ff9e1b;
$orange-medium: #FF9E1B;
$hoverOrange: #F1A233;
$orange: #ED8B00;

$gold: #907306;

$green: #4D8406;

$red: #E90C26;
$hoverRed: #d81735;

//  Dr Finder colors
$drfinder-white: #e5edff;
$drfinder-shadow: #f3f4f9;
$drfinder-bg: #f9faff;
$profileHeader-image: #d9d9d9;
$drfinder-tabs: #d3d4d9;
$drfinder-gray: #55565b;
$drfinder-tabs-hover: #232429;
$filterList-hover: #dbc8e0;
$drfinder-indented: #d1c5da;
$messages_error: #e33f1e;
$messages_warning: #fdca40;
$drfinder-border: #26a769;
$messages_status: #3fa21c;
$drfinder-border-top: #7e96a7;
$messages: #53b0eb;
$drfinder-blue: #0036b1;

//  SG Scaffolding
$sg-border: #dddddd;