$topic_white: #ffffff;
$topic_purple: #46166b;
$topic_purple-darker: #320e52;
$topic_purple-lighter: #e3dce9;
$topic_red: #c8102e;
$topic_red-darker: #e67200;
$topic_orange: #ed8b00;
$topic_orange-darker: #f6c51b;
$topic_blue: #02aaec;
$topic_blue-lighter: #d9f2fc;
$topic_green: #64a70b;
$topic_black: #000000;
$topic_black-55: #737373;
$topic_black-20: #cccccc;
$topic_black-15: #d9d9d9;
$topic_black-7: #ededed;
$topic_black-3: #f7f7f7;
$topic_gray-8: #a1a1a4;

//New colors from UX
//Primary Colors
$blue: #027DBC;
$orange: #ED8B00;
$purple: #46166B;

//Hover Colors
$hoverBlue: #3597C9;
$hoverOrange: #F1A233;
$hoverPurple: #6B4589;
$hoverBlack: #333333;

//Greyscale
$black: #000000;
$grey-64: #5C5C5C;
$grey-50: #7F7F7F;
$gray-7: #EDEDED;
$white: #ffffff;