//  Primary Colors
$blue: #027DBC;

$orange: #ED8B00;
$purple: #46166B;
$complementary: #ff9e1b;

//  Hover Colors
$hoverBlue: #3597C9;
$hoverOrange: #F1A233;
$hoverPurple: #9073A6;
$bookmark-purple: #310f4a;
$bodyTextHoverPurple: #DAD0E1;
$hoverGrayBlue: #ccd7e2;
$hoverBlack: #333333;
$hoverRed: #d81735; // JAMA red
$hoverComplementary: #ffd8a3;
$gold: #907306;

//  BG Colors
$bg-purple: #ece7f0;
$bg-gray: #f4f4f4;

$scrollbar-gray: #f1f1f1;
$scrollbar-bg: #aaaaaa;

//  Block Quote Colors
$block-quote-border-left: #b3b3b3;
$block-quote-border: #e2e2e2;

//  Glossary Colors
$glossary-purple: #a28ab5;
$series-icon: #3d1660;

//  Grayscale
$black: #000000;
$gray-80: #2E2E2E;
$gray-64: #5C5C5C;
$gray-50: #767676;
$gray-40: #7f7f7f;
$gray-30: #979797;
$gray-20: #CBCBCB;
$gray-7: #EDEDED;
$gray-border: #b4b4b4;
$white: #ffffff;
$resource-link: #eeeeee;

$red: #E90C26;
$green: #4D8406;
$light-blue: #d9f2fc;
$darkBlue: #003a70;

$pill-hover: #e4d3e7;

//  Homepage Colors
$homepagePurple: #7229D1;

$li-border-purple: #512d6d;
$button-burple: #471b6d;
$interim-block: #3f2378;

//  Buttons
$orange-medium: #FF9E1B;
$orange-light: #FFD8A3;

//  subcat tools
$tools-background: #F4F3F1;
$tools-border: #CAC4BD;

$search-suggestions-white: #fefefe;

//  For tabbing/focus
$tab-focus-blue: #0076a5;

//  Colors that are exactly like other colors
$description-blue: #02aaec;
$description-blue-visited: #0176a5;
$gating-block-link: #015884;
$ama-alert: #025785;

//  Page grouping "branding" colors
$pg-xtra-lt-blue: #cceefb;
$pg-lt-blue: #80d4f5;
$pg-blue: #02aaec;
$gating-block-blue: #bce2f7;

//  Category Redesign
$border-gray: #a1a1a4;
$text-navy: #001b1b;
$date-olive: #424242;

$forum-border: #cecece;

//  Dr Finder colors
$profileHeader-image: #d9d9d9;
$filterList-hover: #dbc8e0;
$messages_error: #e33f1e;
$messages_warning: #fdca40;
$messages_status: #3fa21c;
$drfinder-border: #26a769;
$messages: #53b0eb;
$drfinder-border-top: #7e96a7;
$drfinder-gray: #55565b;
$drfinder-white: #e5edff;
$drfinder-tabs: #d3d4d9;
$drfinder-bg: #f9faff;
$drfinder-tabs-hover: #232429;
$drfinder-indented: #d1c5da;
$drfinder-shadow: #f3f4f9;
$drfinder-blue: #0036b1;

//  SG Scaffolding
$sg-border: #dddddd;