// AMA Fonts
$myriad-pro: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$kepler-std: "kepler-std", Georgia, Times, "Times New Roman", serif;

$font: $myriad-pro;
$font-secondary: $kepler-std;

// Font family variables
$font-sans-serif: $myriad-pro;
$font-serif: $kepler-std;

// Font weight variables
$font-weight-thin: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

// Base font style variables
$base-font-size: 18px;
$base-line-height: 25px;
$base-font-family: $font-sans-serif;
$base-font-weight: $font-weight-medium;
$base-font-multiplier: 1;
