// AMA Fonts
$museo-slab: "museo-slab", Georgia, Times, "Times New Roman", serif;
$franklin-gothic: "franklin-gothic-urw", "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font: $franklin-gothic;
$font-secondary: $museo-slab;

// Font family variables
$font-sans-serif: $franklin-gothic;
$font-serif: $museo-slab;

// Font weight variables
$font-weight-thin: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// Base font style variables
$base-font-size: 18px;
$base-line-height: 25px;
$base-font-family: $font-sans-serif;
$base-font-weight: $font-weight-medium;
$base-font-multiplier: 1;


