// AMA Fonts
$myriad-pro: "myriad-pro", "Helvetica", "Arial", "Open Sans", sans-serif;
$kepler-std: "kepler-std", Georgia, Times, "Times New Roman", serif;

// Font weight variables
$font-weight-regular: 100;
$font-weight-semibold: 400;
$font-weight-bold: 600;

$breakpoints: (
    small : 37.5em, // 600px
    medium: 56.25em, // 900px
    large : 75em // 1200px
);

$h1-font-sizes: (
    null  : (1.222em, 1.18182),
    small : (2.111em, 2.333),
    medium: (2.111em, 2.456),
    large : (2.111em, 2.456)
);

$h2-font-sizes: (
    null  : (1.222em, 1.18182),
    small : (1.444em, 1.722),
    medium: (1.444em, 1.722),
    large : (1.444em, 1.722)
);

$h3-font-sizes: (
    null  : (1.111em, 1.3),
    small : (1.222em, 1.444),
    medium: (1.222em, 1.444),
    large : (1.222em, 1.444)
);

$h4-font-sizes: (
    null  : (1.111em, 1.3),
    small : (1.222em, 1.389),
    medium: (1.222em, 1.389),
    large : (1.222em, 1.389)
);

$h5-font-sizes: (
    null  : (0.8em, 1.150),
    small : (1em, 1.38889),
    medium: (1em, 1.38889),
    large : 1em
);

$p-font-sizes: (
    null  : (20px, 25px),
    small : 20px,
    medium: (18px, 1.5),
    large : 18px
);

$small-font-sizes: (
    null  : (10px, 0.77),
    small : 10px,
    medium: 10px,
    large : 10px
);

//Topic page typography
$h1-topic-font-sizes: (
    null  : (1.888em, 1.11765),
    small : (2.4em, 1.08333),
    medium: (2.7em, 1.07407),
    large : (2.7em, 1.07407)
);

$h2-topic-font-sizes: (
    null  : (1.222em, 1.18182),
    small : (1.222em, 1.18182),
    medium: (1.7em, 1.11765),
    large : (1.7em, 1.11765)
);

$h3-topic-font-sizes: (
    null  : (1.111em, 1.2),
    small : (1.111em, 1.2),
    medium: (1.5em, 1.13333),
    large : (1.5em, 1.13333)
);

$h4-topic-font-sizes: (
    null  : (18px, 1.22222),
    small : (18px, 1.22222),
    medium: (24px, 1.16667),
    large : (24px, 1.16667)
);

$h5-topic-font-sizes: (
    null  : (16px, 1.4375),
    small : 16px,
    medium: (18px, 1.38889),
    large : 18px
);

$h6-topic-font-sizes: (
    null  : (14px, 14px),
    small : 14px,
    medium: (15px, 1.46667),
    large : 15px
);

$p-topic-font-sizes: (
    null  : (1.11rem, 25px),
    small : 1.11rem,
    medium: (20px, 1.355),
    large : 20px
);

$small-topic-font-sizes: (
    null  : (10px, 0.77),
    small : 10px,
    medium: 10px,
    large : 10px
);

