/*------------------------------------*\
    $FORMS
\*------------------------------------*/

// Global input styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-appearance: none;
  /* stylelint-enable */
  @include gutter($padding-left-half...);
  @include gutter($padding-right-half...);
  @include font-size($p-font-sizes);
  outline: none;
  border: 1px solid $gray-7;
  display: block;
  box-shadow: none;
  width: 100%;
  @include type($myriad-pro, $font-weight-regular);

  &:focus,
  &:active {
    border: 1px solid $purple;
  }

  &.error {
    border: 1px solid $red;
  }

  &.valid {
    color: $black;
  }
}

.fieldgroup {
  border-width: 0;
  padding: 0;
}

label {
  @extend %ama__type--small;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-50;

  span {
    text-transform: capitalize;
  }
}

/**
 * Webform classes.
 */
div[role=alert],
.form-item--error-message {
  @include font-size($small-font-sizes);
  color: red;
}

.form-item:not(.ama__radio):not(.ama__checkbox) {
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);

  h3 {
    @include gutter($margin-top-half...);
    @include gutter($margin-bottom-half...);
    @include font-size($p-font-sizes);
    color: $gray-50;
  }
}

.webform-section {
}

.webform-options-display-side-by-side > div {
  display: inline-block;
  margin-right: .5em;
}


input.error {
  background: url('/themes/custom/ama_one/icons/svg/icon-error.svg') no-repeat 99% center/20px;
}

input.webform-button--submit {
  margin: 0 auto;
  display: inherit;
}


