/*------------------------------------*\
    $FORMS
\*------------------------------------*/

// Global input styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-appearance: none;
  /* stylelint-enable */
  @include gutter-all($padding-all-half...);
  @include font-size($p-font-sizes);
  outline: none;
  border: 1px solid $gray-7;
  border-radius: 0;
  display: block;
  box-shadow: none;
  width: 100%;
  @include type($myriad-pro, $font-weight-regular);

  &:focus,
  &:active {
    border: 1px solid $purple;
  }

  &.error {
    border: 1px solid $red;
    background-color: $white;
  }

  &.valid {
    color: $black;
  }
}

input.ama__link--blue{
  font-size: 1em;
  border: none;
}

.fieldgroup {
  border-width: 0;
  padding: 0;
}

label {
  @extend %ama__type--small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $gray-50;

  span {
    text-transform: capitalize;
  }

  &.form-required::after {
    content: " *";
  }
}

fieldset {
  border: none;
  padding-left: 0;
}
