$grid-base: 12;
$one-col-width: 8.333333333333333%;
* {
  box-sizing: border-box;
}


/*=====general purpose utility classes==*/

.flex,
.flex-center-x,
.flex-center-y,
.flex-center-xy {
  display: flex;
}


/* Align item in center wrt major axis*/

.flex-center-x {
  justify-content: center;
}


/* Align item in center wrt minor axis*/

.flex-center-y {
  align-items: center;
}


/* Align item in center wrt major and minor axis*/

.flex-center-xy {
  @extend .flex-center-x;
  @extend .flex-center-y;
  height: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}


/*----------Grid------------*/

.container-fluid
{
  width: 100%;
}

.container,.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  @extend .flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.row >* {
  width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}

@for $i from 1 through $grid-base {
  .col-xs-#{$i} {
    width: $one-col-width*$i;
  }
}


/* col-sm-* classes */

@media (min-width: 768px) {
  @for $i from 1 through $grid-base {
    .col-sm-#{$i} {
      width: $one-col-width*$i;
    }
  }
}


/* col-md-* classes*/

@media (min-width: 992px) {
  @for $i from 1 through $grid-base {
    .col-md-#{$i} {
      width: $one-col-width*$i;
    }
  }
}


/* col-lg-* classes*/

@media (min-width: 1200px) {
  @for $i from 1 through $grid-base {
    .col-lg-#{$i} {
      width: $one-col-width*$i;
    }
  }
}
