.container {
  max-width: $max-width;
  margin: 0 auto;
}

%clearfix {
  *zoom: 1;
  clear: both;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
  }
}

//Adds flex properties
.ama__flex-container {
  display: flex;

  &--row {
    display: flex;
    flex-direction: row;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }
}

// Split screen - removed scrolling from body
.ama__split-screen {
  @include breakpoint($bp-large) {
    overflow: hidden;
    height: 100%;
  }
}
