.container {
  max-width: $max-width;
  margin: 0 auto;
}

%clearfix {
  *zoom: 1;
  clear: both;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
  }
}
