.ama__placeholder {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($h2-font-sizes);
  min-height: 50px;
  color: $topic_black-15;
  border: 4px dashed $topic_black-15;
  text-align: center;
  height: 100%;
  width: 100%;
}
