.ama__placeholder {
  @include type($font-serif, 1.888em, $font-weight-medium, 1.1176470588);
  color: $black-15;
  min-height: 50px;
  border: 4px dashed $black-15;
  text-align: center;
  height: 100%;
  width: 100%;
}
