@media print {

  .ama__alert__wrap,
  footer,
  #categoryNavigation,
  .ama__main-navigation__join--buttons,
  .ama__main-navigation__join--links,
  .ama__global-search,
  .global-search-trigger,
  .ama__main-navigation__member-benefits-link,
  .ama__link,
  .ama__sign-in-dropdown,
  .share-region,
  .ama__inline-bio__image .ama__image,
  .ama__inline-bio__image,
  .heading-left .link,
  .ama__main-navigation__join--buttons,
  .sidebar-secondary,
  .rate-widget-thumbs-up,
  .ama__tags,
  .ama__tools,
  .ama__column-teaser-wrapper,
  .embedded-entity.ama__page--news__teasers,
  .embedded-entity.promo_as_inline,
  .embedded-entity.ama__article-stub--inline,
  .embedded-entity.ama__promo--inline,
  .ama_page_grouping_news,
  #sidebar-secondary,
  #block-ama-one-main-menu,
  .embedded-entity.ama__promo--inline,
  .print,
  .ama__link--icon.ama__inline-bio__link.ama__link--blue {
    display: none !important;
  }

  body
  {
    margin: 0 25mm !important;
  }

  header {
    margin-bottom: 14mm !important;
    min-height: 60px !important;

    .logo {
      height: 40mm !important;
      width: auto !important;

      .ama__main-navigation {
        height: 60mm !important;
        min-height: 40mm !important;
      }
    }
  }

  .ama__h1 {
    font-weight: 900 !important;
  }

  ul {
    list-style-type: disc !important;

  }

  .ama__h3 .date-block,
  .ama__h2 {
    font-size: 16pt !important;
    display: block !important;
    page-break-before: auto !important;
  }

  .ama__75-25__masthead,
  .ama__layout--two-column--right {
    grid-template-columns: 1fr !important;
  }

  .ama__news-article .container {
    max-width: 800px !important;
    margin: 0 auto !important;
  }

  a {
    text-decoration: none !important;
  }
}
