@mixin ama-rules ($width: "", $direction: "", $style: "solid", $color: "") {
  @if($direction == "vertical") {
    border-left: $width $color $style;
  }
  @else if($direction == "bottom") {
    border-bottom: $width $color $style;
  }
  @else {
    border-top: $width $color $style;
  }
}