/**
 * @version		1.3
 * @package		SimpleTabs
 * @author      Fotis Evangelou (original), css stripped and refactored for use by AMA
 */

.simpleTabsNavigation {
  padding: 0;
  text-align: left;
  display: none;

  @include breakpoint($bp-small){
    display: block;
    li {
      list-style: none;
      display: inline;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 5px 8px;
      text-decoration: none;
    }
  }

  &--mobile{
    display: block;

    @include breakpoint($bp-small){
      display: none;
    }
  }
}

.simpleTabsContent {
  padding: 5px 10px;
  display: none;

  &.currentTab {
    display: block;
  }
}
