// Typography
body {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /* stylelint-enable */
  color: $black;
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($p-font-sizes);
}

h1,
.ama__h1,
%ama__h1 {
  @include type($myriad-pro, $font-weight-bold);
  @include font-size($h1-font-sizes);
  @include gutter($margin-bottom-full...);

}

h2.news,
.ama__h2,
%ama__h2 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h2-font-sizes);
  @include gutter($margin-bottom-half...);
}

h3,
.ama__h3,
%ama__h3 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h3-font-sizes);
  @include gutter($margin-bottom-half...);
}

h4,
.ama__h4,
%ama__h4 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h4-font-sizes);

  &--blue {
    @include type($myriad-pro, $font-weight-regular);
    @include font-size($h4-font-sizes--blue);
    color: $blue;
  }

  &--purple {
    @include type($myriad-pro, $font-weight-regular);
    @include font-size($h4-font-sizes--purple);
    color: $purple;
  }
}

h5,
.ama__h5,
%ama__h5 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h5-font-sizes);
}

p {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($p-font-sizes);
  @include gutter($margin-bottom-half...);
}

small,
.ama__type--small,
%ama__type--small {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($small-font-sizes);
}

.ama__type--italic,
%ama__type-italic {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($small-font-sizes);
  font-style: italic;
}

strong,
.ama__type--strong,
%ama__type--strong {
  @include type($myriad-pro, $font-weight-bold);
  @include font-size($p-font-sizes);
}
