// Typography
body {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /* stylelint-enable */
  color: $black;
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($p-font-sizes);
}

%headerLinks {
  a {
    font-weight: inherit;
    font-size: inherit;
  }
}

h1,
.ama__h1,
.ama__h1 a,
%ama__h1 {
  @include type($myriad-pro, $font-weight-bold);
  @include font-size($h1-font-sizes);
  @include gutter($margin-bottom-full...);
  @extend %headerLinks;

  &--homepage {
    color: $purple;
  }
}

h2,
h2.news,
.ama__h2,
%ama__h2 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h2-font-sizes);
  @include gutter($margin-bottom-half...);
  @extend %headerLinks;

  &--homepage {
    @include type($myriad-pro, $font-weight-regular);
    @include font-size($h2-font-sizes--homepage);
    color: $gray-64;
  }
}

h3,
.ama__h3,
%ama__h3 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h3-font-sizes);
  @include gutter($margin-bottom-half...);
  @extend %headerLinks;

  &--homepage {
    @include type($myriad-pro, $font-weight-regular);
    @include font-size($h3-font-sizes--homepage);
  }
}

h4,
.ama__h4,
%ama__h4 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h4-font-sizes);
  @extend %headerLinks;

  &--purple {
    @include font-size($h4-font-sizes--purple);
    text-transform: uppercase;
    color: $purple;

  }

  &--blue {
    @include font-size($h4-font-sizes--blue);
    text-transform: uppercase;
    color: $blue;
  }

  &--white {
    @include font-size($h4-font-sizes--purple);
    text-transform: uppercase;
    color: $white;
  }

  &--homepage {
    @include font-size($h4-font-sizes--homepage);
    color: $purple;
  }
}

h5,
.ama__h5,
%ama__h5 {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($h5-font-sizes);
  @extend %headerLinks;

  &--purple {
    @include type($myriad-pro, $font-weight-bold);
    @include gutter($margin-bottom-half...);
    color: $purple;
    text-transform: uppercase;

    &--homepage {
      @include type($myriad-pro, $font-weight-semibold);
      @include font-size($small-font-sizes--homepage);
      color: $homepagePurple;
    }
  }

  &--homepage {
    @include type($myriad-pro, $font-weight-bold);
    @include gutter($margin-bottom-half...);
    color: $homepagePurple;
  }
}

p, p a {
  @include type($kepler-std, $font-weight-light);
  @include font-size($p-font-sizes);
  @include gutter($margin-bottom-half...);
}

div[class^="related_coverage"] p,
div[class^="related_coverage"] p a {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($p-font-sizes);
}

.ama__product__text p,
.ama__product__text p a {
  @include type($myriad-pro, $font-weight-regular);
}

small,
.ama__type--small,
%ama__type--small {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($small-font-sizes);
}

.ama__type--italic,
%ama__type-italic {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($small-font-sizes);
  font-style: italic;
}

strong,
.ama__type--strong,
%ama__type--strong {
  @include type($myriad-pro, $font-weight-bold);
  @include font-size($p-font-sizes);
}

.ama__menu--button,
%ama__menu--button {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($button-font-sizes--menu);
}

.ama__type--14px,
%ama__type--14px {
  @include type($myriad-pro, $font-weight-regular);
  @include font-size($font-sizes--14px);
}
