// Typography
body {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  /* stylelint-enable */
  color: #000;
  -webkit-font-smoothing: antialiased;
  @include type($base-font-family, $base-font-size, $base-font-weight, $base-line-height);
  @include font-size(1.11, large);
}

// Specific Typography classes
.ama__type-hero,
%ama__type-hero {
  @include type($font-serif, 28px, $font-weight-medium, 1.1428571429);
}

@mixin ama__type-hero {
  @include type($font-serif, 28px, $font-weight-medium, 1.1428571429);
}

.ama__type-larger,
%ama__type-larger {
  @include type($font-sans-serif, 23px, $font-weight-medium, 1.3043478261);
}

@mixin ama__type-larger() {
  @include type($font-sans-serif, 23px, $font-weight-medium, 1.3043478261);
}

// (Formerly B2)
.ama__type-large,
%ama__type-large {
  @include type($font-sans-serif, 21px, $font-weight-medium, 1.3333333333);
}

@mixin ama__type-large() {
  @include type($font-sans-serif, 21px, $font-weight-medium, 1.3333333333);
}

// (Formerly B3)
.ama__type-medium,
%ama__type-medium {
  @include type($font-sans-serif, 18px, $font-weight-medium, 1.3888888889);
}

// (Formerly B4)
.ama__type-small,
%ama__type-small {
  @include type($font-sans-serif, 16px, $font-weight-medium, 1.4375);
  }

// (Formerly B5)
.ama__type-smaller,
%ama__type-smaller {
  @include type($font-sans-serif, 14px, $font-weight-medium, 1.5);
}

// (Formerly B1)
.ama__type-search,
%ama__type-search {
  @include type($font-serif, 28px, $font-weight-medium, 1.25);
}
