.ama__webform-header {
  @include gutter($margin-top-half...);
  @include gutter($margin-bottom-half...);
  padding: 0;

  .is-inactive {
    display: none;
  }

  .is-active {
    display: flex;
    align-items: center;
  }
}

//Webform error states
.form-item--error-message {
  @include font-size($small-font-sizes);
  color: $red;
}

.fieldset-wrapper.error {
  @include gutter-all($padding-all-half...);
  border: 1px solid $red;
}

div[role=alert] {
  @include gutter-all($padding-all-full...);
  @include gutter($margin-top-half...);
  @include gutter($margin-bottom-half...);
  @extend .ama__h5;
  color: $red;
  background-color: $gray-7;

  .item-list__comma-list {
    li {
      @include gutter($margin-top-half...);
      display: block;
      color: $red;
    }

    a {
      @include type($myriad-pro, $font-weight-regular);
      @include font-size($font-sizes--14px);
      color: $red;

      &:after {
        content: " is required";
      }
    }
  }
}


.form-item:not(.ama__radio):not(.ama__checkbox){
  @include gutter($margin-top-half...);
  @include gutter($margin-bottom-half...);

  h3 {
    @include gutter($margin-top-half...);
    @include gutter($margin-bottom-half...);
    @include font-size($p-font-sizes);
    color: $gray-50;
  }
}

.webform-checkboxes-other .form-checkboxes,
.webform-type-radios {
  @include gutter($margin-top-half...);
}

.webform-options-display-side-by-side > div {
  display: inline-block;
  margin-right: .5em;
}

.form-actions {
  @include gutter($margin-top-full...);
}

input.error {
  background: url('/themes/custom/ama_one/icons/svg/icon-error.svg') no-repeat 99% center/20px;
}

input.webform-button--submit,
a.webform-button--submit {
  margin: 0 auto;
  display: inherit;
}

.form-composite.webform-fieldset--title-inline legend {
  float: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.webform-scroll {
  @include form-scroll;
}

// Hide submit on Contact us form for Public option.
.general-public {
  .reach-us-by-mail,
  .webform-button--submit {
    @include is-vishidden;
  }
}

// Accept/Decline forms.
.webform-submission-end-user-license-agreement-cpt-form,
.webform-submission-end-user-license-agreement-form,
.webform-submission-policy-finder-form {
  &__message {
    @include form-scroll;
  }

  &__submit-buttons {
    .webform-button--submit {
      @include gutter($margin-bottom-full...);
      width: 60%;
    }
  }
}
// Secure Data Webform.
.webform-submission-ama-secure-data-change-form-form,
.webform-submission-gov-council-action-item-request-form,
.webform-submission-mercedes-benz-incentive-form-form,
.webform-submission-mas-membership-registration-form {
  .form-actions {
    input {
      padding: 5px 70px;
    }
    .webform-button--next {
      background-color: $purple;
      color: $white;
      &:hover {
        background-color: $hoverPurple;
      }
    }
  }
}

.webform-submission-policy-finder-form {
  input.webform-button--submit {
    background-color: $purple;
    color: $white;
    &:hover {
      background-color: $hoverPurple;
    }
  }
  #edit-decline-button {
    a {
      background-color: $white;
      color: $purple;
      border: 1px solid $purple;
      &:hover {
        background-color: $purple;
        color: $white;
      }
    }
  }
}

.form-submit.ama__button {
  @include gutter($margin-bottom-full...);
}

.webform-options-display-buttons-label {
  font-size: 18px;
  font-weight: $font-weight-regular;
  text-transform: initial;
  font-family: Arial, sans-serif;
}
