.webform-submission-policy-finder-form {
  &__message {
    @include gutter($margin-top-full...);
    @include gutter-all($padding-all-full...);
    overflow: hidden;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid $gray-7;

    ul {
      list-style-position: inside;
    }
  }

  &__submit-buttons {
    .webform-button--submit {
      @include gutter($margin-bottom-full...);
      width: 60%;
    }
  }
}
