.webform-confirmation {
  @include gutter($padding-top-full...);
  @include gutter($padding-bottom-full...);

  &__header {
    border-bottom: 1px solid $gray-7;
  }

  &__message {
    @include gutter($padding-top-full...);
    p {
      @include type($myriad-pro, $font-weight-regular);
      &.volvo_pin {
        font-size: 24px; 
        letter-spacing: 2px;
      }
    }
  }

  &__back {
    @include gutter($margin-top-full...);
    display: flex;
    @include breakpoint($bp-med max-width) {
      .button-main-primary {
        width: 100%;
      }
    }
  }
}
