.webform-confirmation {
  @include gutter($padding-top-full...);
  max-width: 564px;
  margin: 0 auto;
  padding: 0;

  &__header {
    border-bottom: 1px solid $gray-7;
  }

  &__message {
    @include gutter($padding-top-full...);
    p {
      @include type($kepler-std, $font-weight-regular);
      margin-bottom: 21px;
      &.volvo_pin {
        font-size: 24px; 
        letter-spacing: 2px;
      }
    }
  }

  &__back {
    display: flex;
    margin-top: 35px;
    margin-bottom: 42px;
    @include breakpoint($bp-med) {
      margin-bottom: 56px;
    }
    @include breakpoint($bp-small) {
      margin-bottom: 70px;
    }
    @include breakpoint($bp-med max-width) {
      .button-main-primary {
        width: 100%;
      }
    }
  }
}
