{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search field.
#}
<div class="dr-finder-search">
  <div class="dr-finder-search__search-field">
    {% include '@atoms/forms/search-field-dr-finder.twig' with { 'searchFieldDrFinder' : drFinderSearch.searchFieldDrFinder } %}
  </div>
  <div class="dr-finder-search__quick-finder">
    {# include '@molecules/forms/quick-finder-dr-finder.twig' TO BE CREATED IN THE FUTURE #}
  </div>
</div>
