{% set link1, link2 = hubBanner.link1, hubBanner.link2 %}

<div class="hub-container">
  <div class="ama__hub-banner">
  {% if hubBanner.link1 %}
    {# {% include '@atoms/button/button.twig' with { button : hubBanner.button1 } %} #}
    {% include "@atoms/link/link.twig" with { link : hubBanner.link1 } %}
  {% endif %}
  {% if hubBanner.link2 %}
    {# {% include '@atoms/button/button.twig' with { button : hubBanner.button2 } %} #}
    {% include "@atoms/link/link.twig" with { link : hubBanner.link2 } %}
  {% endif %}
  </div>
</div>
