<div class="ama__trending-block ama__trending-block-{{ trendingBlock.style }}">
  {# Trending tag icon here #}
  <div class="ama__trending-block__header trending-icon"><span>Trending</span></div>

  <div class="ama__trending-block__inner">
    <ul class="ama__trending-block__links">
      {% for link in trendingBlock.links %}
        {% if link %}
          <li class="ama__trending-block__link">
          {% set link = link|merge({class: 'ama__link--black', target: 'self'}) %}
          {% include "@atoms/link/link.twig" %}
          </li>
        {% endif %}
        <div class="ama__rule ama__rule--horizontal"></div>
      {% endfor %}
    </ul>
    <a href="/trending" class="ama__trending-block__view-all"><span>View all Trending</span></a>
  </div>
</div>
