<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 209</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-435.000000, -124.000000)" fill="#46166B" id="Fill-209">
            <path d="M459,147.985 L455.685,147.985 L455.685,142.797 C455.685,141.56 455.663,139.969 453.962,139.969 C452.237,139.969 451.974,141.317 451.974,142.709 L451.974,147.985 L448.662,147.985 L448.662,137.317 L451.84,137.317 L451.84,138.776 L451.886,138.776 C452.328,137.937 453.41,137.052 455.023,137.052 C458.38,137.052 459,139.261 459,142.134 L459,147.985 Z M444.924,135.86 C443.859,135.86 443,134.998 443,133.937 C443,132.876 443.859,132.014 444.924,132.014 C445.984,132.014 446.845,132.876 446.845,133.937 C446.845,134.998 445.984,135.86 444.924,135.86 L444.924,135.86 Z M446.582,147.985 L443.263,147.985 L443.263,137.317 L446.582,137.317 L446.582,147.985 Z M451,124 C442.163,124 435,131.163 435,140 C435,148.836 442.163,156 451,156 C459.837,156 467,148.836 467,140 C467,131.163 459.837,124 451,124 L451,124 Z"></path>
        </g>
    </g>
</svg>