.ama__sales-landing-page {
  &__header {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    @include gutter-all($padding-all-full...);

    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $black;

    @include breakpoint($bp-small min-width) {
      flex-direction: row;
    }
  }

  &__header .ama__site-logo {
    height: auto;

    .logo {
      height: 70px;
      width: 159px;

      @include breakpoint($bp-small min-width) {
        margin-bottom: 0;
      }
    }
  }

  &__header__contact {
    @include gutter($margin-top-full...);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    text-align: center;

    @include breakpoint($bp-small min-width) {
      margin-top: 0;
      flex-direction: row;
      text-align: right;
    }

    .info {
      max-width: 400px;
    }

    .ama__button--cta {
      @include gutter($margin-top-full...);

      @include breakpoint($bp-small min-width) {
        @include gutter($margin-left-half...);
        margin-top: 0;
        align-self: flex-start;
      }
    }
  }
}
