<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Onhover_MyBookmarks_AllDevices_ArtHeader</title>
    <g id="Onhover_MyBookmarks_AllDevices_ArtHeader" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="32" height="32"></rect>
        <g id="My-Booksmarks" transform="translate(7.1015, 4.4734)" fill="#46166B" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.375">
            <g id="Add-Bookmark-Icon" transform="translate(4.1875, 0)">
                <path d="M13.609488,19.563639 L6.8039572,15.310674 L0,19.563639 L0,0.850593 C0,0.380823458 0.380823458,0 0.850593,0 L12.758895,0 C13.2286645,0 13.609488,0.380823458 13.609488,0.850593 L13.609488,19.563639 Z" id="Path"></path>
            </g>
            <g id="Add-Bookmark-Icon" transform="translate(0, 3.4896)">
                <path d="M13.609488,19.563639 L6.8039572,15.310674 L0,19.563639 L0,0.850593 C0,0.380823458 0.380823458,0 0.850593,0 L12.758895,0 C13.2286645,0 13.609488,0.380823458 13.609488,0.850593 L13.609488,19.563639 Z" id="Path"></path>
            </g>
        </g>
    </g>
</svg>