<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>My Subscriptions Icon</title>
    <g id="My-Subscriptions-Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="32" height="32"></rect>
        <g id="Subscriptions-Icon" transform="translate(1.000000, 3.966667)" stroke="#512D6D" stroke-width="0.475">
            <g id="Group" transform="translate(0.000000, 1.900000)">
                <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="28.5" height="22.1666667" rx="2.53650007"></rect>
                <line x1="0.791666667" y1="0.791666667" x2="14.1902122" y2="13.2475448" id="Line-5" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="14.6652562" y1="0.791666667" x2="28.1223906" y2="13.2917339" id="Line-5" stroke-linecap="round" stroke-linejoin="round" transform="translate(21.186195, 7.076795) scale(-1, 1) translate(-21.186195, -7.076795) "></line>
            </g>
            <g id="Group" transform="translate(1.900000, -0.000000)">
                <rect id="Rectangle" fill="#FFFFFF" x="0" y="0" width="28.5" height="22.1666667" rx="2.53650007"></rect>
                <line x1="0.791666667" y1="0.791666667" x2="14.1902122" y2="13.2475448" id="Line-5" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="14.6652562" y1="0.791666667" x2="28.1223906" y2="13.2917339" id="Line-5" stroke-linecap="round" stroke-linejoin="round" transform="translate(21.186195, 7.076795) scale(-1, 1) translate(-21.186195, -7.076795) "></line>
            </g>
        </g>
    </g>
</svg>