{% set image, heading, paragraph, button1, button2 = heroEvergreen.image, heroEvergreen.heading, heroEvergreen.paragraph, heroEvergreen.button1, heroEvergreen.button2 %}

 {% if heroEvergreen.image %}
   {% set background = "background-image: url( #{heroEvergreen.image.src} );" %}
     <style> .hero-evergreen__background { {{ background }} } </style>
 {% endif %}

<div class="hero-evergreen">
    <div class="hero-evergreen__aside{% if not heroEvergreen.image %} hero-evergreen__aside--full-width {% endif %}">
        {% include '@atoms/heading/heading.twig' with { heading : heroEvergreen.heading } %}
        {% include '@atoms/paragraph.twig' with { paragraph : heroEvergreen.paragraph } %}
    </div>
    {% if heroEvergreen.image %}
        <div class="hero-evergreen__background">
            <div class="hero-evergreen__mobile-image">
                {% include '@atoms/image/image.twig' with { image : heroEvergreen.image } %}
            </div>
            <div class="hero-evergreen__buttons{% if heroEvergreen.stacked %} hero-evergreen__buttons--stacked{% endif %}">
                {% if heroEvergreen.button1 %}
                    {% include '@atoms/button/button.twig' with { button : heroEvergreen.button1 } %}
                {% endif %}
                {% if heroEvergreen.button2 %}
                     {% include '@atoms/button/button.twig' with { button : heroEvergreen.button2 } %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
