.dr-finder-search-results-header {
  display: flex;
  align-items: center;
}

.dr-finder-search-results-header__results-text {
  margin: $gutter 0;
  width: 66%;
  color: $black;
}

.dr-finder-search-results-header__results {
  width: 33%;
  text-align: right;
  color: $purple;
}
