.dr-finder-search-result-header{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 0px 570px;
}

.dr-finder-search-result-header__resultFound {
   color: $black;
   text-align: left;
   margin: 10px;
   position: relative;
}

.dr-finder-search-result-header__resultFoundNumber {
   color: $purple;
   font-size: 24px;
   padding: 10px 0px 10px 0px;
   margin: 10px;
   position: relative;
}