.dr-finder-search-result-header {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
}

.dr-finder-search-result-header__result-found {
   color: $black;
   text-align: left;
   margin: 10px;
   position: relative;
}

.dr-finder-search-result-header__result-found-number {
   color: $purple;
   padding: 10px 0px 10px 0px;
   margin: 5px 20px 5px 10px;
   position: relative;
}