.dr-finder-search-result-header{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 0px 650px;
}


.dr-finder-search-result-header__text-left {
   color: $black;
   text-align: left;
   margin: 10px;
   position: relative;

}

.dr-finder-search-result-header__text-right {
   color: $purple;
   font-size: 22px;
   padding: 20px 0px 20px 0px;
   margin: 10px;
   position: relative;
}