.ama__search-result {
  @include gutter($padding-bottom-half...);
  @include gutter($margin-bottom-half...);
  display: flex;
  border-bottom: 1px solid $gray-50;

  //Drupal adds divs that breaks layout
  & > div {
    width: 100%;
  }

  //Because Drupal adds divs which breaks flexbox
  .views-row {
    display: flex;
  }

  &__category {
    @extend %ama__h4--purple;
    font-weight: 600;
    margin: 0;

    .ama__search-result--best-bet & {
      display: none;
    }
  }

  &__title {
    a {
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }

      .ama__search-result--best-bet & {
        color: $homepagePurple;
      }
    }
  }

  &__text {
    flex: 2;
  }

  &__image {
    @include gutter($margin-left-full...);
    display: none;

    .ama__image {
      max-width: 234px;
    }

    @include breakpoint($bp-med) {
      display: block;
    }
  }

  &--best-bet {
    margin-bottom: 0;
    p {
      line-height: 1.25em;
    }
  }

  &:not(.ama__search-result--best-bet) {
    .ama__search-result__title {
      @include font-size($h3-font-sizes);
    }
  }
}
