#ama-search-connector {
  padding-bottom: 50px;
  .search-connector-header {
    font-family: MyriadPro;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
    .title {
      text-transform: uppercase;
    }
    .teaser {
      .keyword {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
  .search-connector-results {
    a {
      margin-bottom: 15px;
      text-decoration: none;
      display: block;
      .search-result-item {
        box-shadow: 0 3px 4px 0 rgba(114, 41, 209, 0.5);
        background-color: rgba(70, 22, 107, 0.05);
        padding: 10px;
        .search-result-item-title {
          color: #46166b;
          font-size: 22px;
          line-height: 24px;
          font-weight: bold;
        }
        .search-result-item-count {
          color: #737373;
          font-size: 18px;
        }
        .search-result-item-subtitle {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }
}
