.ama__search-result {

  //Because Drupal adds divs which breaks flexbox
  .views-row {
    display: flex;
  }

  &__link {
    display: block;
    text-decoration: none;
    @include gutter($padding-bottom-half...);
    @include gutter($padding-top-half...);
    width: 100%;
    border-bottom: 1px solid $gray-50;
  }

  &__category {
    @extend %ama__h4--purple;
    font-weight: $font-weight-semibold;
    margin: 0;

    .ama__search-result--best-bet & {
      display: none;
    }
  }

  &__title {

    .ama__search-result--best-bet & {
      color: $homepagePurple;
    }
  }

  &:hover .ama__search-result__title {
    text-decoration: underline;
  }

  &--best-bet {
    display: flex;
    margin-bottom: 0;
    margin-left: 0;

    p {
      line-height: 1.25em;
    }

    &__text {
      @include gutter($margin-right-half...);
      width: unset;
      flex: 2;
    }

    &__image {
      @include gutter($margin-left-full...);
      display: none;

      .ama__image {
        max-width: 283px;
      }

      @include breakpoint($bp-med) {
        display: block;
      }
    }
  }

  &:not(.ama__search-result--best-bet) {
    .ama__search-result__title {
      @include font-size($h3-font-sizes);
    }
  }

  &__icon_container {
    display: flex;
    margin: 14px 0 0 14px;
    height: 25px;
  }

  &__icon {
    display: inline-block;
    max-width: 25px;
    margin-right: 14px;
    &> div {
      &> div {
        height: 25px;
      }
    }
  }
}
