// Typography

body {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  /* stylelint-enable */
  color: #000;
  -webkit-font-smoothing: antialiased;
  @include type($base-font-family, $base-font-size, $base-font-weight, $base-line-height);
  @include font-size(1.11, large);
}