<nav class="ama__ribbon_dropdown">
  <span class="ama__ribbon_dropdown_trigger" tabindex="0" href="#">
    American Medical Association
  </span>
  <ul class="ama__ribbon_dropdown_nav">
    <li class="ama__ribbon_dropdown_nav_item">
      {% include 'link-white.twig' with {'content' : 'AMA Wire'} %}
    </li>
    <li class="ama__ribbon_dropdown_nav_item">
      {% include 'link-white.twig' with {'content' : 'AMA Store'} %}
    </li>
    <li class="ama__ribbon_dropdown_nav_item">
      {% include 'link-white.twig' with {'content' : 'The JAMA Network'} %}
    </li>
    <li class="ama__ribbon_dropdown_nav_item">
      {% include 'link-white.twig' with {'content' : 'Journal of Ethics'} %}
    </li>
  </ul>
</nav>