
.ama__tab-title--page{
  a.ui-tabs-anchor {
    padding: 10px 10px 3px !important;
    line-height: 1.3;
    color: $black;
    @include breakpoint($bp-small){
      margin-bottom: -2px;
    }
  }

  &.ui-tabs-active {
    a {
      border-bottom: solid 3px $purple;
    }
  }
}

.ama__tabs-page-content{
  & > .ama__tabs-navigation{
    border-bottom: solid 1px $gray-64;
  }
}
.ama__accordion-tab.ui-state-default{
  @extend .ama__h4;
  color: $purple;
  border: solid thin $purple;
  text-align: center;
  background: #FFF;
  border-radius: 0;

  @include gutter($margin-left-full...);
  @include gutter($margin-right-full...);

  @include breakpoint($bp-small) {
    margin: 20px 5px;
  };

  .ui-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-25%);
    display: none;
  }

  &.ui-state-active{
    background: $purple;
    color: $white;

    @include gutter($margin-left-full...);
    @include gutter($margin-right-full...);

    @include breakpoint($bp-small) {
      margin: 20px 5px;
    };

    .ui-icon{
      display: block;
    }
  }

  @include breakpoint($bp-small){
    display: none;
  }
}

.ama__accordion{
  .ama__tabs--content {
    padding: 20px 0px;

    @include breakpoint($bp-small);
    @include gutter($padding-left-full...);
    @include gutter($padding-right-full...);

    @include breakpoint($bp-small) {
      padding: 20px 5px;
    };
  }
}
