<?xml version="1.0" encoding="UTF-8"?>
<svg width="40px" height="32px" viewBox="0 0 40 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Hamburger Icon - Menu Closed</title>
    <g id="Hamburger-Icon---Menu-Closed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-2" transform="translate(0, 3)" fill="#FFFFFF">
            <polygon id="Rectangle" points="0 0 40 0 40 5 0 5"></polygon>
            <polygon id="Rectangle" points="0 11 40 11 40 16 0 16"></polygon>
            <polygon id="Rectangle" points="0 21 40 21 40 26 0 26"></polygon>
        </g>
    </g>
</svg>