<?xml version="1.0" encoding="UTF-8"?>
<svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons / icon-external-site-yellow </title>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-675.000000, -569.000000)" id="Icons-/-Tools-and-Resources---External-site-v2">
            <g transform="translate(675.000000, 569.000000)">
                <g id="external-site">
                    <path d="M17.9722143,16.7039286 L17.9722143,18.2617857 C17.9722143,20.9239286 15.8065,23.0896429 13.1432857,23.0896429 L6.73971429,23.0896429 C4.07721429,23.0896429 1.91078571,20.9239286 1.91078571,18.2617857 L1.91078571,11.9325 C1.91078571,9.27035714 4.07721429,7.10464286 6.73971429,7.10464286 L8.14328571,7.10464286 L10.0497143,5.19428571 L6.73971429,5.19428571 C3.01757143,5.19428571 7.14285714e-05,8.21107143 7.14285714e-05,11.9325 L7.14285714e-05,18.2617857 C7.14285714e-05,21.9832143 3.01757143,25 6.73971429,25 L13.1432857,25 C16.8657857,25 19.8832857,21.9832143 19.8832857,18.2617857 L19.8832857,14.7975 L17.9722143,16.7039286 Z" id="Fill-1" fill="#F9A534"></path>
                    <path d="M12.5491429,0 C11.7759286,0 11.0787857,0.466071429 10.7834286,1.18035714 C10.4877143,1.89535714 10.6523571,2.71785714 11.2005714,3.26392857 L12.9580714,5.01428571 L7.52378571,10.4271429 C7.16378571,10.7857143 6.96128571,11.2725 6.96128571,11.7803571 C6.96128571,12.2882143 7.16378571,12.7753571 7.52378571,13.1335714 L11.8316429,17.4253571 C12.2045,17.7967857 12.6923571,17.9825 13.1805714,17.9825 C13.6684286,17.9825 14.1562857,17.7967857 14.5291429,17.4253571 L19.9730714,12.0021429 L21.7402143,13.7628571 C22.1059286,14.1267857 22.5934286,14.32 23.0898571,14.32 C23.3366429,14.32 23.5859286,14.2717857 23.8230714,14.1732143 C24.5366429,13.8764286 25.0009286,13.1792857 24.999859,12.4067857 L24.9848571,1.91428571 C24.9834286,0.860714286 24.1291429,0.0075 23.0755714,0.00678571429 L12.5502143,0 L12.5491429,0 Z M12.5491429,1.91035714 L23.0741429,1.91714286 L23.0891429,12.4092857 L19.9730714,9.30571429 L13.1805714,16.0717857 L8.87235714,11.7803571 L15.6652143,5.01428571 L12.5491429,1.91035714 L12.5491429,1.91035714 Z" id="Fill-5" fill="#46266A"></path>
                </g>
            </g>
        </g>
    </g>
</svg>