<?xml version="1.0" encoding="UTF-8"?>
<svg width="23.076448px" height="21.0000002px" viewBox="0 0 23.076448 21.0000002" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Rectangle</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
        <g id="Lower3rd-_Web_NeutralState" transform="translate(-116.6562, -6934)" stroke="#757575" stroke-width="2">
            <polygon id="Rectangle" points="128.067799 6935 138.730738 6947.63257 132.085962 6947.63257 132.085962 6954 123.960311 6954 123.960311 6947.63257 117.658113 6947.63257"></polygon>
        </g>
    </g>
</svg>