<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155.4 155.4">
    <defs>
        <style>
            .cls-1{fill:#000000;fill-opacity:.5;}.cls-2{fill:#fff;fill-opacity:.5;}.cls-2,.cls-3{stroke:#000000;stroke-miterlimit:10;}.cls-3{fill:none;stroke-width:5px;stroke-opacity:.2;}
        </style>
    </defs>
    <title>Email_hover</title>
    <circle class="cls-1" cx="77.7" cy="77.7" r="77.7"/>
    <rect class="cls-2" x="21.01" y="49.52" width="113.38" height="60.6"/>
    <line class="cls-3" x1="17.47" y1="48.54" x2="79.83" y2="84.55"/>
    <line class="cls-3" x1="141.14" y1="48.45" x2="77.37" y2="84.64"/>
</svg>
