<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Unsubscribe</title>
    <g id="Unsubscribe" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="32" height="32"></rect>
        <g id="Group" transform="translate(3.487806, 8.605760)" stroke="#46166B" stroke-width="0.5">
            <path d="M24.7673188,0.25 L24.7742658,14.5384798 L0.250290891,14.5384798 L0.266906768,0.25 L24.7673188,0.25 Z" id="Rectangle"></path>
            <line x1="0.718810044" y1="0.364061556" x2="10.2078566" y2="7.13147016" id="Line" stroke-linecap="square"></line>
            <line x1="14.9851015" y1="0.38388936" x2="24.474148" y2="7.15129796" id="Line" stroke-linecap="square" transform="translate(19.780421, 3.747766) scale(-1, 1) translate(-19.780421, -3.747766) "></line>
            <line x1="0.718810044" y1="7.36406156" x2="10.2078566" y2="14.1314702" id="Line" stroke-linecap="square" transform="translate(5.514130, 10.727938) scale(1, -1) translate(-5.514130, -10.727938) "></line>
            <line x1="14.9851015" y1="7.38388936" x2="24.474148" y2="14.151298" id="Line" stroke-linecap="square" transform="translate(19.780421, 10.747766) scale(-1, -1) translate(-19.780421, -10.747766) "></line>
            <line x1="10.5094913" y1="7.23844237" x2="14.7852315" y2="7.23844237" id="Line-2" stroke-linecap="square"></line>
        </g>
    </g>
</svg>