<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>Group 6</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-523.000000, -287.000000)" fill="#FFFFFF" id="Group-6">
            <g transform="translate(523.000000, 287.000000)">
                <path d="M16.077,19.139 C17.776,19.139 19.154,17.765 19.154,16.069 C19.154,14.374 17.776,13 16.077,13 C14.378,13 13,14.374 13,16.069 C13,17.765 14.378,19.139 16.077,19.139" id="Fill-202"></path>
                <path d="M19.448,13.051 L21.611,13.051 C21.858,13.051 22.059,12.851 22.059,12.605 L22.059,10.446 C22.059,10.2 21.858,10 21.611,10 L19.448,10 C19.201,10 19,10.2 19,10.446 L19,12.605 C19,12.851 19.201,13.051 19.448,13.051" id="Fill-203"></path>
                <path d="M24,22.102 C24,23.15 23.149,24 22.098,24 L9.902,24 C8.852,24 8,23.15 8,22.102 L8,9.897 C8,8.849 8.852,8 9.902,8 L22.098,8 C23.149,8 24,8.849 24,9.897 L24,22.102 Z M16,0 C7.163,0 0,7.163 0,16 C0,24.836 7.163,32 16,32 C24.837,32 32,24.836 32,16 C32,7.163 24.837,0 16,0 L16,0 Z" id="Fill-204"></path>
                <path d="M15.4959564,15.0644802 C15.4959564,17.2838054 14.4109796,19.0902714 13.077,19.0902714 C11.7430204,19.0902714 10.6580436,17.2838054 10.6580436,15.0644802 C10.6580436,14.6963889 10.6878643,14.3390751 10.7440267,14 L10,14 L10,19.7684216 C10,19.9731931 10.0994024,20.139 10.2221643,20.139 L15.9313387,20.139 C16.0545976,20.139 16.154,19.9731931 16.154,19.7684216 L16.154,14 L15.4099733,14 C15.4661357,14.3390751 15.4959564,14.6963889 15.4959564,15.0644802" id="Fill-205"></path>
            </g>
        </g>
    </g>
</svg>