<?xml version="1.0" encoding="UTF-8"?>
<svg width="58px" height="57px" viewBox="0 0 58 57" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>Group 3</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="57.466 56.9747 57.466 0.1817 0.6732 0.1817 0.6732 56.9747"></polygon>
    </defs>
    <g id="Global" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons" transform="translate(-768.000000, -250.000000)">
            <g id="Column-3-Copy" transform="translate(763.000000, 49.000000)">
                <g id="Social-Media" transform="translate(1.000000, 200.895000)">
                    <g id="Group-3" transform="translate(4.000000, 0.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M36.1162,17.5937 L33.0182,17.5937 C30.5922,17.5937 30.1282,18.7417 30.1282,20.4337 L30.1282,24.1637 L35.9102,24.1637 L35.1612,30.0107 L30.1282,30.0107 L30.1282,45.0227 L24.0882,45.0227 L24.0882,30.0237 L19.0402,30.0237 L19.0402,24.1767 L24.0882,24.1767 L24.0882,19.8647 C24.0882,14.8577 27.1462,12.1207 31.5982,12.1207 C33.1032,12.1157 34.6072,12.1957 36.1042,12.3537 L36.1042,17.5797 L36.1162,17.5937 Z M29.0682,0.1817 C13.3862,0.1817 0.6732,12.8957 0.6732,28.5777 C0.6732,44.2607 13.3862,56.9747 29.0682,56.9747 C44.7522,56.9747 57.4662,44.2607 57.4662,28.5777 C57.4662,12.8957 44.7522,0.1817 29.0682,0.1817 Z"
                              id="Fill-1" fill="#9073A6" mask="url(#mask-2)"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
