@font-face {
  font-family: PanelsIPEIcon;
  src: url(../fonts/ipeicons.woff);
}

.ipe-actions {
  min-height: 20px;
  border-radius: 5px 5px 0 0;
  background-color: $gray-7;
  padding: 5px;
  margin-top: 1px;
  clear: both;
  flex-flow: row wrap;
  margin-bottom: 14px;
  border-bottom: dotted 1px $gray-64;

  h5 {
    flex-basis: 100%;
    margin-bottom: 0;
    padding: 8px 5px 0;
    text-transform: none;
  }

  .ipe-action-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ipe-icon {
    display: inline-block;
    vertical-align: middle;
    font-family: PanelsIPEIcon;
    font-size: 24px;
  }

  .ipe-action-list .ipe-icon {
    height: 24px;
    margin-top: -10px;
    display: block;
  }

  .ipe-action-list li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 5px 2px;
  }

  .ipe-actions a {
    color: #737373;
  }

  .ipe-action-list .ipe-icon {
    height: auto;
    margin: 0;
    font-size: 20px;
  }

  .ipe-icon.ipe-icon-remove:before {
    content: "\e90c";
  }

  .ipe-icon.ipe-icon-up:before {
    content: "\e900";
  }

  .ipe-icon.ipe-icon-down:before {
    content: "\e901";
  }

  .ipe-icon.ipe-icon-configure:before {
    content: "\e909";
  }

  .ipe-icon.ipe-icon-edit:before {
    content: "\e904";
  }

  .ipe-action-list [data-action-id="move"] option {
    font-size: 14px;
  }
}
