<dt>
  {% if contentWithLabel.dt.link %}
    {% set link = contentWithLabel.dt.link %}
    {% include '@atoms/link/link.twig' %}
  {% else %}
    {{ contentWithLabel.dt }}
  {% endif %}
  {% if contentWithLabel.gated %}
    <span class="as-gated"></span>
  {% endif %}
</dt>
<dd>
  {% if contentWithLabel.dd.link %}
    {% set link = contentWithLabel.dd.link %}
    {% include '@atoms/link/link.twig' %}
  {% elseif contentWithLabel.dd is iterable %}
    {% for dd in contentWithLabel.dd %}
      <span>{{ dd.title }}</span>
    {% endfor %}
  {% else %}
    {{ contentWithLabel.dd }}
  {% endif %}
  {% if contentWithLabel.gated %}
    <span class="as-gated">{{ contentWithLabel.gated }}</span>
  {% endif %}
</dd>
