<div class="ama__form-group ama__checkboxes">
  {% for checkbox in checkboxes.checks %}
    {% set checkbox, index = checkbox, loop.index %}
    {% include '@atoms/forms/checkbox.twig' %}
  {% endfor %}
</div>
