.ama__bio-image-with-body {
  display: flex;
  flex-direction: column;

  &__image {
    min-width: 280px;
  }

  &__copy {
    flex-grow: 1;
  }

  @include breakpoint($bp-small min-width) {
    flex-direction: row;

    &__copy {
      @include gutter($margin-left-full...);
    }
  }
}
