<div class="ama__podcast-player">

  <div class="ama__podcast-player__episode_info">

  {% include '@atoms/heading/heading.twig' with { heading : podcastPlayer.podcastTitle } %}

  <div class="podcast-container">
    <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless="" src="https://player.simplecast.com/f256bf1e-4424-4502-ae3d-05ac1d07bed9?dark=false"></iframe>
  </div>

    {% if podcastPlayer.heading %}
      {% set heading = podcastPlayer.heading %}
      {% include "@atoms/heading/heading.twig" %}
    {% endif %}

    {% set paragraph = podcastPlayer.paragraph %}
    {% include "@atoms/paragraph.twig" %}
  </div>

  {% include "@atoms/image/image.twig"  with { 'class': 'ama__placeholder-image' } %}
</div>
{% set podcast_class = podcastPlayer.podcastLinks.class %}
{% if podcastPlayer.podcastLinks.oddLinks %}
  <ul class="ama__podcast-player__links odd_links">
{% else %}
  <ul class="ama__podcast-player__links">
{% endif %}
  {% for podcastlink in podcastPlayer.podcastLinks.links %}
    {% if podcastlink is not empty %}
    <li>
      {% include "@atoms/podcast-link.twig" %}
    </li>
    {% endif %}
  {% endfor %}
</ul>