body.ama__abstract {
  #block-ama-one-content {
    background-color: $gray-4;
  }
  .layout--ama-page-section-one-col {
    &.bg-purple {
      background: $purple-gradient;
      padding: 63px 0;
      margin-bottom: 63px;
      color: white;
    }
    .abstract-category-breadcrumb {
      display: inline-flex;
      a {
        color: $gating-block-blue;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $font-weight-bold;
        letter-spacing: 1.12px;
      }

      &:after {
        content: url(../icons/svg/icon-vertical-line.svg);
      }
    }
    .abstract-topic-breadcrumb {
      display: inline-flex;
      ul.shs {
        display: flex;
        li {
          display: flex;
          color: $gating-block-blue;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: $font-weight-bold;
          letter-spacing: 1.12px;
          &:after {
            content: url(../icons/svg/icon-vertical-line.svg);
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }

      }
    }
    .abstract-author-wrapper {
      display: flex;
      .abstract-author {
        display: flex;
        padding-right: 5px;
        &:after {
          content: ", ";
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
