body.ama__abstract {
  #block-ama-one-content {
    background-color: $gray-4;
  }
  .layout--ama-page-section-one-col {
    &.abstract-hero {
      margin-bottom: 63px;
    }

    .abstract-category-breadcrumb {
      white-space: break-spaces;
      padding-right: 35px;
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      @include breakpoint($bp-small) {
        margin-bottom: 7px;
      }
      a {
        color: $gating-block-blue;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $font-weight-bold;
        letter-spacing: 0.8px;
        &:focus {
          outline: 2px solid $blue;
          outline-offset: 5px;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &:after {
        content: url(../icons/svg/icon-vertical-line.svg);
        position: absolute;
        height: 20px;
        width: 24px;
        top: 3px;
        right: 4px;
      }
    }
    .abstract-topic-breadcrumb {
      display: inline-block;
      a {
        &:focus {
          ul.shs li {
            outline: 2px solid $blue;
            outline-offset: 5px;
            text-decoration: none;
          }
        }
        &:hover {
          ul.shs li {
            text-decoration: underline;
          }
        }
      }
      ul.shs {
        display: flex;
        li {
          @include breakpoint($bp-small) {
            margin-bottom: 7px;
          }
          margin-bottom: 18px;
          white-space: break-spaces;
          color: $gating-block-blue;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: $font-weight-bold;
          letter-spacing: 0.8px;
          padding-right: 35px;
          &:after {
            content: url(../icons/svg/icon-vertical-line.svg);
            position: absolute;
            height: 20px;
            width: 24px;
            top: 3px;
            right: 4px;
          }
          &:last-child {
            padding-right: 0;
            &:after {
              content: none;
            }
          }
        }

      }
    }
    .abstract-author-wrapper {
      font-family: $kepler-std, serif;
      font-size: 16px;
      color: $white;
      line-height: 20px;
      font-weight: $font-weight-light;
      margin-bottom: 7px;
      display: flex;
      @include breakpoint($bp-small) {
        line-height: 24px;
      }
      .abstract-author {
        display: flex;
        padding-right: 5px;
        &:after {
          content: ", ";
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  .card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

    .card-title {
      order: 1;
      flex-basis: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      @include breakpoint($bp-small) {
        flex: 1 1 auto;
      }
    }

    .card-embed {
      order: 2;
      flex-basis: 100%;
      @include breakpoint($bp-small) {
        order: 3;
        flex-basis: 100%;
      }
    }

    .card-fullscreen-btn {
      order: 3;
      flex-basis: 100%;
      @include breakpoint($bp-small) {
        order: 2;
        flex: 0 0 auto;
      }
    }

  }

  .gated-article {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0.5) 20%, rgb(255, 255, 255) 80%);
      }
    .abstract-category-breadcrumb {
      .card-container {
        margin-top: 56px;
        position: absolute;
        top: 164px;
        z-index: 999;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
      }
    }
  }
}
#views-exposed-form-research-challenge-listing-block-with-filters-block-1,
#views-exposed-form-research-challenge-listing-page-1 {
  max-width: 960px;
  margin: 0 auto;
  padding: 21px;
  background: $white;
  border-radius: 8px;
  border: 1px solid $divider-line-gray;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10);
  position: static;
  margin-top: -65px;
}

fieldset#edit-topic--2--wrapper {
  display: inline-block;
}

.abstract-filter-wrapper {
  position: relative;

  .form-item-topic-search {
    margin: 0 !important; 
    position: relative;
    input[name='topic-search'],
    #edit-topic-search--2 {
      border: none;
      border-radius: 100px;
      font-size: 16px;
      line-height: 1;
      padding: 11px 21px;
    }
  }

  .form-composite {
    margin: 0 !important;
  }

  .abstract-additional-filters {
    // display: inline-block;
    display: block;
    position: absolute;
    bottom: 0;
    left: 104px;  

    .filters-container {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
      margin-left: 12px;
    }

    .button-pill-primary {
      padding: 14px 36px 14px 14px;
      text-transform: capitalize;
      height: unset;
      border: 1px solid $divider-line-gray;
      margin-right: 0;

      &.hidden {
        display: none;
      }

      .ui-checkboxradio-icon,
      .ui-checkboxradio-icon-space {
        display: none;
      }

      &:hover {
        border: 1px solid $divider-line-gray;
        background-color: $gray-4;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
        color: initial;
        font-weight: 600;
      }

      &:after {         
        content: '';
        background-image: url('../icons/svg/icon-close.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
        height: 10px;
        width: 10px;
        position: absolute;
        right: 16px;
        top: 16px;
        display: block;
      }
    }
  }
  .abstract-topics-wrapper {
    height: 44px;
    padding: 0 16px;
    border: 1px solid $divider-line-gray;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
    &:before {         
      content: '';
      background-image: url('../icons/svg/icon-sliders-horizontal.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      height: 24px;
      width: 24px;
      display: block;
      position: absolute;
      left: 16px;
      top: 10px;
    }

    &.active {
      background-color: $gray-4;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
    }

    .abstract-topics-filter-button {
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      height: 44px;
      display: flex;
      align-items: center;
      color: $gray-64;
      > span {
        padding: 15px 0 15px 34px;
        display: block;
        z-index: 2;
      }
    }

    .abstract-topics-checkboxes {
      position: absolute;
      top: 50px;
      left: -23px;
      z-index: 99;
      display: flex;
      padding: 21px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 8px;
      border: 1px solid #E4E3E6;
      background: #FFF;
      width: 470px;
      @include breakpoint($bp-small) {
        left: -8px;
        width: 390px;
      }

      &.hidden {
        display: none;
      }

      .filter-title {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px; /* 120% */
        padding-bottom: 28px;
      }

      .form-item {
        margin-bottom: 14px;
        label {
          color: $black;
          font-family: $kepler-std;
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;
          text-transform: capitalize;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .ama__checkbox .ui-checkboxradio-label .ui-icon-background {
        margin-right: 14px;
      }
    }
  }
  .abstract-topic-search-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid #E4E3E6;
      border-radius: 100px;
      margin-bottom: 16px;

        .form-item-topic-search {
          flex-grow: 1;
          @include breakpoint($bp-small max-width) { 
            margin: 0px;
          }
        }

        input[name='abstract-topic-search'] {
          margin-right: 25px;;
        }
        input[type="text"]{
          padding: 16px 14px;
          background-image: none;
          border: none;
          font-size: 16px;
          line-height: 1;
          flex-grow: 1;

          @include breakpoint($bp-small) {
            display: block;
          }

          &:active {
            color: $black;
            font-style: normal;
            border: none;
          }

          &:focus {
            border: none;
          }
        }

        input[type="submit"] {
          background-size: 24px 24px;
          background-color: $white;
          background-position: center;
          background-image: url(../icons/svg/icon-search-purple.svg);
          background-repeat: no-repeat;
          padding: 0;
          outline: none;
          overflow: hidden;
          position: relative;
          text-indent: -999px;
          border: none;
          border-radius: 0;
          min-height: 24px;
          max-height: 24px;
          min-width: 24px;
          max-width: 24px;
          height: 24px;
          width: 24px;
        }
  }
  .form-actions {
    display: none;
  }
}

body.ama__abstract {
  .layout--ama-page-section-one-col {
    h1 {
      margin-bottom: 21px;
    }
  }
}
.paragraph--type--abstract-author {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  span.abstract-author-name {
    display: flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
      flex-direction: row;
      flex-grow: 0;
    }
    &::after {
      content: ',';
      margin-right: 5px;
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}
#abstract-no-results {
  margin-top: 45px;
}
