body.ama__abstract {
  #block-ama-one-content {
    background-color: $gray-4;
  }
  .layout--ama-page-section-one-col {
    &.bg-purple {
      background: $purple-gradient;
      padding: 63px 0;
      
      margin-bottom: 63px;
    }
  }
}
