.ama__application {
  .app_description {
    @include type($myriad-pro, $font-weight-regular);
    font-size: 18px;
    line-height: 27px;
    @include breakpoint($bp-med) {
      max-width: 880px;
    }
  }
  .app_article {
    margin-top: 28px;
    @include breakpoint($bp-med) {
      h1 {
        line-height: 1.16;
        font-weight: $font-weight-bold;
      }
    }
  }
}
