.ama__application {
  .app_description {
    @include type($myriad-pro, $font-weight-regular);
    font-size: 18px;
    line-height: 27px;
    @include breakpoint($bp-med) {
      max-width: 880px;
    }
  }
  .app_article {
    margin-top: $gutter;
  }
}
