// Bookmark teaser styling
.ama_book_mark {
  border-bottom: solid 1px $gray-20;
  @include breakpoint($bp-med) {
    display: flex;
    flex-direction: row-reverse;
  }
  .ama_bookmark_left {
    border-bottom: none;
  }
  .ama_bookmark_right {
    padding: $gutter 0;
  }
}