.ama__category {

  &__row {
    padding: $gutter 0;
    border-top: solid 2px $gray-50;

    .container {
      padding: 0;
    }
  }

  &__row--no-mobile-padding {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }

  &__row--no-border {
    border: 0;
    padding: 0;
  }

  &__row--hidden-mobile {
    @include breakpoint($bp-small max-width) {
      display: none;
    }
  }

  .ama__masthead {
    margin-bottom: $gutter / 4;
    padding: 0;
  }

  .ama__h1 {
    text-transform: uppercase;
  }

  .ama__tools {
    padding: 0;
  }

  .ama__membership {
    margin: $gutter 0;
  }

  .ama__layout--split__right .ama__article-stub--category {
    padding: 0 ($gutter / 2);
  }

  &__article-stub-three-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
  }
}
