.ama__category {
  &__row--no-mobile-padding {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }

  .ama__masthead {
    margin-bottom: $gutter / 4;
    padding: 0;
  }

  .ama__h1 {
    text-transform: uppercase;
  }

  .ama__tools {
    padding: 0;
  }

  .ama__membership {
    margin: $gutter 0;
  }
}
