.ama__category {
  .ama__masthead {
    @include breakpoint($bp-small max-width) {
      margin-bottom: $gutter / 4;
    }

    padding: 0;
  }

  .ama__h1 {
    text-transform: uppercase;
  }

  .ama__tools {
    padding: 0;
  }
}
