.ama__dr-finder .ama__h1 {
  font-weight: normal;
}

.ama__dr-finder.profile .ama__h1 {
  padding-bottom: $gutter * 2;
  border-bottom: 1px solid $purple;
}

.ama__dr-finder.homepage .ama__h1 {
  padding: 0;
  margin: 0;
  border: none;
  color: $purple;
}
