/* Frieda custom stuff */
.frieda {
  .paragraph--type--wysiwyg-2-column {
    @include breakpoint($bp-med) {
      display: flex;

      > * {
        flex: 50%;
      }
    }
  }

  .ama__tabs {
    .ama__image--right {
      float: none;
    }

    figure.align-right {
      @include gutter($margin-left-half...);
      float: right;
    }

    figure.align-left {
      @include gutter($margin-right-half...);
      float: left;
    }

    figure.align-center {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
