/*  Glossary Page Styles. */

.ama__glossary-page {
  .ama__h1 {
    margin-bottom: 21px;
  }
  .ama__subtitle {
    font-size: 18px;
    font-weight: normal;
  }
  .glossary-view {
    padding-bottom: 30px;
    margin-bottom: 28px;
    border-bottom: 4px solid $purple;

    /*  Alphabetical Filters List */
    #views-exposed-form-glossary-terms-topic-term-glossary {
      max-width: 100%;
      padding-bottom: 8px;
      border-bottom: 1px solid #b4b4b4;
      margin-bottom: 28px;
      div#edit-name--2 {
        overflow:hidden;
        width:85vw;
        overflow-x: scroll;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: $purple;
        &::-webkit-scrollbar {
          width: 14px;
        }

        &::-webkit-scrollbar-track {
          background: #ece7f0;
          border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $purple;
          border-radius: 20px;
        }
        @include breakpoint($bp-med) {
          width: auto;
          overflow: auto;
          overflow-x: auto;
        }
      }

      div[name="name"] {
        //overflow: scroll-x;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          @include breakpoint($bp-med) {
            flex-wrap: wrap;
          }
          li {
            margin-right: 15px;
            margin-bottom: 15px;
            text-align: center;

            &:first-child {
              display: none;
            }

            &:last-child {
              margin-right: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              background: $white;
              border: 1px solid $purple;
              display: block;
              width: 50px;
              height: 50px;
              color: $purple;
              font-size: 32px;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }

              &.bef-link--selected {
                background: #46166b;
                color: $white;

                &:hover {
                  background: #46166b;
                  color: $white;
                }
              }

              &:hover {
                background-color: #a28ab5;
                color: $purple;
              }
            }
          }
        }
      }
    }

    /* Search Box */
    .searchbar-wrapper {
      
      .searchbar-inner {

        position: relative;
        margin-bottom: 28px;
        margin-left: 10px;
        margin-right: 10px;
        @include breakpoint($bp-small) {
          margin-left: 65px;
          margin-right: 89px;
        }

        &::after {
          display: block;
          visibility: visible;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 7px;
          height: 25px;
          width: 25px;
          background-color: $purple;
          content: url("../icons/svg/icon-search-white.svg");
        }
      }

      #edit-search--2 {
        border: 1px solid $purple;
        padding: 5px 10px;

        &::placeholder {
          font-style: italic;
        }
      }
    }
    /*  Term Results Display */
    h3 {
      font-size: 38px;
    }
    .output-wrapper {
      column-count: 1;
      column-width: auto;
      column-gap: none;
      margin-bottom: 50px;
      @include breakpoint($bp-med) {
        column-count: 2;
        column-gap: 10%;
      }
      .grouping-row {
        a {
          color: $purple;
          font-size: 18px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    /* pager */
    nav {
      text-align: center;
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          color: $purple;
          a {
            color: $purple;
            text-decoration: none;
          }
        }
      }
    }
  }

  .description {
    padding: 28px 0 14px;
    border-bottom: 1px solid #b4b4b4;
    margin-bottom: 28px;
  }

  .ama__75-25__masthead {
    grid-template-columns: 1fr;
    @include breakpoint($bp-large) {
      grid-template-columns: 3fr 1fr;
    }
    .heading-left {
      margin-right: 0;
      border-bottom: 1px solid #b4b4b4;
      padding-top: 21px;
    }
  }
  .ama__layout--two-col-right--75-25 {
    grid-template-columns: 1fr;
    @include breakpoint($bp-large) {
      grid-template-columns: 3fr 1fr;
    }
    .ama__layout--two-col-right--75-25__right {
      display: none;
      @include breakpoint($bp-large) {
        display: block;
      }
    }
  }


  /* Curated Topics Block */
  h2.curated-topics-header {
    font-weight: $font-weight-bold;
    margin-bottom:$gutter;
  }
  .curated-topics {
    .topic-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      a {
        background-color: $white;
        border: 1px solid $purple;
        border-radius: 30px;
        display: inline-block;
        padding: 6px 18px;
        font-size: 14px;
        margin-right: 12px;
        margin-bottom: 14px;
        text-decoration: none;
        color: $black;
        &:hover {
          background: $purple;
          color: $white;
          text-decoration: none;
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
      }
      .label {
        flex-basis: 100%;
      }
    }
  }
}
