.ama__homepage {

  .ama__layout--one-column__content-top {
    display: none;
  }

  .ama__layout--split__left, .ama__layout--split__right {
    .ama__four-up-teaser {
      margin: $gutter-mobile auto 0px;

      .ama__h5--purple--homepage {
        margin-bottom: calc($gutter/2);
      }
    }
  }

  .ama__layout--split__right {
    border-left: none;

    .ama__category__article-stub-two-up {
      & + .ama__category__article-stub-two-up {
        @include breakpoint($bp-small) {
          border-top: solid $gray-20 1px;
        }
      }
      .ama__article-stub {
        margin-bottom: calc($gutter-mobile/2);
      }
    }
  }

  @include breakpoint($bp-small) {
    .ama__layout--one-column__content-top {
      display: block;
    }
  }

  &__navs {
    display: none;

    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
      border-bottom: .5px solid $purple;
      justify-content: space-between;
      padding: 0 40px;
      padding-top: 10px;
    }
    @include breakpoint($bp-large) {
      padding: 0;
      padding-top: 10px;
    }
    @media screen and (min-width: 900px) and (max-width: 992px){
      padding: 0 20px;
      padding-top: 10px;

      .ama__org-nav {
        flex-shrink: 1.2;

        ul {
          display: block;
          text-align: left;
        }
      }

      ul {
        justify-content: flex-start;
      }

    }
  }

  .ama__subscribe-promo--wide {
    @include gutter($margin-bottom-full...);
    @include gutter($margin-top-full...);
  }

  &__promos {
    @include gutter($margin-bottom-full...);
    @include gutter($margin-top-full...);

    @include breakpoint($bp-small) {
      display: flex;
      align-items: center;
    }

    @include breakpoint($bp-med) {
      .ama__promo--homepage {
        flex-basis: 50%;

        &:last-child {
          margin-left: -5%;
          flex: 0 0 50%;
          max-width: 50%;

          button {
            // Button should have a min width so that buttons with small words do not feel cramped
            min-width: 150px;
          }
        }
      }
    }
  }

  &__stubs {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);

    .ama__article-stub {
      @include gutter($margin-bottom-half...);
      @include gutter($padding-bottom-half...);
      @include breakpoint($bp-small) {
        @include gutter($margin-bottom-full...);
        @include gutter($padding-bottom-full...);
      }
    }

    .ama__article-stub--image {
      width: 100%;

      h4.ama__h4 {
        font-size: 14px;
        color: $gray-64;
        margin-bottom: 7px;
        text-transform: uppercase;
      }
    }

    @include breakpoint($bp-small) {
      @include gutter($margin-bottom-full...);
      @include gutter($margin-top-full...);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .ama__article-stub {
        grid-row: 2;
        position: relative;
        height: auto;
        border-bottom: 0;
        padding-bottom: 0;

        &:not(:first-child) {
          .ama__image {
            display: block;
            margin-bottom: 14px;
          }
        }
      }

      .ama__article-stub:nth-child(2) {
        grid-column: 1;
      }

      .ama__article-stub:nth-child(3) {
        grid-column: 2;
        justify-self: center;
      }

      .ama__article-stub:nth-child(4) {
        grid-column: 3;
        justify-self: end;
      }

      .ama__article-stub:first-of-type {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        margin: 0 0 21px 0;
        padding-bottom: 21px;
        border-bottom: 1px solid $gray-7;
      }

      .ama__article-stub--image {
        grid-row: 2;
        width: 96%;
      }
    }
  }

  //Layout builder styling
  &__stubs.trending.layout-builder-block {
    @include breakpoint($bp-small) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .ama__article-stub:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        margin: 0 0 21px 0;
        padding-bottom: 21px;
        border-bottom: 1px solid $gray-7;
        height: unset;
      }

      .ama__article-stub:nth-child(3) {
        grid-column: 1;
      }

      .ama__article-stub:nth-child(4) {
        grid-column: 2;
        justify-self: center;
      }

      .ama__article-stub:nth-child(5) {
        grid-column: 3;
        justify-self: end;
      }
    }

    @include breakpoint($bp-med) {
      .ama__article-stub:nth-child(3) {
        height: 270px;
      }
    }
  }

  &__trending {
    margin-bottom: 21px;
    @include breakpoint($bp-small) {
      margin-bottom: 35px;
    }
    @include breakpoint($bp-med) {
      margin-bottom: 45px;
    }
  }

  // Override for article stub w/ trending block
  .stublist_block {
    @include breakpoint($bp-med)  {
      display: grid;
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
    }

    .ama__four-up-teaser {
      @include breakpoint($bp-small) {
        flex-direction: column;
      }
      .ama__article-stub {
        padding: 0;
      }
    }

    #block-views-block-trending-listings-trending-listings-block-vertical {
      margin: 21px auto;
      @include breakpoint($bp-med) {
        padding-left: 14px;
      }
    }
  }

  //homepage-with-vertical-trending styling
  &__stubs.trending {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .ama__homepage__trending {
      grid-column: span 12;
      grid-row: 3;
    }
    @include breakpoint($bp-small) {
      .ama__homepage__trending {
        margin-left: 10px;
        grid-column: 4;
        grid-row: 1/4;
      }
    }
    @include breakpoint($bp-med) {
      .ama__article-stub:nth-child(2) {
        height: 270px;
      }
    }
    @include breakpoint($bp-large) {
      .ama__homepage__trending {
        margin-left: 20px;
      }
      grid-template-columns: 285px 285px 285px 285px;
      .ama__hero-video-info,
      .ama__hero-video .ama__article-stub__copy {
        max-width: 280px;
        width: 31%;
      }
    }
  }

  .ama__jama__title {
    display: none;
  }

  &__section-title {
    @include gutter($margin-bottom-full...);

    @include breakpoint($bp-med) {
      margin-bottom: 0;
    }
  }

  &__mission-header {
    color: $purple;
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
  }

  // Do some ugly things for go/no-go launch fixes.
  // Set the split container to initial padding from _grid.scss
  .ama__layout--split {
    &.container {
      @include breakpoint($bp-small max-width) {
        padding: 0 15px;
      }
    }
  }
}
