.ama__homepage {

  .ama__layout--one-column__content-top {
    display: none;
  }

  .ama__layout--split__left, .ama__layout--split__right {
    .ama__four-up-teaser {
      margin: $gutter-mobile auto 0px;

      .ama__h5--purple--homepage {
        margin-bottom: $gutter/2;
      }
    }
  }

  .ama__layout--split__right {
    border-left: none;

    .ama__category__article-stub-two-up {
      & + .ama__category__article-stub-two-up {
        @include breakpoint($bp-small) {
          border-top: solid $gray-20 1px;
        }
      }
      .ama__article-stub {
        margin-bottom: $gutter-mobile/2;
      }
    }
  }

  @include breakpoint($bp-small) {
    .ama__layout--one-column__content-top {
      display: block;
    }
  }

  &__navs {
    display: none;

    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $gray-7;
      justify-content: space-between;
    }
  }

  .ama__subscribe-promo--wide {
    @include gutter($margin-bottom-full...);
    @include gutter($margin-top-full...);
  }

  &__promos {
    @include gutter($margin-bottom-full...);
    @include gutter($margin-top-full...);

    @include breakpoint($bp-small) {
      display: flex;
      align-items: center;
    }

    @include breakpoint($bp-med) {
      .ama__promo--homepage {
        flex-basis: 50%;

        &:last-child {
          margin-left: -5%;
          flex: 0 0 50%;
          max-width: 50%;

          button {
            // Button should have a min width so that buttons with small words do not feel cramped
            min-width: 150px;
          }
        }
      }
    }
  }

  &__stubs {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);

    .ama__article-stub {
      @include gutter($margin-bottom-full...);
      @include gutter($padding-bottom-full...);
      border-bottom: 1px solid $gray-7;

      &:not(:first-child) {
        .ama__image {
          display: none;
        }
      }
    }

    @include breakpoint($bp-small) {
      @include gutter($margin-bottom-full...);
      @include gutter($margin-top-full...);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .ama__article-stub {
        grid-row: 2;
        margin-left: 15px;
        position: relative;
        height: auto;
        border-bottom: 0;
        padding-bottom: 0;

        &:nth-last-child(2):before {
          content: "";
          border-top: 1px solid $gray-7;
          position: absolute;
          top: -28px;
          width: 200%;
        }

        &:not(:first-child) {
          .ama__image {
            display: block;
          }
        }
      }

      .ama__article-stub--image {
        grid-row: 1;
      }

      .ama__article-stub:nth-child(even) {
        grid-column: 3;
      }

      .ama__article-stub:nth-child(odd) {
        grid-column: 4;
      }

      .ama__article-stub:first-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
      }
    }
  }

  &__trending {
    margin-bottom: 21px;
    @include breakpoint($bp-small) {
      margin-bottom: 35px;
    }
    @include breakpoint($bp-med) {
      margin-bottom: 45px;
    }
  }

  // Override for article stub w/ trending block
  .stublist_block {
    @include breakpoint($bp-med)  {
      display: grid;
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
    }

    .ama__four-up-teaser {
      @include breakpoint($bp-small) {
        flex-direction: column;
      }
      .ama__article-stub {
        padding: 0;
      }
    }

    #block-views-block-trending-trending-block-vertical {
      margin: 21px auto;
      @include breakpoint($bp-med) {
        padding-left: 14px;
      }
    }
  }

  //homepage-with-vertical-trending styling
  &__stubs.trending {
    @include breakpoint($bp-small) {
      grid-template-rows: 31% auto 49%;
      .ama__article-stub:nth-child(3) {
        grid-column: 3;
        grid-row: 2;
      }
      .ama__homepage__trending {
        grid-column: span 12;
        grid-row: 3;
      }
    }
    @include breakpoint($bp-med) {
      .ama__article-stub:nth-child(2) {
        height: 270px;
      }

      .ama__homepage__trending {
        margin-left: 20px;
        grid-column: 4;
        grid-row: 1;
      }
    }
    @include breakpoint($bp-large) {
      grid-template-rows: 54% auto 20%;
    }

    .ama__article-stub:nth-child(4),
    .ama__article-stub:nth-child(5) {
      display: none;
    }
  }

  .ama__jama__title {
    display: none;
  }

  &__section-title {
    @include gutter($margin-bottom-full...);

    @include breakpoint($bp-med) {
      margin-bottom: 0;
    }
  }

  &__mission-header {
    color: $purple;
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
  }

  // Do some ugly things for go/no-go launch fixes.
  // Set the split container to initial padding from _grid.scss
  .ama__layout--split {
    &.container {
      @include breakpoint($bp-small max-width) {
        padding: 0 15px;
      }
    }
  }
}
