.ama__hub,
.hub-container {
  .ama__hub-banner {
    background: $purple;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include breakpoint($bp-med) {
      height: 109px;
      flex-direction: row;
    }

    a.hub_banner_link {
      display: block;
      color: $purple;
      min-width: 380px;
      height: 51px;
      line-height: 51px;
      text-decoration: none;
      text-align: center;
      &:first-of-type {
        background: $complementary;
        margin-bottom: 17px;
        @include breakpoint($bp-med) {
          margin-right: 11px;
          margin-bottom: 0;
        }
      }
      &:last-of-type {
        background: $white;
      }
      &:hover,
      &:focus {
        color: $gray-64;
        background: $hoverComplementary;
      }
    }
  }
}

// Styleguide only
.hub-container {
  .ama__layout--one-column.container {
    max-width: 1440px;
    width: 100%;
  }
}