.ama__news {
  hr {
    margin: 20px 0;
    background-color: $gray-40;
    border: 0;
    height: 2px;
  }
}

.ama__news-article {
  //give the content column of the news article a tob border
  .ama__layout--two-column--right {
    .layout__region--main {
      @include breakpoint($bp-xs) {
        border-top: none;
        padding-top: 10px;
      }
      @include breakpoint($bp-small) {
        border-top: 8px solid $purple;
        padding-top: 25px;
      }
    }
    &__sidebar--secondary {
      padding-top:0;
    }
  }
}

//Rule to hide mobile toc if add toc field isnt selected
.no-toc {
  .ama__news {
    .toc-responsive {
      display: none;
    }
  }
}
