.ama__news {
  hr {
    margin: 20px 0;
    background-color: $gray-40;
    border: 0;
    height: 2px;
  }
}

.ama__news-article {
  //give the content column of the news article a tob border
  .ama__layout--two-column--right {
    .layout__region--main {
      @include breakpoint($bp-xs) {
        border-top: none;
        padding-top: 10px;
      }
      @include breakpoint($bp-small) {
        border-top: 8px solid $purple;
        padding-top: 25px;
      }
    }
    &__sidebar--secondary {
      padding-top:0;
    }
  }
}

//Rule to hide mobile toc if add toc field isnt selected
.no-toc {
  .ama__news {
    .toc-responsive {
      display: none;
    }
  }
}

//Rules for embedded Article Stub Lists
.ama__article-stub-list--inline {
  margin-top: 28px;
  margin-bottom: 17px;
  @include breakpoint($bp-med min-width) {
    margin-bottom: 52px;
  }
  @include breakpoint($bp-small min-width) {
    margin-bottom: 31px;
  }
  .ama_article-stub-header {
    margin-bottom: 14px;
    @include breakpoint($bp-med min-width) {
      margin-bottom: 14px;
    }
    @include breakpoint($bp-small min-width) {
      margin-bottom: 13px;
    }
  }
  .ama__h5--purple {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin-top: 14px;
  }
  .ama__article-stub__title {
    padding: 0;
    line-height: 1.18;
  }

  .ama__article-stub__copy {
    padding: 0;
  }
  .ama__image {
    display: block;
  }
}

.ama__news-page-article-stub {
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include breakpoint($bp-med min-width) {
      flex-wrap: nowrap;
    }
  }

  .ama__article-stub {
    margin-left: 0;
    @include gutter($margin-bottom-full...);
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    @include breakpoint($bp-small min-width) {
      @include gutter($margin-left-full...);
      @include gutter($margin-bottom-full...);
      width: 47%;
      &:nth-of-type(3) {
        margin-left: 0;
      }
    }

    @include breakpoint($bp-med min-width) {
      @include gutter($margin-left-full...);
      width: 25%;
      &:nth-of-type(3) {
        @include gutter($margin-left-full...);
      }
    }
  }
}

.ama__news__article-stub-three-up {
  @include breakpoint($bp-small) {
   .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr $gutter 1fr;
      grid-gap: $gutter;
      grid-template-rows: auto auto;
      .ama__article-stub {
        &:nth-child(1) {
          -ms-grid-column: 1;
        }
        &:nth-child(2) {
          -ms-grid-column: 3;
        }
        &:nth-child(3) {
          -ms-grid-column: 5;
        }
        h3 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  @include breakpoint($bp-med max-width) {
    > * {
      margin-bottom: $gutter;
    }
  }

  @include breakpoint($bp-med) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr $gutter 1fr $gutter 1fr;
      grid-gap: $gutter;
      grid-template-rows: auto auto;
      .ama__article-stub {
        &:nth-child(1) {
          -ms-grid-column: 1;
        }
        &:nth-child(2) {
          -ms-grid-column: 3;
        }
        &:nth-child(3) {
          -ms-grid-column: 5;
        }
        h3 {
          padding: 0;
        }
      }
    }
  }

  .ama__article-stub {
    padding: $gutter 0;

    @include breakpoint($bp-small max-width) {
      &:first-of-type {
        padding: 0;
      }
    }

    @include breakpoint($bp-small) {
      padding: 0;
    }
  }
}

.ama__news__article-stub-two-up {
  @include breakpoint($bp-small) {

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: $gutter;
      grid-row-gap: $gutter;
      .ama__article-stub {
        width: 100%;
      }
    }
  }
}
