.ama__people-bio {
  .ama__membership {
    @include gutter($margin-bottom-full...);
  }
  .user-article-listing-view {
    > ul > li {
      display: flex;
      justify-content: center;
      padding-top: 60px;
    }
  }
}
