.ama__people-bio {
  header {
    padding-bottom: 0;
  }

  .ama__layout--two-col-right--full-width__top {
    margin-bottom: 0;
    .ama__masthead {

      .ama__masthead__content {
        padding-bottom:15px;
      }
      .ama__masthead__content__container {
        .ama__masthead__content__share {
          visibility: hidden;
          height: 0;
          @include breakpoint($bp-small) {
            visibility: visible;
            height: auto;
          }
        }
      }
    }
  }
  .ama__membership {
    @include gutter($margin-bottom-full...);
  }
  .user-article-listing-view {
    border-top: solid 2px #ededed;
    > ul > li {
      display: flex;
      justify-content: center;
      padding-top: 60px;
    }
    .article-listing__link:first-of-type > .ama__user-article-listing {
      padding-top: 36px;
      @include breakpoint($bp-small) {
        padding-top: $gutter;
      }
    }
  }
}

.ama__h1 {
  &.pronouns {
    margin-bottom: 0;
  }
}
.pronouns-wrapper {
  margin-bottom: $gutter;
  font-size: 20px;
  @include breakpoint($bp-small) {
    magrin-bottom: ($gutter / 3) * 3;
  }
  @include breakpoint($bp-large) {
    margin-bottom: $gutter / 2;
    font-size: 18px;
  }
}
