.ama__page--resource__resource-link {
  background: $bodyTextHoverPurple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ama____page--resources__page-content {
  ol {
    list-style-position: inside;

    ol {
      padding-left: 1em;
    }
  }
}
