.ama__page--resource {
  .ama__layout--split__left {
    display: none;

    @include breakpoint($bp-small) {
      display: block;
    }
  }
}

.ama__page--resource__resource-link {
  background: $bodyTextHoverPurple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

