.ama__subcategory-index {
  .heading-left {
    margin-right: 0 !important;
  }
  .ama__subcategory__row {
    margin-bottom: $gutter /4;
    .header-border {
      border-bottom: 1px solid $gray-border;
      .ama__masthead__content {
        border-bottom: none;
      }
    }
  }
}
