.description {
  .desc-display {
    position: relative;
    padding-bottom: $gutter;
    overflow: hidden;
    .less {
      cursor: default;
      visibility: hidden;
    }
    &.summary {
      max-height: 300px;
      @include breakpoint($bp-med) {
        max-height: 200px;
      }
      @include breakpoint($bp-large) {
        max-height: 120px;
      }
      .more {
        cursor:pointer;
        color: $blue;
      }
    }
    &.full {
      @include breakpoint($bp-med) {
        max-height: 2000px;
      }
      @include breakpoint($bp-large) {
        max-height: 1000px;
      }
     .less {
        color: $blue;
        cursor: pointer;
        position: absolute;
        visibility: visible;
        left: 0;
      }
    }
  }
  .fulltext,
  .truncated {
    display: none;
  }
}
