.index-page,
.ama__category,
.ama__subcategory-index {
  .description {
    position: relative;
    margin-bottom: calc($gutter / 2);
    @include breakpoint($bp-small max-width) {
      margin-bottom: 21px;
    }
    p, p a {
      // Override main paragraph font
      @include type($myriad-pro, $font-weight-regular);
    }
    .desc-display {
      position: relative;
      overflow: hidden;
      .less {
        cursor: default;
        visibility: hidden;
        width: 100%;
        background: $white;
      }
      &.full {
        transition: height .5s ease-in-out;
        .less {
          color: $blue;
          position: absolute;
          cursor: pointer;
          visibility: visible;
          text-decoration: none;
          left: 0;
          bottom: 0;
          line-height: 1;
          &:visited {
            color: $blue;
          }
        }
        span {
          display: inline-block;
        }
      }
      &.summary {
        transition: height .5s ease-in-out;
        .more {
          cursor: pointer;
          text-decoration:none;
          color: $blue;
          &:visited {
            color: $blue;
          }
        }
      }
    }
    .fulltext {
      span {
        display: inline-block;
      }
    }
    .fulltext,
    .truncated {
      visibility: hidden;
      position: absolute;
      top: 0;
      z-index: -999999999;
      opacity: 0;
    }
  }
  .index-page__related-topics {
    margin-bottom: 21px;
    @include breakpoint($bp-small) {
      margin-bottom: 4px;
    }


    .title {
        font-weight: $font-weight-semibold;
        margin-right: calc($gutter / 4);
    }

    a {
      margin: 0;
      font-size:18px;
      outline: 0;

      &:after {
        content: "|";
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        margin-right: 1px;
        margin-left: 5px;
      }

      &:last-child {
        &:after {
          content: "";
        }
        margin: 0;
      }

      &.ama__link--purple.ama__link--catalog {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  .ama__75-25__masthead .border {
    border-bottom: 1px solid #b4b4b4;
  }

  h2.section-title {
    display: none;
  }
}
.index-page {
  h1 {
    font-weight: $font-weight-truebold;
  }
  .ama__topic-index__stubs .views-exposed-form .form-actions {
    margin-top: 0;
  }
  .share-row {
    @include breakpoint($bp-small max-width) {
      display: none;
    }
  }
  .ama__layout--one-column__page-content {
    .index-hero {
      padding: calc($gutter / 2) 0 $gutter 0;
      @include breakpoint($bp-small) {
        margin-top: 0;
        padding: $gutter 0 calc($gutter * 2) 0;
      }
      border-bottom: 1px solid $border-gray;

      h2.section-title {
        display: block;
      }
    }
    .article_stub-list {
      margin: 28px 0 0;
      @include breakpoint($bp-small) {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 3fr 1fr;
      }
      .ama__rule.ama__rule--horizontal {
        border-color: $gray-border;
      }
      > div {
        margin-right: 14px;
      }
    }
  }
  .ama__series {
    .article_stub-list {
      margin-right: 0;
      > div {
        margin-right: 0;
      }
    }
  }
  @include breakpoint($bp-med max-width) {
    &.ama__75-25__masthead  {
      .ama__75-25__masthead__content {
        padding-bottom: $gutter;
      }
    }
    .ama__category__article-stub-three-up > div {
      padding-bottom: $gutter;
    }
  }
}

.description {
  .desc-display {
    &.full {
      div p,
      > p:last-of-type {
        margin-bottom: 14px;
      }
    }
  }
}
