.user-page {
  .container {
    min-height: 40vh;
    h1 {
      padding-top: 4rem;
      padding-bottom: 1.5rem;
      @include breakpoint($bp-med) {
        padding-top: 5rem;
        padding-bottom: 2rem;
      }
    }
    h3 {
      margin-bottom: 1.5rem;
    }
    h2 {
      margin-bottom: $gutter;
    }
  }
}
