/*------------------------------------*    $AMA PATTERNS
\*------------------------------------*/
body {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  /* stylelint-enable */
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-size: large;
  font-size: 1.11rem; }

.ama__type-hero {
  font-family: "kepler-std", Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14286; }

.ama__type-larger {
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.30435; }

.ama__type-large {
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.33333; }

.ama__type-medium {
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38889; }

.ama__type-small {
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4375; }

.ama__type-smaller {
  font-family: "myriad-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }

.ama__type-search {
  font-family: "kepler-std", Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.25; }

/* Links */
a {
  color: #000000;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #000000; }

.link-black:link, .link-black:visited {
  color: #000000; }

.link-black:active, .link-black:hover, .link-black:focus {
  color: #02aaec;
  text-decoration: none; }

.link-white:link, .link-white:visited {
  color: #ffffff; }

.link-white:active, .link-white:hover, .link-white:focus {
  color: #ffffff;
  text-decoration: underline; }

.link-blue:link, .link-blue:visited {
  color: #02aaec; }

.link-blue:active, .link-blue:hover, .link-blue:focus {
  color: #02aaec;
  text-decoration: underline; }

.ama__social-icons {
  list-style: none; }

.ama__h1 {
  font-family: "kepler-std", Georgia, Times, "Times New Roman", serif;
  font-size: 1.888em;
  font-weight: 400;
  line-height: 1.11765; }

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.sg-colors li {
  border: 1px solid #ddd;
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 0.5em 0.5em 0;
  max-width: 14em;
  min-width: 5em;
  padding: 0.3em; }

.sg-swatch {
  border-radius: 5px;
  display: block;
  height: 4em;
  margin-bottom: 0.3em; }

.sg-label {
  font-size: 90%;
  line-height: 1; }

.icon svg {
  height: 40px;
  width: 40px; }

.ama__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%; }

/*# sourceMappingURL=styles.css.map */
