{% set image, heading, paragraph, unorderedList, button, selectMenu = hubCard.image, hubCard.heading, hubCard.paragraph, hubCard.unorderedList, hubCard.button, hubCard.selectMenu %}

 {% if hubCard.layout == "ama__hub-card--portrait" %}
   {% set background = "background-image: url( #{hubCard.backgroundImage} );" %}
 {% endif %}

<a class="ama__hub-card {{ hubCard.layout }}" href="#" style="{{ background }}">
  {% if hubCard.image.src is not empty %}
    <div class="ama__hub-card__image">
      {% include "@atoms/image/image.twig" with { 'class': 'ama__hub-card__image' } %}
    </div>
  {% endif %}
  <div class="ama__hub-card__description">
    {% include "@atoms/heading/heading.twig" %}

    {% if hubCard.paragraph is not empty %}
      {% include "@atoms/paragraph.twig" %}
    {% endif %}

    {% if hubCard.unorderedList is not empty %}
      {% include "@atoms/unordered-list.twig" with { 'class': 'ama__hub-card__list' }  %}
    {% endif %}

    {% if hubCard.button %}
      {% include "@atoms/button/button.twig" %}
    {% endif %}

    {% if hubCard.selectMenu %}
      {% include "@atoms/forms/select-menu.twig" %}
    {% endif %}
  </div>
</a>
