.ama__article-stub {

  &--container-image {
    height: auto;
    width: 100%;
  }

  &--copy {
    @include gutter($padding-top-half...);
  }
}

.ama__article-stub--related {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  @include ama-rules(1px, '', solid, $gray-50 );
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);

  .ama__image,
  .ama__video {
    @extend .col-xs-3;
    & > div {
      display: flex;
      align-items: center;
    }
  }

  .ama__article-stub__copy {
    display: flex;
    align-items: center;
    @extend .col-xs-9;
    @include gutter($padding-left-half...);
    padding-top: 0;

  }
}

.ama__article-stub--small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;


  &--description {
    @include gutter($padding-right-half...);
  }
}

/** inline article preview 4422 */

// @todo - when new typography is merged in, replace this with the central variable.
$h4-font-sizes-article-stub-inline: (
  null  : (18px, 1.22),
  small  : (18px, 1.22),
  medium: (20px, 1.6),
  large: (28px, 1.25),
);

$body-font-sizes-article-stub-inline: (
  null  : (18px, 1.22),
  small  : (20px, (25/20)px),
  medium: (18px, (27/18)px),
  large: (18px, (20/18)px),
);

.ama__article-stub-inline {
  border: solid #eee;
  border-width: 1px 0;
  padding: $gutter 0;
}

.ama__article-stub-inline__label {
  @include font-size($body-font-sizes-article-stub-inline);
  margin: 0;
}

.ama__article-stub-inline__link {
  @include font-size($h4-font-sizes-article-stub-inline);
  color: $blue;
}