<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 183</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Social-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-295.000000, -124.000000)" fill="#46166B" id="Fill-183">
            <path d="M315.155,134.656 L313.649,134.657 C312.468,134.657 312.239,135.218 312.239,136.041 L312.239,137.857 L315.056,137.857 L314.689,140.702 L312.239,140.702 L312.239,148 L309.302,148 L309.302,140.702 L306.846,140.702 L306.846,137.857 L309.302,137.857 L309.302,135.76 C309.302,133.325 310.789,132 312.96,132 C314,132 314.894,132.077 315.155,132.112 L315.155,134.656 Z M311,124 C302.164,124 295,131.163 295,140 C295,148.836 302.164,156 311,156 C319.837,156 327,148.836 327,140 C327,131.163 319.837,124 311,124 L311,124 Z"></path>
        </g>
    </g>
</svg>