.ama__search-header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  @include gutter($padding-left-full...);
  @include gutter($padding-right-full...);

  @include breakpoint($bp-small) {
    flex-wrap: initial;
    flex-direction: row;
  }

  @include breakpoint($bp-med) {
    padding: 0;
  }

  &__results-num {
    white-space: nowrap;
    text-align: center;
    order: 2;
    flex: 1;

    @include breakpoint($bp-small) {
      order: initial;
      flex: initial;
    }
  }

  .ama__search__field {
    width:100%;

    @include breakpoint($bp-small) {
      @include gutter($margin-left-full...);
    }
  }

  &__options,
  .form-item.js-form-item-sort-by {
    margin: 0;
    order: 4;

    .ama__form-group {
      margin: 0;

      .ui-button {
        line-height: unset;
        min-width: 225px;

        @include breakpoint($bp-small) {
          display: block;
          vertical-align: initial;
        }
      }
    }

    .ui-selectmenu-button {
      margin: 0;
    }

    @include breakpoint($bp-small) {
      @include gutter($margin-left-full...);
      order: 4;
    }

    label {
      @extend .is-vishidden;
    }
  }

  .form-actions {
    position: absolute;
    top: 0;
    right: $gutter;

    @include breakpoint($bp-small) {
      position: relative;
      right: 0;
      order: 2;
    }
  }

  &__results {
    @include gutter($margin-top-half...);
    @include gutter($margin-bottom-half...);
    @include gutter($padding-left-full...);
    @include gutter($padding-right-full...);
    color: $gray-50;
    display: block;

    @include breakpoint($bp-med) {
      padding: 0;
    }
  }

  &__clear {
    @include gutter($margin-left-full...);
    @extend %ama__link--no-underline;
    display: inline-block;
    font-size: .8em;

    &:link {
      color: $purple;
    }
  }

  &--results {
    @include gutter($padding-top-half...);
    @include gutter($padding-bottom-half...);
    @include gutter($margin-bottom-full...);
    background: $gray-7;

    .ama__search-header__results-num {
      text-align: left;
      color: $gray-50;

      span,
      a {
        display: none;
      }

      .source-summary-count {
        display: block;
      }
    }

    .ama__search__field {
      @include gutter($margin-bottom-full...);
      position: relative;
      margin-left: 0;
      width: 100%;
      flex-direction: column;

      @include breakpoint($bp-small) {
        flex-direction: row;
      }

      &__input,
      .ui-autocomplete-input {
        @include font-size($h1-font-sizes);
        background: none !important; //only way to hide the Drupal throbber
        border-bottom: 1px solid $hoverBlue;
        color: $purple;
        font-style: normal;
        font-weight: $font-weight-semibold;

        &:focus {
          border: none;
          border-bottom: 1px solid $hoverBlue;
        }
      }
    }

    @include breakpoint($bp-med) {
      .ama__search-header__option-wrap {
        display: flex;
        flex-grow: 2;
        order: 1;
        flex-direction: row;
        align-items: baseline;
        position: relative;
      }
    }

    .ama__search-header__options {
      @include gutter($margin-top-full...);
      width: 100%;
    }

    @include breakpoint($bp-small) {
      overflow: hidden;

      .ama__search-header__options {
        max-width: 250px;
        margin-top: 0;
        float: right;
      }
    }
  }
}
