.ama__masthead {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  @include gutter($padding-left-full...);
  @include gutter($padding-right-full...);

  @include breakpoint($bp-med min-width) {
    padding: 0;
  }

  @include breakpoint($bp-large min-width) {
    grid-template-columns: 1fr 6fr 2.5fr;
    padding: 0;
  }

  // Temporary to accommodate DOM in A1 Drupal theme
  &--grid {
    display: block;
  }


  &__sidebar {
    display: none;

    @include breakpoint($bp-med min-width) {
      display: block;
      grid-column: 1;
    }
  }

  &__content {
    @include ama-rules(1px, "bottom", $gray-64, solid);
      grid-column: 1/5;

    @include breakpoint($bp-small min-width) {
      &--indented {
        grid-column: 2/5;

        // Temporary to accommodate DOM in A1 Drupal theme
        &.ama__masthead--no-border {
          border: 0;
        }

        // Temporary to accommodate DOM in A1 Drupal theme
        .layout__region {
          grid-column-start: 2;
          grid-column-end: 5;
          @include ama-rules(1px, "bottom", $gray-64, solid);
        }
      }

    }

    &__link {
      @extend %ama__link--blue;
      @extend %ama__h4;
      align-self: left;
      text-transform: uppercase;
      padding: $gutter-mobile 0 $gutter-mobile/2;

      @include breakpoint($bp-med) {
        padding: $gutter-mobile/2 0 $gutter-mobile;
      }

      @include breakpoint($bp-xl) {
        padding: $gutter 0;
      }
    }

    &__container {
      @include gutter($padding-top-full...);
      display: flex;
      align-items: center;
    }

    .ama__h1 {
      @include gutter($margin-bottom-half...);
    }

    .ama__subtitle {
      @extend %ama__h3;
    }

    &__date {
      flex: 1;
    }

    &__share {

      display: none;

      @include breakpoint($bp-small) {
        display: inline-block;
      }
    }
  }
}
