.ama__resource-link--inline {
  @include gutter($padding-top-half...);
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);
  display: block;
  border: solid #eee;
  border-width: 1px 0;
  text-decoration: none;

  &__label {
    //@extend %ama__h4;
    margin: 0;
    color: $purple;
  }

  &__text {
     @extend p;
  }

  &:hover {
    color: $blue;
  }
}
