.annual-interim {
  display: block;
  min-height: 140px;
  margin-bottom: 28px;
  margin-top: 35px;
  @include breakpoint($bp-small) {
    display: flex;
  }

  &__left {
    background: #3f2378;
    background-image: url('../images/dot_pattern_web.svg');
    background-image: linear-gradient(20deg, rgba(50, 62, 148, .75), rgba(63, 35, 120, .75), #371256 80%), url('../images/dot_pattern_web.svg');
    background-repeat: no-repeat;
    background-position: 0 0, 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14px 0 14px 14px;
    color: $white;

    @include breakpoint($bp-small) {
      flex: 1;
      margin-right: 20px;
    }

    h2 {
      line-height: 31px;
      margin-bottom: 8px;
    }

    a {
      color: $white;
    }

    .active_info {
      padding-right: 14px;
    }

    a.annual-interim__link {
      &.event_info {
        display: block;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 48px;
      }
    }

    p {
      font-size: 20px;
      line-height: 27px;
    }

    .active_info {
      p {
        margin: 0;
      }
      a {
        font-size: 20px;
        @include breakpoint($bp-large) {
          font-size: 18px;
        }
      }
    }
  }

  &__right {
    padding-left: 0px;
    padding-top: 10px;
    @include breakpoint($bp-small) {
      flex: 2;
    }

    @include breakpoint($bp-large) {
      .meeting_information {
        display: flex;
      }

      .hod, .mg {
        flex: 1;
      }

      .active_links-rod {
        padding-right: 15px;
      }
    }

    .meeting_heading {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
      }
      .col.col-first {
        flex: 1;
      }
      .col.col-second {
        padding-left: 34px;
        flex: 1;
      }
      h3 a {
        color: $purple;
        text-decoration: none;
        font-size: 22px;
        line-height: 26px;
        &:hover {
          text-decoration: underline;
        }
      }
      @include breakpoint($bp-med) {
        h3 a {
          font-size: 20px;
          line-height: 32px;
        }
      }
      @include breakpoint($bp-large) {
        &.desktop {
          display: flex;
          position: relative;
          margin-bottom: 21px;

          h3 {
            flex: 1;
            margin-bottom: 29px;
          }
    
          p.annual-interim__text {
            position: absolute;
            margin: 0;
            bottom: 0;
            &:nth-child(4) {
              left: 50%;
            }
          }
        }
        &.mobile {
          display: none;
        }
      }
    }

    p.annual-interim__text {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 21px;
      @include breakpoint($bp-med) {
        margin-bottom: 14px;
      }
    }

    .meeting_information {
      h3 {
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 8px;
      }

      a.annual-interim__link {
        display: block;
        margin-bottom: 14px;
        line-height: 21px;
      }
    }

    .active_links-rod,
    .active_links-mg {
      @include breakpoint($bp-small) {
        display: flex;
        .quick_link_column {
          flex: 1;

          &:nth-child(1) {
            a {
              padding-right: 15px;
            }
          }
        }
      }
    }

    .active_links-mg {
      padding-left: 0;
      @include breakpoint($bp-large) {
        padding-left: 19px;
      }
    }

    @include breakpoint($bp-small max-width) {
      .hod {
        margin-bottom: 35px;
      }
    }

    .fg {
      padding-top: 7px;
      border-top: 1px solid #cbcbcb;
      h4 {
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
      }
      a.annual-interim__link {
        display: inline-block;
        margin-left: 14px;
        line-height: 20px;
      }
    }
  }
}