.ama__article-header {
  display: flex;
  flex-direction: column;

  &__link {
    @extend %ama__link--blue;
    text-transform: uppercase;
  }

  &__date {
    align-self: flex-start;
  }

  &__share {
    align-self: flex-end;
    display: none;

    @include breakpoint($bp-small) {
      display: inline-block;
    }
  }
}
