.ama__bio-image-with-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 28px;

  @include breakpoint($bp-xs) {
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__image {
      margin: 0;
      align-self: center;
    }

    dt, dd {
      display: block;
      width: 100%;
    }
  }

  @include breakpoint($bp-med) {
    flex-direction: row;
    justify-content: left;
    text-align: left;
    flex-wrap: nowrap;

    dt, dd {
      width: auto;
    }

    &__image {
      width: auto;
      min-width: 0;
      margin: 0 15px 0 0;
    }
  }

  .ama__link--icon svg {
    max-height: 45px;
    max-width: 45px;
  }

  &__image {
    min-width: 0;
    max-width: 210px;
    max-height: 210px;
    align-self: center;
    img {
      border-radius: 50%;
    }
  }

  &__copy {
    flex-grow: 1;
  }
}
