// Bookmark teaser styling
.ama_book_mark {
  border-bottom: solid 1px $gray-20;
  @include breakpoint($bp-small) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 14px;
  }
  .ama_bookmark_left {
    border-bottom: none;
    padding: 0 0 96px;
    @include breakpoint($bp-small) {
      padding-bottom: 17px;
      padding-right: 17px;
    }
    @include breakpoint($bp-med) {
      padding-right: 20px;
    }

    .ama__search-result__description {
      line-height: 1.5;
    }
  }
  .ama_bookmark_right {
    padding: calc($gutter/2) 0;
    @include breakpoint($bp-small) {
      padding-bottom: 56px;
      &.ama__search-result__image {
        display: flex;
        flex-direction: column;
        &> div {
          flex: auto;
          align-self: flex-start;
        }
        .flag {
          flex: auto;
          align-self: flex-end;
        }
      }
      .flag {
        a::before {
          left: 35px;
        }
        &.action-flag {
          a::before {
            left: 25px;
          }
        }
        &.action-unflag {
          a {
            pointer-events: all;
          }
          a::before {
            background-image: url('../images/RemoveIcon_Locker.svg');
          }
          a:hover {
            &::before {
              background-image: url('../images/RemoveHoverIcon_Locker.svg');
            }
          }
        }
      }
    }
    &:not(.ama__search-result__image) {
      display: flex;
      @include breakpoint($bp-small) {
        padding: 28px 0 56px;
      }
      .flag {
        align-self: flex-end;
      }
    }
  }
  &.ama__search-result:hover {
    .ama__search-result__title {
      text-decoration: none;
    }
  }
  .ama__search-result__text:hover {
    .ama__search-result__title {
      text-decoration: underline;
    }
  }
  .flag {
    margin-top: 0;
    @include breakpoint($bp-small max-width) {
      position: absolute;
      bottom: 35px;
      right: 0;
    }
  }
}

//Unflagging response styling
.ama_book_mark {
  .title-removed,
  .description-removed {
    display: none;
  }
  .ama_bookmark_right.flag-removed {
    &+ .ama_bookmark_left {
      .ama__search-result__description {
        display: none;
      }
      .title-removed {
        display: inline;
      }
      .description-removed {
        display: block;
      }
    }
  }
}

.my-topic-listing {
  .ama__search-result__description {
    line-height: 1.5;
  }
  .title-removed,
  .description-removed {
    display: none;
  }
  &.flag-removed {
    .ama__search-result__description {
      display: none;
    }
    .title-removed {
      display: inline;
    }
    .description-removed {
      display: block;
    }
  }
}

// Flag/bookmark styling
.flag {
  text-align: center;
  border: 1px solid #a28ab5;
  margin-top: 35px;
  @include breakpoint($bp-small max-width) {
    width: 87px;
    height: 44px;
    a {
      font-size: 14px;
      line-height: 2;
    }
  }
  @include breakpoint($bp-small) {
    min-width: 180px;
    max-width: 180px;
    max-height: 46px;
  }
  a {
    color: #310f4a;
    font-size: 10px;
    text-decoration: none;
    position: relative;
    @include breakpoint($bp-small) {
      display: block;
      font-size: 16px;
      padding: 9px 0 8px;
    }
    &::before {
      display: block;
      width: 19px;
      height: 19px;
      margin: 4px auto -8px;
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      @include breakpoint($bp-small) {
        padding-left: 5px;
        width: 21px;
        height: 26px;
        margin: 0 auto;
        position: absolute;
        left: 20px;
        top: 8px;
      }
    }
  }
  &.action-flag {
    @include breakpoint($bp-small) {
      a {
        padding-left: 27px;
      }
    }
    a::before {
      background-image: url('../images/BookmarkIcon_Locker.svg');
    }
    a:hover {
      text-decoration: underline;
      &::before {
        background-image: url('../images/BookmarkHoverIcon_Locker.svg');
      }
    }
  }
  &.action-unflag {
    a {
      @include breakpoint($bp-small) {
        padding-left: 16px;
      }
      &::before {
        left: 45px;
        background-image: url('../images/BookmarkedIcon_Locker.svg');
      }
      &:hover {
        &::before {
          background-image: url('../images/BookmarksMenuIcon_Locker.svg');
        }
      }
    }
  }
  .ajax-progress,
  .ajax-progress-throbber {
    display: none;
  }
  p.js-flag-message {
    display: none;
  }
}

.view-my-topic {
  .my-topic-listing:first-child {
    border-top: 1px solid #a28ab5;
  }
  .my-topic-listing:last-child {
    border-bottom: none;
    margin-bottom:56px;
  }
  li.pager__item {
    text-align: center;
  }
}

// My bookmark view styling
.view-my-bookmark {
  .views-exposed-form {
    margin-top: 28px;
    .form-actions {
      margin-top: 7px;
    }
  }
  .views-infinite-scroll-content-wrapper {
    .views-row:first-child {
      .ama_book_mark {
        border-top: 1px solid #a28ab5;
      }
    }
    .views-row:last-child {
      .ama_book_mark {
        border-bottom: none;
      }
    }
  }
  li.pager__item {
    text-align: center;
  }
}

// Empty bookmark styling
.no-bookmarks {
  border-top: 2px solid $gray-20;
  border-bottom: 1px solid $gray-20;
  padding: 14px 0;
}

// Layout overrides
.ama__basic {
  .flag {
    margin-bottom: 27px;
  }
}

.hub-page {
  .flag {
    margin-bottom: 14px;
  }
}

.app_description {
  .flag {
    margin-bottom: 34px;
    @include breakpoint($bp-small) {
      a {
        padding-left: 25px;
        &::before {
          width: 23px;
        }
      }
    }
  }
}

//  My Topics view styling.
.topic-search {
  margin-top: 28px !important;
  margin-bottom: 14px;
}
.my-topic-listing {
  flex-direction: row;
  .text {
    padding-right: 0;
    @include breakpoint($bp-small) {
      padding-right: 17px;
    }
    @include breakpoint($bp-med) {
      padding-right: 20px;
    }
    h2 {
      a {
        text-decoration: none;
      }
    }
  }
  .flag {
    margin-top: 0;
    &.action-unflag {
      a {
        pointer-events: all;
      }
      a::before {
        background-image: url('../images/FollowHoverIcon_Locker.svg');
        @include breakpoint($bp-small) {
          left: 25px;
        }
      }
    }
  }
  .flag-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    padding-bottom: 18px;
    @include breakpoint($bp-med) {
      align-items: right;
    }
  }
}

.index-page {
  .flag.action-unflag {
    a {
      pointer-events: none;
    }
  }
}

.flag-topic {
  &.action-flag {
    a::before {
      background-image: url('../images/FollowIcon_Locker@1x.svg');
      @include breakpoint($bp-small) {
        left: 25px;
      }
    }
    a:hover {
      text-decoration: underline;
      &::before {
        background-image: url('../images/FollowHoverIcon_Locker.svg');
      }
    }
  }
  &.action-unflag {
    a::before {
      background-image: url('../images/FollowingIcon_Locker.svg');
      @include breakpoint($bp-small) {
        left: 25px;
      }
    }
  }
}
