.ama__category-page-article-stub {

  .grid-container {
    @include gutter($margin-top-full...);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include breakpoint($bp-med min-width) {
      flex-wrap: nowrap;
    }

    & + .grid-container {
      margin-top: 0;
    }
  }

  .ama__article-stub {
    margin-left: 0;
    @include gutter($margin-bottom-full...);
    width: 100%;

    &:first-child {
      margin-left: 0;
    }

    @include breakpoint($bp-small min-width) {
      @include gutter($margin-left-full...);
      @include gutter($margin-bottom-full...);
      width: 47%;
    }

    @include breakpoint($bp-med min-width) {
      @include gutter($margin-left-full...);
      width: 25%;
    }

    @include breakpoint($bp-med max-width) {
      &:nth-of-type(3) {
        margin-left: 0;
      }
    }
  }

  .ama__article-stub__title {
    padding: 0;
  }

  .ama__article-stub__copy {
    padding: 0;
  }
}
