.ama__category-page-article-stub {

  .grid-container {
    @include gutter($margin-top-full...);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($bp-med min-width) {
      flex-wrap: nowrap;
    }

    & + .grid-container {
      margin-top: 0;
    }
  }

  .ama__article-stub {
    margin-left: 0;
    margin-bottom: 26px;
    width: 100%;
    max-width: unset;
    border-bottom: 0.5px solid $border-gray;

    &:first-child {
      margin-left: 0;
    }

    &:last-of-type {
      border-bottom: none;
    }

    @include breakpoint($bp-small max-width) {
      &:last-of-type {
        margin-bottom: 33px;
      }
    }

    @include breakpoint($bp-small min-width) {
      @include gutter($margin-left-full...);
      margin-bottom: 60px;
      width: 45%;
      max-width: 303px;
      flex: 1 1 auto;
      border-bottom: none;
      &:last-of-type,
      &:nth-of-type(3) {
        border-top: .5px solid $border-gray;
        padding-top: 25px;
      }
      &:nth-of-type(3) {
        margin-left: 0;
      }
      &:nth-of-type(even) {
        &:before {
          content: "";
          display: block;
          border-left: .5px solid $border-gray;
          position: absolute;
          height: 343px;
          left: 50%;
        }
      }
      &.five-up {
        width: 30%;
      }
    }

    @include breakpoint($bp-med min-width) {
      @include gutter($margin-left-full...);
      width: 25%;
      max-width: 250px;
      &:first-of-type {
        // The 2.1 is bases off a 29.5px margin in a 1400px wide container.
        // Someone forgot that global max container size is actually 1140px...
        margin-right: 2.1%;
      }
      &:nth-of-type(even),
      &:nth-of-type(3) {
        margin-left: 2.1%;
        margin-right: 2.1%;
        position: relative;
        &:before {
          content: "";
          display: block;
          border-left: .5px solid $border-gray;
          position: absolute;
          height: 330px;
          left: -10%;
        }
      }
      &:last-of-type,
      &:nth-of-type(3) {
        padding-top: 0;
        border-top: none;
      }
      &:nth-of-type(3) {
        @include gutter($margin-left-full...);
        &.five-up {
          margin-left: $gutter*.75;
        }
      }
      &.five-up {
        width: 33%;
      }
    }
    @include breakpoint($bp-large min-width) {
      &.five-up {
        width: 32%;
      }
    }
  }

  .ama__article-stub__title {
    padding: 0;
  }

  .ama__article-stub__copy {
    padding: 0;
    display: block;
    min-height: 15px;
    margin-bottom: 7px;
  }
  .grid-container {
    &:last-child {
      .seven-up {
        width: auto;
        @include breakpoint($bp-small min-width) {
          width: 47%;
        }
        @include breakpoint($bp-med min-width) {
          width: auto;
        }
      }
    }
  }
}

.ama__category__article-stub-three-up {
  margin-bottom: $gutter;
}
