comment.ama-one-comment {
  padding: 20px;
  border: 1px solid #e4e3e6;
  margin-bottom: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .comment-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    width: 100%;
    align-items: center;
    .author {
      font-weight: $font-weight-bold;
      font-size:20px;
      line-height: 24px;
    }
    .member-container {
      margin-left: 14px;
      padding-left:14px;
      border-left: 1px solid #e4e3e6;
      .member {
        text-transform: uppercase;
        position: relative;
        font-size: 12px;
        padding: 6px 14px;
        font-weight: $font-weight-bold;
        color: #7229D1;
        border: 1px solid #e3d7f5;
        border-radius: 20px;
        background-color: #f0eafa;
        margin-right: 21px;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: " ";

        }
      }
    }
    .options-menu {
      margin-left: auto;
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        content: " ";
        background-image: url('../icons/svg/three-dots.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 14px;
        right: 0;
        top: -11px;
      }
      &.open {
        .panel {
          display: block;
          padding: 15px;
          background: $white;
          border: 1px solid #e4e3e6;
          text-align: right;
          position: absolute;
          top: 14px;
          border-radius: 8px;
          right: 0;
          z-index: 99;
          ul {
            list-style: none;
          }
        }
      }
      .panel {
        display: none;
      }
    }
  }
  .comment-body {
    font-family: $kepler-std;
    font-size: 18px;
    line-height: 24px;
    color: $black;
    margin-bottom: 21px;
  }
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .date {
      font-family: $kepler-std;
      font-size: 16px;
      color: #5c5c5c;
    }
    .reply {
      font-size: 14px;
      margin-left: auto;
      justify-content: center;
      li.comment-reply {
        padding: 6px 14px;
        border: 1px solid $gray-64;
        border-radius: 100px;
        a {
          position: relative;
          padding-left: 30px;
          text-decoration: none;
          color: #5c5c5c;
          &:before {
            position: absolute;
            content: " ";
            background-image: url('../icons/svg/reply-arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            left: 0;
            top: -3px;
          }
        }
      }
    }
  }
  ul.links.inline {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 21px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
section[id^="node-abstract-field-abstract-comments--"] {
  margin-top: 21px;
  form {
    textarea {
      padding: 10px;
      border-radius: 15px;
    }
    div[id^="edit-actions--"] {
      margin-bottom: 21px;
      input {
        display: inline-block;
        margin-right: 21px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.indented {
  margin-left: 0;
  .indented {
    margin-left: 20px;
    .intented {
      margin-left: 20px;
      .intented {
        margin-left: 0px;
      }
    }
  }
}


.comment-abstract-comments-form {
  &.ajax-comments-form-edit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div[class^='field--name-'] {
      .field--name-field-comment-body {
        flex: .9;
      }
    }
    div[class^='field--name-']:only-child {
        flex: 1;
    }
    .field--name-field-deleted {
      flex: .1;
    }
  }

  .form-actions {
    flex: 0 0 100%;
  }
}

/* Hide the messages in the comments section */
section[id^='node-abstract-field-abstract-comments'] {
  .js-ajax-comments-messages {
    display: none;
  }
  .js-ajax-comments-messages ~ form textarea {
    // Your textarea styles here
    border: 1px solid $gray-50;
    padding: 10px;
    width: 100%;
    min-height: 150px;
    margin-top: 1rem;
  }
}
