comment.ama-one-comment {
  padding: 20px;
  background: $gray-30;
  margin-bottom: 21px;
  border-radius: 15px;
  display: block;
  ul.links.inline {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 21px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
section[id^="node-abstract-field-abstract-comments--"] {
  margin-top: 21px;
  form {
    textarea {
      padding: 10px;
      border-radius: 15px;
    }
    div[id^="edit-actions--"] {
      margin-bottom: 21px;
      input {
        display: inline-block;
        margin-right: 21px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.indented {
  margin-left: 20px;
  .indented {
    margin-left: 20px;
    .intented {
      margin-left: 0px;
    }
  }
}
