.webform-submission-contact-us-form {

  .please-select-one-of-the-following- > div {
    .form-submit {
      width: 100%;
    }
  }

  .webform-options-display-side-by-side {
    display: flex;
    align-items: stretch;

    & > div {
      flex: 1;
    }
  }

  .ui-checkboxradio-label,
  .ui-checkboxradio-label:hover {
    padding: 10px;
    border: 1px solid $purple;
    border-radius: 0;
    text-transform: none;
    text-align: center;

    .ui-icon,
    .ui-checkboxradio-icon-space {
      display: none;
    }

    /*&.ui-state-active {
      background-color: $purple;
      color: white;
    }*/
  }

  .reach-us-by-mail {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
  }
  .form-actions {
    display: inline-block;
    input {
      padding: 5px 70px;
    }
    .webform-button--submit {
      background-color: $purple;
      color: $white;
      &:hover {
        background-color: $hoverPurple;
      }
    }
  }
}

// Removes Next button on first page when Javascript is enabled
html.js {
  .webform-submission-contact-us-form {
    input.webform-button--next {
      display: none;
    }
  }
}

// Contact us form styling
form#ama-contact-form {
  .webform-options-display-buttons > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    .form-item{
      flex: 1;
      margin: 0 5px 10px 5px;
      display: table;
      width: 100%;
      height: 100%;
      span.ui-checkboxradio-icon {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        width: 1px;
        word-wrap: normal;
        vertical-align: middle;
        display: inline-block;
      }
      label.option {
        font-size: 18px;
        text-transform: none;
        @include type($myriad-pro, $font-weight-regular);
        display: table-cell;
        height: 100%;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        color: #666;
        border: 3px solid #ccc;
        border-radius: 3px;
        background-color: $white;
        line-height: normal;
        &:hover {
          cursor: pointer;
          border: 1px solid #46166B;
          border-radius: 0;
          color: #000000;
          outline: none;
          box-shadow: none;
          background-color: transparent;
          line-height: 1.5;
        }
      }
    }
  }
}
