.webform-submission-contact-us-form {

  .please-select-one-of-the-following- > div {
    .form-submit {
      width: 100%;
    }
  }

  .webform-options-display-side-by-side {
    display: flex;
    align-items: stretch;

    & > div {
      flex: 1;
    }
  }

  .ui-checkboxradio-label,
  .ui-checkboxradio-label:hover {
    padding: 10px;
    border: 1px solid $purple;
    border-radius: 0;
    text-transform: none;
    text-align: center;

    .ui-icon,
    .ui-checkboxradio-icon-space {
      display: none;
    }

    /*&.ui-state-active {
      background-color: $purple;
      color: white;
    }*/
  }

  .reach-us-by-mail {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
  }
  .form-actions {
    display: inline-block;
    input {
      padding: 5px 70px;
    }
    .webform-button--submit {
      background-color: $purple;
      color: $white;
      &:hover {
        background-color: $hoverPurple;
      }
    }
  }
}

// Removes Next button on first page when Javascript is enabled
html.js {
  .webform-submission-contact-us-form {
    input.webform-button--next {
      display: none;
    }
  }
}

// Set height and scroll on state selection menu
fieldset#edit-state--wrapper {
  .ui-selectmenu-button.ui-button {
    width: 100% !important;
  }
}

body[data-once*="form-single-submit"] > div.ui-selectmenu-menu.ui-front.ui-selectmenu-open {
  padding-right: 15px;
  ul.ui-menu {
    max-height: 400px;
    overflow-y: scroll;
    @media screen and (max-width: $bp-med) {
      width: 100% !important;
    }
  
    li.ui-menu-item {
      width: 100%;
      white-space: normal !important;
    }
  }
}
