// Variables
$gap-xs: 8px;
$radius: 8px;

// Discover AMA CTA
.ama__discover-ama-cta {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: $radius;
  border: 1px solid $gray-7;
  box-shadow: 0px 4px 8px -2px #1018280F, 0px 2px 4px -2px #1018281A;
  $this: &;

  &__item {
    border-radius: 8px 0px 0px 8px;
    border-right: 1px solid $gray-7;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap-xs;
    
    &:last-child {
      border-right: 22px solid $gray-7;
    }
    
    &__link {
      cursor: pointer;
    }

    &:hover #{$this}__link {
      text-decoration: underline;
    }
  }

  &__label {
    align-self: stretch;
    flex-shrink: 0;
    color: $black;
    @include type($kepler-std, $font-weight-semibold);
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  &__link {
    @include breakpoint($bp-med) {
      min-width: 195px;
    }
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
    color: $purple;
    @include type($myriad-pro, $font-weight-truebold);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
}