.dr-finder-search {}

.dr-finder-search__search-field {
  @include breakpoint($bp-small) {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .ama-dr-finder-search-field {
    width: 100%;
  }
}

.dr-finder-search__quick-finder {}

.dr-finder-search__cta,
.dr-finder-search__cta a {
  color: $purple;
}

.dr-finder-search__cta {
  padding-top: $gutter;
}
