.ama__homepage__trending {
  .featured-link__title {
    font-size: 26px;
    line-height: calc($gutter * 1.5);
    color: #5E5E5E;
    margin-bottom: 0;
      padding-left: 0;
      @include breakpoint($bp-small) {
          margin-bottom: $gutter;
          font-size: calc($gutter * 1.25);
          padding-left: 11px;
      }
  }
  .featured-links__link-list {
    padding-bottom: 14px;
      padding-left: 0;
      @include breakpoint($bp-small) {
          padding-left: 11px;
      }

    ol,
    div {
      list-style-type: none;
      margin-bottom: 0;
        div {
            padding: calc($gutter * .5) 0;
        }
        li {
            padding: calc($gutter * .5) 0 calc($gutter * .5) $gutter;
            &::before {
                content: attr(data-list);
                color: $black;
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                position: absolute;
                left: 0;
            }
        }
      li, div {
        border-bottom: 1px solid #979797;
          position: relative;
        a {
            text-decoration: none;
          &:hover {
            text-decoration: underline;
            background-color: transparent;
          }

        }
      }
    }
  }
  .featured-links__more {
    display: flex;
    justify-content: flex-end;

    a {
      color:#015884;
      text-decoration: none;

      &:after {
        content: '';
        background-image: url('../icons/svg/icon-next-blue.svg');
        display: inline-block;
        margin-left: 7px;
        width: 14px;
        height: 9px;
        background-repeat: no-repeat;
      }
    }

  }
}

