.ama__homepage__trending {
  .featured-link__title {
    font-size: 26px;
    line-height: calc($gutter * 1.5);
    margin-bottom: calc($gutter / 2);
    padding-left: 0;
    color: $gray-64;
    @include breakpoint($bp-small) {
      font-size: 36px;
      padding-left: 11px;
    }
  }

  .featured-links__link-list {
    padding-bottom: calc($gutter/2);
    padding-left: 0;

    @include breakpoint($bp-small) {
      padding-left: 11px;
    }

    ol,
    div {
      list-style-type: none;
      margin-bottom: 0;

      div {
        padding: calc($gutter * 0.5) 0;
      }

      li {
        padding: calc($gutter * 0.5) 0 calc($gutter * 0.5) 17px;

        &:first-of-type {
          padding-top: 0;
        }

        &::before {
          content: attr(data-list);
          font-size: 20px;
          line-height: 26px;
          color: $black;
          font-weight: $font-weight-semibold;
          position: absolute;
          left: 0;
        }
      }

      li,
      div {
        border-bottom: 1px solid $gray-30;
        position: relative;

        a {
          @include type($myriad-pro, $font-weight-bold);
          font-size: 20px;
          line-height: 27px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            background-color: transparent;
          }
        }
      }
    }
  }

  .featured-links__more {
    display: flex;
    justify-content: flex-end;

    a {
      color: $gating-block-link;
      text-decoration: none;

      &:after {
        content: '';
        background-image: url('../icons/svg/icon-next-blue.svg');
        display: inline-block;
        margin-left: calc($gutter/4);
        width: calc($gutter/2);
        height: 9px;
        background-repeat: no-repeat;
      }
    }
  }
}