.ama__filter {
  display:none;
  @include breakpoint($bp-med) {
    display: block;
  }
  .ama__applied-filters__tags {
    display: none;
  }

  .ama__checkboxes {
    max-height: 300px;
    overflow: scroll;
  }

  @include breakpoint($bp-med){
    .ama__applied-filters__tags {
      display: block;
    }

    .ama__search-header {
      display: none;
    }
  }

  &__see-results {
    display: none;
  }

  .ama__content-facets {
    .ama__content-facets__header {
      padding-top: calc($gutter/2);
      padding-bottom: calc($gutter/2);
      padding-left: 0;
      display: flex;
      align-items: center;
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $black;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 26px;
      flex: 1;
      margin-bottom: 0;
    }
    .facet-item {
      list-style-type: none;

      label {
        line-height: 1.6em;

        span {
          @include type($myriad-pro, $font-weight-regular);
        }
      }
    }
  }
}
