.ama__footer {
  background-color: $homepagePurple;
  color: $white;
  padding-top: $gutter;

  a {
    color: $white;
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p,
  &__connect {
    font-size: 1.333em;
    line-height: 1.667em;
  }

  ul {
    list-style-type: none;
  }

  &__menu-secondary-user {
    display: flex;
    font-size: 1.333em;
    line-height: 1.667em;

    ul {
      width: 50%;

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__menu-utility {
    margin-top: 0;
    line-height: 1.056em;
    padding: $gutter / 2 0;
    flex-grow: 2;

    li {
      display: inline-block;

      &:not(:last-child) {
        border-right: 1px solid $white;
        padding-right: $gutter / 4;
        margin-right: $gutter / 4;
      }
    }
  }

  &__menu-products {
    border-top: 1px solid $gray-50;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.111em;
    line-height: 1em;
    padding: $gutter / 2 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        border-right: 1px solid $white;
        padding-right: $gutter / 4;
        margin-right: $gutter / 4;
      }
    }
  }

  &__bottom {
    background: $purple;
    border-top: 1px solid $gray-50;
    color: $white;

    @include breakpoint($bp-large) {
      .container {
        display: flex;
        align-items: center;
      }
    }
  }

  &__right {
    p {
      line-height: 1.25em;
    }
  }

  @include breakpoint($bp-large) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }

    &__left {
      order: 1;
      flex: 1 0px;
    }

    &__right {
      order: 2;
      width: calc(100% / 3 * 1);
    }

    &__menu-products {
      order: 4;
      flex: 1 100%;
    }

    &__mission {
      max-width: 65%;
    }
  }
}
