.ama__footer {
  @include gutter($padding-top-full...);
  @include gutter($margin-top-full...);
  background-color: $purple;
  color: $white;

  button {
    text-transform: uppercase;
  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: $font-weight-semibold;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p,
  &__connect {
    @include font-size($footer-font-sizes);
  }

  ul {
    list-style-type: none;
  }

  .ama__social-share {
    a {
      height: 50px;
      width: 50px;
      background-size: 50px;
    }

    @include breakpoint(max-width $bp-small){
        margin: $gutter-mobile auto;

        a {
          height: 43px;
          width: 43px;
          background-size: 43px;
        }
    }
  }
  .ama__site-logo--footer img{
    @include breakpoint(max-width $bp-small){
      margin: auto;
      display: block;
    }
  }

  &__menu-secondary-user {
    @include font-size($footer-font-sizes);
    padding-bottom: $gutter-mobile;
    margin-bottom: $gutter-mobile;
    border-bottom: 1px solid $gray-50;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint($bp-small) {
      border: none;
    }

    @include breakpoint($bp-large) {
      display: flex;

      ul {
        width: 50%;
      }
    }
  }

  .ama__subscribe-promo--wide .ama__subscribe-promo__form {
    .form-actions {
      margin: 0;
    }

    form{
      @include breakpoint(max-width $bp-small){
        flex-direction: row;
      }
    }

     .ama__button {
      @extend %ama__button;
      text-transform: capitalize;
      color: $black;
      background: $orange-medium;
    }

    .ama__form-group {
      display: flex;
      width: 100%;
    }
  }

  &__menu-utility {
    margin-top: 0;
    padding: $gutter / 2 0;

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: " | ";
        padding: 0 7px;
      }
    }

    @include breakpoint($bp-large) {
      flex-grow: 2;
      text-align: left;
    }
  }

  &__menu-products {
    @include font-size($footer-font-sizes--menu);
    @include gutter($padding-bottom-half...);
    @include gutter($padding-top-half...);
    @include gutter($margin-top-half...);
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid $gray-50;

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: " | ";
        padding: 0 7px;
      }
    }

    @include breakpoint($bp-large) {
      font-size: 1.111em;
      line-height: 1em;
    }
  }

  &__bottom {
    @include gutter($padding-bottom-full...);
    @include font-size($footer-font-sizes--menu);
    text-align: center;
    background: $purple;
    border-top: 1px solid $gray-50;
    color: $white;

    @include breakpoint($bp-large) {
      padding: 0;

      > .container {
        display: flex;
        align-items: center;
      }
    }
  }

  &__left {
    @include breakpoint(max-width $bp-small){
      padding-bottom: $gutter-mobile;
    }
  }
  &__right {
    .ama__subscribe-promo__form .ama__applied-filters__remove {
      font-weight: $font-weight-semibold;
      text-decoration: none;
    }
    
    @include breakpoint(max-width $bp-small){
      border-top: 1px solid $gray-50;
      padding-top: $gutter-mobile;
    }

    p {
      line-height: 1.25em;
    }
  }

  @include breakpoint($bp-small) {
    > .container {
      display: flex;
      flex-wrap: wrap;
    }

    &__left {
      order: 1;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;

      .ama__footer__mission {
        max-width: 95%;
      }
    }

    &__right {
      order: 2;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      padding-left: 15px;

      .ama__subscribe-promo--wide .ama__subscribe-promo__form {
        input {
          background-color: $white;
          text-decoration: none;
          font-weight: 600;
          &.error {
            background-image: none;
          }
        }

        .ama__button {
          margin: 0;
        }

        div[role=alert] {
          display: none;
        }
      }
    }

    &__menu-products {
      order: 4;
      flex: 1 100%;
    }

    &__mission {
      max-width: 65%;
    }
  }
  @include breakpoint($bp-large){
    &__right {
      flex-basis: 33.333%;
      padding-left: 0;
    }
    &__left {
      flex-basis: 66.666%;

      .ama__footer__mission {
        max-width: 65%;
      }
    }
  }
}
