.ama__four-up-teaser {
  display: flex;
  flex-direction: column;
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);

  @include breakpoint($bp-small) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include breakpoint($bp-med) {
    flex-wrap: nowrap;
  }

  .ama__article-stub {
    @include gutter($margin-bottom-full...);
    flex-grow: 1;
    flex-basis: 0;
    
    &__copy > h2 {
      @extend %ama__type--small;
    }

    .ama__article-stub__title {
      padding: 0;
    }


    @include breakpoint($bp-small) {
      @include gutter($padding-left-half...);

      &:first-child {
        padding: 0;
      }
    }
  }
}

