.ama__four-up-teaser {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-small) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include breakpoint($bp-med) {
    flex-wrap: nowrap;
  }

  a {
    @include font-size($p-font-sizes);
  }
}

.ama__four-up-teaser .ama__article-stub {
  @include gutter($margin-bottom-full...);
  @include breakpoint($bp-small $bp-med) {
    width: 50%;

    &:nth-of-type(even) {
      @include gutter($padding-left-quarter...);
    }

    &:nth-of-type(odd) {
      @include gutter($padding-right-quarter...);
    }
  }

  @include breakpoint($bp-med) {
    @include gutter($padding-right-half...);
    &:last-child {
      padding: 0;
    }
  }
}