.full-promo-block {
  font-family: $myriad-pro;
  padding: 91px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  &.light_text {
    color: $white;
  }
  &.dark_text {
    color: $black;
  }
  &.bg_purple_gradient {
    background: $linear-purple-gradient;
  }
  &.bg_pale_purple {
    background-color: $bg_purple;
  }
  &.bg_none {
    background-color: transparent;
  }
  &.bg_gray {
    background-color: $bg_gray;
  }
  &.bg_purple {
    background-color: $purple;
  }
  .title {
    h2 {
      font-size: 34px;
      font-weight: $font-weight-bold;
      font-family: $myriad-pro;
      line-height: 64px;
    }
  }
  .body {
    p {
      font-size: 18px;
      font-weight: $font-weight-regular;
      font-family: $myriad-pro;
      margin-bottom: 32px;
    }
  }
  .ctas {
    display: flex;
    flex-direction: column;
    gap: calc($gutter * .75);
    @include breakpoint($bp-small) {
      flex-direction: row;

    }
    .cta_one {

    }
    .cta_two {

    }
  }
}
