.gating-block-wrapper {
  margin: $gutter calc($gutter * .5);
  padding: calc($gutter) 0 calc($gutter * 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .gating-block {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: black;
    @include breakpoint($bp-small) {
      width: 50%;
    }
    promo-embed {
      width: 100%;
      max-width: 100%;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
    &.left {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &.center {
      text-align: center;
      align-items: center;
      justify-content: center;
      ul {
        margin-left: auto;
        margin-right: auto;
      }
    }
    ul {
      text-align: left;
      li {
        line-height: 24px;
      }
    }
    p:has(a.ama__button) {
      min-width: 50%;
      max-width: 100%;
      .gating-cta {
        width: 100%;
        &.ama__button {
          padding: 9px calc($gutter/4);
        }
      }
    }
    .small {
      font-size: calc($gutter/2);
      margin-bottom: calc($gutter * .25);
    }
    a {
      &:not(.ama__button) {
        font-weight: 300;
        text-underline-offset: 30%;
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
          background: transparent;
        }
      }
    }
    ul {
      margin-bottom: 26px;
    }
    p {
      margin-bottom: calc($gutter * .25);
    }
    > p {
      font-size: 16px;
      line-height: 20px;
      a {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}
