.ama__mobile-homepage-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc($gutter/4);
  padding: calc($gutter/2) 10px;
  border-bottom: .5px solid $gray-30;
  @include breakpoint($bp-small) {
    display: none ;
  }
  a {
    display: block;
    flex: 1 1 46.6%;
    min-width: 182px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    padding: 8px 10px;
    @include breakpoint($bp-xs max-width) {
      min-width: unset;
    }
    &:last-of-type {
      background: $gating-block-blue;
      color: $gating-block-link;
    }
    &:first-of-type {
      background: $gating-block-link;
      color: $gating-block-blue;
    }
    &:hover,
    &:focus,
    &:active {
      opacity: .5;
    }

    &.single {
      flex: 0;
    }
  }

  &.single {
    a {
      flex: 0;
    }
  }

  &.column {
    padding: calc($gutter/2) 0;
    a {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}