.ama__homepage__stubs {
  > .ama__hero {
    &-video {
      display: block;
      @include breakpoint($bp-large) {
        display: flex;
        flex-flow: row-reverse;
        justify-content: flex-end;
      }
  
      .ama__hero-video-info,
      > .ama__article-stub__copy {
        @include breakpoint($bp-large) {
          margin-right: 20px;
        }
  
        h3.ama__h3 {
          margin-bottom: 14px;
          a {
            font-size: 28px;
            line-height: 32px;
            @include breakpoint($bp-small) {
              font-size: 38px;
              line-height: 42px;
            }
          }
        }
  
        .ama__article-stub__metadata {
          font-size: 14px;
        }
      }
      .ama__video__container,
      > .ama__image {
        .series-icon {
          display: none;
        }
        @include breakpoint($bp-large) {
          max-width: 580px;
          height: auto;
          padding-top: 26%;
          margin: 0;
        }
      }

      //Related article stub styling here
      > .ama__article-stub__copy {
        h3.ama__h3 {
          font-size: 28px;
          line-height: 32px;
          @include breakpoint($bp-small) {
            font-size: 38px;
            line-height: 42px;
          }
        }
      }
      > .ama__image {
        padding-top: 0;
      }
    }
  }

  .ama__article-stub {
    h5.ama__h5 {
      font-size: 14px;
      line-height: normal;
      color: $gray-64;
      margin-bottom: 14px;
      text-transform: uppercase;
    }
    .ama__video__container {
      position: relative;
      padding-top: 0;
    }
    .series-icon {
      background-color: #3d1660;
    }
    &.ama__article-stub--video {
      .ama__bio-image-with-body__image {
          max-width: unset;
          width: 100%;
          height: auto;
          max-height: unset;
      }
    }
    &.ama__article-stub--image {
      .ama__image {
        img {
          max-width: unset;
          width: 100%;
        }
      }
      .ama__video__container {
        max-width: unset;
        width: 100%;
        .series-icon {
          position: absolute;
          z-index: 1; 
        }
        img {
          max-width: unset;
          width: 100%;
        }
      }
      .ama__hero-video-info {
        max-width: unset;
        width: 100%;
        .series-icon {
          display: none;
        }
      }
    }
  }
}
