.homepage-social-module {
  display: block;
  padding: 0px;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;

  // Override main paragraph font
  p, p a {
    @include type($myriad-pro, $font-weight-regular);
  }

  &__container {
    display: block;
    @include breakpoint($bp-small) {
      display: flex;
      column-gap: 24px;
      justify-content: center;
    }

    .profile_container {
      flex-direction: column;
    }

    .profile_two,
    .profile_three {
      .profile--image {
        max-width: 177px;
        margin: 0 0 24px 0;
        @include breakpoint($bp-small) {
          margin: 0 auto calc($gutter/2);
        }
        img {
          border-radius: 50%;
          width: 100%;
        }
      }
      .profile--content {
        width: 100%;
      }
    }

    .profile_two {
      margin-bottom: 42px;
      @include breakpoint($bp-small) {
        margin-bottom: 35px;
      }
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      background: $gray-4;
      padding: 16px;

      @include breakpoint($bp-small) {
        flex-direction: row;
        gap: 24px;
        padding: 32px;
      }

      &--content {
        h4 {
          font-size: 24px;
          font-weight: $font-weight-bold;
          line-height: 29px;
          margin-bottom: 16px;
        }

        p {
          margin-bottom: 24px;
        }
      }
    }

    @include breakpoint($bp-small) {  
      .profile_container {
        width: 50%;
      }
  
      .profile_two,
      .profile_three {
        display: flex;
        .profile--image {
          width: 16%;
          max-width: 80px;
          margin-right: 4%
        }
        .profile--content {
          width: 84%;
        }
      }
    }
  }

  &.no-feature {
    .profile--image {
      max-width: 116px;
      height: 116px;
      margin: 0 0 24px 0;
      @include breakpoint($bp-small) {
        margin: 0 auto calc($gutter/2);
      }
      img {
        border-radius: 6px;
        width: 100%;
      }
    }
  }

  a.ama__link--purple {
    color: $homepagePurple;
    position: relative;
    font-weight: bold;
    &::after {
      content: " ";
      position: absolute;
      right: -25px;
      top: 8px;
      width: 16px;
      height: 12px;
      background: url('../images/arrow-right-purple-alt.png') no-repeat 0px 0px;
      background-size: contain;
    }
  }
}

.hs_parent_container {
  display: block;
  overflow: auto;
  .ama__homepage__section-title {
    @include type($kepler-std, $font-weight-semibold);
    font-size: 26px;
    line-height: 31px;
    background: unset;
    color: $black;
    margin-top: 28px;
    margin-bottom: 24px;
    padding: 0;

    @include breakpoint($bp-small) {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
    }
  }
  .hs_message {
    max-width: 380px;
    margin-bottom: 20px;
    @include breakpoint($bp-small) {
      margin-bottom: 0px;
      text-align: right;
      float: right;
      word-break: break-all;
    }
    p {
      @include type($myriad-pro, $font-weight-regular);
      font-size: calc($gutter/2);
      word-break: keep-all;
    }
    a {
      color: $blue;
      text-decoration: none;
    }
  }
}
