//  We need the container for the hero block. Keep it from getting double padding when placed in another container.
.container {
  .background-wrapper {
    width: calc(99.9vw - 17px);
    margin-left: calc(((100% - 100vw) / 2) + 8px);
    @include breakpoint($bp-med) {
      width: calc(99.9vw - 15px);
      margin-left: calc(((100% - 100vw) / 2) + 7px);
    }
    .hub-page-hero {
      padding: calc($gutter * .5) 15px calc($gutter * 1.25);
      @include breakpoint($bp-small) {
        padding: calc($gutter * 1.25) 15px calc($gutter * .75);
      }
      @include breakpoint($bp-med) {
        padding: calc($gutter * 1.25) 14px calc($gutter * 1.25) 17px;
      }
    }
  }
  .hub-page-mobile {
    &.media {
      max-width: unset;
      margin: 0 -15px;
    }
  }
  .cta-container-mobile {
    padding: calc($gutter * .5) 0px;
    margin: calc($gutter * .5) 0px;
  }
}
.background-wrapper {
  color: $black;
  margin-bottom: calc($gutter * .5);
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.purple {
    background: $purple;
    color: $white;
    a {
      color: $white;
    }
  }
}
.hub-page-hero {
  display:flex;
  flex-direction: column;
  padding: calc($gutter * .5) 15px calc($gutter * 1.25);
  @include breakpoint($bp-small) {
    padding: calc($gutter * 1.25) 15px calc($gutter * .75);
  }
  @include breakpoint($bp-med) {
    padding: calc($gutter * 1.25) 15px;
  }

  h1,
  h2,
  h3 {
    &.hub_hero_heading {
      margin-bottom: calc($gutter * .5);
      &.large {
        font-size: 28px;
      }
      &.medium {
        font-size: 22px;
      }
      &.small {
        font-size: 20px;
      }
      @include breakpoint($bp-med) {
        &.large {
          font-size: 48px;
        }
        &.medium {
          font-size: 38px;
        }
        &.small {
          font-size: 26px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .heading {
    h1 {
      &.hub_hero_heading {
        margin-bottom: 0;
      }
    }
  }
  //  If the block has media, it becomes a 60/40 block.
  &.has-media {
    .heading {
      flex: 1;
      width: 100%;
      @include breakpoint($bp-med) {
        width: 60%;
        flex: .6;
      }
    }
    .body {
      .copy {
        flex: 1;
        @include breakpoint($bp-small) {
          flex: .5;
        }
        @include breakpoint($bp-med) {
          flex: .6;
        }
        .cta-container {
          .ama__button {
            max-width: 291px;
            flex: .5;
            @include breakpoint($bp-med) {
              max-width: 280px;
            }
          }
        }
      }
      .media {
        display: none;
        @include breakpoint($bp-small) {
          flex: .5;
          padding-left: calc($gutter * .5);
          display: block;
        }
        @include breakpoint($bp-med) {
          flex: .4;
          padding-left: calc($gutter * .5);
        }
      }
    }
  }

  .heading {
    flex: 1;
    width: 100%;
    display: block;
    padding-bottom: calc($gutter * .5);
    @include breakpoint($bp-small) {
      padding-bottom: calc($gutter * 1.25);
    }
    @include breakpoint($bp-med) {
      padding-bottom: calc($gutter * .75);
    }
  }
  .body {
    display: flex;
    flex-direction: column;

    @include breakpoint($bp-small) {
      flex-direction: row;
    }
    .copy {
      &.no-copy {
        justify-content: center;
      }
      display: flex;
      flex-direction: column;
      .subheading {
        ul {
          margin-left: 18px;
        }
      }
      //  This CTA container is hidden on Mobile.
      .cta-container {
        padding-top: calc($gutter * 1.75);
        flex-direction: row;
        display: none;
        @include breakpoint($bp-small) {
          display: flex;
        }
        @include breakpoint($bp-large) {
          padding-top: calc($gutter * 2);
        }
        &.center {
          align-items: center;
          justify-content: center;
        }
        &.left {
          align-items: flex-start;
          justify-content: left;
        }
        .ama__button {
          color: $purple;
          flex: .4;
          @include breakpoint($bp-large) {
            flex: .3;
          }
          &:hover {
            color: $gray-64;
            border-color: $hoverComplementary;
            background-color: $hoverComplementary;
          }
          &:first-child {
            margin-right: calc($gutter * .5);
          }
          &:last-child {
            margin-right: 0;
          }
          &.ama__button--complementary {
            color: $black;
            &:hover {
              color: $gray-64;
            }
          }
        }
      }
    }
  }
}

.hub-page-mobile {
  &.media {
    display:block;
    margin-bottom: 0;
    @include breakpoint($bp-small) {
      display: none;
    }
    img {
      margin-bottom: -7px;
    }
  }
}

//  Style the CTAs that will only appear on mobile.
.cta-container-mobile {
  display: flex;
  flex-direction: column;
  padding: calc($gutter * .5) 0;
  margin: calc($gutter * .5) 15px;
  border-top: 1px solid $purple;
  border-bottom: 1px solid $purple;
  @include breakpoint($bp-small) {
    display: none;
  }
  .ama__button {
    flex: 1;
    width: 100%;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.left {
    align-items: flex-start;
    justify-content: left;
  }
  .ama__button {
    flex: 1;
    width: 100%;
    margin-top: calc($gutter * .5);
    &:hover {
      color: $gray-64;
      border-color: $hoverComplementary;
      background-color: $hoverComplementary;
    }
    &.ama__button--complementary {
      margin-top:0;
      &:hover {
        color: $gray-64;
      }
    }
  }
}
