// Flag/bookmark styling
.ama_locker_navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 12px;
  &-container-mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
  // Mobile menu styling
  &-menu-mobile {
    display: none;
    .click-catcher {
      z-index: 0;
      position: fixed;
      cursor: default;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: block;
      background: rgba(0,0,0,0.25);
    }
    .ama_locker_navigation {
      height: 92px;
      border: 0.5px solid $black;
      flex-direction: column-reverse;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-right: none;
        padding-top: 7px;
        &.subscriptions {
          padding-bottom: 3px;
          &::before {
            margin-right: 6px;
          }
        }
        &::before {
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
  }
  &-container {
    .locker-menu-trigger {
      display: block;
      text-align: right;
      padding-right:15px;
      @include breakpoint($bp-small) {
        display: none;
      }
      .dot {
        height: 2px;
        width: 2px;
        background-color: $purple;
        border-radius: 50%;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
    .locker-menu-content {
      display: none;
      a:not(:last-child)::after {
        display: block;
        content: "";
        height: 23px;
        width: 1px;
        background-color: #000;
        margin-left: 11px;
        margin-right:10px;
      }
      @include breakpoint($bp-small) {
        display: block;
      }
    }
  }
  @include breakpoint($bp-small) {
    padding-right: 0;
  }
  @include breakpoint($bp-med) {
    flex-direction: row;
  }
  @include breakpoint($bp-xs max-width) {
    justify-content: center;
    padding-right: 0;
  }
  a {
    position: relative;
    height: 49px;
    padding: 2px 0 0;
    font-size: 10px;
    font-weight: $font-weight-light;
    color: #310f4a;
    text-decoration: none;
    text-align: center;
    background-color: $white;
    white-space: nowrap;
    width: auto;
    &:hover {
      text-decoration: underline;
    }
    &:focus-visible {
      outline: 2px solid $tab-focus-blue;
      position: relative;
      z-index: 99;
      outline-offset: -5px;
    }
    @include breakpoint($bp-small max-width) {
      min-width: 115px;
    }
    @include breakpoint($bp-small) {
      display: flex;
      flex-direction: row;
      align-items: center;
      /*justify-content: space-between;
      min-width: 162px;*/
    }
    &::before {
      display: block;
      width: 24px;
      height: 21px;
      margin: 0 auto;
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
    &.subscriptions {
      @include breakpoint($bp-small) {
        padding: 13px 0 13px 14px;
      }
      &::before {
        background-image: url('../icons/svg/locker-menu-icons/icon-locker-subscriptions.svg');
        @include breakpoint($bp-small) {
          width: 24px;
          height: 20px;
          margin-right: 6px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../icons/svg/locker-menu-icons/icon-locker-subscriptions-hover.svg');
        }
      }
    }
    &.topics {
      @include breakpoint($bp-small) {
        /*min-width: 155px;*/
        padding: 13px 0;
      }
      &::before {
        width: 21px;
        background-image: url('../icons/svg/locker-menu-icons/icon-locker-topics.svg');
        @include breakpoint($bp-small) {
          width: 21px;
          height: 21px;
          margin-right: 7px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../icons/svg/locker-menu-icons/icon-locker-topics-hover.svg');
        }
      }
    }
    &.bookmarks {
      @include breakpoint($bp-small) {
        padding: 13px 14px 13px 0;
      }
      &::before {
        width: 21px;
        height: 24px;
        background-image: url('../icons/svg/locker-menu-icons/icon-locker-bookmarks-hover.svg');
        @include breakpoint($bp-small) {
          margin-right: 7px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../icons/svg/locker-menu-icons/icon-locker-bookmarks.svg');
        }
      }
    }
  }
}
