// Flag/bookmark styling
.ama_locker_navigation {
  display: flex;
  justify-content: end;
  justify-content: flex-end;
  padding-right: 10px;
  @include breakpoint($bp-small) {
    padding-right: 0;
  }
  a {
    position: relative;
    height: 44px;
    border: 1px solid #a28ab5;
    padding: 2px 0 0;
    font-size: 14px;
    color: #310f4a;
    text-decoration: none;
    text-align: center;
    background-color: $white;
    white-space: nowrap;
    width: auto;
    @include breakpoint($bp-small max-width) {
      min-width: 115px;
    }
    @include breakpoint($bp-small) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 162px;
      font-size: 16px;
    }
    &::before {
      display: block;
      width: 24px;
      height: 21px;
      margin: 0 auto;
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
    &.subscriptions {
      @include breakpoint($bp-small) {
        padding: 9px 11px 8px;
      }
      &::before {
        background-image: url('../images/SubscriptionsMenuIcon_Locker.svg');
        @include breakpoint($bp-small) {
          width: 23px;
          height: 24px;
          margin-right: 5px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../images/SubscribedIcon_Locker.svg');
        }
      }
    }
    &.topics {
      @include breakpoint($bp-small) {
        min-width: 155px;
        padding: 9px 28px 8px 24px;
      }
      &::before {
        width: 23px;
        background-image: url('../images/TopicsMenuIcon_Locker.svg');
        @include breakpoint($bp-small) {
          width: 23px;
          height: 23px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../images/FollowingIcon_Locker.svg');
        }
      }
    }
    &.bookmarks {
      @include breakpoint($bp-small) {
        padding: 9px 23px 8px 25px;
      }
      &::before {
        width: 22px;
        height: 23px;
        background-image: url('../images/BookmarksMenuIcon_Locker.svg');
        @include breakpoint($bp-small) {
          margin-right: 5px;
        }
      }
      &:hover {
        &::before {
          background-image: url('../images/BookmarkedIcon_Locker.svg');
        }
      }
    }
  }
}