.ama__main-navigation {
  border-bottom: 1px solid $gray-50;
  background-color: $purple;
  color: $white;
  position: relative;
  z-index: 501;

  @include breakpoint($bp-small min-width) {
    height: 61px;
    min-height: 61px;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 0;
    min-height: 61px;

    @include breakpoint($bp-small min-width) {
      @include gutter($padding-right-half...);
    }
  }

  .ama__global-menu {
    @include gutter($margin-right-half...);
  }

  .ama_category_navigation_wrapper {
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 501;

    &.scroll {
      overflow: auto;
      width: 100%;

      @include breakpoint($bp-large min-width) {
        overflow: hidden;
      }

      .ama_category_navigation_menu__group {
        overflow-x: hidden;
        overflow-y: auto;
      }

      li {
        position: static;
      }
    }
  }

  .ama_category_navigation_menu {
    display: none;
    flex-direction: column;
    width: calc(100vw - 70px);
    z-index: 501;

    @include breakpoint($bp-small min-width) {
      width: 250px;
    }


    ul.scroll {
      overflow-x: hidden;
      overflow-y: auto;

      .ama_category_navigation_menu__flyout {
        top: 0 !important;
        margin-top: 0 !important;
        transform: none !important;

        .one_article {
          .ama__article-stub:nth-child(2n) {
            display: none;
          }
        }
      }
    }

    li {
      position: static;
    }
  }

  .ama__site-logo {
    align-items: flex-start;
    text-align: center;
    min-width: 125px;
    flex-grow: 1;

    @include breakpoint($bp-small min-width) {
      @include gutter($margin-right-half...);
      flex-grow: 0;
      min-width: 0;
    }

    @include breakpoint($bp-med min-width) {
      align-items: center;
      text-align: left;
    }
  }

  &__join--buttons {
    @include gutter($margin-left-full...);
    @include gutter($margin-right-full...);
    display: none;

    @include breakpoint($bp-large min-width) {
      display: flex;
      align-items: center;

      .ama__button {
        padding: 2px calc($gutter/2);
      }
    }
  }

  &__join--links {
    text-align: right;
    padding: 0 $gutter;
    max-width: 90px;
    font-size: 14px;
    line-height: 1em;
    flex-grow: 2;

    @include breakpoint($bp-small min-width) {
      @include gutter($margin-left-full...);
      display: block;
      width: 65px;
      padding: 0 $gutter;
    }

    @include breakpoint($bp-large min-width) {
      display: none;
    }
  }

  &__member-since {
    @include gutter($margin-left-full...);
    @extend %ama__type--14px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 70px;
  }

  .ama__sign-in-dropdown {
    background-color: transparent;
    z-index: 500;

    @include breakpoint($bp-small min-width) {
      width: auto;
    }
  }

  &__member-benefits-link {
    @include gutter($margin-left-half...);
    @include gutter($margin-right-half...);
    display: none;

    @include breakpoint($bp-med min-width) {
      display: block;
      min-width: 130px;
      text-align: right;
    }
  }


  &--universal {
    .ama__main-navigation__join--buttons {
      flex-grow: 1;
    }

    .ama__main-navigation__join--links {
      flex-grow: 1;
    }
  }
}

.ui-autocomplete.ui-menu {
  z-index: 502;
}

.sticky-wrapper {
  height: 61px !important;
  .is-sticky {
    min-height: 61px;
    height: 61px;
  }

  &.is-sticky .ama__main-navigation {
    z-index: 502 !important;
  }
}
