.ama__masthead {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $gray-50;

  &__link {
    @extend %ama__link--blue;
    @extend %ama__h5;
    text-transform: uppercase;
  }

  &__date {
    align-self: flex-start;
  }

  &__share {
    align-self: flex-end;
    display: none;

    @include breakpoint($bp-small) {
      display: inline-block;
    }
  }
}
