.ama__masthead {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $gray-50;

  &__link {
    @extend %ama__link--blue;
    @extend %ama__h5;
    text-transform: uppercase;
  }

  &__container {
    @include gutter($padding-top-full...);
    display: flex;
    align-items: center;
  }

  &__date {
    flex: 1;
  }

  &__share {

    display: none;

    @include breakpoint($bp-small) {
      display: inline-block;
    }
  }
}
