.ama__masthead {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $gray-50;

  &__link {
    @extend %ama__link--blue;
    @extend %ama__h4;
    align-self: left;
    text-transform: uppercase;
    padding: $gutter-mobile 0 $gutter-mobile/2;

    @include breakpoint($bp-med) {
      padding: $gutter-mobile/2 0 $gutter-mobile;
    }

    @include breakpoint($bp-xl) {
      padding: $gutter 0;
    }
  }

  &__date {
    align-self: flex-start;
  }

  &__share {
    align-self: flex-end;
    display: none;

    @include breakpoint($bp-small) {
      display: inline-block;
    }
  }
}
