.ama__member-feature__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 28px;

  .ama__hero-story {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .ama__member-feature-rail {
    grid-column-start: 4;
  }
}
