.ama__membership {
  background: #ece7f0;
  @include gutter($padding-bottom-full...);
  @include child-top-gutters($gutter / 2);
  display: flex;
  flex-direction: column;

  &.bottom-margin {
    @include gutter($margin-bottom-full...);
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;

    &:not(.membership_image) {
      &:not(.ama__button) {
        @include gutter($padding-left-full...);
        @include gutter($padding-right-full...);
      }
    }
  }

  &_logo-container {
    background-color: #46166b;
    min-height: 28px;
    display: flex;

    .ama__membership_logo {
      margin-top: 4px;
      margin-bottom: 4px;
      max-height: 40px;

      img {
        height: 40px;
        width: auto;
      }
    }
  }

  > .membership_image {
    margin: 0;

    img {
      width: 100%;
      height:auto;
      margin-top: 0;
    }
  }

  .ama__button {
    @include gutter($margin-left-full...);
    @include gutter($margin-right-full...);
  }
  @extend .display-list;
}

a.ama__membership {
  display: block;
  text-decoration: none;

  &:hover {
    color: $black;
    background: darken(#DAD5DE, 8%);
  }
}

.ama__membership.subcat-membership-block {
  height: 210px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  @include breakpoint($bp-small min-width) {
    height: unset;
    width: unset;
    margin: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  padding-bottom: 0;
  .ama__membership_logo-container {
    display: block;
    width: 100%;
    height: 40px;
    @include breakpoint($bp-small min-width) {
      width: 102px;
      height: 44px;
    }
    @include breakpoint($bp-large min-width) {
      width: 200px;
      height: 70px; 
    }
    padding: 0;
    &+ div {
      display: block;
      padding-left: 0;
      padding-right: 0;
      margin-top: 14px;
      @include breakpoint($bp-small min-width) {
        width: 90%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-top: 7px;
      }
      @include breakpoint($bp-large min-width) {
        margin-top: 20px;
        padding-right: 28px;
      }
    }
    .ama__site-logo {
      display: block;
      position: relative;
      height: 44px;
      @include breakpoint($bp-large min-width) {
        height: 70px;
      }
      .logo {
        height: 31px;
        width: 76px;
        position: absolute;
        top: 15%;
        left: 2.3%;
        @include breakpoint($bp-small min-width) {
          left: 12%;
        }
        @include breakpoint($bp-large min-width) {
          top: 20%;
          left: 25%;
          height: 42px;
          width: 105px;
        }
      }
    }
  }
  h2 {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    @include breakpoint($bp-small min-width) {
      padding-left: 6.65%;
      text-align: left;
    }
    @include breakpoint($bp-med min-width) {
      padding-left: 8%;
    }
    @include breakpoint($bp-large min-width) {
      padding-left: 17%;
    }
    //Hide description/block content
    &+ div {
      display: none;
    }
  }
  a.ama__button {
    padding: 7px 22px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    width: 224px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21px;
    @include breakpoint($bp-small min-width) {
      display: inline-block;
      width: unset;
      margin: 0;
      right: 0px;
      top: -7px;
      left: unset;
      bottom: unset;
      padding: 8.5px 22px;
      height: 44px;
    }
    @include breakpoint($bp-large min-width) {
      margin-right: 2.6%;
      font-size: 20px;
      top: -10px;
      padding: 10.5px 35px;
      height: unset;
    }
  }
}
