.ama__member-feature__wrapper {
  @include gutter($margin-top-full...);

  @include breakpoint($bp-small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: $gutter;
    background: $gray-7;

    .ama__hero-story {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .ama__hero-story__media{
      margin-right: $gutter*-2;
      img{
        max-width: unset;
        width: 100%;
      }
    }

    .ama__member-feature-rail {
      grid-column-start: 4;
    }
  }

  .ama__member-feature-rail {

    @include breakpoint($bp-small max-width) {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $gutter;

      .ama__article-stub {
        margin: 0;
      }

      .ama__member-feature-rail__view-all-link {
        grid-column-start: 2;
        grid-column-end: 2;
      }
    }
    .ama__member-feature-rail__view-all-link {
      text-align: right;
      color: $purple;
      text-decoration: none;
      font-style: italic;
      font-size: 12px;
      text-align: right;
      @include breakpoint($bp-small){
        text-align: left;
      }
    }

    @include breakpoint($bp-small) {
      display: block;
    }
  }
}
