.ama__membership {
  background: #ece7f0;
  @include gutter($padding-bottom-full...);
  @include child-top-gutters($gutter / 2);
  display: flex;
  flex-direction: column;

  &.bottom-margin {
    @include gutter($margin-bottom-full...);
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;

    &:not(.membership_image) {
      &:not(.ama__button) {
        @include gutter($padding-left-full...);
        @include gutter($padding-right-full...);
      }
    }
  }

  &_logo-container {
    background-color: #46166b;
    min-height: 28px;
    display: flex;

    .ama__membership_logo {
      margin-top: 4px;
      margin-bottom: 4px;
      max-height: 40px;

      img {
        height: 40px;
        width: auto;
      }
    }
  }

  > .membership_image {
    margin: 0;

    img {
      width: 100%;
      height:auto;
      margin-top: 0;
    }
  }

  .ama__button {
    @include gutter($margin-left-full...);
    @include gutter($margin-right-full...);
  }
  @include list($left-justified, $one-level);
}

a.ama__membership {
  display: block;
  text-decoration: none;

  &:hover {
    color: $black;
    background: darken(#DAD5DE, 8%);
  }
}
