.ama__org-nav {
  max-width: 33.33%;
  text-align: right;

  li {
    display: inline-block;

    a {
      color: $purple;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 ($gutter / 2);
      font-size: .778em;
      line-height: 2.214em;
      font-weight: 600;
    }
  }
}
