.ama__product-nav {
  display: none;
  background: $hoverBlack;

  @include breakpoint($bp-small) {
    display: block;
  }

  li {
    display: inline-block;

    a {
      font-weight: 600;
      margin: 0 ($gutter / 2);
    }
  }
}
