.ama__resource-tabs {
}

.ama__resource-tabs__nav {
  width: 100%;
  list-style-type: none;
  background: $purple;
  display: flex;

}

.ama__resource-tabs__nav li {
  display: block;
  padding: ($gutter / 2) ($gutter / 4);
  color: $white;
  text-align: center;
  margin: 0;
  border-right: solid 1px $white;

  &.--is-active {
    background: $white;
    color: $purple;
    border-right: double 3px $purple;
    border-left: solid 1px;

    + li {
      padding-left: 4px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.ama__resource-tabs__nav__icon {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;

  @include breakpoint($bp-large) {
    width: 40px;
    height: 40px;
  }
}

li {
  &[data-tab='resources'] {
    display: block;
    @include breakpoint($bp-small) {
      display: none;
    }

    .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-resources.svg');
    }
  }

  &[data-tab='media'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-media.svg');
  }

  &[data-tab='downloads'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-downloads.svg');
  }

  &[data-tab='related-links'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-relatedlinks.svg');
  }

  &[data-tab='schedules'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-schedules.svg');
  }

  &[data-tab='tables'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-table.svg');
  }

  &[data-tab='contacts'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-contacts.svg');
  }

  &.--is-active {
    &[data-tab='resources'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-resources-active.svg');
    }

    &[data-tab='media'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-media-active.svg');
    }

    &[data-tab='downloads'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-downloads-active.svg');
    }

    &[data-tab='related-links'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-relatedlinks-active.svg');
    }

    &[data-tab='schedules'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-schedules-active.svg');
    }

    &[data-tab='tables'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-table-active.svg');
    }

    &[data-tab='contacts'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-contacts-active.svg');
    }
  }
}

.ama__resource-tabs__content {
  position: relative;
}

.ama__resource-tabs__nav__label {
  display: none;
  @include breakpoint($bp-large) {
    display: block;
  }
}

.ama__resource-tabs__content section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  padding: $gutter / 2;

  &.--is-active {
    z-index: 10;
  }
}

.ama__resource-tabs__content section#resources {
  display: block;
  @include breakpoint($bp-small) {
    display: none;
  }
}
