.ama__ribbon {
  background-color: $purple;
  & > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 51;
  }

  & > .ama__ribbon__dropdown:first-child  {
    align-items: flex-start;
    border-left: 1px solid $gray-50;
    border-right: 1px solid $gray-50;

    .ama__ribbon__dropdown--nav {
      left: 0;
    }
  }

  .ama__ribbon__dropdown--nav__menu {
    a:hover {
      background: $gray-7;
    }
  }
}
