@mixin subscribeIcon {
  &::before {
    display: block;
    width: 19px;
    height: 19px;
    margin: 0px auto -15px;
    content: "";
    background-image: url('../images/SubscribeIcon_Locker.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;
    top: -8px;
    @include breakpoint($bp-small) {
      padding-left: 5px;
      width: 21px;
      height: 26px;
      margin: 0 auto;
      position: absolute;
      left: 34px;
      top: 10px;
    }
  }
}

@mixin triangle-right {
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 12px solid $homepagePurple;
  position: absolute;
  top: 0px;
  right: -12px;
  z-index: 1;
}

.ama__series,
.ama__trending,
.ama__topic_terms {
  //Taxonomy specific subscribe series styling
  .salesforce-subscribe-form {
    display: inline-block;
    border: none;
    line-height: 0;
    position: relative;
    @include breakpoint($bp-small max-width) {
      height: 44px;
    }
    @include subscribeIcon();
    @include breakpoint($bp-small max-width) {
      &::before {
        position: relative;
        top: -2px;
      }
    }
    .form-actions {
      margin: 0;
    }
    input.form-submit {
      border: 1px solid #a28ab5;
      background: none;
      color: #310f4a;
      font-family: "myriad-pro", "Helvetica", "Arial", "Open Sans", sans-serif;
      font-weight: 400;
      margin-bottom: 0;
      padding: 15px 0 0 0;
      line-height: 1.5em;
      font-size: 16px;
      @include breakpoint($bp-small max-width) {
        width: 87px;
        height: 44px;
        font-size: 14px;
        line-height: 2;
        top: -10px;
      }
      @include breakpoint($bp-small) {
        min-width: 180px;
        max-width: 180px;
        max-height: 46px;
        padding: 9px 0 8px 25px;
        margin-bottom: 5px;
      }
    }
    &:hover {
      &::before {
        background-image: url('../images/SubscribeHoverIcon_Locker.svg');
      }
      input.form-submit {
        text-decoration: underline;
      }
    }
    + .flag {
      display: inline-block;
      margin-top: 1px;
    }
  }

  //Taxonomy specific subscribed series styling
  .subscribe-series {
    display: inline-block;
    border: 1px solid #a28ab5;
    background: none;
    color: #310f4a;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    padding: 15px 0 0 0;
    position: relative;
    top: 0;
    @include breakpoint($bp-small max-width) {
      width: 87px;
      height: 44px;
      font-size: 14px;
      line-height: 2;
      top: -8px;
    }
    @include breakpoint($bp-small) {
      min-width: 180px;
      max-width: 180px;
      max-height: 46px;
      padding: 7px 0 8px 25px;
      margin-bottom: 5px;
    }
    + .flag {
      display: inline-block;
      margin-top: 0px;
      @include breakpoint($bp-small max-width) {
        position: relative;
        top: -10px;
      }
    }
    &:hover {
      text-decoration: underline;
      &::before {
        background-image: url('../images/SubscribeHoverIcon_Locker.svg');
      }
    }
    @include subscribeIcon();
    @include breakpoint($bp-small max-width) {
      position: relative;
      top: -8px;
    }
    &.subscribed {
      &::before {
        background-image: url('../images/SubscribedIcon_Locker.svg');
        @include breakpoint($bp-small) {
          left: 28px;
        }
      }
    }
  }
}

.news-subscribe-wrapper {

  @include breakpoint($bp-small) {
    display: flex;
    align-items: center;
  }

  span.icon--subscribe-news {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .ama__button--news-subscribe {
      padding-right: 36px !important;
      &:hover {
        border-color: transparent;
        color: $white;
        background-color: $purple;
      }
      &:focus-visible {
        outline: 2px solid $tab-focus-blue;
        outline-offset: 5px;  
      }
    }
    &:hover {
      &:after {
        background-image: url("../icons/svg/icon-subscribe-hover.svg");
      }
      + span.arrow {
        + span.arrow {
          display: none;
        }
      }
      .ama__button--news-subscribe {
        border-color: transparent;
        color: $white;
        background-color: $purple;
      }
    }
    &:after {
      content: "";
      display: inline-block;
      height: 32px;
      width: 32px;
      margin-left: -32px;
      overflow: hidden;
      position: relative;
      background-image: url("../icons/svg/icon-subscribe.svg");
    }
    + span.arrow {
      width: 0; 
      height: 0;
      border-top: 18px solid transparent; 
      border-bottom: 18px solid transparent; /* 36px height (18+18) */
      border-left: 18px solid $purple;
      position: absolute;

      + span.arrow {
        width: 0; 
        height: 0;
        border-top: 18px solid transparent; 
        border-bottom: 18px solid transparent; /* 36px height (18+18) */
        border-left: 18px solid $white;
        margin-left: -1px;
        position: absolute;
      }
    }
  }
  
  .form-actions {
    margin: 0;
  }
  .sub-title {
    @include breakpoint($bp-small) {
      margin-left: 30px;
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: $purple;
      text-transform: uppercase;
      text-decoration: none;

      &:focus-visible {
        outline: 2px solid $tab-focus-blue;
        outline-offset: 5px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .subscribed {
    span.icon--subscribe-news {
      &:after {
        background-image: url("../icons/svg/icon-unsubscribe.svg");
      }
      &:hover {
        &:after {
          background-image: url("../icons/svg/icon-unsubscribe-hover.svg");
        }
      }
    }
  }
}

a.subscribe-series {
  display: block;
  min-height: 28px;
  top: -30px;
}

.series-tag + .subscribe-series,
.series-tag + .salesforce-subscribe-form input.form-submit {
  position: relative;
  text-decoration: none;
  @include type($myriad-pro, $font-weight-semibold);
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2;
  width: 182px;
  color: $white;
  background: $homepagePurple;
  padding-left: 20px;
  @include breakpoint($bp-small) {
    width: 168px;
    padding-left: 8px;
  }
  &:after {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background: url(../icons/svg/subscribe-hover.svg) no-repeat 0 0;
    background-size: contain;
    position: relative;
    top: 3px;
    left: 8px;
    z-index: 1;
  }
  &:hover {
    cursor: pointer;
    background: $purple;
    input.form-submit {
      cursor: pointer;
      background-color: $purple;
    }
    .triangle-right {
      border-left: 12px solid $purple;
    }
  }

  .triangle-right {
    @include triangle-right();
  }

  &.subscribed {
    color: $purple;
    background: $white;
    border: 1px solid $purple;
    text-align: center !important;
    padding: 0;
    &:after {
      content: none;
    }

    .triangle-right {
      display: none;
    }
  }
}

//Subscribe to series button styling on articles
.series-tag + .subscribe-series,
.series-tag + .salesforce-subscribe-form {
  width: 168px;
  position: relative;
  top: 0;
  margin-top: 28px;
  .triangle-right {
    @include triangle-right();
  }
  &:hover {
    .triangle-right {
      border-left: 12px solid $purple;
    }
  }

  input.form-submit {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  .form-actions {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    &:after {
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      background: url(../icons/svg/subscribe-hover.svg) no-repeat 0 0;
      background-size: contain;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
    }
  }
}

.series-tag + .salesforce-subscribe-form {
  .triangle-right {
    top: 2px;
  }
}