/** Styles for the teaser social share bar. **/

.share-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: flex-end;

  //  Icons.
  .bookmark {
    padding: 25px;
    &:before {
      content: "";
      position: absolute;
      left: 25px;
    }
  }
  //  Share text.
  .copy {
    font-size: 20px;
    font-weight: 400;
  }
  .copy-url {

  }
  .share {
    .share-modal {
      .facebook {

      }
      .linked-in {

      }
      .twitter {

      }
      .email {

      }
    }
  }
}
