/** Styles for the article social share bar. **/
.share-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-bottom: $gutter;
  border-bottom: 2px solid $gray-20;
  padding-top: calc($gutter * .75);

  .flag-bookmark {
    a {
      text-decoration: none;
    }
  }

  .ajax-progress {
    display: none;
  }

  .icon {
    &.bookmark {
      &:before {
        height: 24px;
        width: 16px;
        background-image: url("../icons/svg/social-share-icons/v1-icon-save-not-selected.svg");
      }
    }
    &.bookmark.masthead:hover {
      &:before {
        background-image: url("../icons/svg/social-share-icons/v1-icon-save-not-selected.svg");
      }
    }
  }
  &.action-unflag {
    .icon {
      &.bookmark {
        &:before {
          background-image: url("../icons/svg/social-share-icons/v1-icon-save-selected.svg");
        }
      }
    }
  }

  //  Icon and print icon parent styles.
  .icon {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    &.copy {
      &:before {
        height: 24px;
        width: 22px;
        top: -5px;
        background-image: url("../icons/svg/social-share-icons/v1-icon-copy-not-selected.svg");
      }
      &:hover {
        cursor: pointer;
      }
      &.masthead:hover:before {
        background-image: url("../icons/svg/social-share-icons/v1-icon-copy-not-selected.svg");
      }
      &.copied {
        &:before {
          background-image: url("../icons/svg/social-share-icons/v1-icon-copy-selected.svg");
        }
      }
    }
    &.print {
      &:before {
        height: 18px;
        width: 21px;
        background-image: url("../icons/svg/social-share-icons/v1-icon-print-not-selected.svg");
      }
      &:hover {
        cursor: pointer;
        &:before {
          background-image: url("../icons/svg/social-share-icons/v1-icon-print-not-selected.svg");
        }
      }
      &:focus-visible {
        outline: 2px solid $tab-focus-blue;
        height: 33px;
      }
      &.printed {
        &:before {
          background-image: url("../icons/svg/social-share-icons/v1-icon-print-selected.svg");
        }
      }
    }
    &.share {
      &:before {
        width: 21px;
        height: 17.25px;
        background-image: url("../icons/svg/social-share-icons/v1-icon-share-not-selected.svg");
      }
      &.shared {
        &:before {
          background-image: url("../icons/svg/social-share-icons/v1-icon-share-selected.svg");
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.masthead:hover:before {
        background-image: url("../icons/svg/social-share-icons/v1-icon-share-not-selected.svg");
      }

      //  Social Modal.
      .share-modal {
        display:flex;
        flex-direction: column;
        border: 1px solid $border-gray;
        border-radius: 20px 20px 0 0;
        z-index: 99;
        bottom: 0;
        right: 0;
        position: fixed;
        padding: 20px 48px 20px 34px;
        background: $white;
        display: block;
        border-radius: 20px;
        @include breakpoint($bp-small) {
          position: absolute;
          right: -125px;
          bottom: -332px;
        }
        @include breakpoint($bp-med) {
          right: -145px;
        }
        &.hidden {
          display: none;
          .click-catcher {
            display:none;
          }
        }
        .click-catcher {
          z-index: 0;
          position: fixed;
          cursor: default;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          display: block;
          background: transparent;
        }
        a {
          white-space: nowrap;
          display: block;
          position:relative;
          padding-left: 54px;
          padding-bottom: $gutter;
          font-size: 20px;
          font-weight: $font-weight-bold;
          text-decoration: none;
          &:focus {
            text-decoration: underline;
          }
          &:hover {
            text-decoration: underline;
          }
          &:last-child {
            padding-bottom: 0;
          }
          &:before {
            width: 40px;
            height: 40px;
            left: 0px;
            top: -4px;
            content: " ";
            background-repeat: no-repeat;
            position: absolute;
          }
        }
        .facebook {
          &:before {
            background-image: url("../icons/svg/social-share-icons/fb.svg");
          }
        }
        .linkedin {
          &:before {
            background-image: url("../icons/svg/social-share-icons/linkedin.svg");
          }
        }
        .twitter {
          &:before {
            background-image: url("../icons/svg/social-share-icons/twitter.svg");
            background-size: contain;
            width: 35px;
            height: 35px;
            top: -2px;
          }
        }
        .email {
          &:before {
            background-image: url("../icons/svg/social-share-icons/email.svg");
          }
        }
        .doximity {
          &:before {
            background-image: url("../icons/svg/social-share-icons/doximity.svg");
            background-size: contain;
            width: 35px;
            height: 35px;
            top: -2px;
          }
        }
      }
    }
  }
  .icon.print {
    background-color: #fff;
  }
  .contextual-link-wrapper {
    position: absolute;
    display: none;
    left: 30px;
    @include breakpoint($bp-small max-width) {
      display: block;
    }
    &:hover, &:active {
      background-color: $purple;
    }
    &:focus-visible {
      outline: 2px solid $pg-lt-blue;
      outline-offset: 3px;
    }
    a {
      color: black;
      font-size: 20px;
      text-decoration: underline;
      text-transform: none;
      padding: 0;
    }
  }
}

//  Styles for the social share bar in the news article masthead.
.article-header {
  z-index: 99;
  position: relative;
  .share-row {
    .share {

      &.is-sticky {
        .share-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          top: 0;
          left: 0;
          position: absolute;
          margin-top: 250px;
          width: 50px !important;

          .share-modal {
            right: -316px;
            bottom: -250px;
          }
        }
      }
      .share-wrapper {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        &.share-wrapper--fixed {
          top: 0;
          left: 0;
          position: absolute;
          margin-top: 250px;
          .icon {
            padding: 0;
            width: 44px;
            height: 44px;
            .text {
              display: none;
            }
            &::before {
              margin: 0 auto;
            }
          }
          // Adjust icon alignment when sticky/scrolling
          .icon,
          .bookmark {
            margin: 0 0 15px 0;
            padding-left: 0;
            border-radius: 100px;
          }
        }
        @include breakpoint($bp-small max-width) {
          display: flex;
          position: fixed;
          align-items: center;
          z-index: 99;
          bottom: 0;
          right: 0;
          left: 0;
          height: 57px;
          margin: calc($gutter/4) 0 0;
          background-color: $white;
          border-top: 1px solid $border-gray;
          padding: 0;
          .icon.masthead {
            padding: 0;
            width: 44px;
            height: 44px;
            margin-left: 6px;
            .text {
              display: none;
            }
            &::before {
              margin: 0 auto;
            }
          }
        }
        .icon {
          @include ama-button("small", "actions");
        }

        div.action-flag a:focus-visible {
          div.icon.bookmark::before {
            outline: 2px solid $tab-focus-blue;
          }
        }
        div.icon.print {
          @include breakpoint($bp-small max-width) {
            display: none;
          }
        }

        .share-modal {
          cursor: default;
          @include breakpoint($bp-small max-width) {
            bottom: 60px;
          }

          a {
            margin-bottom: $gutter;
            padding-bottom: 0;
            &:focus-visible {
              outline: 2px solid $tab-focus-blue;
            }
          }
        }

        .article-bookmark {
          @include breakpoint($bp-small max-width) {
            height: 40px;
          }
        }
      }
    }
  }
}
