//  Override the default article stub padding and border.
a.index-page  {
  &.ama__subcategory-page-article-stub {
    border-bottom: none;
    padding-bottom: 0;
  }
  &.ama__subcategory-page-article-stub--topics {
    border-bottom: none;
    .ama__subcategory-page-article-stub__text {
      p.ama__subcategory-page-article-stub__subcategory {
        margin-bottom: calc($gutter * .5);
      }
      p {
        margin-bottom: 0;
      }
    }
    &.ama__content-type-stub {
      border-bottom: none;
    }
  }
}



/** Styles for the teaser social share bar. **/
.share-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-bottom: $gutter;
  border-bottom: 2px solid $gray-20;
  padding-top: calc($gutter * .75);

  //  Share text.
  .text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    @include breakpoint($bp-small) {
      font-size: 20px;
    }
  }
  .ajax-progress {
    display: none;
  }

  // Bookmark icon styles in teaser footer
  .ama_book_mark {
    .flag-bookmark {
      padding-top: 5px;
    }
  }
  .flag-footer {
    @include breakpoint($bp-small max-width) {
      align-self: flex-start;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    .icon {
      &.bookmark {
        &:before {
          top: -5px;
          height: 38px;
          width: 38px;
          background-image: url("../icons/svg/social-share-icons/bookmark.svg");
        }
      }
      &.bookmark.masthead:hover {
        &:before {
          background-image: url("../icons/svg/social-share-icons/bookmarked.svg");
        }
      }
    }
    &.action-unflag {
      .icon {
        &.bookmark {
          &:before {
            background-image: url("../icons/svg/social-share-icons/bookmarked.svg");
          }
        }
      }
    }
  }

  //  Icon and print icon parent styles.
  .icon, a.print {
    padding-left: 39px;
    margin-left: calc($gutter * .5);
    position: relative;
    @include breakpoint($bp-small) {
      margin-left: calc($gutter * .75);
    }
    // Override browser styling
    &:focus-visible {
      outline: 2px solid $tab-focus-blue;
      position: relative;
      z-index: 99;
    }
    &:before {
      position: absolute;
      content: " ";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      left: 0;
    }
    &.copy {
      color: $black;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      &:before {
        height: 38.5px;
        width: 35.5px;
        top: -5px;
        background-image: url("../icons/svg/social-share-icons/copy.svg");
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &.masthead:hover:before {
        background-image: url("../icons/svg/social-share-icons/copied.svg");
      }
      &.copied {
        &:before {
          background-image: url("../icons/svg/social-share-icons/copied.svg");
        }
      }
    }
    &.share {
      &:before {
        width: 48px;
        height: 42px;
        left: -6px;
        top: -11px;
        background-image: url("../icons/svg/social-share-icons/share.svg");
      }
      &.shared {
        &:before {
          background-image: url("../icons/svg/social-share-icons/shared.svg");
        }
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &.masthead:hover:before {
        background-image: url("../icons/svg/social-share-icons/shared.svg");
      }

      //  Social Modal.
      .share-modal {
        display:flex;
        flex-direction: column;
        border: 1px solid $border-gray;
        border-radius: 20px 20px 0 0;
        z-index: 99;
        bottom: 0;
        right: 0;
        position: fixed;
        padding: 20px 48px 20px 34px;
        background: $white;
        display: block;
        border-radius: 20px;
        @include breakpoint($bp-small) {
          position: absolute;
          right: -125px;
          bottom: -274px;
        }
        @include breakpoint($bp-med) {
          right: -145px;
        }
        &.hidden {
          display: none;
          .click-catcher {
            display:none;
          }
        }
        .click-catcher {
          z-index: 0;
          position: fixed;
          cursor: default;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          display: block;
          background: transparent;
        }
        a {
          white-space: nowrap;
          display: block;
          position:relative;
          padding-left: 54px;
          padding-bottom: $gutter;
          font-size: 20px;
          font-weight: $font-weight-bold;
          text-decoration: none;
          &:focus {
            text-decoration: underline;
          }
          &:hover {
            text-decoration: underline;
          }
          &:last-child {
            padding-bottom: 0;
          }
          &:before {
            width: 40px;
            height: 40px;
            left: 0px;
            top: -4px;
            content: " ";
            background-repeat: no-repeat;
            position: absolute;
          }
        }
        .facebook {
          &:before {
            background-image: url("../icons/svg/social-share-icons/fb.svg");
          }
        }
        .linkedin {
          &:before {
            background-image: url("../icons/svg/social-share-icons/linkedin.svg");
          }
        }
        .twitter {
          &:before {
            background-image: url("../icons/svg/social-share-icons/twitter.svg");
          }
        }
        .email {
          &:before {
            background-image: url("../icons/svg/social-share-icons/email.svg");
          }
        }
      }
    }
  }
  .icon.print {
    width: 92px;
    margin-left: 0;
  }
}

//  Styles for the social share bar in the news article masthead.
.article-header {
  z-index: 99;
  position: relative;
  .share-row {
    .share {
      margin-left: 15px;
      height: 43px;

      &.is-sticky {
        .share-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          top: 0;
          left: 0;
          position: absolute;
          margin-top: 250px;
          width: 50px !important;
        }
      }
      .share-wrapper {
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        &.share-wrapper--fixed {
          top: 0;
          left: 0;
          position: absolute;
          margin-top: 250px;
          .icon,
          .bookmark {
            margin: 0 0 15px 0;
            width: 30px;
            height: 30px;
            padding-left: 0;
          }
          .icon.copy {
            margin-right: 0;
            margin-top: 0;
          }
          .icon a.print {
            margin-left: 5px;
            width: 30px;
            height: 30px;
          }
        }
        @include breakpoint($bp-small max-width) {
          display: flex;
          position: fixed;
          align-items: center;
          z-index: 99;
          bottom: 0;
          right: 0;
          left: 0;
          height: 57px;
          margin: 3px 0 0;
          background-color: $white;
          border-top: 1px solid $border-gray;
          padding: 0 14px;
        }
        @include breakpoint($bp-small max-width) {
          padding: 0;
          margin-top: 7px;
        }
        .icon {
          &::before {
            left: 0;
            top: 0;
            background-position: center;
          }
          // Override browser styling
          &:focus-visible {
            outline: 2px solid $tab-focus-blue;
            position: relative;
            z-index: 99;
          }
          &.print {
            &a {
              color: transparent;
              padding-right: 15px;
            }
          }
          &.copy {
            margin-right: -6px;
            margin-top: 3px;
            @include breakpoint($bp-small max-width) {
              height: 40px;
            }
          }
          &.bookmark {
            margin-top: 10px;
            @include breakpoint($bp-small) {
              margin-top: 3px;
            }
          }

          &.share,
          &.copy {
            &:focus-visible {
              outline: 2px solid $tab-focus-blue;

              .share-modal {
                display: flex;

                &:focus-within {
                  display: flex;
                }
              }
            }
            &:focus-within {
              .share-modal {
                display: flex;
              }
            }
          }
        }

        div.action-flag a:focus-visible {
          div.icon.bookmark::before {
            outline: 2px solid $tab-focus-blue;
          }
        }
        span.text {
          position: absolute;
          display: none;
        }
        div.icon.print {
          @include breakpoint($bp-small max-width) {
            display: none;
          }
        }
        a.print {
          height: 33px;
          width: 33px;
          margin-top: 7px;
          background-color: transparent;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 33px;
          border: none;
          text-indent: 150%;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          &:before {
            height: 33px;
            width: 33px;
            background-image: url("../icons/svg/social-share-icons/print.svg");
          }
          &:hover {
            text-decoration: underline;
            cursor: pointer;
            &:before {
              background-image: url("../icons/svg/social-share-icons/printed.svg");
            }
          }
          &:focus-visible {
            outline: 2px solid $tab-focus-blue;
            height: 33px;
          }
          &.printed {
            &:before {
              background-image: url("../icons/svg/social-share-icons/printed.svg");
            }
          }
        }

        .share-modal {
          cursor: default;
          @include breakpoint($bp-small max-width) {
            bottom: 60px;
          }

          a {
            margin-bottom: 28px;
            padding-bottom: 0;
            &:focus-visible {
              outline: 2px solid $tab-focus-blue;
            }
          }
        }

        .article-bookmark {
          @include breakpoint($bp-small max-width) {
            height: 40px;
          }
        }
      }
    }
  }
}
