.ama__subcategory-explore-topics {
  display: inline;
  margin: 1em 0;

  @include breakpoint($bp-small) {
    display: flex;
    margin: 1em -15px;
  }
}

.ama__subcategory-explore-topics__heading {
  display: inline;

  @include breakpoint($bp-small) {
    display: block;
    flex-shrink: 0;
    margin-right: 0.25em;
  }

  font-weight: $font-weight-semibold;
}

.ama__subcategory-explore-topics__items {
  display: inline;

  @include breakpoint($bp-small) {
    display: block;
  }
}

.ama__subcategory-explore-topics__item {
  display: inline;
  list-style: none;

  & + .ama__subcategory-explore-topics__item::before {
    content: " | ";
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


