.ama__subcategory-exploration {
  @include gutter-all($padding-all-full...);
  background-color: $gray-7;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1200px;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -14px;

    & > * {
      @include gutter($margin-left-half...);
    }

    @include breakpoint($bp-small) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__title {
    @include gutter($margin-top-full...);
    width: 100%;

    @include breakpoint($bp-small) {
      width: 15%;
    }
  }

  &__view-all,
  &__view-less {
    clear: both;
    text-align: right;
    width: 100%;

    .ama__link {
      display: block;
      color: $blue;
      text-decoration: none;
      line-height: 1em;
      font-weight: 800;
    }
  }

  &__view-less {
    display: none;
  }
}
