.ama__subcategory-featured-content {
  background: $gray-7;
  @include gutter($margin-top-full...);
  overflow-x: hidden;

  .grid-container{
    @include grid_column_layout(3, 2, $gutter/2, $gutter/2);
    padding: $gutter/2 0;
  }

}
