.ama__subcategory-exploration {
  position: relative;
  margin: 1em;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2px - $gutter / 2;
  }

  li {
    list-style-type: none;
    border-left: solid 2px;
    margin: 0 ($gutter / 2) 0 0;
    padding: 0 0 0 ($gutter / 2);
  }

  a {
    text-decoration: none;
    &:hover h2 {
      text-decoration: underline;
    }
  }
}
