.ama__subcategory-featured-content-as-carousel {
  background-color: $gray-7;

  .ama__article-stub {
    margin: 0 28px;
  }

  .slick-dots {
    bottom: 20px;
  }

  .ama__category-page-article-stub__container {
    @include gutter($padding-bottom-full...);
  }
}
