.ama__topic_promotion {
  border: solid 1px $gray-8;
  @include gutter($padding-top-half...);
  @include gutter($padding-right-half...);
  @include gutter($padding-bottom-half...);
  @include gutter($padding-left-half...);
  @include child-top-gutters($gutter-mobile / 2);

  @include breakpoint($bp-med) {
    @include child-top-gutters($gutter / 2);
  }

  &--background {
    background: $black-15;
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;
  }
}

.ama__topic_promotion--link:hover {
  background: $black-15;
  display: block;
}
