.ama__topic_promotion {
  @include gutter($padding-top-half...);
  @include gutter($padding-right-half...);
  @include gutter($padding-bottom-half...);
  @include gutter($padding-left-half...);
  @include child-top-gutters($gutter-mobile / 2);

  @include breakpoint($bp-med) {
    @include child-top-gutters($gutter / 2);
  }

  &--background {
    background: $black-15;
  }

  &--border {
    border: solid 1px $gray-8;
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;
  }

  .ama__image,
  .ama__image img {
    max-width: 100%;
    height: auto;
  }
}

.ama__topic_promotion--link {
  display: block;

  .ama__topic_promotion--border:hover {
    background: $black-15;
  }

  .ama__topic_promotion--background:hover {
    background: darken($black-15, 5%);
  }
}
