.ama__user-article-listing {
  border-bottom: 1px solid #ededed;
  display: flex;
  padding: 30px 0;

  &__image {
    margin: 0 0 15px 15px;
    min-width: 179px;
  }
}
.article-listing__link {
  text-decoration: none;
}
