.ama__wayfinder {
  border-bottom: solid 1px $gray-50;

  &__grid {
    display: none;
    padding: $gutter-mobile 0 $gutter-mobile (calc($gutter-mobile / 4));

    @include breakpoint($bp-med) {
      padding: (calc($gutter-mobile / 4)) 0;
    }
    @include breakpoint($bp-small) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &--referrer {
    flex: 1;
    align-items: center;

    &__link-back {
      display: none;
      justify-content: center;
      font-size: 0.9em;
      align-items: center;

      &.referred {
        display: block;
      }

      a {
        @extend .ama__link--no-underline;
        align-items: center;

        &:before {
          content: "";
          background: transparent url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h18v10H0z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20d%3D%22M9%2010L.293%201.639c-.391-.375-.391-.983%200-1.358s1.023-.375%201.414%200L9%207.284%2016.293.281c.391-.375%201.023-.375%201.414%200s.391.983%200%201.358L9%2010z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
          width: 18px;
          height: 10px;
          transform: rotate(90deg);
        }
      }
    }

    &__link-back svg {
      transform: rotate(90deg); // adjust the positioning of the icon so it lines up with the text and the container edge.
    }

    &__link-back_text {
      padding-left: 4px; // add some visual breathing room between the icon and the text.
    }
  }
}
