.ama__member-feature {
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);

  &__wrapper {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    overflow: hidden;

    .ama__hero-story__media {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      height: 70%;
      margin-top: 0;

      & div a {
        display: block;
      }

      .ama__hub-hero__video {
        width: 100%;

        .ama__video__container {
          width: 100%;
          height: 100%;
          padding-bottom: 0;
        }
      }

      @include breakpoint($bp-small) {
        & div a {
          display: flex;
        }
      }
    }

    @include breakpoint($bp-small) {
      display: grid;
      grid-column-gap: $gutter;
      grid-template-columns: 2fr 1fr;
      background: $gray-7;

      .ama__hero-story {
        grid-column-end: 2;
        justify-content: flex-end;
      }

      .ama__hero-story__media {
        margin-right: 0;

        img {
          height: 100%;
          width: 100%;
          max-width: 900px;
        }
      }

      .ama__member-feature-rail {
        grid-column-start: 2;
      }
    }

    @include breakpoint($bp-med) {
      .ama__hero-story {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: flex-start;
      }
      .ama__hero-story__media {
        margin-right: $gutter*-1;
        max-height: 600px;
        justify-content: flex-start;
        grid-column-end: 1;
      }

      .ama__hero-story__media {
        margin-right: $gutter * -4;
      }

      .ama__member-feature-rail {
        grid-column-start: 2;
      }
    }
  }
}
