<div class="ama__global-menu">
  <input id="global-menu" class="ama__global-menu__burger-input" type="checkbox" />
  <label for="global-menu">
    <div class="ama__global-menu__burger"></div>
  </label>
  <span class="ama__global-menu__menu-text">{{ menuIcon.text }}</span>
  {#ToDo#}
  {#<nav class="ama__global-menu_nav">#}
    {#<ul>#}
      {#<li>#}
        {#<a href="#">Home</a>#}
      {#</li>#}
      {#<li>#}
        {#<a href="#">Home</a>#}
      {#</li>#}
      {#<li>#}
        {#<a href="#">Home</a>#}
      {#</li>#}
    {#</ul>#}
  {#</nav>#}
</div>
