.ama__global-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;

  // The menu controlled by the burger
  &__burger-input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;

    + label,
    + label.ui-state-active,
    + label.ui-widget-content
    + label.ui-state-active,
    + label.ui-widget-header
    + label.ui-state-active,
    + label.ui-button:active,
    + label.ui-button:active,
    + label.ui-button.ui-state-active:hover {
      width: 40px;
      display: block;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
      box-shadow: none;
      margin: 0;

      &:after,
      &:before,
      .ama__global-menu__burger {
        content: '';
        width: 100%;
        height: 4px;
        display: block;
        background-color: $white;
        transition: all 200ms ease-in-out;
        margin: 5px auto;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
      }

      span {
        display: none;
      }
    }

    &:checked {
      + label {

        &:before {
          transform: translateY(5px) rotate(135deg);
        }

        &:after {
          transform: translateY(-12px) rotate(-135deg);
        }

        .ama__global-menu__burger {
          transform: scale(0);
        }
      }

      ~ nav {
        max-height: 600px;

        li {
          display: block;
          text-align: left;
        }
      }

     ~ .menu-text {
        display: none;
      }
    }
  }

  &__menu-text {
    display: none;

    @include breakpoint($bp-small) {
      @include font-size($small-font-sizes--homepage);
      display: block;
      color: $white;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      width: 40px;
    }
  }

  // Navigation styles
  &__nav {
    background-color: $purple;
    color: $white;
    position: absolute;
    top: 70px;
    max-height: 0;
    max-width: 285px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      text-align: center;

      a {
        @include gutter($padding-top-half...);
        @include gutter($padding-bottom-half...);
        @include gutter($padding-right-full...);
        @include gutter($padding-left-half...);
        display: block;
        color: $white;
        height: auto;
        text-decoration: none;
        text-align: left;

        &:hover {
          background-color: $hoverPurple;
        }
      }
    }
  }
}
