{# Conditionally checks the current year to automatically update the copyright range. #}
{% set startYear = 1995 %}
{% set currentYear = "now"|date("Y", "UTC") %}

{% if startYear == currentYear %}
    {% set copyrightYears = startYear %}
{% else %}
    {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
{% endif %}

<div class="ama__copyright ama__type--smaller">
  {{ copyright.begin }} {{ copyrightYears }} {{ copyright.end }}
</div>