{% set month, day, year = "June", "2", "now"|date("Y", 'UTC') %}

<h3 class="ama__h3 date-block">
  <span class="date-block__month">{{ dateMonth | default(month) }}</span>
  <span class="date-block__day">{{ dateDay | default(day) }},</span>
  <span class="date-block__year">{{ dateYear| default(year) }}</span>
</h3>
