<div class="ama__global-menu">
  <input id="global-menu" class="burger-input" type="checkbox" />
  <label for="global-menu">
    <div class="burger"></div>
  </label>
  <span class="menu-text">Menu</span>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
    </ul>
  </nav>
</div>



