.ama__inline-bio {
  @include gutter($padding-top-half...);
  @include breakpoint($bp-small) {
    @include gutter($padding-bottom-half...);
  }
  &__image {
    display: none;
    margin-bottom:35px;

    @include breakpoint($bp-small) {
      vertical-align: top;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 22px;
      border-radius: 50%;
    }
  }

  &__text {
    @include type($myriad-pro, $font-weight-regular);
    font-size: 20px;
    color: $black;
    display: block;
    margin-top: -4px;

    .ama__h3 {
      @include type($myriad-pro, $font-weight-regular);
      font-size: 20px;
      line-height: 27px;
    }
    .ama__h1.ama__h3 a {
      text-decoration: none;
      font-size: 22px;
      line-height: 26px;
      &:hover {
        text-decoration: underline;
      }
    }
    @include breakpoint($bp-med) {
      @include gutter($padding-left-full...);
      @include gutter($padding-right-full...);
    }
    @include breakpoint($bp-small) {
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
    }

    & > * {
      margin-bottom: 0;
    }

    & > :first-child {
      color: $black;
    }
  }

  &__link {
    display: block;
    font-weight: $font-weight-semibold;

    &--full {
      font-size: 1.5em;
      margin-top: -20px;
      margin-left: -5px;
      margin-bottom: $gutter;
      font-weight: $font-weight-regular;
    }

    &.ama__link--icon {
      svg {
        fill: $blue;
        width: 35px;
        height: 35px;
        max-height: none;
        max-width: none;
      }
    }
  }
}
