{% extends '@templates/two-column-right.twig' %}
{% set pageContentClass = 'ama__layout--two-column--right__page-content ama__news' %}

{% block contentTop %}
  {% include '@organisms/masthead/masthead.twig' %}
  <div class="container">
    {% include "@molecules/inline-bio.twig" %}
  </div>
{% endblock %}

{% block pageContent %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@atoms/ordered-list.twig' %}
  {% include '@molecules/article-stub/article-stub-as-inline.twig' %}
  {% set heading = heading|merge({
    "level": "1",
    "class": "ama__h1"
  }) %}
  {% include '@atoms/heading/heading.twig' %}
  {% set promo = promoAsInline %}
  {% include '@atoms/unordered-list.twig' %}
  {% include '@molecules/promo/promo.twig' %}
  {% include '@atoms/paragraph.twig' %}
  {% set image = modalImages %}
  {% include '@molecules/modal.twig' %}
  <section class="ama__page--news__teasers">
    {% include '@molecules/tags.twig' %}
    {% include '@organisms/four-up-teaser.twig' %}
  </section>
{% endblock %}

{% block sidebarSecondary %}
  {% include '@organisms/tools.twig' %}
  {% include '@molecules/membership/membership.twig' %}
  {% include '@organisms/column-teaser.twig' %}
{% endblock %}
