{% extends '@templates/one-column.twig' %}

{% set hubHero, hubSectionHeader, hubHeroes, hubCards = hubPage.hubHero, hubPage.hubSectionHeader, hubPage.hubHeroes, hubPage.hubCards|slice(0, 4) %}

{% block contentTop %}
{% endblock %}

{% block pageContent %}
  <main class="hub-page container">
    {% include "@molecules/hub/hub-hero.twig" %}
    {% include "@molecules/hub/hub-section-header.twig" %}
    {% include "@organisms/hub-heroes.twig" %}
    {% include "@organisms/hub-cards.twig" %}
    {% set hubCards = hubPage.hubCards|slice(0, 3) %}
    {% include "@organisms/hub-cards.twig" %}
    {% set hubCards = hubPage.hubCards|slice(0, 2) %}
    {% include "@organisms/hub-cards.twig" %}
  </main>
{% endblock %}
