{% extends '@templates/two-column-left.twig' %}
{% set partnerPromo, subscribePromo =
  promotionalRealEstate.partnerPromo,
  promotionalRealEstate.subscribePromo %}

{% block header %}
  {% include '@organisms/main-navigation/main-navigation.twig' %}
  {% include "@molecules/search-header.twig" with { searchHeader : searchResultsHeader } %}
{% endblock %}

{% block contentTop %}
  <div class="ama__search-results__best-bet">
    {% include '@molecules/search-result/search-result.twig' with { searchResult : bestBet } %}
  </div>
{% endblock %}

{% block sidebarPrimary %}
  {% include "@organisms/filter.twig" %}
  <aside class="ama__layout--two-column--left__sidebar--primary">
    <div class="ama__search-results__promos">
      {% include '@molecules/partner-promo.twig' %}
      {% include '@molecules/subscribe-promo.twig' %}
    </div>
  </aside>
{% endblock %}

{% block sidebarSecondary %}
  <aside class="ama__layout--two-column--left__sidebar--secondary">
    {% include '@molecules/search-result/search-connector.twig' %}
  </aside>
{% endblock %}

{% block pageContent %}
  <article class="ama__layout--two-column--left__page-content">
    {% include "@organisms/search-result-list.twig" %}
    {% include "@molecules/article-stub/article-stub-as-inline-alt.twig" %}
    {% include "@molecules/pagination.twig" %}
  </article>
{% endblock %}
