<div class="container">
  <header class="ribbon">Header</header>
  <section class="wayfinder">
    {% include 'atoms-site-logo' %}
  </section>
  <article class="topic_content">
  </article>
  <section class="topic_rail-left">
    <h3>Navigation</h3>
  </section>
  <aside class="topic_rail-right">
    <h3>Sidebar</h3>
  </aside>
  <footer>Footer</footer>
</div>