{% include "@atoms/skip-nav.twig" %}

{% block ribbon %}
  {% include "@organisms/ribbon.twig" %}
{% endblock %}

{% block header %}
  {% include "@organisms/header.twig" %}
{% endblock %}

<main id="main-content" class="three-column" tabindex="-1" role="main">
  {# Keeping tabindex for accessibility purposes #}
  <article class="ama__page-content" role="article">
    {% block pageContent %}
      {% include '@base/placeholder.twig' with {'placeholder':{'text':'Topic page content'}} %}
    {% endblock %}
  </article>

  <aside id="sidebar-primary" class="ama__sidebar-primary" role="complementary">
    {% block sidebarPrimary %}
      {% include '@base/placeholder.twig' with {'placeholder':{'text':'Sidebar primary topic content'}} %}
    {% endblock %}
  </aside>

  <aside id="sidebar-secondary" class="ama__sidebar-secondary" role="complementary">
    {% block sidebarSecondary %}
      {% include '@base/placeholder.twig' with {'placeholder':{'text':'Sidebar secondary topic content'}} %}
    {% endblock %}
  </aside>
</main>

{% block footer %}
  {% include "@organisms/footer.twig" %}
{% endblock %}

