{% include "@atoms/skip-to-main-content.twig" %}
<main id="main-content" class="three-column" tabindex="-1" role="main">
  {% include "@organisms/ribbon.twig" %}
  {% include "@organisms/article.twig" %}

  {# Keeping tabindex for accessibility purposes #}
  {% include "@organisms/header.twig" %}
  {% include "@organisms/sidebar-primary.twig" %}
  {% include "@organisms/sidebar-secondary.twig" %}
</main>

{% include "@organisms/footer.twig" %}

