{% block header %}
  {% include '@base/placeholder.twig' %}
{% endblock %}

<div class="ama__layout--two-column--right container">
  {# Keeping tabindex for accessibility purposes #}
  <article class="ama__layout--two-column__page-content" role="article">
    {% block pageContent %}
      {% include '@base/placeholder.twig' %}
    {% endblock %}
  </article>

  <aside id="sidebar-secondary" class="ama__layout--two-column__sidebar--secondary" role="complementary">
    {% block sidebarSecondary %}
      {% include '@base/placeholder.twig' %}
    {% endblock %}
  </aside>
</div>

{% block footer %}
  {% include '@base/placeholder.twig' %}
{% endblock %}
