$blue-darker: #29688a;
$blue: #099995;
$blue-lighter: #66bfa4;
$orange: #ed6923;
$orange-darker: #c05027;
$orange-lighter: #ea8575;
$red: #e41e26;
$red-darker: #a41e22;
$red-lighter: #f04d50;
$pink: #e01a53;
$green: #b8d546;
$green-darker: #697e36;
$black: #000000;
$black-90: #414042;
$black-80: #58595b;
$black-20: #d1d3d4;
$black-05: #f1f2f2;
$white: #ffffff;
