.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sg-colors li {
  border: 1px solid #ddd;
  border-radius: 8px;
  flex-grow: 0;

  flex-basis: 25%;
  margin: 0 0.5em 0.5em 0;
  max-width: 14em;
  min-width: 5em;
  padding: 0.3em;
}

.sg-swatch {
  border-radius: 5px;
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}