<div id="ama__explore-menu" class="ama__explore-menu">
  <div class="ama__explore-menu__button">
    {% include "@atoms/heading/heading.twig"  with { heading : exploreMenu.heading } %}
    <i class="ama__explore-menu__caret"></i>
  </div>
  <div class="ama__explore-menu__menu">
    <ul>
      {% for link in exploreMenu.links %}
        <li>{% include "@atoms/link/link.twig" %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
