.ama__category {

  &__row {
    padding: $gutter 0;
    border-top: solid 2px $gray-50;

    .container {
      padding: 0;
    }
  }

  &__row--no-mobile-padding {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }

  &__row--no-border {
    border: 0;
    padding: 0;
    //For D8, dynamically remove border on category page hero parent div placed via layout builder
    &:first-of-type + * + .ama__layout--two-col-right--75-25 {
      border: 0;
    }
  }

  &__row--hidden-mobile {
    @include breakpoint($bp-small max-width) {
      display: none;
    }
  }

  &__row--hero {
    border-top: 0;
  }

  .ama__masthead {
    margin-bottom: $gutter / 4;
    padding: 0;
  }

  .ama__h1 {
    text-transform: uppercase;
  }

  .ama__article-stub__title {
    padding: 0;
  }

  .ama__tools {
    padding: 0;
  }

  .ama__membership {
    margin: $gutter 0 0;
  }

  .ama__layout--split__right .ama__article-stub--category {
    padding: 0 ($gutter / 2);
  }

  &__article-stub-three-up {
    @include breakpoint($bp-small max-width) {
      > * {
        margin-bottom: $gutter;
      }
    }

    @include breakpoint($bp-small) {
      .grid-container {
        @include gutter($margin-top-full...);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: $gutter;
        grid-row-gap: $gutter;

        .ama__article-stub {
          width: 100%;
        }
      }
    }
  }

  .ama__article-stub--category .ama__h5 {
    @include breakpoint($bp-small max-width) {
      padding-left: $gutter-mobile;
    }
  }

  .ama__category__jama--as--sidebar {
    .ama__link--with-image a .ama__image__text {
      padding: 0;
    }
  }

  &__article-stub-two-up {
    @include breakpoint($bp-small) {

      .grid-container {
        @include gutter($margin-top-full...);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: $gutter;
        grid-row-gap: $gutter;

        .ama__article-stub {
          width: 100%;
        }
      }
    }
  }

  .ama__subcategory-featured-content-as-carousel {
    overflow: hidden;
  }

  .ama__subcategory-featured-content .grid-container {
    @include breakpoint($bp-small) {
      padding: $gutter / 2;
    }
  }
}
