.ama__category {
  .ama__layout--two-col-right--75-25__left {
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small) {
      margin-right: 10px;
      padding: initial;
    }
  }

  .ama__layout--two-col-right--75-25__right {
    margin: 0;
    padding: 0 $gutter / 4;

    .ama__tools {
      @include gutter($margin-top-full...);
      @include gutter($padding-top-full...);
      border-top: solid 2px $gray-50;
    }

    @include breakpoint($bp-small) {
      margin-right: 10px;
      margin-top: 0;
      padding: initial;

      .ama__tools {
        margin: 0;
        padding: 0;
        border-top: 0;
      }
    }
    @include breakpoint($bp-med) {
      margin-right: 0;
      margin-top: 14px;
      .ama__tools {
        margin-bottom: $gutter;
      }
    }
  }

  &__row {
    padding: $gutter 0;
    border-top: solid 2px $gray-50;
    max-width: 100%;

    .container {
      padding: 0;
    }
  }

  &__row--no-mobile-padding {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }

  &__row--no-border {
    border: 0;
    padding: 0;
    //For D8, dynamically remove border on category page hero parent div placed via layout builder
    &:first-of-type + * + .ama__layout--two-col-right--75-25 {
      border: 0;
    }
  }

  &__row--no-border-with-padding {
    border: 0;
    padding: 21px 0;
    @include breakpoint($bp-small) {
      padding: 28px 0;
    }
    //remove the double border from the category pages but retain the padding on the list items beneath
    &:first-of-type + * + .ama__layout--two-col-right--75-25 {
      border: 0;
    }
  }

  &__row--hidden-mobile {
    @include breakpoint($bp-small max-width) {
      display: none;
    }
  }

  &__row--hero {
    border-top: 0;
  }

  .ama__masthead {
    margin-bottom: $gutter / 4;
    padding: 0;
  }

  .ama__h1 {
    text-transform: uppercase;
  }

  .ama__article-stub__title {
    padding: 0;
  }

  .ama__tools {
    padding: 0;
  }

  .ama__layout--split__right .ama__article-stub--category {
    padding: 0 ($gutter / 2);
  }

  &__article-stub-three-up {
    @include breakpoint($bp-small max-width) {
      > * {
        margin-bottom: $gutter;
      }
    }
    @include breakpoint($bp-small) {
      .grid-container {
        @include gutter($margin-top-full...);
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr $gutter 1fr $gutter 1fr;
        grid-gap: $gutter;
        grid-template-rows: auto auto;
        .ama__article-stub {
          &:nth-child(1) {
            -ms-grid-column: 1;
          }
          &:nth-child(2) {
            -ms-grid-column: 3;
          }
          &:nth-child(3) {
            -ms-grid-column: 5;
          }
          h3 {
            padding: 0;
          }
          .ama__image {
            margin-bottom: 0;
          }
        }
      }
    }
    @include breakpoint($bp-med) {
      .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  &__article-stub-four-up-three {
    @include breakpoint($bp-small max-width) {
      > * {
        margin-bottom: $gutter;
      }
    }

    @include breakpoint($bp-small) {
      .grid-container {
        @include gutter($margin-top-full...);
        display: flex;
        flex-wrap: wrap;
        .ama__article-stub {
          flex-basis: 32%;
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            flex-basis: 24%;
          }
          h3 {
            padding: 0;
          }
          .ama__image {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .ama__article-stub--category .ama__h5 {
    @include breakpoint($bp-small max-width) {
      padding-left: $gutter-mobile;
    }
  }

  .ama__category__jama--as--sidebar {
    .ama__link--with-image a .ama__image__text {
      padding: 0;
    }
  }

  &__article-stub-two-up {
    @include breakpoint($bp-small) {

      .grid-container {
        @include gutter($margin-top-full...);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: $gutter;
        grid-row-gap: $gutter;
        .ama__article-stub {
          width: 100%;
        }
      }
    }
  }

  .ama__subcategory-featured-content-as-carousel {
    overflow: hidden;
  }

  .ama__subcategory-featured-content .grid-container {
    @include breakpoint($bp-small) {
      padding: $gutter / 2;
    }
  }
  .ama__layout--two-col-right--75-25 {
    &.ama__category__row {
      grid-template-rows: none;
      grid-template-areas: 'content_below sidebar';
    }
  }
}
