{% set class = "ama__ribbon__dropdown__nav__menu" %}
{% set ribbonDropdown = ribbon.ribbonDropdown %}
{% set userMenu = ribbon.userMenu.loggedIn.links ? ribbon.userMenu.loggedIn.links : ribbon.userMenu %}

<section class="ama__ribbon">
  <div class="container">
    {% include "@molecules/ribbon-dropdown/ribbon-dropdown.twig" %}
    <div class="ama__ribbon_user_menu__container">
      {% include "@molecules/ribbon-user-menu/ribbon-user-menu.twig" %}

      {% set ribbonDropdown = ribbon.ribbonDropdown.userMenuDropdown %}
      {% if ribbon.ribbonDropdown.userMenuDropdown %}
        {% include "@molecules/ribbon-dropdown/ribbon-dropdown.twig" %}
      {% endif %}
    </div>

    <div class="ama__ribbon_user_menu__mobile">
      {% set ribbonDropdown = ribbon.mobileMenu %}
      {% include "@molecules/ribbon-dropdown/ribbon-dropdown.twig" %}
    </div>
  </div>
</section>
