<div class="ama__form-group">
  <label>{{ rangeField.label }}</label>
  <div class="ama__range-field">
    <ul class="ama__range-field__legend">
      {% for legend in rangeField.legend %}
        <li>{{ legend }}</li>
      {% endfor %}
    </ul>
    <div id="currentValue" class="ama__range-field__valuebox"></div>
  </div>
</div>
