<div class="form-group">
  <label>{{ textField.label }}</label>
  <input name="{{ textField.name }}" type="text" placeholder="{{ textField.placeholder }}" required="" aria-required="true">
  <small class="help-text">{{ textField.helpText }}</small>
</div>
