section.ama__page--event__speakers {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: $gutter / 2;
  grid-column-gap: $gutter / 2;

  @include breakpoint($bp-xs) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint($bp-small) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
