<section class="ama__upcoming-events">
  {% include "@atoms/section-title.twig" with { sectionTitle : upcomingEvents.sectionTitle } %}
  {% for event in upcomingEvents.events %}
    {% include "@molecules/upcoming-event.twig" %}
  {% endfor %}
  {% include "@atoms/link/link.twig" with { link : upcomingEvents.link } %}
</section>
