{% extends '@templates/one-column.twig' %}

{% block header %}
  {% if alertBanner %}
    {% set alert = alert %}
    {% include '@molecules/alert.twig' %}
  {% endif %}
  {% include '@organisms/main-navigation/main-navigation.twig' %}
{% endblock %}

{% block contentTop %}
{% endblock %}

{% block pageContent %}
  <div class="ama__subcategory">
    <div class="container">
      {#Then I should see the heading "Category Title" in the masthead (h2)#}
      {#And I should see the title "Subcategory" in the masthead#}
      {#And I should see the "Social share" in the masthead#}
      {% set masthead = subcategory.masthead %}
      {% include "@organisms/masthead/masthead.twig" %}
      {% include "@organisms/subcategory-explore-topics.twig" %}
    </div>

    {#And I should see the "Category Page Article Stub as Four-Up" organism#}
    <div class="container">
      {% set categoryArticleStub = subcategory.categoryArticleStub %}
      {% include '@organisms/category-page-article-stub.twig' %}
    </div>

    {#And I should see the "Subcategory Page Hero Article"#}
    <div class="container">
      {% set subcategoryHero = subcategory.subcategoryHero %}
      {% include '@molecules/subcategory-hero.twig' %}
    </div>

    {#And I should see the "Subcategory Page Index"#}
    <div class="container">
      {% set subcategoryIndex = subcategory.subcategoryIndex %}
      {% include '@organisms/subcategory-index.twig' %}
    </div>
  </div>
{% endblock %}
