.ama__category-nav {
  display: none;
  flex-grow: 1;
  margin-left: 55px;

  @media (max-width: $bp-large) {
    margin-left: 0;
  }

  @include breakpoint($bp-small) {
    display: block;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5px;
    border-right: 1px solid $gray-20;

    @media (max-width: $bp-med) {
      flex-wrap: nowrap;
    }

    li {
      display: inline-block;
      list-style: none;
      margin-left: 0;

      a {
        color: $black;
        font-size: .66em;
        text-decoration: none;
        margin-right: (calc($gutter/2));
        letter-spacing: -.1px;
        white-space: nowrap;

        @include breakpoint($bp-large) {
          font-size: .778em;
          line-height: 1.5;
        }

        @include button_focus_outline;

        &.ama__link--homepage {

          &:link,
          &:visited {
            color: $black;
          }
          &:active,
          &:hover,
          &:focus {
            color: $black;
            text-decoration: underline;
            background-color: transparent;
          }
        }
      }
    }
  }
}
.wf-active {
  .ama__category-nav {
    li {
      a {
        @extend %ama__h5--homepage;
        letter-spacing: normal;
      }
    }
  }
}
