.ama__category-nav {
  display: none;
  
  @include breakpoint($bp-small) {
    display: block;
    flex: 0 0 65%;
    max-width: 65%;
  }
  
  li {
    display: inline-block;
    list-style: none;
    margin-left: 0;

    a {
      @extend %ama__h5--homepage;
      text-decoration: none;
      margin: 0 ($gutter / 2) 0 0;
    }
  }
}
