.ama__category-nav {
  display: none;

  @include breakpoint($bp-small) {
    display: block;
    flex: 0 0 65%;
    max-width: 65%;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-left: 0;

    a {
      text-decoration: none;
      margin: 0 calc($gutter / 2) 0 0;
      margin: 0 calc($gutter / 2) 0 0;
      letter-spacing: -.1px;
      line-height: 65px;

      @include breakpoint($bp-med) {
        line-height: 1.5;
      }

      @include button_focus_outline;
    }
  }
}
.wf-active {
  .ama__category-nav {
    li {
      a {
        @extend %ama__h5--homepage;
        letter-spacing: normal;
      }
    }
  }
}
