// Parameters
// $type => "secondary", ""
//

@mixin ama-button ($size:"", $style:"") {
  @include ama-button-base;

  @if($style == "secondary") {
    background-color: $white;
    border-color: $purple;
    color: $purple;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  } //outline
  @else if($style == "reset") {
    background-color: transparent;
    border-color: transparent;
    color: $purple;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $hoverPurple;
      text-decoration: underline;
    }
  }
  @else {
    background-color: $purple;
    border-color: transparent;
    color: $white;

    &:hover {
      background-color: $hoverPurple;
    }
  }

  @if($size == "small") {
    @include gutter-all($padding-all-half...);
  }
  @elseif ($size == "block") {
    display: block;
    width: 100%;
  }
  @else {
   display: inline-block;
  }
}
