@mixin ama-button-base {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($p-font-sizes);
  @include gutter-all($padding-all-half...);
  border-radius: 0;
  border: 1px solid $purple;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  /* stylelint-disable property-no-vendor-prefix */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */
  transition: all 0.4s ease;

  &:hover {
    border-color: $purple;
    background-color: $hoverPurple;
    color: $white;
  }
}
