@mixin ama-button-base {
  @include type($myriad-pro, $font-weight-semibold);
  @include font-size($p-font-sizes);
  @include gutter-all($padding-all-half...);
  border-radius: 0;
  appearance: none;
  border: 1px solid $purple;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover,
  &:focus-visible {
    border-color: $purple;
    color: $white;
  }
}

@mixin button_focus_outline_light {
  &:focus-visible {
    outline: 2px solid $pg-lt-blue;
    outline-offset: 3px;
  }
}

@mixin button_focus_outline {
  &:focus-visible {
    outline: 2px solid $blue;
    outline-offset: 3px;
  }
}

@mixin ama-action-button-base {
  border: 1px solid $bg-purple;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  position: relative;
  height: 36px;
  color: $gray-64;
  height: 36px;

  &:hover,
  &:focus-visible {
    color: $gray-64;
    border: 1px solid $bg-purple;
    background-color: $gray-4;
    text-decoration: none;
  }
}