// Parameters
// $type => "secondary", ""
//

@mixin ama-button ($size:"", $style:"") {
  @include ama-button-base;

  @if($style == "secondary") {
    background-color: $white;
    border-color: $purple;
    color: $purple;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  } //outline
  @else if($style == "reset") {
    background-color: transparent;
    border-color: transparent;
    color: $purple;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $hoverPurple;
      text-decoration: underline;
    }
  }
  // homepage
  @else if($style == "homepage") {
    background-color: $homepagePurple;
    border-color: transparent;
    color: $white;

    &:hover {
      background-color: $hoverPurple;
      border-color: transparent;
      color: $white;
      text-decoration: underline;
    }
  }
  // homepage secondary
  @else if($style == "homepage-secondary") {
    background-color: $white;
    border-color: transparent;
    color: $homepagePurple;

    &:hover {
      background-color: $white;
      border-color: transparent;
      color: $hoverPurple;
      text-decoration: underline;
    }
  }
  @else if($style == "promo") {
    background-color: $orange;
    border-color: transparent;
    color: $black;

    &:hover {
      background-color: $hoverOrange;
      border-color: transparent;
      color: $black;
      text-decoration: underline;
    }
  }
  @else {
    background-color: $purple;
    border-color: transparent;
    color: $white;

    &:hover {
      background-color: $hoverPurple;
    }
  }

  @if($size == "small") {
    @include gutter-all($padding-all-half...);
  }
  @elseif ($size == "block") {
    display: block;
    width: 100%;
  }
  @else {
   display: inline-block;
  }
}
