// AMA Fonts
$myriad-pro: "myriad-pro", "Helvetica", "Arial", "Open Sans", sans-serif;
$helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$kepler-std: "kepler-std", "Georgia", "Times New Roman", serif;

// Font weight variables
$font-weight-light: 300;
$font-weight-regular: 400;
//This isn't a true semibold, but it's been specified in several places
$font-weight-semibold: 600;
//Forces Myriad to use the old simulated bold
$font-weight-bold: 600;
//True Bold
$font-weight-truebold: 700;

$breakpoints: (
    small : 37.5em, // 600px
    medium: 56.25em, // 900px
    large : 75em // 1200px
);
$h1-font-sizes: (
    null  : (1.4em, 1.143),
    small : (1.9em, 1.105),
    medium: (2.111em, 1.111),
    large : (2.111em, 1.111)
);

$h2-font-sizes: (
    null  : (1.4em, 1.143),
    small : (1.3em, 1.192),
    medium: (1.444em, 1.192),
    large : (1.444em, 1.192)
);

$h2-font-sizes--homepage: (
    null  : (1.4em, 1.143),
    small : (1.3em, 1.192),
    medium: (2.223em, 2.223),
    large : (2.223em, 2.223)
);

$h3-font-sizes: (
    null  : (1.1em, 1.182),
    small : (1.1em, 1.182),
    medium: (1.222em, 1.182),
    large : (1.222em, 1.182)
);

$h3-font-sizes--homepage: (
    null  : (1.1em, 1.182),
    small : (1.1em, 1.182),
    medium: (1em, 1),
    large : (1em, 1)
);

$h4-font-sizes: (
    null  : (0.9, 1.600),
    small : (0.9, 1.600),
    medium: (1.111em, 1.60),
    large : (1.111em, 1.60)
);

$h4-font-sizes--blue: (
    null  : (0.9em, 1.22),
    small : (0.9em, 1.22),
    medium: (1.56em, 1.247),
    large : (1.56em, 1.247)
);

$h4-font-sizes--purple: (
    null  : (0.800em, 1.4375),
    small : (0.800em, 1.4375),
    medium: (1em, 1.555),
    large : (1em, 1.95)
);

$h4-font-sizes--homepage: (
    null  : (0.9, 1.600),
    small : (0.9, 1.600),
    medium: (1.222em, 1.278),
    large : (1.222em, 1.278)
);

$h5-font-sizes: (
    null  : (0.8em, 1.438),
    small : (0.9em, 1.389),
    medium: (1em, 1.389),
    large : 1em
);

$h5-font-sizes--homepage: (
    null  : (1.1em, 1.18),
    small : (1.1em, 1.18),
    medium: (1.222em, 1.182),
    large : 1.222em
);

$p-font-sizes: (
    null  : (18px, 1.5),
    small : 18px,
    medium: (18px, 1.5),
    large : 18px
);

$small-font-sizes: (
    null  : (0.7em, 1.4),
    small : (0.7em, 1.389),
    medium: (0.556em, 1.389),
    large : 0.556em
);

$small-font-sizes--homepage: (
    null  : (0.7em, 1.072),
    small : (0.7em, 1.072),
    medium: (0.778em, 1.072),
    large : (0.778em, 1.072)
);

$button-font-sizes--menu: (
    null  : (0.889em, 1.072),
    small : (0.889em, 1.072),
    medium: (0.889em, 1.072),
    large : (0.889em, 1.072)
);

$font-sizes--14px: (
    null  : (0.778em, 1.072),
    small : (0.778em, 1.072),
    medium: (0.778em, 1.072),
    large : (0.778em, 1.072)
);

$footer-font-sizes: (
    null  : (1em, 1.25),
    small : (.75em, 1.11),
    medium: (.9em, 1.25),
    large : (1.333em, 1.667)
);

$footer-font-sizes--menu: (
    null  : (1em, 1.5),
    small : (.75em, 1.25),
    medium: (1em, 1),
    large : (1em, 1.056)
);
