$three-column: 3, 2, $gutter/2;

@mixin grid_column_layout($col-desktop, $col-tablet, $margins) {
  &:before, &:after {
    display: block;
    content: '';
    clear: both;
  }

  $col-width-tablet: percentage((1/$col-tablet));
  $col-width-desktop: percentage((1/$col-desktop));

  & > * {
    @if ($margins) {
      margin: $margins;
    }
  }

  @include breakpoint($bp-small) {
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex: 1 1 calc(#{$col-width-tablet} - #{$margins*2});
      max-width: $col-width-tablet;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 1 1 auto;
        width: calc(#{$col-width-tablet} - #{$margins*2});
      }
    }
  }

  @include breakpoint($bp-med) {
    & > * {
      flex: 1 1 calc(#{$col-width-desktop} - #{$margins*2});
      max-width: $col-width-desktop;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        flex: 1 1 auto;
        width: calc(#{$col-width-desktop} - #{$margins*2});
      }
    }
  }
}

@mixin is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
