/**
* List mixins for non node-body lists.
*/

//nesting levels
$one-level: "one-level";
$two-levels: "two-levels";
$two-levels-body: "two-levels-body";
//list style
$body-copy: "body-copy";
$left-justified: "left-justified";
$left-justified-w-padding: "left-justified-w-padding";
$indented: "indented";
//Bullet Styles
$default: "default";
$default-nested: "default-nested";
$presentation: "presentation";
$presentation-nested: "presentation-nested";

@mixin list($indent: "", $depth: "") {
  ul {
    //default UL styles
    @include gutter($margin-bottom-half...);
    @include breakpoint($bp-small) {
      font-size: 20px;
    }
    @include breakpoint($bp-med) {
      font-size: 18px;
    }

    @if($indent == "body-copy") {
      left: 50px;
      width: calc(100% - 50px);
      position:relative;
      @include gutter($margin-bottom-half...);
      li {
        @include list-style($default);
        ul {
          left: 0;
          width: calc(100% - 71px);
          margin-bottom: 0;
          li {
            @include list-style($default-nested);
            ul {
              li {
                @include list-style($default-nested);
              }
            }
          }
        }
      }
    }
    @if($indent == "left-justified") {
      left: 0;
      @include list-style($presentation);
    }
    @if($indent == "indented") {
      margin-bottom: 0;
      left: 40px;
      @include list-style($presentation);
      li {
        ul {

        }
      }
    }
    @if($indent == "left-justified-w-padding") {
      left: 0;
      width: 100%;
      margin-bottom: 0;
      li {
        line-height: 1.3em;
        margin-bottom: 13px;
        ul {
          left: 0;
        }
      }
    }
    li {
      @if($depth == "one-level") {
        ul {
          left: 0;
          width:100%;
          margin-bottom: 0;
          @include list-style($presentation);
          li {
            left: -18px;
          }
        }
      }
      @if($depth == "two-levels") {
        ul {
          margin-bottom: 0;
          left: 0;
          width: calc(100% - 71px);
          @include list-style($presentation-nested);
          li {
            ul {
              li {
                left: -16px;
              }
            }
          }
        }
      }
      @if($depth == "two-levels-body") {
        ul {

          @include list-style($default-nested);
          li {
            position: relative;
            left: 41px;
            margin-left: -20px;
            ul {
              li {
                left: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@mixin list-style($style: "") {
  @if($style == "default") {
    ul {
      list-style: inside disc;
      li {
        width: 100%;
        position: relative;
        padding-left: 18px;
      }
    }
  }
  @if($style == "default-nested") {
    li {
      list-style: outside circle;
    }
  }
  @if($style == "presentation") {
    li {
      list-style-type: none;
      width: 100%;
      position: relative;
      padding-left: 18px;
      &:before {
        content: "";
        position: absolute;
        border: none;
        background-color: currentColor;
        border-radius: 100%;
        width: 8px;
        height: 8px;
        left: 1px;
        top: 9px;
      }
    }
  }
  @if($style == "presentation-nested") {
    li {
      list-style-type: none;
      left: 0;
      padding-left: 16px;
      &:before {
        content: "";
        border:1px solid currentColor;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        width: 6px;
        height: 6px;
        left: 1px;
        top: 9px;
      }
    }
  }
}
