<span class="logo logo-outer {{ class }}">
  <img src="{{ logo.image|default('../../assets/images/brand/logo-jama.svg') }}"
       class="logo"
       alt="{{ logo.alt|default('American Medical Association') }}" />
</span>
