{% extends '@templates/one-column.twig' %}

{% block header %}
  {% if alertBanner %}
    {% set alert = alert %}
    {% include '@molecules/alert.twig' %}
  {% endif %}
  {% include '@organisms/main-navigation/main-navigation.twig' %}
{% endblock %}

{% block contentTop %}
{% endblock %}

{% block pageContent %}

  <div class="ama__category container">
    {#Then I should see the "Masthead as Title Only"#}
    <div class="container ama__category__row ama__category__row--no-border">
      {% set masthead = category.masthead %}
      {% include '@organisms/masthead/masthead.twig' %}
    </div>

    <div class="container ama__category__row ama__category__row--no-border">
      {#And I should see the "Subcategory Exploration"#}
      {% set subcategoryExploration = category.subcategoryExploration %}
      {% include '@organisms/subcategory-exploration.twig' %}
    </div>

    <div class="container ama__category__row ama__category__row--no-mobile-padding ama__category__row--hero">
      {#And I should see the "Category Page Hero"#}
      {#And I should see the "Tools List"#}
      {#And I should optionally see a promo in the "Promotional Real Estate" under the "Tools list"#}
      {% include '@organisms/_category-hero-tools.twig' %}
    </div>

    {#And I should see the "JAMA as content bottom"#}
    {#And I should see the "Article Stub as Large for Category Page"#}
    <div class="container ama__category__row ama__category__row--hidden-mobile">
      {% include '@organisms/_category-jama-article-stub-as-large.twig' %}
    </div>

    {#And I should see the "Category Page Article Stub Four-Up"#}
    <div class="container ama__category__row">
      {% set categoryArticleStub = category.categoryArticleStub %}
      {% include '@organisms/category-page-article-stub.twig' %}
    </div>

    {#And I should see the "Subcategory Featured Content"#}
    <div class="container ama__category__row">
      {% set subcatFeaturedContent = category.subcatFeaturedContent %}
      {% include '@organisms/subcategory-featured-content.twig' %}
    </div>

    {#And I should see the "Subcategory Featured Content as Carousel"#}
    <div class="container ama__category__row">
      {% set subcategoryExploration = category.subcategoryFeaturedContentAsCarousel %}
      {% include '@organisms/subcategory-featured-content-as-carousel.twig' %}
    </div>

    {#And I should see the "Category Page Article Stub Three-Up"#}
    {#And I should optionally see a "JAMA Promo" in the Promotional Real Estate next to the "Category Page Article Stub Three-Up"#}
    <div class="container ama__category__row">
      {% include '@organisms/_category-article-three-up-jama.twig' %}
    </div>

    {#And I should see the "Category Page Article Stub as Large Two-Up"#}
    <div class="container ama__category__row">
      {% include '@organisms/_category-article-two-up.twig' %}
    </div>

    {#And I should see the "Category Page Index"#}
    <div class="container ama__category__row">
      {% set categoryIndex = category.categoryIndex %}
      {% include '@organisms/category-index.twig' %}
    </div>

    {#And I should see the "Subcategory Explorer as with Images"#}
    <div class="container ama__category__row ama__category__row--no-border">
      {% set subcategoryExplorationWithImages = category.subcategoryExplorationWithImages %}
      {% include '@organisms/subcategory-exploration-as-with-images.twig' %}
    </div>
  </div>
{% endblock %}
