{% set image = trendingArticleStub.image %}

<a class="ama__subcategory-page-article-stub" href="{{ trendingArticleStub.link.href }}">
  <div class="ama__subcategory-page-article-stub__text">
    <p class="ama__subcategory-page-article-stub__subcategory">{{ trendingArticleStub.subcategory }}</p>
    <time class="stub-date" datetime="2019-11-18 07:53:04">Nov 18, 2019</time>
    <h3 class="ama__subcategory-page-article-stub__heading ama__h3">{{ trendingArticleStub.link.text }}</h3>
    <p class="ama__subcategory-page-article-stub__paragraph">{{ trendingArticleStub.paragraph }}</p>
  </div>
  <div class="ama__subcategory-page-article-stub__image">
    {% include "@atoms/image/image.twig" %}
  </div>
</a>
