{% set heading, paragraph = hubSectionHeader.heading, hubSectionHeader.paragraph %}

<div class="ama__hub-section-header">
  {% include "@atoms/heading/heading.twig" %}
  {% include "@atoms/paragraph.twig" %}
</div>
