{% set subheading, heading, heading2, heading3, image, link1, link2, purple = hubPageHero.subheading, hubPageHero.heading, hubPageHero.heading2, hubPageHero.heading3, hubPageHero.image, hubPageHero.link1, hubPageHero.link2, hubPageHero.purple %}

<section class="ama__hub-hero-row styleguide">
  {% if hubPageHero.image.src is not empty %}
    <div class="hub-page-mobile media">
      {% include "@atoms/image/image.twig" %}
    </div>
  {% endif %}

  {% if purple == 1%}
    <div class="background-wrapper purple">
  {% else %}
    <div class="background-wrapper">
  {% endif %}
    <div class="hub-page-hero has-media container">
      <div class="heading">
        {% include "@atoms/heading/heading.twig" with { heading : hubPageHero.subheading } %}
      </div>
      <div class="body">
        <div class="copy">
          {% if hubPageHero.heading is not empty %}
          <div class="subheading">
            {% include "@atoms/heading/heading.twig" with { heading : hubPageHero.heading } %}
            {% include "@atoms/heading/heading.twig" with { heading : hubPageHero.heading2 } %}
            {% include "@atoms/heading/heading.twig" with { heading : hubPageHero.heading3 } %}
          </div>
          {% endif %}
          <div class="cta-container left">
          {% if hubPageHero.link1 is not empty %}
            {% include "@atoms/link/link.twig" with { link : hubPageHero.link1 } %}
          {% endif %}
          {% if hubPageHero.link2 is not empty %}
            {% include "@atoms/link/link.twig" with { link : hubPageHero.link2 } %}
          {% endif %}
          </div>
        </div>
        {% if hubPageHero.image.src is not empty %}
          <div class="media">
            {% include "@atoms/image/image.twig" %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="cta-container-mobile">
    {% if hubPageHero.link1 is not empty %}
      {% include "@atoms/link/link.twig" with { link : hubPageHero.link1 } %}
    {% endif %}
    {% if hubPageHero.link2 is not empty %}
      {% include "@atoms/link/link.twig" with { link : hubPageHero.link2 } %}
    {% endif %}
  </div>
</section>
