

<div class="dr-finder-search-result-header">
    <div class="dr-finder-search-result-header__text-left" >
       <h1>{{ drFinderSearch.searchResultHeader__result.text.text_left|raw }}</h1>
    </div>

    <div class="dr-finder-search-result-header__text-right">
        {{ drFinderSearch.searchResultHeader__result.text.text_right|raw }}
    </div>
</div>