
<div class="dr-finder-search-result-header">
   <div class="dr-finder-search-result-header__result-found" >
      <h1>{{ drFinderSearchResultHeader.searchResultHeader.text.resultFound|raw }}</h1>
   </div>
   <div class="dr-finder-search-result-header__result-found-number">
       {{ drFinderSearchResultHeader.searchResultHeader.text.resultFoundNumber|raw }}
   </div>
</div>