

<div class="dr-finder-search-result-header">
    <div class="dr-finder-search-result-header__resultFound" >
       <h1>{{ drFinderSearchResult.searchResultHeader.text.resultFound|raw }}</h1>
    </div>
    <div class="dr-finder-search-result-header__resultFoundNumber">
        {{ drFinderSearchResult.searchResultHeader.text.resultFoundNumber|raw }}
    </div>
</div>
