<a href="{{ logo.href|default(link|first) }}" class="logo logo-outer {{ class }}">
  <img src="{{ logo.image|default('../../assets/images/brand/logo.svg') }}"
       class="logo"
       alt="{{ logo.alt|default('American Medical Association') }}" />
</a>
