<table>
  <caption>{{ table.caption }}</caption>
  <thead>
    <tr>
      {% for thead in table.thead %}
        <th data-title="{{ thead.th }}">{{ thead.th }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tr in table.tbody %}
      <tr>
        {% for td in tr.td %}
          <td>{{ td }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
