{% set
  link, button, paragraph, heading =
  membership.link,
  membership.button,
  membership.paragraph,
  membership.heading|merge({
    "level": "2",
    "class": "ama__h2"
  })
%}

{% if button %}
    <div {{ setAttributes('ama__membership', attributes) }}>
  {% else %}
    <a href="{{ link }}" class="ama__membership">
  {% endif %}

  {% include '@atoms/heading/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}

  {% if button %}
      {% include '@atoms/button/button.twig' with {"style" : "primary"} %}
  {% endif %}

{{ button ? "</div>"|raw : "</a>"|raw }}
