// Aimtell opt-in notification styles.
// Empty structure left intact for easier tweaking.

pushboxcontainer {
  color: #000000;
  animation: none;
  * {
    font-family: "myriad-pro","Helvetica","Arial","Open Sans",sans-serif;
  }
  pushbox {
    width: 450px;
    animation: none;
    &:hover {
      noticon {
        animation: none;
      }
    }
    pushbox-cta {
      &:hover {
        animation: none;
      }
      &:hover {
        noticon {
          animation: none;
        }
      }
      noticlose {

      }
      noticon {

      }
      notibody {
        teaser {
          font-size: 16px;
        }
        teaser-byline {
          font-size: 14px;
        }
      }
      noticlose {

      }
      noticon {
        &._aimtellBell {
          min-width: 75px;
          min-height:75px;
          background: url('https://cdn.aimtell.io/user/uploads/18086-1628183021.png');
          background-repeat: no-repeat;
          background-size: 75px 75px;
          background-position: top center;
          a {
            display: none;
          }
          img {
            display: none;
          }
        }
        &:hover {
          animation: none;
        }
      }
      notibody {
        teaser {

        }
        teaser-byline {

        }
      }
      buttons {
        button-approve {
          &._aimtellPromptApprove {
            background: white;
            color: #46166B;
            border: #46166B solid 1px;
            font-size: 14px;
            &:hover {
              border: #907306 1px solid;
              background: #907306;
              color: white;
            }
          }
        }
        button-deny {
          &._aimtellPromptDeny {
            background: white;
            color: #46166B;
            border: #46166B solid 1px;
            font-size: 14px;
            &:hover {
              border: #907306 1px solid;
              background: #907306;
              color: white;
            }
          }
        }
        powered {
          display:none;
        }
      }
    }
  }
}
