.ama__alert {
    display: flex;
    background-color: $white;
    color: $gray-64;
    width: 100%;
    align-items: center;
    flex-direction: row;
    position: relative;
    @include breakpoint($bp-small) {
        padding: calc($gutter * .5) 0;
    }
    &.icon {
        background-image: url('../icons/svg/icon-alert-alert.svg');
        background-repeat: no-repeat;
        background-position: calc($gutter * .5)  50%;
        div.mobile {
            padding-left: 33px;
            @include breakpoint($bp-small) {
                padding-left: 19px;
            }
        }
        @include breakpoint($bp-small) {
            background-position: 0 50%;
        }
    }
    &__wrap {
        opacity: 0;
        min-height: unset;
    }
    &__text {
        margin-bottom: 0;
        margin-right: 25px;
        a {
            color: #025785;
            text-decoration: none;
            display: inline;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            @include type($myriad-pro, $font-weight-regular);
            display: inline;
            font-size: 16px;
            margin-right: 4px;
            line-height: 1em;

            & a {
                @include type($myriad-pro, $font-weight-regular);
            }
        }
        &.mobile {
            padding-left: 0;
            display: block;
            line-height: 15px;
            padding-top: calc($gutter *.25);
            padding-bottom: 8px;
            a,
            p {
                font-size: 14px;
            }
        }
        &.desktop {
            display: none;
        }
        @include breakpoint($bp-med) {
            margin-right: 0;
            margin-left: calc($gutter * .5);
            &.mobile {
                display: none;
            }
            &.desktop {
                display: block;
                margin-left: 19px;
                a {
                    font-size: 16px;
                }
            }
        }
    }
    &__close {
        height: 20px;
        width: 20px;
        overflow: hidden;
        margin-left: auto;
        &.mobile {
            height: 27px;
            width: 27px;
            display: block;
            align-self: start;
            margin-right: -15px;
        }
        &.desktop {
            display: none;
        }
        @include breakpoint($bp-med) {
            &.mobile {
                display: none;
            }
            &.desktop {
                display: block;
                position: relative;
            }
        }
        svg {
            vertical-align: inherit;
        }
    }
}
//Styleguide specific
.ama__alert__wrap.sg {
    opacity: 1;
}
