.ama__alert {
    display: flex;
    background-color: $white;
    color: $gray-64;
    width: 100%;
    align-items: center;
    padding: 5px calc($gutter * .75);
    flex-direction: row;
    position: relative;
    @include breakpoint($bp-med) {
        padding: calc($gutter * .5) calc($gutter * .75);
    }
    &.icon {
        background-image: url('../icons/svg/icon-alert-alert.svg');
        background-repeat: no-repeat;
        background-position: 20px 50%;
    }
    &__wrap {
        opacity: 0;
        min-height: unset;
    }
    &__text {
        margin-bottom: 0;
        margin-right: 25px;
        a {
            color: #025785;
            text-decoration: none;
            display: inline;
            font-weight: $font-weight-bold;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            display: inline;
            font-size: 16px;
            margin-right: 4px;
            line-height: 1em;
        }
        &.mobile {
            padding-left: calc($gutter * .75);
            display:block;
            a,
            p {
                font-size: 14px;
            }
        }
        &.desktop {
            display: none;
        }
        @include breakpoint($bp-med) {
            margin-right: 0;
            margin-left: $gutter;
            &.mobile {
                display: none;
            }
            &.desktop {
                display: block;
            }
        }
    }
    &__close {
        height: 20px;
        width: 20px;
        overflow: hidden;
        margin-left: auto;
        top: 0;
        right: 5px;
        align-self: flex-end;
        @include breakpoint($bp-med max-width) {
            top: 35%;
        }
        &.mobile {
            display: block;
            align-self: start;
        }
        &.desktop {
            display: none;
        }
        @include breakpoint($bp-med) {
            &.mobile {
                display: none;
            }
            &.desktop {
                display: block;
            }
        }
        svg {
            vertical-align: inherit;
        }
    }
}
//Styleguide specific
.ama__alert__wrap.sg {
    opacity: 1;
}
