.ama__applied-filters {
  @include gutter($padding-bottom-half...);
  border-bottom: 1px solid $gray-50;

  &__header {
    @include gutter($margin-bottom-full...);
    display: flex;
    align-items: center;
    min-height: 50px;

  }

  &__label {
    display: none;

    @include breakpoint($bp-large min-width) {
      display: block;
    }
  }

  &__show-filters {
    display: block;

    @include breakpoint($bp-large min-width) {
      display: none;
    }
  }

  &__remove {
    flex: 1;
    text-align: right;
    display: block;
    text-decoration: none;
  }

  &__tag {
    display: inline-block;

    &__remove {
      @include gutter($margin-right-half...);
      @extend .ama__link--blue;
      margin-left: 4px;
    }
  }
}

