.ama__article-stub {

  &__title {
    width: 100%;
  }

  &__copy {
    flex-grow: 1;
  }

  .ama__image,
  .ama__video {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    @include gutter($margin-bottom-half...);
  }

  &--related {
    @include ama-rules(1px, '', solid, $gray-50);
    @include gutter($padding-top-half...);

    &:last-child {
      @include ama-rules(1px, 'bottom', solid, $gray-50);
      @include gutter($padding-bottom-half...);
    }

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    .ama__image,
    .ama__video {
      @extend .col-xs-3;
      margin-bottom: 0;

      & > div {
        display: flex;
        align-items: center;
      }
    }

    .ama__article-stub__copy {
      @extend .col-xs-9;
      display: flex;
      flex-direction: column;
      padding-top: 0;
      align-self: start;
    }

    .ama__image + .ama__article-stub__copy {
      @include gutter($padding-left-half...);
    }
  }

  &--small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;


    .ama__article-stub__copy {
      @include gutter($padding-right-half...);
      justify-self: flex-start;
      flex: 1;
    }
  }

  &--inline {
    @include gutter($padding-top-full...);
    @include gutter($padding-bottom-full...);
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    border: solid #eee;
    border-width: 1px 0;
  }

  &--inline__label {
    margin: 0;
  }

  &--inline__link {
    color: $blue;
  }

  &--inline__link:hover {
    color: $hoverBlue;
  }
}
