.ama__article-stub {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    padding: 0;
    width: 100%;
  }

  &__copy {
    flex-grow: 1;
    @include breakpoint($bp-small min-width) {
      @include gutter($padding-left-full...);
      @include gutter($padding-right-full...);
    }

    @include breakpoint($bp-med min-width) {
      padding: 0;
    }
  }

  .ama__image,
  .ama__video,
  .ama__video__container {
    @include gutter($margin-bottom-half...);
    width: 100%;
  }

  .ama__image img {
    @include breakpoint($bp-small max-width) {
      width: 100%;
    }
  }

  &--related {
    @include ama-rules(1px, '', solid, $gray-50);
    @include gutter($padding-top-half...);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    align-content: start;

    &:last-child {
      @include ama-rules(1px, 'bottom', solid, $gray-50);
      @include gutter($padding-bottom-half...);
    }

    .ama__image,
    .ama__video {
      @extend .col-xs-3;
      align-self: flex-start;
      margin-bottom: 0;

      & > div {
        display: flex;
        align-items: center;
      }
    }

    .ama__article-stub__title {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      align-self: start;
    }
    .ama__article-stub__copy {
      width: 75%;
    }
  }
  .related-series-tag a {
    font-size: 14px;
    display:block;
    color: $purple;
    margin:-7px 0;
    line-height: 16px;
    font-weight: $font-weight-bold;
  }
  &--small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;

    .ama__article-stub__title {
      order: 1;
    }

    .ama__article-stub__copy {
      @include gutter($padding-right-half...);
      justify-self: flex-start;
      flex: 1;
      order: 2;
    }

    .ama__image,
    .ama__video {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      order: 2;
    }

    .ama__video__container {
      @include gutter($margin-bottom-half...);
    }
  }

  &--inline {
    @include gutter($padding-top-full...);
    @include gutter($padding-bottom-full...);
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    border: solid #CBCBCB;
    border-width: 1px 0;
    clear: both;
  }

  &--inline__label {
    margin: 0;
  }

  &--inline__link {
    color: $blue;
  }

  &--inline__link:hover {
    color: $hoverBlue;
  }

  &--inline-alt {
    @include gutter($padding-bottom-full...);
    @include gutter($padding-left-full...);
    @include gutter($padding-right-full...);
    @include gutter($margin-bottom-full...);
    border-bottom: 1px solid $gray-50;

    @include breakpoint($bp-med) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--homepage {
    .ama__article-stub__title {
      padding: 0;
    }

    .ama__article-stub__copy {
      padding: 0;
    }

    h5.ama__article-stub__title {
      @include font-size($h5-font-sizes--homepage);
    }
    h2.ama__article-stub__title {
      @include font-size($h1-font-sizes);

      @include breakpoint($bp-small max-width) {
        line-height: 26px;
      }
    }
  }

  &--navigation {
    @include gutter($padding-bottom-full...);
    background-color: $gray-7;

    .ama__article-stub__title a {
      color: $purple;
    }

    .ama__article-stub__description p {
      @include type($myriad-pro, $font-weight-bold);
    }
  }

  &--series {
    position: relative;
    .series-icon {
      position: absolute;
      background: #3d1660;
      padding: 4.5px 12.5px;
    }
  }
}

.ama__page--news__teasers {
  border-top: 4px solid $purple;

  &-heading {
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    padding: 21px 0 14px 0;
    font-weight: $font-weight-semibold;
    width: 100%;
    @include breakpoint($bp-small) {
      padding: 28px 0 14px 0;
    }
  }

  .ama__h5--purple {
    font-size: 14px;
    font-weight: bold;
  }

  .ama__article-stub__title {
    font-weight: $font-weight-semibold;
    font-size: 22px;

    @include breakpoint($bp-small) {
      font-size: 18px;
    }
    @include breakpoint($bp-large) {
      font-size: 22px;
    }
  }

  .ama__four-up-teaser {
    margin: initial;
  }
}

.ama__column-teaser {
  @include breakpoint($bp-small max-width) {
        @include gutter($padding-left-half...);
        @include gutter($padding-right-half...);
      }
}

.ama__category__article-stub-three-up {
  .ama__article-stub {
    padding: $gutter ($gutter / 2);

    @include  breakpoint($bp-small) {
      padding: 0;
    }
  }
}
