blockquote {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 26px;
  margin-left: initial;
 
  * {
    &:last-child {
      margin-bottom: 0;
    }
  }
  margin-bottom: 1em;
  @include breakpoint($bp-small) {
    margin-right: 30px;
    margin-left: 30px;
  }
  p,
  a,
  li,
  ol,
  table,
  img,
  span,
  h1, h2, h3, h4, h5, h6,
  div {
    text-align: left;
  }
  ol {
    list-style-position: inside;
    margin-left: 0px;
    @include breakpoint($bp-xs) {
      margin-left: 4px;
    }
  }
  ul {
    @include breakpoint($bp-xs) {
      margin-left: 4px;
    }
    @include breakpoint($bp-med) {
      margin-left: -5px;
    }
    @include breakpoint($bp-large) {
      margin-left: -5px;
    }
  }
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $purple;
    width: 5px;
    height: 100%;
  }
}
#block-ama-one-forums-content {
  blockquote {
    color: $gray-64;
    padding: 14px 31px 16px 42px;
    border: 1px solid #e2e2e2;
    border-left: 6px solid #b3b3b3;
    background-color: #f7f7f7;

    &::before, &:after {
      font-size: 42px;
      position: absolute;
      background-color: transparent;
      width: 30px;
      color: #b3b3b3;
      line-height: 1em;

      @include type($helvetica, 600);
    }

    &:before {
      content: "\201C";
      left: 0;
      top: 0;
      margin-left: 6px;
      line-height: 1em;
    }

    &:after {
      content: "\201D";
      right: 0;
      bottom: 0;
      margin-right: 6px;
      line-height: .4em;
    }
  }
}
