.ama__category-hero {
  margin-bottom: 21px;
  @include breakpoint($bp-small) {
    margin-bottom: 28px;
  }
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    @extend .ama__h3;
    margin-bottom: 0;
    font-weight: 400;

    @include breakpoint($bp-small) {
      background: $purple;
      padding: 1em .25em 1em 1em;
      font-weight: initial;

      a {
        @include type($myriad-pro, $font-weight-semibold);
        //@include font-size($h1-font-sizes);
        font-size: 38px;
        line-height: 44.2px;
        color: $white;
        display: block;
      }
    }

    width: 100%;
  }

  &__copy {
    flex-grow: 1;
  }

  .ama__h4--purple {
    text-transform: uppercase;
    color: $purple;
    font-size: 14px;
  }

  .ama__category-hero__metadata {
    @extend .ama__type--small;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    &__read-time {
      font-size: 14px;
    }
  }

  @include breakpoint($bp-small) {
    .ama__category-hero__eyebrow,
    .ama__category-hero__metadata {
      display: none;
    }
  }

  .ama__hub-hero__video {
    margin-bottom: 21px;
    @include breakpoint($bp-small) {
      margin-bottom: 14px;
    }
  }
}





.category-featured-content {
  padding-top: calc($gutter * .5);
  padding-bottom: calc($gutter * .5);
  @include breakpoint($bp-small) {
    padding-top: calc($gutter * 2);
    padding-bottom: calc($gutter * 2);
  }
  .ama__podcast-player__links {
    display: none;
  }
  .hero {
    .article-wrapper {
      .description-wrapper {
        padding-left: 0;
        @include breakpoint($bp-small) {
          padding-left: calc($gutter * .75);
        }
        .description {
          display: block;
        }
      }
    }
  }
  .article-wrapper {
    display: flex;
    .description-wrapper {
      .flex-parent {
        display: flex;
        flex-direction: column;
      }
    }
    .date_display {
      height: calc($gutter * 1.25);
      text-transform: uppercase;
    }
  }

  //  Text Styles
  a.block-wrapper-link,
  a.description-wrapper-link {
    color: $text-navy;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: none;

      h3.title {
        text-decoration: underline;
      }
    }
    h3.title {
      font-size: 20px;
      font-weight: $font-weight-bold;
    }

    .date_display {
      color: $date-olive;
      font-size: 14px;
    }

    .hero {
      .date_display {
        color: $text-navy;
        font-size: 18px;
      }
    }

    .tags {
      color: $grape-purple;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: calc($gutter * .5);
      .tag {
        position:relative;
        padding-left:15px;
        padding-right: 15px;
        &:after {
          content: "/";
          position: absolute;
          right: 0;
          top: 0;
          color: $grape-purple;
        }
        &:first-child {
          &:before {
            content: "/";
            position: absolute;
            left: 0;
            top: 0;
            color: $grape-purple;
          }
        }
        &:last-child {
          content: "";
        }
      }
    }

    .series-name {
      color: $grape-purple;
      font-size: 14px;
      font-weight: $font-weight-bold;
    }
  }

  //  Formatting
  .one-article-display {
    .article-wrapper {
      .description-wrapper {
        .date_display {
          font-size: 18px;
        }
        h3.title {
          margin-bottom: calc($gutter * .5);
        }
        .description {
          margin-bottom: $gutter;
        }
      }
    }
  }
  .three-article-display {
    .article {
      &:first-child {
        .title {
          margin-bottom: 28px;
        }
      }
    }
  }

  //  Layout Styles
  .one-article-display {
    .first-row {
      display: flex;
      flex-direction: column;

      .first-column {
        flex-direction: column;
        @include breakpoint($bp-small) {
          flex-direction: row;
        }
        .article-wrapper {
          display:flex;
          flex-direction: column;
          @include breakpoint($bp-small) {
            flex-direction: row;
          }
        }
        .media {
         flex: 1;
          @include breakpoint($bp-small) {
            flex: .7;
          }
        }
        .description-wrapper {
          flex: 1;
          padding-left: 0;
          @include breakpoint($bp-small) {
            padding-left: calc($gutter * .75);
            flex: .4;
          }
        }
      }
    }
  }

  .three-article-display {
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-small) {
      flex-direction: row;
    }

    .first-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include breakpoint($bp-small) {
        flex-direction: row;
      }

      .first-column {
        border-right: none;
        padding-right: 0;
        flex:1;
        @include breakpoint($bp-small) {
          border-right: $border-gray 1px solid;
          padding-right: 63px;
        }
      }

      .article-wrapper {
        display: flex;
        flex-direction: column;
        .description-wrapper {
          padding-left: 0;
        }

        .description {
          display: none;
        }
      }
      .last-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        @include breakpoint($bp-small) {
          padding-left: 63px;
        }
        .article {
          padding-top: 0;
          padding-bottom: 0;

          &:first-child {
            .article-wrapper {
              justify-content: flex-end;
              @include breakpoint($bp-small) {
                padding-bottom: $gutter;
              }
              border-bottom: $border-gray 1px solid;
            }
          }

          &:last-child {
            .article-wrapper {
              @include breakpoint($bp-small) {
                padding-top: $gutter;
              }
            }
          }

          .article-wrapper {
            border-bottom: none;
            flex-direction: column;
            justify-content: flex-end;
            @include breakpoint($bp-small) {
              flex-direction: row-reverse;
            }
            .media {
              justify-self: flex-end;
              padding-left: 0;
              flex: 1;
              @include breakpoint($bp-small) {
                padding-left: calc($gutter * .75);
              }
            }
            .description-wrapper {
              justify-self: flex-start;
              padding-left: 0;
              flex-direction: row-reverse;
              flex: 1;
            }
          }
        }
      }
      //  Podcast Hero Styling.
      &.podcast-hero {
        .first-column {
          padding-right: 0;
          flex: 1;
          @include breakpoint($bp-small) {
            flex: .75;
            padding-right: calc($gutter * .5);
          }
          .date_display {
            display: none;
          }
        }
        .last-column {
          flex: 1;
          padding-left: 0;
          @include breakpoint($bp-small) {
            flex: .25;
            padding-left: calc($gutter * .5);
          }
          .media,
          .tags,
          .series-name {
            display: none;
          }
        }
      }
    }
  }

  .seven-article-display {
    display: flex;
    flex-direction: column;

    .first-row {
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-small) {
        flex-direction: row;
      }
      .first-column {
        .article-wrapper {
          flex-direction: column;
          @include breakpoint($bp-small) {
            flex-direction: row;
          }
        }
        .media {
          width: 100%;
          @include breakpoint($bp-small) {
            width: 65%;
          }
        }
        .description-wrapper {
          width: 100%;
          @include breakpoint($bp-small) {
            width: 35%;
          }
          .date_display {
            margin-bottom: calc($gutter * .5);
          }
        }
      }
    }

    .second-row {
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-small) {
        flex-direction: row;
      }
      .description {
        display: none;
      }
      .first-column {
        display: flex;
        flex-direction: column;
        border-right: none;
        padding-right : 0;
        flex: 1;
        @include breakpoint($bp-small) {
          border-right: $border-gray 1px solid;
          flex: .35;
          padding-right: calc($gutter * .5);
        }
        .article-wrapper {
          display: flex;
          flex-direction: column;
          .description-wrapper {
            padding-left: 0;
            @include breakpoint($bp-small) {
            }
          }
        }
      }

      .middle-column {
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
        border-right: none;
        flex: 1;
        @include breakpoint($bp-small) {
          padding-right: calc($gutter * .75);
          padding-left: calc($gutter * .75);
          border-right: $border-gray 1px solid;
          flex: .4;
        }

        .article {
          &:first-child {
            .article-wrapper {
              border-bottom: $border-gray 1px solid;
            }
          }

          &:last-child {
            .article-wrapper {
              padding-top: 20px;
            }
          }

          .article-wrapper {
            padding-bottom: calc($gutter * .75);
            padding-top: 0;
            border-bottom: none;
            flex-direction: column;
            @include breakpoint($bp-small) {
              flex-direction: row-reverse;
            }

            .media {
              margin-left: 0;
              justify-self: flex-end;
              flex: 1;
              @include breakpoint($bp-small) {
                margin-left: 10px;
              }
            }
            .description-wrapper {
              flex: 1.5;
            }
          }
        }
      }


      .last-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 0;
        @include breakpoint($bp-small) {
          flex: .25;
          padding-left: calc($gutter * .75);
        }

        .media {
          display: none;
          width: 0;
        }

        .article {
          .article-wrapper {
            border-bottom: $border-gray 1px solid;
            margin-top: calc($gutter * .75);
          }

          &:first-child {
            .article-wrapper {
              margin-top: 0;
            }
          }

          &:last-child {
            .article-wrapper {
              border-bottom: none;
              margin-top: calc($gutter * .75);
            }
          }
        }

        .description-wrapper {
          .series-name,
          .description {
            display: none;
          }

          h3.title {
            margin-bottom: $gutter;
          }
        }
      }
    }
  }
  .ama__podcast-player__links {
    display: none;
  }
  .ama__podcast-player {
    margin-top: 0;
    margin-bottom: 0;
  }
}



