.ama__category-theme {
  padding-bottom: 28px;
  margin-bottom: 28px;
  @include breakpoint($bp-med) {
    padding-bottom: 56px;
    margin-bottom: 54px;
  }
  .description {
    display: none;
  }
  .series-name {
    color: $purple;
    font-size: 14px;
    line-height: 1.14;
    font-weight: $font-weight-bold;
    padding-top: 7px;
    display:none;
    @include breakpoint($bp-small) {
      display: block;
    }
  }
  .category-theme {
    &__header {
      font-weight: bold;
      margin-bottom: 28px;
      @include breakpoint($bp-small) {
        margin-bottom: 23px;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-small) {
        flex-direction: row;
        column-gap: 17px;
      }
      @include breakpoint($bp-med) {
        column-gap: 120px;
      }
      .category-theme__container--left {
        width: 100%;
        @include breakpoint($bp-small) {
          max-width: 348px;
        }
        @include breakpoint($bp-med) {
          max-width: 380px;
        }
      }
    }

    &--content {
      .ama__subcategory-page-article-stub__date-time,
      .ama__article-stub__copy {
        padding-left: 0;
        padding-right: 0;
      }
      .ama__article-stub__metadata {
        font-size: 14px;
        color: #424242;
        line-height: 1.93;
        .article-event-date {
          display: inline;
        }
        .read_time {
          display: inline;
          margin-bottom: 0;
          padding-bottom: 0;
          .ama__h3 {
            display: inline;
            font-size: 14px;
            color: #424242;
            margin-bottom: 0;
            line-height: 27px;
          }
        }
      }
    }
  }
  .category-theme__container--left {
    margin-bottom: 28px;
    .category-theme--content {
      .ama__article-stub__metadata {
        margin-bottom: 7px;
        @include breakpoint($bp-small) {
          margin-bottom: 14px;
        }
      }

      .ama__article-stub__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 14px;
        @include breakpoint($bp-small) {
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 25px;
        }
      }
    }
    @include breakpoint($bp-small) {
      margin-bottom: 0;
      .category-theme--image {
        max-width: 380px;
        margin-top: 25px;
      }
    }
  }
  .category-theme__container--right {
    margin-left: auto;
    flex-grow: 1;
    @include breakpoint($bp-med max-width) {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
    .category-theme__stub {
      @include breakpoint($bp-small) {
        flex-grow: 1;
        border-bottom: 0.5px solid #a1a1a4;
        margin-bottom: 20px;
        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
      @include breakpoint($bp-med) {

        min-height: 128px;
      }
      .description {
        margin-bottom: 28px;
      }
      &--show {
        @include breakpoint($bp-small) {
        .description {
            display: block;
        }
      }
      }
      .stub__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        @include breakpoint($bp-small max-width) {
          &.stub__has-image {
            margin-bottom: 20px;
            min-height: 100px;
          }
          .ama__article-stub__metadata {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        @include breakpoint($bp-small) {
          padding-bottom: 21px;
          flex-direction: row;
        }
        .category-theme--content {
          flex-grow: 1;
          @include breakpoint($bp-med) {
            padding-right: 7px;
          }
          h3.ama__article-stub__title {
            font-size: 18px;
            line-height: 1.39;
            @include breakpoint($bp-small max-width) {
              padding-top: 22px;
            }
            @include breakpoint($bp-small) {
              margin-bottom: 28px;
            }
            @include breakpoint($bp-med) {
              font-size: 18px;
              line-height: 25px;
            }
          }
        }
        .category-theme--image {
          display: flex;
          align-items: flex-end;
          max-width: 87px;
          @include breakpoint($bp-small max-width) {
            margin-right: 20px;
          }
          @include breakpoint($bp-small) {
            align-items: unset;
            display: none;
          }
          @include breakpoint($bp-med) {
            display: flex;
            max-width: 180px;
            align-items: center;
          }
        }
      }
    }
  }

  .wrapper-link {
    text-decoration: none;

    &:hover .ama__article-stub__title {
      text-decoration: underline;
    }
  }

  .tags {
    color: $purple;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
    line-height: 1.36;
    display: none;
    .tag {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      &:after {
        content: "/";
        position: absolute;
        right: 0;
        top: 3;
        color: $purple;
      }
      &:first-child {
        &:before {
          content: "/";
          position: absolute;
          left: 0;
          top: 3;
          color: $purple;
        }
      }
      &:last-child {
        content: "";
      }
    }
    @include breakpoint($bp-small) {
      display: block;
    }
  }
}
