.ama__checkboxes {
  @include gutter($padding-top-half...);
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    @include gutter($margin-right-full...);
    display: block;
    min-width: 200px;

    @include breakpoint($bp-small){
      flex-direction: column;
    }
  }
}
