
.dr-finder-search-result-card {
  display: flex;
  padding: $gutter;
  margin-bottom: $gutter;
  border: solid 1px;
}

.dr-finder-search-result-card__image {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-right: $gutter;

  img {
    border-radius: 50%;
  }
}

.dr-finder-search-result-card__content__name {
  margin: 0;
}


