.dr-finder-search-result-card{
  display: flex;
  padding: $gutter;
  margin-bottom: $gutter;
  border: solid 1px;
  box-shadow: 0px 1px 4px #4d4d4d;
  &:hover{background-color: #f7f3fd;}
}

.dr-finder-search-result-card__image {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-right: $gutter;

  img {
    border-radius: 50%;
  }

  svg {
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    transform: translate(244%, 205%);
  }
}

.dr-finder-search-result-card__content__name {
  margin: 0;
}


