.dr-finder-profile-header {
  display: flex;
  padding: $gutter 0;
  margin: $gutter 0;
}

.dr-finder-profile-header__image-url {
  background: $profileHeader-image;
  border: none;
  border-radius: 50%;
  width: 220px;
  height: 220px;

  img {
    border-radius: 50%;
  }
}

.dr-finder-profile-header__doctor-info {
    margin: 0 $gutter;
}

.dr-finder-profile-header__doctor-info__specialty {
  font-weight: bold;
}

.dr-finder-profile-header__doctor-info__url a {
  color: $blue;
}

.dr-finder-profile-header__doctor-info__membership {
  color: $white;
  background: $purple;
  width: 120px;
  text-align: center;
  margin: 10px 0;
}

.dr-finder-profile-header__doctor-info__service {
  font-weight: bold;
}

.dr-finder-profile-header__verified {
  position: absolute;
  bottom: 60px;
  left: 195px;
}

.dr-finder-profile-header__upload-delete-button {
  padding: $gutter 0;
}

.dr-finder-profile-header__container {
  position: relative;
}
