.dr-finder-edit-header {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin: 10px 0px 10px 0px;
    flex-direction: row;
}

.dr-finder-edit-header__no-image {
  background: #d9d9d9;
  border-radius: 50%;
  width: 165px;
  height: 165px;
}

.dr-finder-edit-header__doctor-info {
  padding: 10px;
  margin:18px 20px 18px 50px ;
}

.dr-finder-edit-header__doctor-info_name {
  font-size: 18px;
  color: $black;
}

.dr-finder-edit-header__doctor-info_street,
.dr-finder-edit-header__doctor-info_city,
.dr-finder-edit-header__doctor-info_number {
  font-size: 14px;
  color: $black;
}

.dr-finder-edit-header__doctor-info_specialty {
  font-size: 14px;
  margin: 2px 0px;
  color: $black;
}
