.dr-finder-claim {
  display: flex;
  flex-direction: column;
  border: 1px solid $black;
  padding: $gutter $gutter;
  width: fit-content;
}

.dr-finder-claim__question {
  text-align: center;
  font-weight: normal;
}
