.ama__event-stub {
  @include gutter($margin-bottom-full...);
  @include breakpoint($bp-small) {
    flex-direction: row;
  }

  &:first-child {
    border-top: 1px solid $gray-50;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: $gutter-mobile/2;
  border-bottom: 1px solid $gray-50;

  a {
    @extend %ama__link--no-underline;
  }

  &__cme {
    position: absolute;
    top: 0;
    right: 0;

    svg {
      fill: $purple;
    }
  }

  &__banner {
    background-color: $purple;
    padding: $gutter-mobile/20 $gutter/4;
    width: 180px;
    color: #fff;
    margin-bottom: $gutter-mobile/2;
  }

  &__title {
    width: 100%;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
  }

  &__copy {
    @include gutter($padding-left-full...);
    @include gutter($padding-right-full...);

    @include breakpoint($bp-med) {
      padding: 0;
    }

    justify-self: flex-start;
    order: 2;
    position: relative;
  }

  &__date {
    font-style: italic;
    color: $gray-50;
  }

  &__location {
    margin-bottom: 0;
  }

  &__discount {
    font-style: italic;
    color: $purple;
  }

  .ama__bio-image-with-body__image {
    @include gutter($margin-bottom-full...);
    width: 100%;
    min-width: 180px;
    height: auto;
    @include breakpoint($bp-small) {
      @include gutter($margin-right-full...);
      max-width: 180px;
      align-self: flex-start;
      margin-bottom: 0;
    }
  }
  .ama__image {
    max-width: 180px;
    margin-right: $gutter;
  }

  .ama__rule {
    flex: 1 100%;
    order: 3;
    width: 100%;
  }

  &--sticky {
    background: $gray-7;
  }
}
