.ama__explore-menu {
  @include gutter($margin-right-full...);
  background-color: $purple;
  color: $white;
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;

  &__button {
    padding: $gutter/4;
    margin: $gutter/4;
    align-items: center;
    cursor: pointer;
    
    &.main {
      display: none;
      border: 1px solid $white;
      min-width: 200px;
  
      @include breakpoint($bp-small) {
        display: flex;
      }
    }
  
    &.mobile {
      display: block;
      width: 55px;

      &::before {
        content: url('../icons/svg/icon-menu-closed.svg');
        height: 32px;
        display: block;
      }
  
      @include breakpoint($bp-small) {
        display: none;
      }
    }

    &:hover {
      background-color: $hoverPurple;
    }
  }

  &__text {
    margin-bottom: 0;
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__caret {
    display: none;

    @include breakpoint($bp-small) {
      @include gutter($margin-left-half...);
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 16px solid $white;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: $purple;
    color: $white;
    border: 1px solid $hoverPurple;
    min-width: 250px;

    a {
      padding: $gutter/4 $gutter/2;
      display: block;

      &:hover {
        text-decoration: none;
        background-color: $hoverPurple;
      }
    }
  }
}
