.search-list {
  position: relative;

  input {
    @include gutter($padding-right-full...);
    @include gutter($padding-top-half...);
    border: 0;
    border-bottom: 1px solid $blue;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus,
    &:active {
      outline: none;
      border: 0;
      border-bottom: 1px solid $hoverBlue;
    }
  }

  &:after {
    @extend .icon--search;
    content: "";
    position: absolute;
    top: 5px;
    right: -5px;
    background-size: 20px 30px;
    min-width: 24px;
    min-height:24px;
  }


  .filter {
    display: none;
    border: 1px solid $gray-7;
    list-style: none;

    li {
      list-style: none;
      margin: 0;

      label {
        @include gutter($padding-top-half...);
        @include gutter($padding-bottom-half...);
        margin: 0;
        border-radius: 0;
      }

      &:hover label {
        background: $purple;
        color: $white;
      }
    }
  }
}
