.search-filter {
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);
  position: relative;
  width: 100%;

  input {
    @include gutter($padding-right-full...);
    @include gutter($padding-top-half...);
    border: 0;
    border-bottom: 1px solid $blue;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
      border-color: $hoverBlue;
    }
  }

  .icon--search {
    position: absolute;
    top: 5px;
    right: -5px;
    background-size: 20px 30px;
    min-width: 24px;
    min-height:24px;
  }
}

/* Menu
----------------------------------*/
.ui-autocomplete {
  &.ui-menu {
    list-style:none;
    padding: 0;
    margin: 0;
    display:block;

    .ui-menu-item {

      margin: 0;
      padding: 0;
      border: 0;

      .ui-menu-item-wrapper {
        @include font-size($p-font-sizes);
        @include gutter($padding-right-half...);
        @include gutter($padding-left-half...);
        display: block;
        border: 0;
        margin: -1px;
      }

      .ui-state-hover,
      .ui-state-active {
        background: $purple;
        border: 0;
      }

      .search-api-autocomplete-suggestion {
        &:focus,
        &:active,
        &:hover {
          background: $purple;
        }
      }

      &::selection {
        background: $purple;
      }
    }
  }
}
