.ama__forum-table-wrap {
  table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    border: none;

    .forum-heading {
      width: 70%;
    }

    thead,
    th {
      border: none;
    }

    th {
      border-bottom: solid 1px black;

      &.forum-table-heading {
        font-weight: normal;
      }
    }

    tr {
      border: none;
      border-top: 1px solid #cecece;

      .forum-title {
        font-size: 22px;
      }

      .subforum-listing {
        margin-left: 2em;
      }
    }

    td {
      border: none;
      background: none;
    }
  }
}