/**
 * Styles for the Forum Topic Node Creation Form, exposed to most user roles.
 */
#node-forum-form {
  .form-item-body-0-value {
    margin-bottom: 0;
  }
  // Format "About text formats" help link
  #edit-body-0-format {
    border: none;
    #edit-body-0-format-help-about {
      color: $blue;
      text-decoration: none;
      @include type($myriad-pro, $font-weight-semibold);
      &:after {
        background: transparent url('../icons/svg/icon-question.svg');
        top: 4px;
      }
    }
  }
  // Format Save and Preview buttons
  .form-actions {
    display: flex;
    padding: inherit 0;
    @media (max-width: $bp-med) {
      flex-direction: column;
      .button {
        width: 100%;
        flex-basis: 100%;
      }
    }
    @include breakpoint($bp-med) {
      flex-direction: row;
      .button {
        width: 220px;
        &:last-child {
          margin-left: 1em;
        }
      }
    }
  }
  .text-summary-wrapper {
    display: block;
  }
  .field--type-text-with-summary {
    .form-item {
      display: flex;
      flex-direction: column;
      .form-item-body-0-value {
        order: -1;
      }
      .filter-wrapper {
        order: -1;
      }
      .form-item-body-0-summary {
        order: 1;
      }
    }
  }
}
