.ama__forum-table-wrap,
.ama__topic-table-wrap {

  [aria-sort="ascending"],
  [aria-sort="descending"] {
    &.is-active {
      a {
        position: relative;
        .tablesort {
          position: absolute;
          right: -17px;
          top: 4px;
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    border: none;
    tbody {
      tr:not(:first-child) {
        td.forum-heading {
          &:before {
            display: none;
            @include breakpoint($bp-large) {
              display: block;
            }
          }
        }
      }
    }
    tr:last-child td {
      border-bottom: none;
    }

    thead,
    th {
      border: none;
    }

    th {
      border-bottom: solid 1px black;

      &.forum-table-heading {
        font-weight: normal;
        font-size: 20px;
      }

      &.tl-forum-title {
        text-transform: uppercase;
        font-size: 26px;
      }
    }

    tr {
      border: none;
      border-top: 1px solid #cecece;

      .forum-title {
        font-size: 22px;
        span {
          font-weight: $font-weight-semibold;
        }
      }

      .subforum-listing {
        margin-left: 1em;
        display: block;
        padding: 7px 0px 0px;
        @include breakpoint($bp-large) {
          margin-left: 2em;
          display: inline;
          padding: 14px 0px 23px 0px;
        }
        a {
          font-weight: $font-weight-semibold;
        }
      }
      [data-th="Last reply"],
      [data-th="Last post"] {
        .author,
        .time {
          display: block;
        }
        .author {
          display: flex;
          a {
            margin-left: 4px;
          }
          span {
            display: inline-block;
          }
        }
      }

      [data-th="Topics"],
      [data-th="Posts"],
      [data-th^="Resolution"],
      [data-th^="Report"],
      [data-th="Replies"],
      [data-th="Last post"],
      [data-th="Last reply"] {

        span {
          position: relative;
          display: inline-block;

          @include breakpoint($bp-large) {
            display: block;
          }
        }
      }

      [data-th^="Resolution"],
      [data-th^="Replies"] {
        text-align: left;
        @include breakpoint($bp-large) {
          text-align: center;
        }
        .forum__last-reply,
        .forum__replies {
          @include breakpoint($bp-large) {
            text-align: center;
          }
          .bt-content {
            display: inline-block;
            margin-left: 15px;
            @include breakpoint($bp-large) {
              display: block;
              margin-left: 0;
            }
          }
        }
      }
      [data-th="Replies"] {
        .bt-content {
          br {
            display: none;
            @include breakpoint($bp-med) {
              display: initial;
            }
          }
          a {
            padding: 0 14px;
            &:before {
              content: '(';
            }
            &:after {
              content: ')';
            }
            @include breakpoint($bp-med) {
              padding: 0;
              &:before {
                content: '';
              }
              &:after {
                content: '';
              }
            }
          }
        }
      }

      [data-th="Last post"],
      [data-th="Last reply"] {
        span span {
          top: 0px;
          @include breakpoint($bp-large) {
            top: 0px;
          }
          span {
            top: 0px;
          }
        }
      }
    }

    td {
      border: none;
      background: none;
      border-bottom: 1px solid #cecece;
      height: auto;
      padding-bottom: 0em;
      vertical-align:top;

      @include breakpoint($bp-large) {
        height: 126px;
      }

      .time {
        display: block;
      }

      .author a {
        font-weight: normal;
      }
    }

  }
}
table[id^="forum-topic"] {
  td.bt-hide {
    display: none;
    @include breakpoint($bp-large) {
      display: table-cell;
    }
  }
  thead {
    th {
      line-height: 19px;
      a {
        position: relative;
        &:after {
          content: ' ';
          position: absolute;
          width: 12px;
          height: 18px;
          background: url("../icons/svg/icon-forum-asc-desc.svg") no-repeat  0 0 ;
          background-size: contain;
          top: 5px;
          margin-left: 5px;
          @include breakpoint($bp-large) {
            content: unset;
          }
        }
      }
      &.is-active {
        a {
          &:after {
            content: unset;
          }
        }
      }
    }
  }
  td.forum_replies {
    a {
      display: none;
    }
  }
}
.ama__topic-table-wrap {
  table {
    tbody {
      tr {
        &:first-child {
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-large) {
            display: table-row;
          }
        }

      }
    }
    td {
      display: block;
      @include breakpoint($bp-large) {
        display: table-cell;
      }

    }
    tr {
      border-top: 1px solid #979797;
      &:not(:first-child) {
        td[data-th="Topic"] {
          &:before {
            display: none;
            @include breakpoint($bp-large) {
              display: inline;
            }
          }
        }
      }
    }
  }

  th {
    a {
      font-weight: normal;
      font-size: 20px;
      color: black;
    }

    &:nth-of-type(3) {
      position: relative;
    }
  }

  th:first-child {
    font-weight: $font-weight-semibold;
    font-size: 26px;
    text-transform: uppercase;
  }

  .forum__topic {
    width: 100%;
    @include breakpoint($bp-large) {
      width: 70%;
    }
  }

  .forum__title div:first-child {
    font-size: 22px;
    font-weight: normal;
  }
  tbody tr {
    td {
      &[data-th^="Report"],
      &[data-th^="Resolution"],{
        text-align: left;
        @include breakpoint($bp-large) {
          display: table-cell;
        }
      }

      &.forum-heading,
      &.forum__topic {
        &[data-th="Sections"],
        &[data-th="Topic"] {
          padding-top: 21px;
          &:before {
            font-weight: $font-weight-bold;
            margin-top: 1.5rem;
            line-height: 1.143;
          }
        }
      }
    }
  }

  table tr [data-th="Topics"] {
    span {
      position: relative;
      bottom: 0px;
      display: inline-block;
      margin-right: 7px;
      @include breakpoint($bp-large) {
        display: block;
        margin-right: 0;
      }
    }
  }
  .forum__last-reply {
    span.author {
      text-wrap: nowrap;
    }
    span.time {
      display: block;
    }
    span.bt-content {
      display: inline-block;
      @include breakpoint($bp-large) {
        display: block;
      }
    }
  }
}

#block-ama-one-forums-content {
  .action-links.ama__button--secondary {
    a {
      color: #46166B;
      text-decoration: none;
      padding: 0px 40px;
    }

    &:hover a {
      color: white;
    }
  }

  a.print_forum_link {
    position:relative;
    padding-right: 1.7em;
    text-decoration: none;
    @include type($myriad-pro, $font-weight-semibold);
    color: $purple;
    svg {
      position: relative;
      height: 23px;
      width:26px;
      top: 6px;
    }
  }

  a.print_forum_link:after {
    content: " ";
    background-image: url("../icons/svg/icon-print.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 23px;
    width: 26px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Hide the Topic/resolution column in the HOD forum
body.hod-forum {
  table {
    thead {
      tr {
        th {
          &:first-child {
            width: 80%;
          }
          &:nth-of-type(2) {
            display: none !important;
          }
          &:nth-of-type(3) {
            text-align: left;
            @include breakpoint($bp-large) {
              width: 10%;
              text-align: center;
            }
          }
          &:nth-of-type(3),
          &:nth-of-type(4) {
            width: 100%;
            @include breakpoint($bp-large) {
              width: 10%;
            }
          }
          &:nth-of-type(4) {
            text-align: left;

          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:first-child {
            width: 80%;
          }
          &:nth-of-type(2) {
            display: none !important;
          }
          &:nth-of-type(3),
          &:nth-of-type(4) {
            width: 100%;
            @include breakpoint($bp-large) {
              width: 10%;
            }
          }
          &:nth-of-type(4) {

          }
        }
      }
    }
  }
}
