section.ama__forum_comments, section.ama__forum_comments .indented,
#block-ama-one-forums-content, #block-ama-one-forums-content .indented {
  > .ama__comment {
    padding: 18px 30px;
    background-color: $white;
    border: 1px solid #e2e2e2;
    border-left: 0;
    margin: 42px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    position: relative;

    .ama__comment-header {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include breakpoint($bp-med) {
        flex-direction: row;
      }
      .ama__comment {
        &--info {
          display: flex;
          flex-direction: column;

          @include breakpoint($bp-small) {
            flex-direction: row;
          }

          .ama__comment {
            &--author-info {
              margin-right: 30px;
            }

            &-date {
              color: $gray-50;
              margin-right: 30px;
            }
          }

          mark.ama__comment-status {
            background-color: #fff;
            color: #7234ce;
            font-weight: $font-weight-semibold;
          }

        }

        &-link {
          display: flex;

          .add-flag {
            margin: 0;
          }

          .fa-flag, .fa-flag-o {
            color: #027dbc;
            margin-right: 5px;
          }

          > div {
            display: flex;

            &:after {
              content: "|";
              color: #e2e2e2;
              margin-right: 5px;
              margin-left: 5px;
            }
          }

          .votingapi-widgets.flag .flag-rating {
            height: auto;
          }

          .form-item {
            margin: 0;
          }
        }
      }
    }

    .ama__comment-body {
      h3 {
        margin-top: 18px;
      }
    }

    .ama__comment-footer {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .fa-long-arrow-alt-up, .fa-long-arrow-up {
        margin-right: 0;
        width: .5em;
        height: .8em;
        background-size: contain;
        background-position: top;
        color: #027dbc;
      }

      .fa-long-arrow-up {
        font-size: .8em;
        margin-top: 1px;
        position: relative;
        top: -1px;
        margin-right: 6px;
      }

      ul.links.inline {
        display: flex;

        li {
          list-style-type: none;
          margin-right: 10px;

          &:before {
            content: "|";
            color: #e2e2e2;
            margin-right: 8px;
            font-weight: $font-weight-semibold;
          }
        }
        li:first-child {
          &:before {
            content: "";
            margin-right: 0;
          }
        }
      }
    }

    a.ama__link--blue {
      font-weight: $font-weight-semibold;
    }
  }
}
section.ama__forum_comments, #block-ama-one-forums-content {
   padding: 0;
   position: relative;
   padding-left: 6px;

  h2 {
    padding-top: 15px;
  }

   > .ama__comment {
     &:after {
       content: " ";
       height: 100%;
       width: 6px;
       margin-left: -6px;
       background-color: $purple;
       display: inline-block;
       position: absolute;
       top: 0;
       left: 0;
     }
   }

   > .indented {
     border-bottom: 1px solid #e2e2e2;
     position: relative;
     margin-top: -1px;

     &:before {
       content: " ";
       position: absolute;
       width: 100%;
       height: 2px;
       background-color: #fff;
       margin-top: -1px;
     }
   }

   .indented {
     padding-left: 0;
     background-color: #fff;

     &:after {
       content: " ";
       height: 100%;
       width: 6px;
       margin-left: -6px;
       background-color: $purple;
       display: inline-block;
       position: absolute;
       top: 0;
       left: 0;
     }

     h3 {
       display: none;
     }

     .ama__comment-header {
       margin-bottom: 30px;
     }

     .indented {
       border-left: 6px solid #d1c5da;
       margin-right: 0;
       margin-left: 0;

       @include breakpoint($bp-med) {
         margin: 0 0 0 28px;
       }
     }

     > .ama__comment {
       border-left: 6px solid #d1c5da;
       border-bottom: transparent;
       margin: 0;

       @include breakpoint($bp-med) {
         margin: 0 0 0 28px;
       }

     }
   }
 }
section.ama__forum_comments {
  padding: 15px 0 15px 6px;

  @include breakpoint($bp-med) {
    padding: 15px 42px;
  }
  h2 {
    &.pinned-comment + div {
      margin-bottom: 30px;
    }
  }
}
#block-ama-one-forums-content {
  > .indented {
    border: 1px solid #e2e2e2;

    &:before {
      display: none;
    }

    > .ama__comment {
      border: none;
    }
  }
}
.ama__forum_comments {
  background-color: #f4f4f4;

  &__form {
    margin-top: 60px;
  }
}

.forum-reply .form-item.form-item-subject-0-value {
  @extend .is-hidden;
}
