.ama__forum-table-wrap {
  table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    border: none;

    thead,
    th {
      border: none;
    }

    th {
      border-bottom: solid 1px black;

      &.forum-table-heading {
        font-weight: normal;
      }
    }

    tr {
      border: none;
      border-top: 1px solid #cecece;

      .forum-title {
        font-size: 22px;
      }

      .subforum-listing {
        margin-left: 2em;
      }
    }

    td {
      border: none;
      background: none;
      border-bottom: 1px solid #cecece;
    }

    .forum-heading {
        width: 100%;
        @include breakpoint($bp-large) {
            width: 70%;
        }
    }

    .ama__column-centered {
      text-align: left;
        @include breakpoint($bp-large) {
            text-align: center;
        }
    }
  }
}