#ama__forums {
  #block-pagetitle {
    h1 {
      @include breakpoint($bp-xs) {
        margin-top: 1.5rem;
        margin-bottom: .75rem;
      }
      @include breakpoint($bp-small) {
        margin-bottom: 3.5rem;
        margin-top: 4rem;
      }
    }
  }
}
.ama__topic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: $gutter;
  &-header {
    padding: calc($gutter/4) 0;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    @include breakpoint($bp-xs) {
      flex-direction: column;
    }
    @include breakpoint($bp-small) {
      flex-direction: row;
    }
  }
  &-author {
    margin-right: 12px;
    align-self: flex-start;
    a {
      color: $blue;
      @include type($myriad-pro, $font-weight-semibold);
      text-decoration: none;
    }
  }
  &-date {
    color: $gray-50;
  }
  &-print {
    margin-left: auto;
    @include breakpoint($bp-xs) {
      order: -1;
    }
    @include breakpoint($bp-small) {
      order:inherit;
    }
    a {
      position:relative;
      padding-right: 2.2em;
      text-decoration: none;
      @include type($myriad-pro, $font-weight-semibold);
      color: $purple;
      svg {
        position: relative;
        height: 23px;
        width:26px;
        top: 6px;
      }
      .icon {
        content: " ";
        background-image: url("../icons/svg/icon-print.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        height: 23px;
        width: 26px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &-body {
    @include breakpoint($bp-xs) {
      margin-bottom: 0;
    }
    @include breakpoint($bp-small) {
      margin-bottom: 1em;
    }

    ol {
      margin: 0 0 2em 1em;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 1em;
        ol {
          list-style-type: lower-alpha;
          padding-left: 0;
          margin-top: 1rem;
          margin-bottom: 2em;
          li {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  &-resolution {
    font-weight: bold;
    margin-bottom: .5em;
  }
  &-downloads {
    margin-bottom: 1.5em;
    a {
      @include type($myriad-pro, $font-weight-bold);
      color: $blue;
      text-decoration: none;
    }
    svg {
      position: relative;
      top: 6px;
    }
  }
  &-comment {
    a {
      @include type($myriad-pro, $font-weight-bold);
      color: $blue;
      text-decoration: none;
    }
  }
}

.new-comment {
  top: -120px;
  position:relative;
  &.is_admin {
    top: -180px;
  }

}
