//  Remove duplicate styles.
.ama__full_hero_banner {
  padding: 60px 0 150px;
  margin-bottom: -150px;
  background-size: cover;
  
  &__card {
    width: 100%;
    @include breakpoint($bp-med) {
      width: 56%;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    border-radius: 8px;
    border: 1px solid $gray-7;
    box-shadow: 0px 2px 4px -2px #1018280F, 0px 4px 8px -2px #1018281A;
    @include gutter-all($padding-all-full...);

    h2.ama__h1 {
      margin-bottom: 21px;

      &:has(+ .ama__full_hero_banner__subtitle) {
        margin-bottom: 14px;
      }
    }
    h2 a {
      font-size: inherit;
    }
    a {
      text-decoration: none;

      .ama__h1 {
        margin-bottom: 7px;
      }
    }
  
  }

  &__subtitle {
    @include type($kepler-std, $font-weight-light);
    line-height: 24px;
    color: $gray-64;
    margin-bottom: 21px;
  }

  .cta_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    @include breakpoint($bp-small) {
      flex-direction: row;
    }
  }

  + .section {
    position: relative;
  }
}