//  Remove duplicate styles.
.ama__full_hero_banner {
  padding: 60px 0 150px;
  margin-bottom: -150px;
  background-size: cover;
  
  &__card {
    width: 100%;
    @include breakpoint($bp-med) {
      width: 56%;
    }
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    border-radius: 8px;
    border: 1px solid $gray-7;
    box-shadow: 0px 2px 4px -2px #1018280F, 0px 4px 8px -2px #1018281A;
    @include gutter-all($padding-all-full...);

    a.ama__button {
      @include ama-button ("rounded", "homepage");

      &.secondary {
        @include ama-button ("rounded", "homepage-secondary");
        border-color: #E4E3E6;
        &:hover {
          background-color: $gray-4;
          color: inherit;
          border: 1px solid #E4E3E6;
        }
      }
    }

    a {
      font-size: inherit;
      text-decoration: none;

      .ama__h1 {
        margin-bottom: 7px;
      }

      &:focus-visible {
        outline: 2px solid $pg-lt-blue;
        outline-offset: 3px;
      }
    }
  
  }

  .cta_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    @include breakpoint($bp-small) {
      flex-direction: row;
    }
  }

  + .section {
    position: relative;
  }
}