.ama__global-search {
  @include breakpoint($bp-small) {
    flex-grow: 1;
  }

  &--desktop {
    .ama__search__field--in-body {
      display: flex;
      margin-bottom: 0;
      justify-content: flex-end;
      align-items: center;

      @include breakpoint($bp-small) {
        justify-content: flex-start;
      }
    }

    input[type="text"] {
      background-image: none;
      display: none;
      border: 0;
      height: 30px;
      min-width: 250px;
      line-height: 0;

      &:focus,
      &:active {
        color: $black;
        font-style: normal;
      }

      &::placeholder {
        font-style: italic;
      }

      @include breakpoint($bp-small) {
        display: block;
      }
    }

    .ama__global-search__action {
      border: 2px solid $white;
      height:30px;

      .form-actions {
        margin: 0;
      }

      .ama__button {
        @extend .icon--search-white;
        background-color: $purple;
        background-size: 18px 20px;
        background-position: 6px -1px;
        min-height: 22px;
        max-height: 22px;
        max-width: 30px;
        padding: 0;
        margin: 0;
        height: 22px;
        width: 30px;
        outline: none;
        text-indent: -999px;
        overflow: hidden;
        min-width: 30px;
        position: relative;
      }
    }
  }

  &--mobile {
    display: none;
    position: absolute;
    border: 2px solid $purple;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: $purple;

    .ama__search__field--in-body {
      margin: 0;
    }

    .ama__search__field__button {
      text-transform: uppercase;

      p {
        @extend %ama__menu--button;
      }
    }
  }
}
