.hero-evergreen {
  display: flex;
  flex-flow: column wrap;

  .hero-evergreen__mobile-image {
    display: block;
  }

  @include breakpoint($bp-med) {
    flex-flow: row nowrap;
  }
  @incluse breakpoint($bp-small) {
    .hero-evergreen__mobile-image {
      display: none;
    }
  }

  .hero-evergreen__aside {
    background: $purple;
    flex-basis: 33.33%;
    padding: $gutter;
    color: $white;

    &--full-width {
      flex-basis: 100%;
    }
  }
  .hero-evergreen__background {
    flex-basis: 66.66%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .hero-evergreen__buttons {
      display: flex;
      background: $white;
      padding-top: $gutter;
      padding-bottom: $gutter;
      flex-flow: column wrap;

      @include breakpoint($bp-med) {
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }
      @include breakpoint($bp-small) {
        background: none;
      }
    }
  }

}
