nav[data-type="forum-breadcrumb"] {
    ol {
        li.hod-breadcrumb-li {
            padding: 4px 14px 3px;
            background: $purple;
            a.hod-breadcrumb {
                font-size: 22px;
                font-weight: $font-weight-bold;
                color: $white;
                line-height: 1.23;
            }
        }
    }
}