nav[data-type="forum-breadcrumb"] {
    ol {
        li {
            a.hod-breadcrumb {
                padding: 1px 14px 2px;
                font-size: 22px;
                background: $purple;
                font-weight: $font-weight-bold;
                color: $white;
                line-height: 1.23;
            }
        }
    }
}