.ama__info-card {
  display: inline-block;

  &__wrap {
    background: $gray-7;
    border: 1px solid $gray-50;
    margin-bottom: 30px;
  }

  &__text {
    padding: 10px;

    p {
      margin-bottom: 0;
    }

    @include breakpoint($bp-small) {
      display: inline-block;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @include breakpoint($bp-small){
      max-width: 80px;
      display: inline-block;
      vertical-align: top;
    }
  }

  &__label {
    margin-bottom: 0;
  }

  &--contact{
    .ama__info-card__image{
      max-width: none;
      @include breakpoint($bp-small){
        width: 50%;
      }
    }
  }

  &--event {
    .ama__info-card__wrap {
      margin-bottom: 0;
    }

    .ama__info-card__image {
      max-width: none;
    }
  }

  &--location {
    //Unset container height to prevent extra spacing
    .layout__region--main {
      min-height: unset !important;
    }
    .ama__info-card__wrap {
      @include breakpoint($bp-small) {
        display: flex;
      }
    }

    .ama__info-card__map {
      display: inline-block;

      @include breakpoint($bp-small) {
        width: 50%;
      }
    }
  }
}
