.ama__inline-bio {
  border-bottom: 1px solid $gray-50;
  display: grid;
  grid-template-columns: 1fr 8fr;
  @include gutter($margin-bottom-full...);
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);

  &__text {
    grid-column: 2;
    grid-row: 1;
  }

  &__image {
    display: none;
    grid-row: 1;
    grid-column: 1 / 2;

    @include breakpoint($bp-small) {
      max-width: 85px;
      max-height: 85px;
      margin-right: 30px;
    }

    @include breakpoint($bp-med) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 0;

    @include breakpoint($bp-med) {
      margin-bottom: 0;
    }
  }

  &__meta {
    @extend .ama__h3;
    color: $gray-64;
    margin-bottom: 0;
    display: inline-block;

    @include breakpoint($bp-small) {
      display: block;
    }
  }

  &__link {
    font-size: 1em;
    display: block;
    margin-top: 6px;
    font-weight: $font-weight-semibold;

    svg {
      fill: $blue;
    }
  }
}
