.bio-entry {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-right: 8px;
  .by {
    margin-right: 5px;
  }
  .and {
    margin-right: 8px;
  }
  .ama__link--icon {
  margin-left: 4px;
    &:focus-visible {
      outline: 2px solid $tab-focus-blue;
      outline-offset: -4px;
    }
  }
}
span.ama__inline-bio__link {
  &:focus-visible {
    outline: 2px solid $tab-focus-blue;
    outline-offset: 2px;
  }
}
.ama__inline-bio {
  display: flex;
  flex-direction: row;

  &__link {
    a {
      font-size: 14px;
      display: block;
      font-weight: $font-weight-semibold;
      text-decoration: none;
      color: $blue;
    }
    &--full {
      font-size: 1.5em;
      margin-top: -20px;
      margin-left: -5px;
      margin-bottom: $gutter;
      font-weight: $font-weight-regular;
    }
    &.ama__link--icon {
      &:hover {
        svg {
          fill: $purple;
        }
      }
      svg {
        fill: $black;
        width: 18px;
        height: 18px;
        max-height: 18px;
        max-width: 18px;
      }
    }
  }
}
