.ama__inline-bio {
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);
  &__image {
    display: none;
    margin-bottom:35px;

    @include breakpoint($bp-small) {
      vertical-align: top;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 22px;
      border-radius: 50%;
    }
  }

  &__text {
    @include type($myriad-pro, $font-weight-regular);
    font-ize: 20px;
    color: $black;
    display: block;
    margin-top: -4px;

    .ama__h3 {
      @include type($myriad-pro, $font-weight-regular);
      font-size: 20px;
      line-height: 27px;
    }
    .ama__h1.ama__h3 a {
      text-decoration: none;
      font-size: 22px;
      line-height: 26px;
    }
    @include breakpoint($bp-med) {
      @include gutter($padding-left-full...);
      @include gutter($padding-right-full...);
    }
    @include breakpoint($bp-small) {
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
    }

    & > * {
      margin-bottom: 0;
    }

    & > :first-child {
      color: $black;
    }
  }

  &__link {
    display: block;
    font-weight: 600;

    &--full {
      font-size: 1.5em;
      margin-top: -20px;
      margin-left: -5px;
      margin-bottom: 15px;
      font-weight: 400;
    }

    svg {
      fill: $blue;
      max-width: 100%;
      max-height: 100%;
      width: 35px;
      height:auto;
    }
  }
}
