.ama__inline-block-copy {
  @include gutter($margin-right-full...);
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);
  float: none;

  @include breakpoint($bp-xs min-width) {
    float: left;
  }

  .ama__rule {
    margin: 0;
  }

  &__content {
    @include gutter($padding-right-full...);
    @include gutter($padding-top-full...);
    @include gutter($padding-bottom-full...);
  }

  .ama__button {
    @include gutter($margin-top-full...);
  }
}
