.ama__jama {
  clear: both;

  @include breakpoint($bp-med max-width) {
    margin-bottom: $gutter;
  }

  a {
    text-decoration: none;
    display: block;

    &.ama__jama__link--sign-up {
      margin-top: $gutter / 8;
      color: $hoverRed;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ama__link--with-image {
    img {
      display: none;
    }

    a {
      display: flex;
    }
  }

  .ama__rule {
    margin-top: $gutter / 2;

    &:first-of-type {
      margin-top: $gutter / 4;
      border-color: $hoverRed;
    }
  }
}

.ama__jama__links {
  list-style-type: none;

  li {
    &:last-of-type a {
      padding-bottom: 0;
    }

    a {
      @extend .ama__link--hover-red;
      display: block;
      padding: ($gutter / 4) 0;

      &:hover {
        color: $hoverRed;
        text-decoration: underline;
      }
    }
  }
}

.ama__jama {
  // Styles the Image Href with Text variant.
  li {

    img {
      display: none;
    }

    &.ama__link--with-image {
      img {
        display: block;
      }
    }
  }
}

*[class*="__page-content"] .ama__jama {
  .ama__jama__links li a {
    margin-top: $gutter / 4;
  }
}
