.ama__jama {
  @include gutter($margin-bottom-full...);
  clear: both;
  @include breakpoint($bp-med max-width) {
    @include gutter($margin-bottom-full...);
  }

  .logo img {
    padding-bottom: calc($gutter / 2);
  }

  a {
    text-decoration: none;
    display: block;

    &.ama__jama__link--sign-up {
      @include gutter($margin-top-half...);
      color: $hoverRed;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ama__link--with-image {
    a {
      @include breakpoint($bp-small) {
        width: auto;
      }
      display: flex;

      // For this component, the image is on the right.
      .ama__image__text {
        padding-left: inherit;
        padding-right: 14px;
      }
      .ama__image-wrap {
        @include breakpoint($bp-xs) {
          margin-left: auto;
        }
      }
    }
  }

  .ama__rule {
    @include gutter($margin-top-full...);
  }

  // Styles the Image Href with Text variant.
  li {

    img {
      display: none;
    }

    &.ama__link--with-image {
      img {
        display: block;
      }
    }
  }
}

.ama__jama a.ama__jama__header {
  color: $white;
  background-color: $hoverRed;
  padding: 0 7px;
  font-size: 27px;
  min-width: 265px;
  max-width: 100%;
  display: inline-block;
  margin-bottom: calc($gutter / 2);
}

.ama__jama__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  margin-bottom: calc($gutter / 4);

  .ama__icon {
    max-height: 30px;
    margin-right: calc($gutter / 4);
    max-width: 30px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    min-height: 30px;
    min-width: 30px;
  }
}

.ama__jama__links {
  list-style: none;

  li {
    margin: 0;
    list-style: none;

    &:hover {
      border-color: $hoverRed;
    }

    &:last-of-type a {
      padding-bottom: 0;
    }

    a {
      @extend .ama__link--hover-red;
      display: block;
      padding: (calc($gutter / 4)) 0;
      text-decoration: none;

      &:hover {
        h3 {
          text-decoration: underline;
          color: $hoverRed;
        }

        .ama__image__text__subtitle {
          color: $black;
        }
      }
    }
  }
}

.ama__jama .ama__image__text {
  .ama__image__text__subtitle {
    @extend p;
    display: block;
    font-style: italic;
    margin-bottom: 0;
  }
}

*[class*="__page-content"] .ama__jama {
  .ama__jama__links li a {
    margin-top: calc($gutter / 4);
  }
}

.ama__jama--homepage {
  .ama__jama__links {
    flex-direction: column;

    @include breakpoint($bp-small) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      li {
        @include gutter($margin-right-full...);
        width: 25%;
        list-style: none;
        border-top: 1px solid $gray-20;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-color: $hoverRed;
        }
      }

      a {
        padding-bottom: 0;
      }
    }
  }

  .ama__rule {
    border-color: $hoverRed;
  }

  margin-top: 35px;
  @include breakpoint($bp-small) {
    margin-top: 0;
  }
}

.ama__jama--horizontal .ama__jama__links {
  @include breakpoint($bp-small) {
    display: flex;
    justify-content: space-between;

    li {
      width: 32%;
      padding-right: 10px;
    }

    a {
      padding-bottom: 0;
    }
  }

  .ama__link--with-image a {
    flex-flow: column nowrap;

    .ama__image__text {
      padding: 0;
    }
    .ama__image-wrap {
      margin-left: inherit;
    }
  }

  .ama__image {
    width: 100%;
  }
}

.ama__jama--reg {
  font-style: italic;

  &:after {
    content: '\00ae';
  }
}
