.ama__member-feature-rail {
  @include child-top-gutters($gutter * 2);
  @include gutter-all($padding-all-full...);
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gutter;
  background: $gray-7;

  .ama__article-stub {
    margin-top: 0;

    &:nth-child(3) {
      display: none;
    }
  }

  .ama__member-feature-rail__view-all-link {
    grid-column: 1/-1;
    text-align: right;
  }

  @include breakpoint($bp-med) {
    .ama__article-stub {
      @include gutter($margin-bottom-full...);

      &:nth-child(3) {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  @include breakpoint($bp-small) {
    display: flex;
    flex-direction: column;
  }

  .ama__article-stub .ama__image {
    width: 100%;
  }

  .ama__article-stub__copy {
    display: none;
  }

  &__video-wrapper {
    position: relative;
  }

  &__video-wrapper__icon {
    position: absolute;
    right: 0;
    background: $homepagePurple;
    height: 40px;
    width: 40px;

    .icon--triangle {
      background-size: 15px 15px;
      min-height: 100%;
      min-width: 100%;
      background-position: center;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__view-all-link {
    @include gutter($margin-top-full...);
    font-weight: 600;
    font-style: italic;
    display: inline-block;
  }
}
