// Style right floated modals differently
div[data-entity-embed-display="view_mode:media.modal"] {
  &.align-right {
    max-width: auto;
    @include breakpoint($bp-xs) {
      clear: both;
      width: 100%;
    }
    @include breakpoint($bp-large) {
      width: auto;
      margin-left: $gutter;
      max-width: 50%;
    }
  }
}

// General
.ama__image_popup {
  &__wrapper {
    display: inline-flex;
    position: relative;
    @include breakpoint($bp-xs) {
      width: 100%;
      clear: both;
      padding: none;
    }
    @include breakpoint($bp-small) {
      clear: none;
      padding: $gutter 50px $gutter 0;
    }
  }
  &__image {
    @include breakpoint($bp-xs) {
      width: 100%;
      max-width:100%;
    }
    @include breakpoint($bp-small) {
      max-width: 100%;
    }
    img {
      margin: 0;
    }
  }
  &__modal-link-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    @include breakpoint($bp-small) {
      display:block;
    }
  }
}
#drupal-modal {
  overflow: initial;
  img {
    max-height: 80vh;
    max-width: 95vw;
    width: auto;
    margin: 0 auto;
  }
}
.ama-image-popup-modal {
  z-index: 502;
}
.ui-dialog-content {
  padding: .5em .5em !important;
}
.ama-image-popup-modal.ui-widget.ui-widget-content {
  border: 0;
}

.embed-entity--caption div[data-entity-embed-display="view_mode:media.modal"] + figcaption {
  margin: 0 $gutter/2 $gutter/2 $gutter/2;
}

.ama-image-popup-modal .ui-dialog-title,
.ama-image-popup-modal .ui-button-icon-only .ui-icon,
.ama-image-popup-modal-wrapper .modal-link .ajax-progress-throbber .throbber,
.ama-image-popup-modal-wrapper .modal-link .ajax-progress {
  display: none;
}

.ama-image-popup-modal .ui-widget-header {
  padding: 0;
  border: none;
  background: none;
}

.ui-widget-overlay {
  background: #7f7f7f;
  opacity: 0.81;
  z-index: 501;
}

.ama-image-popup-modal .ui-dialog-titlebar-close {
  background: url('../images/close.svg');
  border: none;
  position: absolute;
  right: -20px;
  top: -10px;
  height: $gutter;
  width: $gutter;
  padding: 0;
}

.ama-image-popup-modal .ui-dialog-titlebar-close:focus {
  outline: none;
}

// Style full width modals differently.
div[data-entity-embed-display="view_mode:media.modal"] {
  .ama__type--small {
    margin-left: 14px;
  }
  &:not(.align-right) {
    .ama__image_popup__wrapper {
      @include breakpoint($bp-small) {
        padding: $gutter 50px $gutter 23px;
      }
      @include breakpoint($bp-med) {
        padding: $gutter 45px;
      }
      @include breakpoint($bp-large) {
        padding: $gutter 69px;
      }
    }
  }
}

.ama-image-popup-icon {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url('../images/expand.svg') no-repeat 0px 0px;
  background-size: cover;
  bottom: 33px;
  right:0;
}
.ajax-progress.ajax-progress-throbber {
  display:none;
  position:absolute;
}
