.ama_page_grouping {
    background-color: rgba(2,170,236,0.5);

    .links {
        width: 84%;
        margin-left: 8%;
        display: inline-block;
  
        .ama_page_grouping_title {
            font-size: 22px;
            font-weight: 600;
        }
    }
}
