.ama_page_grouping {
  background-color: $pg-lt-blue;
  min-height: 271px;
  display: flex;
  margin-bottom: $gutter;
  padding: 0 8%;

  .links {
    background-color: $pg-xtra-lt-blue;
    border-left: solid 21px $pg-blue;
    padding: $gutter;
    flex: 50%;
    margin: 0;

    @include breakpoint($bp-med max-width) {
      margin-left: calc(25% - 21px);
      margin-right: 25%;
    }

    .ama_page_grouping_title {
      font-size: 22px;
      font-weight: 600;
    }

    .link-list {
      list-style-type: none;

      .ama_page_grouping_link {
        display: block;
        line-height: 1.19;
        text-transform: uppercase;
        padding: 9px 0;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          padding-right: 20%;
          white-space: normal;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            content: " ";
            position: absolute;
            right: 18%;
            top: 0;
            width: 17px;
            height: 11px;
            background: url('../images/arrow-right.svg') no-repeat 0px 0px;
          }
        }
      }
    }
  }

  .ama_page_grouping_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 50%;

    @include breakpoint($bp-med max-width) {
      display: none;
    }
  }
}
