.ama_page_grouping {
  background-color: $pg-lt-blue;
  min-height: 271px;
  display: flex;
  margin: 0 15px 35px;
  padding: 0;
  @include breakpoint($bp-small) {
    padding: 0 25% 0 calc(25% - 21px);
    margin: 0 0 35px 0;
  }
  @include breakpoint($bp-med) {
    padding: 0 8%;
  }

  .links {
    background-color: $pg-xtra-lt-blue;
    border-left: solid calc($gutter / 2) $pg-blue;
    padding: calc($gutter / 2) calc($gutter / 4);
    @include breakpoint($bp-small) {
      padding: $gutter;
      border-left: solid $gutter * .75 $pg-blue;
    }
    flex: 100%;
    margin: 0;
    @include breakpoint($bp-med) {
      flex: 50%;
    }

    .ama_page_grouping_title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: calc($gutter / 2);
    }

    .link-list {
      list-style-type: none;

      .ama_page_grouping_link {
        display: block;
        line-height: 1.19;
        text-transform: uppercase;
        padding: 9px 0;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          padding-right: 25px;
          @include breakpoint($bp-small) {
            padding-right: 20%;
          }
          white-space: normal;

          &:hover {
            text-decoration: underline;
          }

          &::after {
            content: " ";
            border-bottom: none;
            position: absolute;
            right: 0;
            top: 30%;
            width: 17px;
            height: 11px;
            background: url('../images/arrow-right.svg') no-repeat 0px 0px;
            @include breakpoint($bp-small) {
              right: 12%;
            }
            @include breakpoint($bp-med) {
              right: 15%;
            }
          }
        }
      }
    }
  }

  .ama_page_grouping_image {
    display: none;
    @include breakpoint($bp-med) {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex: 50%;
      display: block;
    }
  }
}

//News Article Page Grouping Block

.ama_page_grouping_news {
  display: flex;
  margin: 0 0 $gutter;
  max-width: 380px;
  padding: 0;
  @include breakpoint($bp-small) {
    margin: 0 0 28px 0;
  }

  ul.link-list {
    margin-top: 4px;
  }

  .links {
    .ama_page_grouping_title {
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      padding-bottom: 12px;
      margin-bottom: 14px;
      border-bottom: 1px solid $gray-30;
      width: 380px;
    }

    .link-list {
      display: inline-block;
      list-style-type: none;
      .ama_page_grouping_link {
        line-height: 27px;
        text-transform: capitalize;
        font-size: 16px;
        min-height: 31px;
        padding-bottom: 4px;
        margin-bottom: 4.5px;
        border-bottom: .5px solid $gray-30;
        @include breakpoint($bp-med) {
          font-size: 18px;
          line-height: 27px;
        }

        &.heading {
          font-weight: $font-weight-bold;
          position: relative;
        }

        a,
        &.active {
          text-decoration: none;
          position: relative;
        }
        a {
          color: $gating-block-link;
          &:hover {
            text-decoration: underline;
          }
          &:focus-visible {
            outline: 1px solid $tab-focus-blue;
          }
        }
        &.active {
          font-weight: $font-weight-bold;
          color: $purple;
        }

        &:last-child {
          &.active {
            &::after {
              content: "";
            }
          }
          a {
            padding-right: 0;
            &::after {
              content: "";
            }
          }
        }

      }
    }
  }
}

