.ama__partner-promo {
  color: $white;
  background: $blue;

  &__text {
    padding: calc($gutter / 2);
    @extend .display-list;
  }

  &__heading {
    font-weight: $font-weight-semibold;
    line-height: 1em;
  }

  button,
  .ama__button {
    @include gutter($margin-top-half...);
    width: 100%;
  }

  &--homepage {
    @include gutter-all($padding-all-half...);
    background: $gray-7;
    color: $gray-64;

    // Right now the style guide uses `buttons`, but eventually we want to switch these to `a` elements.
    a,
    button,
    .ama__button {
      @include gutter($margin-top-full...);
      @include gutter($margin-right-half...);
      width: auto;
      // Button should have a min width so that buttons with small words do not feel cramped
      min-width: 150px;
    }

    &__feature-heading {
      @include gutter($margin-bottom-half...);
    }

    &__heading,
    &__promo-heading{
      color: $gray-50;
      font-weight: $font-weight-regular;
      line-height: 1.25em;
      margin-bottom: 0;
    }

    &__promo-heading {
      color: $homepagePurple;
    }
    @include breakpoint($bp-med) {
      flex: 0 0 55%;
      max-width:55%;
      padding: 10px 5.5% 10px 10px;
    }
  }
  // Only show partner promo media on category pages
  .ama__partner-promo--media {
    display: none;
  }
}

// Taxonomy page membership block styling
.ama__category .layout__region--content > .ama__partner-promo,
.ama__category .layout__region--content .layout--onecol .ama__partner-promo,
.ama__category .layout__region--content .layout--ama-page-section-one-col .ama__partner-promo,
.index-page .ama__layout--one-column__page-content .ama__partner-promo,
.index-page > div > .ama__partner-promo {
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 28px;
  @include breakpoint($bp-small) {
    flex-direction: row;
  }
  @include breakpoint($bp-med) {
    padding-bottom: 56px;
  }
  .ama__partner-promo__text {
    display: block;
    padding: 0;
    @include breakpoint($bp-small) {
      max-width: 380px;
    }
    @include breakpoint($bp-med) {
      margin-right: 17px;
    }
    h2.ama__h2 {
      color: $blue;
    }
    p,
    ul {
      color: $black;
    }

    .ama__button {
      font-weight: $font-weight-bold;
      margin: 21px 0 0;
      @include breakpoint($bp-small) {
        margin: 28px 0 0;
        max-width: 224px;
      }
      a.ama__button {
        color: $text-navy;
        padding: 8px 14px 7px;
      }
    }
  }
  .ama__partner-promo--media {
    display: block;
    width: 100%;
    max-width: 680px;
    padding: 0;
    margin: 0;
    @include breakpoint($bp-small) {
      margin-left: 17px;
    }
    @include breakpoint($bp-med) {
      margin-left: auto;
    }
  }
}

// Index Hero slot styling
.index-page .ama__layout--one-column__page-content .index-hero .ama__partner-promo {
  margin-top: calc($gutter / 2);
  padding-top: 14px;
  @include breakpoint($bp-small) {
    padding: 0;
    margin-top: $gutter;
    flex-direction: row-reverse;
    .ama__partner-promo__text {
      flex: .3;
      h2.ama__h2 {
        color: $purple;
        font-weight: bold;
      }
    }
  }
  .ama__partner-promo--media {
    margin: 0 0 calc($gutter /2) 0;
    @include breakpoint($bp-small) {
      margin-bottom: 0;
      max-width: unset;
      padding-left: 0;
      padding-right: 22px;
      flex: .7;
    }
  }
  .ama__partner-promo__text {
    h2.ama__h2 {
      color: $purple;
    }
  }
  .ama__button {
    background: $purple;
    color: $white;
    &:hover{
      background: $hoverPurple;
    }
  }
}


// Category specific layout builder styling
.ama__category .layout__region--content > .ama__partner-promo,
.layout-builder__layout.layout--onecol .layout__region .ama__partner-promo,
.layout-builder__layout.layout--ama-page-section-one-col .layout__region .ama__partner-promo {
  background: none;
  display: flex;
  flex-direction: column-reverse;
  column-gap: 120px;
  padding-bottom: 28px;
  margin-bottom: 28px;
  @include breakpoint($bp-small) {
    flex-direction: row;
    column-gap: 17px;
  }
  @include breakpoint($bp-med) {
    column-gap: 120px;
    padding-bottom: 56px;
  }
  .ama__partner-promo__text {
    display: block;
    padding: 0;
    @include breakpoint($bp-small) {
      max-width: 380px;
    }
    h2.ama__h2 {
      color: $blue;
    }
    p {
      color: $black;
    }
    .ama__button {
      font-weight: $font-weight-bold;
      margin: 21px 0 0;
      @include breakpoint($bp-small) {
        margin: 28px 0 0;
        max-width: 224px;
      }
      a.ama__button {
        color: $text-navy;
        padding: 8px 14px 7px;
      }
    }
  }
  .ama__partner-promo--media {
    display: block;
    width: 100%;
    max-width: 680px;
    padding: 0;
    margin: 0;
  }
}
