.ama__partner-promo {
  color: $white;
  background: $blue;

  &__text {
    padding: $gutter / 2;
  }

  &__heading {
    font-weight: 600;
    line-height: 1em;
  }

  button,
  .ama__button {
    @include gutter($margin-top-half...);
    width: 100%;
  }

  &--homepage {
    @include gutter-all($padding-all-half...);
    background: $gray-7;
    color: $gray-64;

    // Right now the style guide uses `buttons`, but eventually we want to switch these to `a` elements.
    button, a {
      @include gutter($margin-top-full...);
      @include gutter($margin-right-half...);
      width: auto;
    }

    &__feature-heading {
      @include gutter($margin-bottom-half...);
    }

    &__heading,
    &__promo-heading{
      color: $gray-50;
      font-weight: 400;
      line-height: 1.25em;
      margin-bottom: 0;
    }

    &__promo-heading{
      color: $homepagePurple;
    }
  }
}
