.ama__partner-promo {
  color: $white;
  background: $blue;

  &__text {
    padding: calc($gutter / 2);
    @extend .display-list;
  }

  &__heading {
    font-weight: $font-weight-semibold;
    line-height: 1em;
  }

  button,
  .ama__button {
    @include gutter($margin-top-half...);
    width: 100%;
  }

  &--homepage {
    @include gutter-all($padding-all-half...);
    background: $gray-7;
    color: $gray-64;

    // Right now the style guide uses `buttons`, but eventually we want to switch these to `a` elements.
    a,
    button,
    .ama__button {
      @include gutter($margin-top-full...);
      @include gutter($margin-right-half...);
      width: auto;
      // Button should have a min width so that buttons with small words do not feel cramped
      min-width: 150px;
    }

    &__feature-heading {
      @include gutter($margin-bottom-half...);
    }

    &__heading,
    &__promo-heading{
      color: $gray-50;
      font-weight: $font-weight-regular;
      line-height: 1.25em;
      margin-bottom: 0;
    }

    &__promo-heading {
      color: $homepagePurple;
    }
    @include breakpoint($bp-med) {
      flex: 0 0 55%;
      max-width:55%;
      padding: 10px 5.5% 10px 10px;
    }
  }
  // Only show partner promo media on category pages
  .ama__partner-promo--media {
    display: none;
  }
}

// Category page membership block styling
.ama__category .layout__region--content {
  > .ama__partner-promo {
    background: none;
    display: flex;
    flex-direction: column-reverse;
    column-gap: 120px;
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 0.5px solid #000;
    @include breakpoint($bp-small) {
      flex-direction: row;
      column-gap: 17px;
    }
    @include breakpoint($bp-med) {
      column-gap: 120px;
      padding-bottom: 56px;
      margin-bottom: 41px;
    }
    .ama__partner-promo__text {
      display: block;
      padding: 0;
      @include breakpoint($bp-small) {
        max-width: 380px;
      }
      h2.ama__h2 {
        color: $blue;
      }
      p {
        color: $black;
      }

      .ama__button {
        font-weight: bold;
        margin: 21px 0 0;
        @include breakpoint($bp-small) {
          margin: 28px 0 0;
          max-width: 224px;
        }
        a.ama__button {
          padding: 8px 14px 7px;
        }
      }
    }
    .ama__partner-promo--media {
      display: block;
      width: 100%;
      max-width: 680px;
      padding: 0;
      margin: 0;
    }
  }
}

// Category specific layout builder styling
.layout-builder__layout.layout--onecol .layout__region {
  .ama__partner-promo {
    background: none;
    display: flex;
    flex-direction: column-reverse;
    column-gap: 120px;
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 0.5px solid #000;
    @include breakpoint($bp-small) {
      flex-direction: row;
      column-gap: 17px;
    }
    @include breakpoint($bp-med) {
      column-gap: 120px;
      padding-bottom: 56px;
      margin-bottom: 41px;
    }
    .ama__partner-promo__text {
      display: block;
      padding: 0;
      @include breakpoint($bp-small) {
        max-width: 380px;
      }
      h2.ama__h2 {
        color: $blue;
      }
      p {
        color: $black;
      }
      .ama__button {
        font-weight: bold;
        margin: 21px 0 0;
        @include breakpoint($bp-small) {
          margin: 28px 0 0;
          max-width: 224px;
        }
        a.ama__button {
          padding: 8px 14px 7px;
        }
      }
    }
    .ama__partner-promo--media {
      display: block;
      width: 100%;
      max-width: 680px;
      padding: 0;
      margin: 0;
    }
  }
}