.ama__partner {
  @include ama-rules(1px, '', solid, $gray-50);
  @include gutter($padding-top-full...);
  overflow: hidden;

  &__logo {
    float: left;
    margin-bottom: 1em;
  }

  .ama__info-card {
    @extend %clearfix;
    float: left;
  }

  &__boilerplate {
    @extend %clearfix;
    float: left;
  }
}
