.ama__partner {
  border-top: 1px solid $gray-50;
  @include gutter($padding-top-full...);
  overflow: hidden;

  &__logo {
    float: left;
    margin-bottom: 1em;
  }

  .ama__info-card {
    @extend %clearfix;
    float: left;
  }

  &__boilerplate {
    @extend %clearfix;
    float: left;
  }
}

.ama__news {
  .ama__partner {
    border-color: #E4E3E6;
    border-bottom: 1px solid #E4E3E6;
    padding: 35px 0;

    .ama__info-card {
      background: $gray-4;
      padding: 28px 21px;
      margin-bottom: 28px;
      &__text {
        padding: 0;
      }
    }
  }
}
