.ama__people-listing-card {
  background-color: $gray-7;
  width: 100%;
  margin: 1% 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  flex: 0 0 auto;

  @include breakpoint($bp-small) {
    width: 48.08%;
  }

  @include breakpoint($bp-med) {
    width: 22.08%;
  }

  &:nth-child(1n+1) {
    @include breakpoint($bp-small) {
      margin-left:calc(12.08% * .1);
    }

    @include breakpoint($bp-large) {
      margin-left:calc(22.08% * .1);
    }
  }

  .ama__image {
    width: 100%;
    grid-row: 1;
  }

  &__bio {
    grid-row: 2;

    a {
      @include gutter($padding-bottom-half...);
      display: block;
    }

    &__heading {
      @include gutter-all($padding-all-half...);
    }

    .address-one {
      margin-bottom: 0;
    }

    &__heading {
      h2.ama__h2 {
        display: inline;
        + span {
          display: inline-block;
          @include type($myriad-pro, $font-weight-semibold);
        }
      }
    }
  }

  &__details {
    @include gutter-all($padding-all-half...);
    border-top: 1px solid $gray-50;
    word-break: break-word;

    .ama__link--icon {
      @extend .ama__type--small;
    }
  }

  &__button-container {
    @include gutter-all($padding-all-half...);
    display: flex;
    align-items: flex-end;
    grid-row: 3;

    .ama__button--secondary {
      width: 100%;
    }
  }
}
