.ama__people-listing-card {
  background-color: $gray-7;
  width: 100%;
  position: relative;

  .ama__image {
    width: 100%;
  }

  &__bio {
    height: calc(100%  - 360px);

    a {
      @include gutter($padding-bottom-half...);
      display: block;
    }

    &__heading {
      @include gutter-all($padding-all-half...);
    }

    .address-one {
      margin-bottom: 0;
    }
  }

  &__details {
    @include gutter-all($padding-all-half...);
    border-top: 1px solid $gray-50;

    .ama__link--icon {
      @extend .ama__type--small;
    }
  }

  &__button-container {
    @include gutter-all($padding-all-half...);

    .ama__button--secondary {
      width: 100%;
    }
  }
}
