.press-release-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;

  & > * {
    @include gutter($margin-bottom-full...);
    max-width: 177px;
  }
}