.ama__promo {
  @include gutter($padding-top-half...);
  @include gutter($padding-right-half...);
  @include gutter($padding-bottom-half...);
  @include gutter($padding-left-half...);
  @include child-top-gutters($gutter / 2);
  display: block;
  font-weight: $font-weight-semibold;
  text-decoration: none;

  &--background {
    @extend .ama__promo;
    background: $gray-7;
  }

  &--border {
    @extend .ama__promo;
    border: solid 1px $gray-50;
  }

  &--inline {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @include gutter($padding-top-full...);
    @include gutter($padding-right-full...);
    @include gutter($padding-bottom-full...);
    @include gutter($margin-right-full...);
    @include gutter($margin-bottom-full...);
    @include breakpoint($bp-small) {
      float: left;
    }

    border-top: solid 1px $gray-50;
    border-bottom: solid 1px $gray-50;
    padding-left: 0;
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;
  }

  .ama__image,
  .ama__image img {
    max-width: 100%;
    height: auto;
  }

  .ama__button--secondary {
    width: 100%;
  }

  &--inline-banner {
    @include gutter($padding-bottom-half...);
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    padding-top: 0;
    border-bottom: 1px solid $gray-50;

    @include breakpoint($bp-med) {
      padding-left: 0;
      padding-right: 0;
    }

    a {
      @extend .ama__link--blue;
      @extend .ama__h2;
    }
  }

  //Hompage
  &--homepage {
    @include gutter-all($padding-all-full...);
    background: $purple;
    color: $white;

    .ama__h1 {
      font-weight: normal;
    }

    // Right now the style guide uses `buttons`, but eventually we want to switch these to `a` elements.
    button, a {
      display: block;
      margin: $gutter auto;
    }

    @include breakpoint($bp-small){
      button, a {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

a.ama__promo { // styling for when this pattern renders as a link.
  &--background {
    @extend .ama__promo;
    &:hover {
      background: darken($gray-7, 8%); // from UX - #d9d9d9
      color: black;
    }
  }

  &--border {
    @extend .ama__promo;
    &:hover {
      background: $gray-7;
      color: black;
    }
  }
}
