.ama__product {
  @include gutter($margin-top-full...);
  @include gutter-all($padding-all-full...);
  background: $white;
  width: 100%;
  border: 1px solid $gray-20;
  border-radius: 8px;
  overflow: hidden;

  &__text {
    @extend .display-list;
    &__header {
      @include gutter($margin-bottom-half...);
    }
  }

  &__image {
    @include gutter($padding-right-half...);
    display: none;
    flex: 0 0 50%;
    height: auto;
    max-width: 50%;
  }

  @include breakpoint($bp-small) {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-top: 1px solid $gray-7;
    background: none;
    width: 24%;
    display: flex;
    align-items: flex-start;

    &:nth-of-type(3n+1){
      width: 49%;

      .ama__image {
        display: inline-block;
      }
    }
  }
}

.ama__products {
  position: relative;
  overflow: hidden;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint($bp-small) {
    display: flex;
    flex-direction: column;
    h2.ama__section-title  {
      flex: 1;
      line-height: 1;
      margin-top: 24px;
      margin-bottom: 32px;
    }
  }

  .title-bar {
    align-items: center;
    @include breakpoint($bp-small) {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      flex: 1;
      margin-top: 24px;
      margin-bottom: 32px;
    }
  }

  &__view-all-link {
    margin: 0;
    display: block;
    @include gutter($margin-top-half...);

    @include breakpoint($bp-med) {
      font-size: .778em;
      line-height: 1.571em;
    }
  }
}
