.ama__promo--inline {

  @extend .display-list;
  @extend .body-list-flush;
  display: flex;
  flex-direction: column;
  @include breakpoint($bp-large) {
    flex-direction: row;
  }
  z-index: 500;
  width: 100%;
  background-color: $bg-gray;
  margin: 28px 0;
  padding: 21px 14px;
  border-radius: 8px;
  @include breakpoint($bp-small) {
    padding: 28px;
    margin: 42px 0;
  }
  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 14px;
    @include breakpoint($bp-large) {
      margin-bottom: 0px;
    }

    // If there's no body, center the title.
    &.no-body {
      margin-bottom: 21px;
      @include breakpoint($bp-large) {
        margin-bottom: 0;
      }
      .title {
        margin-bottom: 0;
      }
    }
    .title {
      margin-bottom: 7px;
      width: 100%;
      @include breakpoint($bp-med) {
        margin-bottom: 14px;
      }
    }
    .body {
      width: 100%;
      // Remove the bottom margin on the final html element in the body.
      > div[body] > :last-child {
        margin-bottom: 0;
      }
    }
    h3 {
      margin-bottom: 0;
    }
  }
  .link {
    flex: 1;
    display: flex;
    margin-left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    @include breakpoint($bp-large) {
      flex: 0 1 auto;
      max-width: 30%;
      margin-left: 21px;
    }
    &.no-body {
      align-items: flex-start;
      justify-content: flex-start;
      @include breakpoint($bp-large) {
        align-items: center;
        justify-content: center;
      }
    }
  }
}


.ama__promo {
  @include gutter($padding-top-half...);
  @include gutter($padding-right-half...);
  @include gutter($padding-bottom-half...);
  @include gutter($padding-left-half...);
  @include child-top-gutters(calc($gutter / 2));
  @extend .display-list;
  display: block;
  font-weight: $font-weight-semibold;
  text-decoration: none;

  .ama__bio-image-with-body__image {
    max-height: unset;
    max-width: 100%;
  }

  &--background {
    @extend .ama__promo;
    background: $gray-7;
  }

  &--border {
    @extend .ama__promo;
    border: solid 1px $gray-50;
  }

  &--stub-body {
    min-height: 210px;
  }

  @include gutter($padding-bottom-half...);
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);

  & > * {
    margin-bottom: 0;
  }

  .ama__image,
  .ama__image img {
    max-width: 100%;
    height: auto;
  }

  &--inline-banner {
    @include gutter($padding-bottom-half...);
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-full...);
    padding-top: 0;
    border-bottom: 1px solid $gray-50;

    @include breakpoint($bp-med) {
      padding-left: 0;
      padding-right: 0;
    }

    a {
      @extend .ama__link--blue;
      @extend .ama__h2;
    }
  }

  //Hompage
  &--homepage {
    @include gutter-all($padding-all-full...);
    background: $purple;
    color: $white;

    // Right now the style guide uses `buttons`, but eventually we want to switch these to `a` elements.
    button, a {
      display: block;
      margin: $gutter auto;
    }

    @include breakpoint($bp-small){
      button, a {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

a.ama__promo { // styling for when this pattern renders as a link.
  &--background {
    @extend .ama__promo;
    &:hover {
      background: darken($gray-7, 8%);
      color: black;
    }
  }

  &--border {
    @extend .ama__promo;
    &:hover {
      background: $gray-7;
      color: black;
    }
  }
}

.paragraph--type--promo-stub.paragraph--view-mode--default {
  display: flex;
  flex-direction: column;
}

.ama__events-tabs .ama__promo--inline {
  margin-right: 0;
  &.listicle-margin {
    margin-right: 0;
  }
}
