.ama__promo {
  @include gutter($padding-top-half...);
  @include gutter($padding-right-half...);
  @include gutter($padding-bottom-half...);
  @include gutter($padding-left-half...);
  @include child-top-gutters($gutter-mobile / 2);
  display: block;
  font-weight: $font-weight-semibold;
  text-decoration: none;

  @include breakpoint($bp-med) {
    @include child-top-gutters($gutter / 2);
  }

  &--background {
    background: $gray-7;
  }

  &--border {
    border: solid 1px $gray-50;
  }

  // Remove margins on child elements so that we can set consistent spacing elsewhere.
  & > * {
    margin-bottom: 0;
  }

  .ama__image,
  .ama__image img {
    max-width: 100%;
    height: auto;
  }

  .ama__button--secondary {
    width: 100%;
  }
}

a.ama__promo { // styling for when this pattern renders as a link.
  &--background {
    &:hover {
      background: darken($gray-7, 8%); // from UX - #d9d9d9
      color: black;
    }
  }

  &--border {
    &:hover {
      background: $gray-7;
      color: black;
    }
  }
}