.ama__product {
  @include gutter($margin-top-full...);
  @include gutter-all($padding-all-half...);
  background: $gray-7;
  border: 1px solid $gray-50;
  overflow: hidden;

  &__link {
    float: right;
  }

  &__text {
    @extend .display-list;
    &__header {
      @include gutter($margin-bottom-half...);
    }
  }

  &__image {
    @include gutter($padding-right-half...);
    display: none;
    flex: 0 0 50%;
    height: auto;
    max-width: 50%;
  }

  @include breakpoint($bp-small) {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-top: 1px solid $gray-7;
    background: none;
    width: 24%;
    display: flex;
    align-items: flex-start;

    &__link {
      float: none;
    }

    &:nth-of-type(3n+1){
      width: 49%;

      .ama__image {
        display: inline-block;
      }
    }
  }
}

.ama__products {
  position: relative;
  overflow: hidden;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint($bp-small) {
    display: flex;
    flex-direction: column;
  }

  &__view-all-link {
    @include font-size($small-font-sizes);
    @include gutter($margin-top-half...);
    margin-bottom: $gutter-mobile;
    float: right;

    @include breakpoint($bp-small) {
      position: absolute;
      top: 0;
      margin-top: 0;
      right: 0;
    }

    @include breakpoint($bp-med) {
      top: 45px;
      font-size: .778em;
      line-height: 1.571em;
    }
  }
}
