.ama__ribbon_user_menu {
  display: flex;
  justify-content: center;

  &__container {
    display: none;
    align-items: center;

    @include breakpoint($bp-med) {
      display: flex;
    }
  }

  &__mobile {
    display: flex;

    @include breakpoint($bp-med) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__nav_item {
    &:nth-child(2) {
      border-left: 1px solid $gray-64;
    }

    a {
      @extend .ama__link--white;
      display: block;
      padding: 15px;
    }
  }
}
