.ama__ribbon_user_menu--container {
  display: flex;
  align-items: center;
}

.ama__ribbon_user_menu {
  display: flex;
  justify-content: center;
}

.ama__ribbon_user_menu--nav {
  margin: 0;
}

.ama__ribbon_user_menu--nav {
  display: flex;
  list-style: none;
}

.ama__ribbon_user_menu--nav_item {
  &:first-child {
    border-right: 1px solid $gray-8;
  }
}

.ama__ribbon_user_menu--nav_item a {
  display: block;
  color: $white;
  @extend %ama__type-smaller;
  padding: 15px;
}
