.ama__ribbon__dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid $gray-50;
  border-right: 1px solid $gray-50;

  &:last-child {
    border-left: 0;
  }

  &__trigger {
    display: flex;
    align-content: center;
    color: $white;
    cursor: pointer;
    outline: none;
    padding: 15px;
    width: 100%;
    border-left: 1px solid $gray-50;
    background-color: $purple;


    &.is-active &__icon  {
      &__arrow svg {
        transform: rotate(180deg);
      }
    }

    &__mobile {
      justify-content: flex-end;
    }

    &__name {
      flex-grow: 1;
    }

    &__icon {
      display: inline-block;
      line-height: 19px;
      fill: $white;
      margin-left: 0.75em;
      transition: all 0.3s ease;

      &__arrow {
        width: 10px;
      }

      &__user svg {
        height: 21px;
        width: 23px;
      }
    }
  }

  &__nav {
    position: absolute;
    right: -1px;
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    min-width: 12.5em;
    width: 100%;

    &__menu {
      background: $gray-50;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 100;

      @include breakpoint($bp-med) {
        background: $purple;
      }

      a {
        @extend .ama__link--white;
        display: block;
        color: $black;
        padding: 8px 15px;

        @include breakpoint($bp-med) {
          color: $white;
        }
      }
    }

    &.is-active {
      transition: max-height 0.3s ease-in;
      max-height: 600px;
    }
  }
}

