.ama__ribbon__dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px solid $gray-50;
  border-right: 1px solid $gray-50;
  @extend .ama__type-smaller;

  &:last-child {
    border-left: 0;
  }

  &--trigger {
    display: flex;
    align-content: center;
    color: $white;
    cursor: pointer;
    outline: none;
    min-width: 12.5em;
    padding: 15px;
    width: 100%;
    background-color: $purple;
  }

  &--trigger.is-active {
    background-color: $topic_purple-darker;

    .icon svg {
      transform: rotate(180deg);
    }
  }

  &--trigger--name {
    flex-grow: 1;
  }

  &--trigger--icon {
    display: inline-block;
    line-height: 19px;
    fill: $white;
    margin-left: 0.75em;
    transition: all 0.3s ease;

    &--arrow {
      width: 10px;
    }

    &--user {
      width: 21px;
    }
  }

  &--trigger--mobile {
    justify-content: flex-end;
  }
}

.ama__ribbon__dropdown--nav {
  position: absolute;
  left: 0;
  top: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  min-width: 12.5em;
  width: 100%;

  &__menu {
    background: $topic_black-20;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;

    @include breakpoint($bp-med) {
      background: $purple;
    }
  }
}

.ama__ribbon__dropdown--nav.is-active {
  transition: max-height 0.3s ease-in;
  max-height: 600px;
}

.ama__ribbon__dropdown--nav__menu {
  margin-bottom: 0;

  & a {
    display: block;
    color: $black;
    padding: 8px 15px;

    @include breakpoint($bp-med) {
      color: $white;
    }
  }
}
