.ama__sign-in-dropdown {
  display: flex;
  position: relative;
  background-color: $purple;
  align-items: center;
  border-left: 1px solid $divider-line-gray;
  width: 60px;
  height: 60px;
  &:hover {
    cursor: default;
  }
  a {
    &:hover {
      cursor: pointer;
    }
  }

  @include breakpoint($bp-small) {
    display: flex;
    height: 44px;
    border-left: 0;
  }

  &__trigger {
    height: 24px;
    cursor: pointer;
    margin: 0 auto;
    
    &.open &__icon {
      &__arrow {
        transform: rotate(180deg);
        transition: transform .3s ease;
      }
    }

    &__icon {
      display: inline-block;

      &__user {
        background-size: 24px 24px;
        min-height: 24px;
        min-width: 24px;
        max-height: 24px;
        max-width: 24px;

        @include breakpoint($bp-large) {
          display: none;
        }
        @include breakpoint($bp-small) {
          @include gutter($padding-left-quarter...);
        }
      }

      &__arrow {
        display: none;
        padding-left: 4px;
        
        @include breakpoint($bp-large) {
          display: block;
          width: 20px;
          height: 20px;
          background-image: url('../icons/svg/icon-chevron.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: left top;
          align-self: center;
          transform: rotate(0deg);
          transition: transform .3s ease;
          position: absolute;
          right: -23px;
          top: 14px;
        }
      }
    }

    &__text {
      display: none;
      text-align: right;

      @include breakpoint($bp-large) {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }

    // Some css foo to make the focus outline work on the parent of the link element
    &:has(.ama__sign-in-dropdown__trigger__text:focus-visible) {
      outline: 2px solid $blue;
      outline-offset: 3px;
    }
  }

  &__menu {
    @include gutter($padding-left-half...);
    @include gutter($padding-right-half...);
    @include gutter($padding-top-half...);
    @include gutter($padding-bottom-half...);
    position: absolute;
    top: 61px;
    right: 0;
    box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12);
    background-color: $white;
    border-radius: 0 0 8px 8px;
    border: 1px solid $gray-7;
    border-top: 0;
    color: $black;
    text-align: left;
    display: none;
    flex-direction: column;
    min-width: 210px;
    max-width: 240px;

    @include breakpoint($bp-small) {
      top: 60px;
    }

    li {
      list-style: none;
      @include gutter($padding-top-quarter...);
      @include gutter($padding-bottom-quarter...);

      a:not(.button-main-primary) {
        display: block;
        font-size: 18px;
        line-height: 1.5;
      }
    }

    &--open {
      display: block;
    }
   

    &__header {
      @include gutter($padding-bottom-quarter...);
      @include font-size($h5-font-sizes--homepage);
      @include type($kepler-std, $font-weight-regular);
      line-height: 24px;
      color: $black;
    }

    &__group {
      @include gutter($padding-top-quarter...);
      @include gutter($padding-bottom-quarter...);
    }

    &__create-account, &__become-member {
      text-align: center
    }
    &__link {
      &__user {
        @include gutter($padding-bottom-quarter...);
      }
      text-align: left;
    }      
  }
}


// Here we will build new siogn-in menu styling that isn't dumb as hell.
.authenticated {
  &.ama__sign-in-dropdown__menu {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    &__header {
      color: $black;
    }
    .ama__sign-in-dropdown__menu__group {
      padding-left: calc($gutter / 2);
      padding-right: calc($gutter / 2);
      &:nth-child(2) {
        border-top: 1px solid $gray-7;
        border-bottom: 1px solid $gray-7;
      }
    }
  }
}