.ama__sign-in-dropdown {
  position: relative;
  background-color: $purple;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 70px;
  align-items: center;
  border-left: 1px solid $gray-50;

  &:hover {
    cursor: pointer;
  }

  @include breakpoint($bp-small) {
    height: 34px;
    justify-content: flex-end;
    border-left: 0;
    width: 100px;
  }

  @include breakpoint($bp-med) {
    min-width: 135px;
    width: auto;
    border-left: 0;
  }

  &__trigger {
    display: flex;
    align-content: center;
    color: $white;
    cursor: pointer;
    outline: none;
    
    &.open &__icon {
      &__arrow svg {
        transform: rotate(180deg);
        transition: transform .3s ease;
      }
    }

    &__icon {
      display: inline-block;
      fill: $white;


      &__user {
        background-size: 24px 25px;
        min-height: 24px;
        min-width: 25px;
        max-height: 24px;
        max-width: 25px;

        @include breakpoint($bp-large) {
          display: none;
        }
        @include breakpoint($bp-small) {
          @include gutter($padding-left-quarter...);
        }
      }

      &__arrow {
        display: none;
        @include gutter($padding-left-quarter...);
        @include gutter($padding-right-quarter...);
        
        svg {
          transform: rotate(0deg);
          transition: transform .3s ease;
        }
        
        @include breakpoint($bp-large) {
          display: block;
        }
      }
    }

    &__text {
      display: none;
      text-align: right;

      @include breakpoint($bp-large) {
        @include gutter($margin-left-half...);
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  &__menu {
    @include gutter($padding-left-half...);
    @include gutter($padding-right-half...);
    @include gutter($padding-top-half...);
    @include gutter($padding-bottom-half...);
    position: absolute;
    top: 63px;
    right: 0;
    box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12);
    background-color: $white;
    border-radius: 0 0 8px 8px;
    border: 1px solid $gray-7;
    border-top: 0;
    color: $black;
    text-align: left;
    display: none;
    min-width: 210px;
    max-width: 240px;

    @include breakpoint($bp-small) {
      top: 49px;
    }

    li {
      list-style: none;
      @include gutter($padding-top-quarter...);
      @include gutter($padding-bottom-quarter...);

      a {
        display: block;
      }
    }

    &--open {
      display: block;
    }

    &__header {
      @include gutter($padding-top-quarter...);
      @include gutter($padding-bottom-quarter...);
      @include font-size($h5-font-sizes--homepage);
      @include type($kepler-std, $font-weight-regular);
      line-height: 24px;
    }

    &__group {
      @include gutter($padding-top-quarter...);
      @include gutter($padding-bottom-quarter...);
    }

    &__button {
      &--sign-in {
        text-transform: none;
        border-radius: 6px;
        height: 44px;
        max-height: 44px;
        @include gutter($padding-top-quarter...);
        @include gutter($padding-bottom-quarter...);
      }
    }

    &__link {
      text-align: center;
    }
  }
}
