.ama__subscribe-promo {
  color: $white;
  background: $purple;

  &__subject-title {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__heading {
    @include font-size($h2-font-sizes);
  }
}
