.ama__subscribe-promo {
  display: inline-block;
  padding: $gutter / 2;
  color: $white;
  background: $purple;

  &__subject-title {
    @extend .ama__h4--white;
    padding-bottom: $gutter / 2;
  }

  &__form {
    .ama__button {
      @extend .ama__button--homepage;
      display: block;
      margin: 0 auto;
      padding: $gutter / 2.2;
      border: 0;
      height: 49px;

      &:hover {
        background: $hoverPurple;
      }
    }
  }

  .ama__form-group {
    input {
      @include type($myriad-pro, $font-weight-regular);
      font-style: italic;
    }

    label {
      visibility: hidden;
    }
  }

  &--wide {
    width: 100%;

    .ama__subscribe-promo__container {
      display: flex;
      flex-direction: column;

      @include breakpoint($bp-small min-width) {
        flex-direction: row;
      }
    }

    .ama__subscribe-promo__content {
      @include gutter($margin-right-full...);
      flex: 1;
    }

    .ama__subscribe-promo__form,
    .ama__subscribe-promo__form form {
      display: flex;
      flex-direction: column;

      .ama__form-group,
      .form-actions {
        margin: 0;
      }

      .ama__form-group label {
        display: none;
      }

      .ama__form-group input {
        @include gutter($margin-bottom-full...);
        height: 49px;
      }

      @include breakpoint($bp-small min-width) {
        .ama__button {
          margin: 0 0 0 auto;
        }
      }

      @include breakpoint($bp-med min-width) {
        flex-direction: row;
        height: 49px;

        .ama__form-group input {
          margin-bottom: 0;
        }
      }
    }
  }

  &--homepage {
    .ama__subscribe-promo__form {
      flex-direction: row;
      width: 100%;

      @include breakpoint($bp-small min-width) {
        width: 40%;
      }

      @include breakpoint($bp-large min-width) {
        width: 35%;
      }
    }

    .ama__subscribe-promo__form form {
      flex-direction: column;
      flex-wrap: nowrap;
      @include breakpoint($bp-large) {
        flex-direction: row;
      }

      .ama__form-group {
        flex: 0 0 auto;
        @include breakpoint($bp-large){
          flex: 1;
        }
      }

      .ama__button {
        margin: 0;
      }
    }
  }
}
