.ama__subcategory-page-article-stub {
  display: flex;
  text-decoration: none;
  @include breakpoint($bp-small max-width) {
    flex-wrap: wrap;
  }

  &__image {
    display: block;
    img.ama__bio-image-with-body__image {
      margin: 0;
    }
    @include breakpoint($bp-small max-width) {
      order: 1;
      img.ama__bio-image-with-body__image {
        max-width: 100%;
        max-height: unset;
      }
    }
  }

  &__text {
    @include breakpoint($bp-small) {
      padding: 0;
    }
    @include breakpoint($bp-small max-width) {
      order: 2;
    }
  }

  &__subcategory {
    @extend .ama__h4--purple;
    // Override main paragraph font
    @include type($myriad-pro, $font-weight-bold);
    font-weight: $font-weight-semibold;
    font-size: 0.78em;
    line-height: 1;
    margin: 0 0 (calc($gutter / 2)) 0;
    &--topics {
      .stub-date {
        padding-bottom: 0;
      }
    }
  }

  &__date-time {
    font-weight: $font-weight-regular;
    font-size: 20px;
    line-height: 23px;
    color: $gray-50;
    text-transform: uppercase;
    margin-bottom: 7px;
    @include breakpoint($bp-small) {
      font-size: 0.78em;
      line-height: .9em;
    }
    .stub-date {
      @include type($myriad-pro, $font-weight-regular);
      padding-bottom: 0;
      display: inline-block;
    }
    span {
      font-size: 14px;
      padding-left: 1px;
      padding-right: 3px;
      position: relative;
      bottom: 0px;
    }
    .read_time {
      display: inline-block;
      h3 {
        margin-bottom: 0;
      }
    }
  }

  &:hover {
    .ama__subcategory-page-article-stub__heading {
      text-decoration: underline;
    }
  }
}
div.ama__category-index__stubs a.ama__subcategory-page-article-stub.ama__subcategory-page-article-stub--topics,
div.ama__category-index a.ama__subcategory-page-article-stub.ama__subcategory-page-article-stub--topics {
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint($bp-small) {
    flex-direction: row-reverse;
  }
  .ama__subcategory-page-article-stub__text {
    padding-left: 0;
    flex: 1;
  }
  &.media {
    .ama__subcategory-page-article-stub__text {
      flex: 1;
      @include breakpoint($bp-small) {
        flex: .66;
      }
      @include breakpoint($bp-med) {
        flex: .75;
      }
    }
    .ama__subcategory-page-article-stub__image {
      margin: 0;
      margin-left: 0;
      max-width: 100%;
      display: block;
      flex: 1;
      @include breakpoint($bp-small) {
        flex: .34;
        margin-left: calc($gutter * .5);
      }
      @include breakpoint($bp-med) {
        flex: .25;
        margin-left: calc($gutter * 4);
      }
    }
  }

  &__subcategory {
    .stub-date {
      padding-bottom: 0;
    }
  }
}
.ama__category-index {
  .form-item-title {
    margin: 0;
  }
  .form-actions {
    @include breakpoint($bp-med) {
      margin-top: 0;
    }
  }
  .ama__category-index__stubs__load-more {
    padding: 35px 14px;
    @include breakpoint($bp-small) {
      padding: 35px 14px 0 14px;
    }

    a.ama__button {
      font-size: 20px;
      font-weight: 400;
      padding: 10px 45px;
    }
  }
}
