.ama--news-toc {
  padding: 15px 28px;
  margin-bottom: 15px;
  border-bottom: 2px solid $gray-50;
  display: none;

  @include breakpoint($bp-med) {
    display: block;
  }

  > p {
    font-size: 20px;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
  }
  ol, ul {
    display: flex;
    flex-wrap: wrap;

    &:not(.none) {
      li {
        list-style-type: none;
        a {
          padding-right: 5px;
        }
      }
    }

    li {
      &:not(:last-child) {
        &:after {
          content: "|";
          color: $black;
          display: inline-block;
          font-weight: $font-weight-light;
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
.toc-responsive {
  .toc-tree {
    display: none;
  }
}
.ama-toc-link {
  position: relative;
  .dupe {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: -60px;
  }
}
body.toolbar-horizontal .ama-toc-link .dupe {
  top: -140px;
}
