.ama--news-toc {
  padding: 0 28px 15px 0;
  margin-bottom: 15px;
  display: block;

  @include breakpoint($bp-med) {
    display: block;
  }

  > p {
    font-size: 20px;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
  }

  li {
    list-style-type: none;
  }

  ol, ul {
    display: flex;
    flex-wrap: wrap;

    li {
      a {
        padding-right: 5px;
        &:hover {
          color: #027DBC;
        }
      }
    }

    li {
      &:not(:last-child) {
        &:after {
          content: "|";
          color: $black;
          display: inline-block;
          font-weight: $font-weight-light;
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
.toc-responsive {
  display: none;
  .toc-tree {
    display: none;
  }
}
.ama-toc-link {
  position: relative;
  .dupe {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: -60px;
    //IE Override
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      h2 {
        padding-top: 61px;
      }
    }
  }
}
body.toolbar-horizontal .ama-toc-link .dupe {
  top: -140px;
}
