.ama__tags {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }
}

.ama__tag {
  display: inline-block;
  padding: ($gutter / 4) ($gutter / 2);
  background: $grey-7;
  color: $purple;
}