.ama__tags {
  @include ama-rules(1px, "", $gray-7, solid);
  @include ama-rules(1px, "bottom", $gray-7, solid);
  @include gutter($margin-top-full...);
  @include gutter($margin-bottom-full...);
  @include gutter($padding-top-full...);
  @include gutter($padding-bottom-full...);
  list-style-type: none;
  display: flex;
  flex: 1;
  
  &:last-child {
    margin-right: 0;
  }

  .ama__tag {
    @include gutter($margin-right-half...);
    @include gutter-all($padding-all-half...);
    display: block;
    background: $gray-7;
    color: $purple;
  }
}
