.thirty-seventy-block {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 1px solid $gray-7;
    margin-bottom: $gutter * .75;
    @include breakpoint($bp-small) {
      margin-bottom: $gutter * .75;
    }
    @include breakpoint($bp-med) {
      flex-flow: row nowrap;
      padding-bottom: $gutter;
    }

    &__mobile-image {
      display: block;

      @include breakpoint($bp-small) {
        display: none;
      }
    }

    &__aside {
      @include breakpoint($bp-small max-width) {
        margin-top: $gutter;
      }
      flex-basis: 35%;
      h2 {
        font-size: 2em;
        line-height: 42px;
        color: #5E5E5E;
        margin-bottom: calc($gutter / 2);
      }
      h5 {
        font-weight: $font-weight-regular;
        line-height: 1.5em;
        color: #5E5E5E;
        margin-bottom: calc($gutter);
      }
      .thirty-seventy-block__buttons {
        display: flex;
        justify-content: space-evenly;
        align-self: auto;
        align-content: center;
        @include breakpoint($bp-small) {
          min-height: 200px;
          background: $white;
        }

        //Fix for overriding jquery widget
        .ama__button {
          @include gutter($padding-right-quarter...);
          @include gutter($padding-left-quarter...);
          @include gutter($padding-bottom-quarter...);
          @include gutter($padding-top-quarter...);
          color: $white;
          font-weight: $font-weight-regular;
          width: 100%;
          &--secondary {
            color: $purple;

            &:hover {
              color: $white;
            }
          }
        }
        &.double-cta {
          .ama__button {
            flex-basis: 50%;
          }
          .ama__button:not(.ama__button--secondary) {
          margin-right: calc($gutter / 4);
        }
        .ama__button--secondary {
          margin-left: calc($gutter / 4);
        }
      }
        @include breakpoint($bp-small) {
          background: none;
          min-height: 300px;
          align-self: center;
          align-items: unset;
        }

        @include breakpoint($bp-small min-width) {
          flex-flow: row nowrap;
          align-self: unset;
          align-items: center;
          min-height: 0;
        }
      }

      &--full-width {
        flex-basis: 100%;
      }
    }

    &__background {
      flex-basis: 65%;
      position: relative;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-position: center center;
      @include breakpoint($bp-med max-width) {
        margin: $gutter 0 23px;
      }
      @include breakpoint($bp-med) {
        margin-left: 86px;
      }
    }
    .image-container {
      position: relative;
      overflow: hidden;
      @include breakpoint($bp-small) {
        padding-bottom: 66.67%;
      }
      @include breakpoint($bp-small $bp-med) {
        min-height: 480px;
      }
    }

    .image-container img {
      width: 100%;
      @include breakpoint($bp-small) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .ama__news-article:not(body) {
    margin-bottom: $gutter * .75;
    .thirty-seventy-block {
      @include breakpoint($bp-small) {
        margin-bottom: $gutter;
      }
    }
  }

  .js-layout-builder-block,
  .layout.section:not(.ama__category__row) {
    .thirty-seventy-block {
      margin-bottom: $gutter;
      @include breakpoint($bp-small) {
        margin-bottom: $gutter;
        padding-top: $gutter;
      }
    }
  }

  .layout.section.ama__category__row .thirty-seventy-block {
    border-bottom: none;
    @include breakpoint($bp-med) {
      padding-bottom: 0;
    }
  }

  .ama__layout--two-col-right--75-25__top {
    .thirty-seventy-block {
      @include breakpoint($bp-small) {
        margin-right: 10px;
      }
    }
  }

  a.thirty-seventy-wrapper,
  .thirty-seventy-block a {
    text-decoration: none;
  }

  // Article Embed Styles
  .thirty-seventy-block-embed {
    border-top: 1px solid $gray-7;
    padding-top: $gutter;
    .thirty-seventy-block {
      &__aside {
        &.double-button {
          @include breakpoint($bp-med) {
            padding-right: $gutter;
            max-width: 405px;
            flex-basis: 60%;
          }
        }
      }
      &__background {
        &.double-button {
          @include breakpoint($bp-med) {
            margin-left: 0;
          }
        }
      }
    }
  }