.thirty-seventy-block {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: $gutter * .75;
    @include breakpoint($bp-small) {
      margin-bottom: 0;
    }
    @include breakpoint($bp-med) {
      flex-flow: row nowrap;
      padding-bottom: $gutter;
    }

    &__mobile-image {
      display: block;

      @include breakpoint($bp-small) {
        display: none;
      }
    }

    &__aside {
      @include breakpoint($bp-small max-width) {
        margin-top: $gutter;
      }
      @include breakpoint($bp-med) {
        padding-right: 100px;
        max-width: 479px;
        &.double-cta {
          padding-right: 65px;
        }
      }
      h2 {
        font-size: 2em;
        line-height: 42px;
        color: #5E5E5E;
        margin-bottom: calc($gutter / 2);
      }
      h5 {
        font-weight: $font-weight-regular;
        line-height: 1.5em;
        color: #5E5E5E;
        margin-bottom: calc($gutter);
      }
      .thirty-seventy-block__buttons {
        display: flex;
        align-self: auto;
        align-content: center;
        @include breakpoint($bp-small) {
          min-height: 200px;
          background: $white;
        }
        button {
          &.ama__button:focus {
            outline: none;
          }
        }
        .ama__button {
          @include gutter($padding-right-quarter...);
          @include gutter($padding-left-quarter...);
          @include gutter($padding-bottom-quarter...);
          @include gutter($padding-top-quarter...);
          color: $white;
          font-weight: $font-weight-regular;
          width: 100%;
          @include breakpoint($bp-med) {
            width: 380px;
          }
          &--secondary {
            color: $purple;

            &:hover {
              color: $white;
            }
          }
        }
        @include breakpoint($bp-small) {
          background: none;
          min-height: 300px;
          align-self: center;
          align-items: unset;
        }

        @include breakpoint($bp-small min-width) {
          flex-flow: row nowrap;
          align-self: unset;
          align-items: center;
          min-height: 0;
        }
      }

      &--full-width {
        flex-basis: 100%;
      }

      &.double-cta {
        .thirty-seventy-block__buttons {
          .ama__button {
            @include breakpoint($bp-med) {
              width: 200px;
            }
          }
          .ama__button:not(.ama__button--secondary) {
            margin-right: calc($gutter / 4);
          }
          .ama__button--secondary {
            margin-left: calc($gutter / 4);
          }
        }
      }
    }

    &__background {
      flex-basis: 65%;
      position: relative;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-position: center center;
      @include breakpoint($bp-med max-width) {
        margin: $gutter 0 23px;
      }
    }
    .image-container {
      position: relative;
      overflow: hidden;
      @include breakpoint($bp-med) {
        padding-bottom: 66.67%;
      }
    }

    .image-container img {
      @include breakpoint($bp-med) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .ama__news-article:not(body) {
    margin-bottom: $gutter * .75;
    .thirty-seventy-block {
      @include breakpoint($bp-small) {
        margin-bottom: $gutter;
      }
    }
  }

  .js-layout-builder-block,
  .layout.section:not(.ama__category__row) {
    .thirty-seventy-block {
      margin-bottom: $gutter;
      @include breakpoint($bp-small) {
        margin-bottom: $gutter;
        padding-top: $gutter;
      }
    }
  }

  .ama__layout--two-col-right--75-25__top {
    .thirty-seventy-block {
      @include breakpoint($bp-small) {
        margin-right: 10px;
      }
    }
  }

  a.thirty-seventy-wrapper,
  .thirty-seventy-block a {
    text-decoration: none;
  }

  .thirty-seventy-block a:focus,
  a.thirty-seventy-wrapper:focus {
    outline: solid 2px #0076a5;
    outline-offset: 5px;
    display: block;
  }

  .thirty-seventy-block-embed {
    border-top: 1px solid $gray-7;
    border-bottom: 1px solid $gray-7;
    @include breakpoint($bp-med) {
      padding-top: $gutter;
      padding-bottom: $gutter;
      margin-bottom: 14px;
    }
  }