.ama__tool {
  @include gutter($padding-top-half...);
  @include gutter($padding-bottom-half...);
  display: flex;
  align-items: center;
  width: 100%;

  &__icon {
    @include gutter($padding-right-half...);
    display: block;
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  &__meta {
    @include font-size($small-font-sizes);
    display: flex;

    & * {
      color: $topic_gray-8;
      flex-basis: 50%;
    }
  }
}
