.ama__tool {
  @include gutter($padding-top-quarter...);
  @include gutter($padding-bottom-quarter...);
  @include ama-rules(1px, "", $gray-64, solid);
  @extend %ama__link--no-underline;
  $c: &; //Sets the parent selector as a variable to be used later
  display: flex;
  align-items: top;
  width: 100%;

  &:hover {
    text-decoration: none;

    #{$c}__text p {
      text-decoration: underline;
    }
  }

  &:last-of-type {
    @include ama-rules(1px, "bottom", $gray-64, solid);
    @include gutter($margin-bottom-half...);
  }

  &__icon {
    @include gutter($padding-right-half...);
    display: none;
    
    @include breakpoint($bp-med min-width) {
      display: block;
    }
  }

  &__text p {
    margin-bottom: 0;
  }

  &__icon-lock {
    @extend .ama__type--small;
    white-space:nowrap;
  }

  &__meta {
    @include font-size($small-font-sizes);
    display: flex;

    & * {
      color: $gray-64;
      flex-basis: 100%;

      @include breakpoint($bp-med min-width) {
        flex-basis: 50%;
      }
    }
  }
}

#downloads .ama__tool {
  border-top: none;
}

// Content-type Specific Overrides
.ama__news-article,
.ama__event-detail,
.ama__evergreen-page,
.ama__press-release,
.ama__subcategory-index {
  .ama__tool {
     border-top: none;
     flex: 0 1 50%;
  
     @include breakpoint($bp-med max-width) {
       flex: 0 1 100%;
     }
  
     &:last-of-type {
      border-bottom: none;
     }

     &__icon {
       display: inline-block;
     }
  } 
}

.ama__subcategory-index {
  .ama__tool {
    flex: 0 1 33%;

    &__text {
      padding-right: initial;

      @include breakpoint($bp-small) {
        padding-right: 21px;
      }
    }

    @include breakpoint($bp-med max-width) {
      flex: 0 1 100%;
    }
  }
}

//If tools list in sidebar
.ama__subcategory-index .ama__layout--two-col-right--75-25__right {
  .ama__tool {
     flex: 0 1 100%;
  } 
}
