.ama__trending-block {
  margin-bottom: 21px;
  @include breakpoint($bp-med) {
    max-width: 280px;
    margin-bottom: 35px;
  }
  @include breakpoint($bp-large) {
    margin-bottom: 0;
  }

  &__header.trending-icon {
    width: 100%;
    height: 34px;
    padding: 4px 0 6px;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint($bp-small) {
      padding: 4px 0 6px 38px;
      text-align: left;
      text-transform: none;
    }
    @include breakpoint($bp-med) {
      padding: 4px 0 6px;
      text-align: center;
      text-transform: uppercase;
    }
    span {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      line-height: 1.18;
      &::before {
        width: 0;
        height: 0;
        @include breakpoint($bp-small) {
          top: 6px;
          left: -24px;
          width: 18px;
          height: 18px;
        }
      }
      &::after {
        background: none;
      }
    }
  }

  &__inner {
    border: solid 1px $complementary;
    border-top: none;
    padding-top: 14px;
  }

  &__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    > li {
      margin-top: 18px;
      position: relative;
      padding-left: 47px;
      counter-increment: inst;
      list-style: none;
      &::before {
        color: $purple;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 17px;
        display: inline-block;
        width: 23px;
        height: 23px;
        line-height: 1.1;
        font-size: 20px;
        font-weight: 600;
        content: counter(inst, decimal);
        border: solid 1px $purple;
        border-radius: 50%;
        @include breakpoint($bp-med) {
          top: 2px;
        }
      }
    }
    > li:first-child {
      margin-top: 0;
    }

    a {
      display: block;
      margin: 0 14px 7px 0;
      font-size: 18px;
      font-weight: 600;
      color: $black;
      line-height: 1.11;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .ama__rule {
      width: 92%;
      margin: 14px auto 0;
      border-color: $gray-20;
      @include breakpoint($bp-med) {
        width: 100%;
        max-width: 249px;
      }
    }
  }

  &__view-all {
    font-size: 16px;
    display: block;
    position: relative;
    text-align: right;
    text-decoration: none;
    &::after {
      content: " ";
      position: absolute;
      right: -20px;
      top: 6px;
      width: 13px;
      height: 8px;
      background: url('../images/arrow-right-blue.png') no-repeat 0px 0px;
      background-size: contain;
    }
  }

  .ama__trending-block__view-all {
    margin: 14px 24px 14px 0;
    color: $blue;
    line-height: 1;
  }

  &__horizontal {
    .ama__trending-block__view-all {
      display: none;
      &.horizontal {
        display: block;
      }
    }
    @include breakpoint($bp-med) {
      max-width: unset;
      .ama__trending-block__header.trending-icon {
        text-align: left;
        padding-left: 31px;
        span {
          text-transform: none;
          right: -5px;
        }
      }
      .ama__trending-block__inner {
        padding: 15px 0;
      }
      .ama__trending-block__view-all {
        display: block;
        float: right;
        color: $white;
        margin: 0 31px 0 0;
        text-transform: none;
        &.horizontal {
          display: none;
        }
        &::after {
          content: " ";
          position: absolute;
          right: -20px;
          top: 10px;
          width: 13px;
          height: 8px;
          background: url('../images/arrow-right-white.png') no-repeat 0px 0px;
          background-size: contain;
        }
      }
      ul {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        li {
          width: 20%;
          margin-top: 0;
          padding-left: 40px;
          &::before {
            color: $white;
            background: $purple;
            left: 7px;
          }
        }
      }
      .ama__rule {
        display: none;
      }
    }
  }
}