.trending-icon {
  display: block;
  background: $purple;
  width: 234px;
  height: 50px;
  padding: 10px 14px 11px;
  text-decoration: none;
  text-align: center;
  h3 {
    position: relative;
    margin: 0 7px 4px calc($gutter/2);
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $white;
    &::before {
      content: " ";
      position: absolute;
      left: -38px;
      top: -2px;
      width: $gutter;
      height: $gutter;
      background: url("../icons/icon-trending.svg") no-repeat 0px 0px;
      background-size: contain;
      border-radius: 50%;
    }
  }
}
