.ama__upcoming-event {
  @include gutter($padding-bottom-half...);
  @include gutter($padding-top-full...);
  @include gutter($padding-left-half...);
  border-top: 1px solid $gray-7;

  @include breakpoint($bp-med) {
    display: flex;
  }

  &__title {
    svg {
      display: none;
      @include gutter($margin-right-full...);
    }

    @include breakpoint($bp-med) {
      flex-grow: 1;
    }
  }

  &__text {
    color: $gray-50;
    line-height: 1.222em;
    display: flex;

    p {
      @include gutter($margin-right-full...);
      @include font-size($small-font-sizes);
    }
  }
}

.ama__upcoming-events {
  &__header {
    display: flex;
  }

  .ama__section-title {
    @include breakpoint($bp-med) {
      flex-grow: 1;
    }
  }

  &__view-all-link {
    @include gutter($margin-right-full...);
    @include font-size($small-font-sizes);
    float: right;
  }
}
