.rate-widget.thumbsup {
  margin-top: 28px;
  clear: both;

  form {
    padding-bottom: 14px;
  }

  .upvote-icon {
    font-size: 18px;
    font-weight: $font-weight-semibold;
    line-height: 30px;
    text-transform: capitalize;
    color: $gray-50;
    padding: 0 7px 0 30px;

    &::before {
      content: " ";
      position: absolute;
      top: 7px;
      left: 13px;
      width: 21px;
      height: 19px;
      background: url("../icons/svg/icon-upvote.svg") no-repeat 0px 0px;
      background-size: contain;
    }

    &:hover {
      &::before {
        background: url("../icons/svg/icon-upvote-hover.svg") no-repeat 0px 0px;
      }
    }
  }

  .rate-voted {
    .rate-score,
    .upvote-icon {
      color: $black;
    }

    .upvote-icon {
      &::before {
        background: url("../icons/svg/icon-upvote-active.svg") no-repeat 0px 0px;
      }
    }
  }

  .rate-score {
    color: $gray-50;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    min-width: 19px;
  }

  .ajax-progress {
    display: none;
  }

  .thumbsup-rating-label-up {
    @include type($myriad-pro, $font-weight-regular);
    height: 34px;
    background: none;
    position: relative;
    right: 0;
    border: none;
    border: 1px solid $gray-50;
    border-radius: 16px;
    padding: 0 14px;
    min-width: 147px;
  
    .ui-icon-blank.ui-icon-blank.ui-icon-blank {
      display: none;
    }

    &.use-ajax {
      position: relative;
      right: 40px;
    }

    &::before {
      content: '';
      display: block;
      position: relative;
      right: 0;
      bottom: 16px;
    }

    .rate-undo.use-ajax {
      display: block;
      width: 40px;
      height: 55px;
      position: relative;
      right: 0;
      bottom: 55px;
    }
  }
}

.no-upvote .rate-widget.thumbsup {
  display: none;
}
