.rate-widget.thumbsup {
  margin-top: 28px;
  margin-left: 28px;
  clear: both;

  form {
    padding-bottom: 14px;
  }

  .thumbs {
    fill: #aaa;
    position: absolute;
    bottom: 0;
  }
  .thumbs-active {
    fill: $purple;
    position: absolute;
    bottom: 0;
  }

  &:hover {
    .rate-score,
    .rate-score.voted,
    .thumbs,
    .thumbs-active {
      color: #B5A1C3;
      fill: #B5A1C3;
    }
  }

  .rate-voted .rate-score {
    color: $purple;
  }

  .rate-score {
    margin: 19px 10px 10px 50px;
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    color: #aaa;
  }

  .ajax-progress {
    display: none;
  }

  .thumbsup-rating-label-up {
    height: 55px;
    background: none;
    position: relative;
    right: 0;
    border: none;

    .ui-icon-blank.ui-icon-blank.ui-icon-blank {
      display: none;
    }

    &.use-ajax {
      position: relative;
      right: 40px;
    }

    &::before {
      content: '';
      display: block;
      position: relative;
      right: 0;
      bottom: 16px;
    }

    #Layer_6 {
      animation: popup 1s ease;

      @keyframes popup {
        0% {
          transform: translateY(30px);
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          transform: translateY(0px);
        }
      }
    }

    .rate-undo.use-ajax {
      display: block;
      width: 40px;
      height: 55px;
      position: relative;
      right: 0;
      bottom: 55px;
    }
  }
}

.no-upvote .rate-widget.thumbsup {
  display: none;
}
