.video-block-wrapper {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 21px 0;
  margin: 0 15px;
  justify-content: center;
  align-items: stretch;
  @include breakpoint($bp-small) {
    flex-direction: row;
    margin: $gutter/3 0;
    padding: $gutter/2 7%;
    margin-bottom: 42px;
  }
  @include breakpoint($bp-large) {
    padding: 28px 7%;
    margin: 0;
  }
  &.left {
    @include breakpoint($bp-small) {
      flex-direction: row-reverse;
    }
    .video {
      @include breakpoint($bp-small) {
        padding-right: 4%;
        padding-left: 0;
      }
    }
    .description {
      padding-top: $gutter/2;
      align-self: flex-start;
      @include breakpoint($bp-small) {
        padding-left: 4%;
        padding-right: 0;
      }
      @include breakpoint($bp-med) {
        align-self: auto;
      }
    }
  }
  &.border-top {
    border-top: 2px solid $gray-40;
  }
  &.border-bottom {
    border-bottom: 2px solid $gray-40;
  }
  .video {
    flex: 1;
    display: flex;
    width: 100%;
    padding-left: 0;
    @include breakpoint($bp-small) {
      padding-left: 4%;
    }
    > div {
      width: 100%;
    }
  }
  .description {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;
    font-weight: $font-weight-bold;
    padding-right: 0;
    padding-bottom: $gutter/4;
    padding-top: $gutter/2;
    &:hover {
      text-decoration: underline;
    }
    @include breakpoint($bp-small) {
      padding-right: 4%;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

//Spacing for video block wrapper on category pages
.layout--ama-page-section-one-col .video-block-wrapper + .ama__membership {
  margin-top: 21px;
  @include breakpoint($bp-small) {
    margin-top: 28px;
  }
}
