<div class="ama__gate">
  <div class="ama__gate__container">
    <div class="ama__gate__title">
      Member Only Content
    </div>
    <div class="ama__gate__cta">
      <a href="#">Sign-in</a> or <a href="#">Become a Member</a> for Access
    </div>
  </div>
</div>
