{% extends '@templates/two-column-right.twig' %}

{% block contentTop %}
  {% include '@organisms/masthead/masthead.twig' %}
{% endblock %}

{% block pageContent %}
  {% set images = pressReleaseLogos %}
  {% include '@molecules/press-release-logos.twig' %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@organisms/partner-list.twig' %}
  <section class="ama__page--press-release__teasers">
    {% include '@molecules/tags.twig' %}
    {% include '@organisms/four-up-teaser.twig' %}
  </section>
{% endblock %}

{% block sidebarSecondary %}
  {% include '@organisms/tools.twig' %}
  {% include '@molecules/membership/membership.twig' %}
{% endblock %}
