#block-ama-one-help {
  display: none;
}
form[id*="-layout-builder-form"] {
  .layout-actions {
    #edit-content {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
  #edit-unlock {
    height: 44px;
    background: #7229D1;
    color: $white;
    border-radius: 8px;
    padding: 9px 16px;
    text-decoration: none;
    min-width: 100px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    display: block;
    text-align: center;
    max-width: 100px;
    margin-top: 1rem;
    &:hover {
      background: $purple;
    }
  }
  #edit-preview-toggle,
  #edit-layout-builder-message {
    display: none;
  }
  #edit-moderation-state-wrapper {
    .form-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20%;
      .form-item-moderation-state-0-current {
        flex: .15;
      }
      .form-item-moderation-state-0-state {
        flex: .5;
      }
      transitionset {
        flex-basis: 100%;
      }
    }
  }
}
