* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr  1fr;
  grid-template-rows: 3em 6em auto auto;
  min-height: 100vh;
}

aside.primary {
  grid-row: 3 / 5;
}

footer {
  grid-column: 1 / 5;
  grid-row: 6;
}

//Phone
@media screen and (max-width: 479px) {

  nav {
    grid-column: 1 / 5;
  }

  header {
    grid-column: 1 / 5;
  }

  article {
    grid-column: 1 / 5;
    grid-row: 3;
  }

  aside.primary {
    grid-column: 1 / 5;
    grid-row: 4;
  }

  aside.secondary {
    grid-column: 1 / 5;
    grid-row: 5;
  }
}

//Tablet
@media screen and (min-width: 480px) and (max-width: 639px) {

  nav {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  header {
    grid-column: 1 / 5;
    grid-row: 2;
  }

  aside.primary {
    grid-column: 4;
    grid-row: 3 / 6;
  }

  aside.secondary {
    grid-column: 4;
    grid-row: 4 / 6;
  }

  article {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
  }
}

//Desktop
@media screen and (min-width: 640px) {

  nav {
    grid-column: 1 / 4;
  }

  header {
    grid-column: 1 / 4;
  }

  aside.primary {
    grid-row: 3 / 6;
    grid-column: 1;
  }

  aside.secondary {
    grid-row: 3 / 6;
    grid-column: 3;
  }

  article {
    grid-row: 3 / 6;
    grid-column: 2;
  }
}