* {
  margin: 0;
  padding: 0;
}

.three-column {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 2fr  1fr;
  grid-template-rows: 3em 6em auto auto;
  min-height: 100vh;
  -ms-grid-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto auto auto;
}

nav {
  grid-column: 1 / 5;

  @media (min-width: $bp-small) {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  @media (min-width: $bp-med) {
    grid-column: 1 / 4;
    -ms-grid-column: 1
  }
} // end nav

header {
  grid-column: 1 / 5;

  @media (min-width: $bp-small) {
    grid-column: 1 / 5;
    grid-row: 2;
  }

  @media (min-width: $bp-med) {
    grid-column: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
} // end header

article {
  grid-column: 1 / 5;
  grid-row: 3;

  @media (min-width: $bp-small) {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
  }

  @media (min-width: $bp-med) {
    grid-column: 2;
    grid-row: 3 / 6;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
  }
}// end article


aside.primary {
  grid-column: 1 / 5;
  grid-row: 4;

  @media (min-width: $bp-small) {
    grid-column: 4;
    grid-row: 3 / 6;
  }

  @media (min-width: $bp-med) {
    grid-column: 1;
    grid-row: 3 / 6;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
} // end aside.primary

aside.secondary {
  grid-column: 1 / 5;
  grid-row: 5;

  @media (min-width: $bp-small) {
    grid-column: 4;
    grid-row: 4 / 6;
  }

  @media (min-width: $bp-med) {
    grid-column: 3;
    grid-row: 3 / 6;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
} // end aside.secondary

footer {
  grid-column: 1 / 5;
  grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-row: 6;
} // end footer