.ama__layout--one-column {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  &__content-top {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1;
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-half...);

    @include breakpoint($bp-small min-width) {
      grid-column:  1 / 4;
      grid-row: 1;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 2 / 2;
      grid-row: 1;
    }
  }
  &__page-content {
    grid-row: 2;
    grid-column: 1 / 4;
  }

  .ama__promo-group {
    @include gutter($padding-top-double...);
    @include gutter($padding-bottom-full...);
    border-top: solid 1px $black;
    @extend .display-list;
  }

  &.left-aligned {
    grid-template-columns: 3fr 1fr;

    .ama__layout--one-column__content-top {
      text-align: left;
      grid-column: 1 / 4;
      
      @include breakpoint($bp-med min-width) {
        grid-column: 1 / 2;
      }
    }
  }
}// end article
