.ama__layout--split {
  display: grid;
  grid-template-columns: 50% 50%;

  &.container {
    @include breakpoint($bp-small max-width) {
      padding: 0;
    }
  }
}

.ama__layout--split__content-top {
  grid-column: 1 / 3;
  grid-row: 1;
}

.ama__layout--split__left {
  display: none;
  @include breakpoint($bp-small) {
    display: block;
    padding-right: $gutter / 2;
  }
}

.ama__layout--split__right {
  grid-column: 1 / 3;
  grid-row: 2;
  @include breakpoint($bp-small) {
    grid-column: 2 / 2;
    border-left: solid 2px lightgrey;
  }
}
