.ama__layout--three-column {
  display: grid;
  grid-template-columns: 100%;

  @include breakpoint($bp-small) {
    grid-template-columns: 2fr 1fr;
  }

  @include breakpoint($bp-med) {
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__content-top {
    grid-column: 1 / 5;
    grid-row: 1;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }
  }

  &__page-content {
    grid-row: 2;
    grid-column: 1;

    @include breakpoint($bp-small) {
      grid-column: 1;
    }

    @include breakpoint($bp-med) {
      grid-row: 2;
      grid-column: 2;
    }
  }
}// end article

.ama__layout--three-column__sidebar {
  &--primary,
  &--secondary {
    @include child-top-gutters($gutter);

    & > div[class*="ama__"], div:not([class*="ama__"]) > div[class*="ama__"] {
      & + div[class*="ama__"] {
        @include gutter($margin-top-full...);
      }
    }
  }

  &--primary {
    grid-row: 3;
    grid-column: 1;

    @include breakpoint($bp-small) {
      @include gutter($margin-left-full...);
      grid-row: 2;
      grid-column: 2;
    }

    @include breakpoint($bp-med) {
      margin-left: 0;
      grid-column: 1;
      @include gutter($margin-right-full...);
    }
  } // end aside.primary

  &--secondary {
    grid-row: 4;
    grid-column: 1;

    @include breakpoint($bp-small) {
      @include gutter($margin-left-full...);
      grid-row: 3;
      grid-column: 2;
    }

    @include breakpoint($bp-med) {
      grid-row: 2;
      grid-column: 3;
    }
  } // end aside.secondary
}
