.ama__layout--three-column {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 100%;

  @include breakpoint($bp-small) {
    grid-template-columns: 2fr 1fr;
    -ms-grid-columns: 2fr 1fr;
  }

  @include breakpoint($bp-med) {
    grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-columns: 1fr 2fr 1fr;
    -ms-grid-rows: auto auto auto;
  }

  &__content-top {
    grid-column: 1 / 5;
    grid-row: 1;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
  }

  &__page-content {
    grid-row: 2;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;

    @include breakpoint($bp-small) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 4;
      -ms-grid-column: 1;
    }

    @include breakpoint($bp-med) {
      grid-row: 2;
      grid-row-end: 4;
      grid-column: 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 4;
      -ms-grid-column: 2;
    }
  }
}// end article

.ama__layout--three-column__sidebar {
  &--primary {
    grid-row: 3;
    grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column: 1;

    @include breakpoint($bp-small) {
      margin-left: 28px;
      grid-row: 2;
      grid-column: 2;
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }

    @include breakpoint($bp-med) {
      margin-left: 0;
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column: 1;
      margin-right: 28px;
      -ms-grid-column: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 4;
    }
  } // end aside.primary

  &--secondary {
    grid-row: 4;
    grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-column: 1;

    @include breakpoint($bp-small) {
      margin-left: 28px;
      grid-row: 3;
      grid-column: 2;
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }

    @include breakpoint($bp-med) {
      grid-row: 2;
      grid-column: 3;
      -ms-grid-row: 2;
      -ms-grid-column: 3;
    }
  } // end aside.secondary
}