.ama__layout--two-column--right {
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  grid-template-rows: auto auto auto;
  min-height: 30em;
  overflow: hidden;

  .layout__region--main {
    min-height: 500px;
  }

  &__content-top {
    grid-column: 1 / 5;
    grid-row: 1;

    @include breakpoint($bp-small) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include breakpoint($bp-med) {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }
  }

  &__page-content {
    @include gutter($padding-top-full...);
    position: relative;
    grid-column: 1 / 4;
    grid-row: 2;
    word-wrap: break-word;

    @include breakpoint($bp-small) {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
    }

    @include breakpoint($bp-med) {
      @include gutter($padding-top-full...);
      padding: $gutter 0 0 0;
      grid-column:  1 / 3;
      grid-row: 2 / 4;
    }
  }

  &__page-content__flush-left {
    position: relative;
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-small) {
      grid-column: 1 / 4;
      grid-row: 2;
    }

    @include breakpoint($bp-med) {
      @include gutter($padding-right-full...);
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
  &_no_grouper {
    grid-column: 1 / 4;
  }
} // end article

.ama__layout--two-column--right__sidebar {
  &--primary,
  &--secondary {
    @include child-top-gutters($gutter);
  }

  &--primary {
    @include gutter($padding-top-full...);
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-med) {
      grid-column: 1;
      grid-row: 1 / 4;
    }
  } // end aside.primary

  &--secondary {
    // padding-top: $gutter;
    grid-column: 2 / 2;
    grid-row: 1;

    @include breakpoint($bp-small) {
      padding-left: calc($gutter * .75);
      grid-column: 2 /4;
      grid-row: 2 / 2;
    }
    &.ama__layout--two-column--right_no_grouper {
      grid-column: 1 / 4;
    }
  } // end aside.secondary
}

// Article only ovveride
.ama__news + .ama__layout--two-column--right__sidebar--secondary {
  grid-row: 1 / 2;
}
