.ama__layout--two-column--right {
  display: grid;
  grid-template-columns: 1fr 6fr 2.5fr;
  grid-template-rows: auto auto auto;
  min-height: 30em;
  overflow: hidden;

  .layout__region--main {
    min-height: 500px;
  }

  &__content-top {
    grid-column: 1 / 5;
    grid-row: 1;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }
  }

  &__page-content {
    @include gutter($padding-top-full...);
    position: relative;
    grid-column: 1 / 5;
    grid-row: 2;
    word-wrap: break-word;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 5;
      grid-row: 2;
    }

    @include breakpoint($bp-med min-width) {
      @include gutter($padding-top-full...);
      padding: $gutter 0 0 0;
      grid-column:  1 / 3;
      grid-row: 2 / 4;
    }
  }

  &__page-content__flush-left {
    position: relative;
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 4;
      grid-row: 2;
    }

    @include breakpoint($bp-med min-width) {
      @include gutter($padding-right-full...);
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
} // end article

.ama__layout--two-column--right__sidebar {
  &--primary,
  &--secondary {
    @include child-top-gutters($gutter);
  }

  &--primary {
    @include gutter($padding-top-full...);
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-med min-width) {
      grid-column: 1;
      grid-row: 1 / 4;
    }
  } // end aside.primary

  &--secondary {
    padding-top: $gutter;
    grid-column: 1 / 5;
    grid-row: 3 / 4;

    @include breakpoint($bp-med min-width) {
      @include gutter($padding-top-full...);
      @include gutter($padding-left-full...);
      grid-column: 3;
      grid-row: 2 / auto;
    }
  } // end aside.secondary
}
