.ama__layout--two-col-right--full-width {
  display: grid;
  grid-template-columns: 1fr;

  &__top {
    @include breakpoint($bp-small min-width) {
      padding: 0 ($gutter / 2);
      margin-bottom: 0;
    }
    @include gutter($margin-bottom-full...);
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }

  &__page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $gutter;
    grid-template-rows: auto auto auto;
    grid-row-gap: $gutter;

    @include breakpoint($bp-small min-width) {
      grid-template-columns: 3fr 1fr;
    }
  }

  &__left {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  &__right {
    grid-column: 1 / 1;
    grid-row: 3 / 3;

    @include breakpoint($bp-small min-width) {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }
  }
}
