.ama__layout--two-col-right--full-width {
  display: grid;
  grid-template-columns: 1fr;

  &__top {
    @include breakpoint($bp-small min-width) {

      margin-bottom: 0;
    }
    @include gutter($margin-bottom-full...);
    grid-row: 1;
    grid-column: 1;
  }

  &__page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2;
    grid-column-gap: $gutter;
    grid-template-rows: auto auto auto;
    grid-row-gap: $gutter;

    @include breakpoint($bp-small min-width) {
      grid-template-columns: 3fr 1fr;
    }

    &__left {
      grid-column: 1;
      grid-row: 2;
    }

    &__right {
        grid-column: 1;
        grid-row: 3;


      @include breakpoint($bp-small min-width) {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
}
