.ama__layout--two-col-right--75-25 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 24px;
  grid-template-rows: auto auto;
  grid-row-gap: 24px;

  &__top {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }

  &__left {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  &__right {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
}
