.ama__layout--two-column--right {
  display: grid;
  grid-template-columns: 1fr 6fr 2.5fr;
  grid-template-rows: auto auto auto;
  min-height: 30em;

  &__content-top {
    grid-column: 1 / 5;
    grid-row: 1;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 1 / 5;
      grid-row: 1;
    }
  }

  &__page-content {
    position: relative;
    @include gutter($padding-top-full...);
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-small min-width) {
      grid-column: 1 / 4;
      grid-row: 2;
    }

    @include breakpoint($bp-med min-width) {
      grid-column: 2;
      grid-row: 2 / 4;
    }
  }
} // end article

.ama__layout--two-column--right__sidebar {
  &--primary,
  &--secondary {
    @include child-top-gutters($gutter);
  }

  &--primary {
    @include gutter($padding-top-full...);
    grid-column: 1 / 5;
    grid-row: 2;

    @include breakpoint($bp-med min-width) {
      grid-column: 1;
      grid-row: 1 / 4;
    }
  } // end aside.primary

  &--secondary {
    @include gutter($padding-top-full...);
    grid-column: 1 / 5;
    grid-row: 3 / 4;

    @include breakpoint($bp-med min-width) {
      @include gutter($padding-left-full...);
      grid-column: 3;
      grid-row: 2 / 4;
    }
  } // end aside.secondary
}

