.ama__layout--two-col-right--75-25 {
  @include breakpoint($bp-small max-width) {
    grid-template-columns: 1fr;
  }

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;

  &__top {
    @include breakpoint($bp-small max-width) {
      padding: 0 ($gutter / 2);
      margin-bottom: 0;
    }
    @include gutter($margin-bottom-full...);
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }

  &__left {
    @include gutter($margin-right-half...);
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  &__right {
    > div {
      margin-top:0;
      margin-bottom: $gutter;
    }
    @include gutter($margin-left-half...);

    @include breakpoint($bp-small max-width) {
      grid-column: 1 / 1;
      grid-row: 3 / 3;
      padding: 0 ($gutter / 2);
    }

    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
}
