{% extends '@templates/one-column.twig' %}

{% block header %}
  {% if alertBanner %}
    {% set alert = alert %}
    {% include '@molecules/alert.twig' %}
  {% endif %}
  {% include '@organisms/dr-finder-main-navigation/dr-finder-main-navigation.twig' %}
{% endblock %}

{% block pageContent %}
  <div class="ama__dr-finder profile container">
    {% set heading = heading|merge({
      "level": "1",
      "class": "ama__h1"
    }) %}
    {% include '@atoms/heading/heading.twig' %}
    {% include '@atoms/link/link.twig' with { "link" : backLink } %}
    {% include '@molecules/dr-finder-profile-header/dr-finder-profile-header.twig' %}
    <h2 class="ama__h2">Getting to Know Henry</h2>
    <h3 class="ama__h3">What inspired me to pursue a career in medicine</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod gravida nunc in convallis. Nullam vestibulum nisl quam, a pharetra quam cursus in. Curabitur tempus aliquet turpis, nec viverra nunc tincidunt id. Nullam ac quam eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus suscipit porta odio, ac porta arcu ultricies in. Nullam non neque vitae ipsum malesuada pharetra eget non ex. Nullam mattis turpis eros, eu condimentum quam hendrerit at. Suspendisse feugiat lorem eget mauris consectetur gravida. Phasellus non odio ut enim pharetra eleifend. Cras tristique enim a lacus auctor tristique in in nulla. Phasellus efficitur sollicitudin orci, eu feugiat nisl condimentum ut. Cras consectetur sagittis urna sed ullamcorper. Aenean metus arcu, gravida quis mauris ut, mattis semper orci. Fusce quis semper elit, sed finibus nibh.</p>
    <h3 class="ama__h3">What inspired me to pursue a career in medicine</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod gravida nunc in convallis. Nullam vestibulum nisl quam, a pharetra quam cursus in. Curabitur tempus aliquet turpis, nec viverra nunc tincidunt id. Nullam ac quam eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus suscipit porta odio, ac porta arcu ultricies in. Nullam non neque vitae ipsum malesuada pharetra eget non ex. Nullam mattis turpis eros, eu condimentum quam hendrerit at. Suspendisse feugiat lorem eget mauris consectetur gravida. Phasellus non odio ut enim pharetra eleifend. Cras tristique enim a lacus auctor tristique in in nulla. Phasellus efficitur sollicitudin orci, eu feugiat nisl condimentum ut. Cras consectetur sagittis urna sed ullamcorper. Aenean metus arcu, gravida quis mauris ut, mattis semper orci. Fusce quis semper elit, sed finibus nibh.</p>
    <h3 class="ama__h3">What inspired me to pursue a career in medicine</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod gravida nunc in convallis. Nullam vestibulum nisl quam, a pharetra quam cursus in. Curabitur tempus aliquet turpis, nec viverra nunc tincidunt id. Nullam ac quam eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus suscipit porta odio, ac porta arcu ultricies in. Nullam non neque vitae ipsum malesuada pharetra eget non ex. Nullam mattis turpis eros, eu condimentum quam hendrerit at. Suspendisse feugiat lorem eget mauris consectetur gravida. Phasellus non odio ut enim pharetra eleifend. Cras tristique enim a lacus auctor tristique in in nulla. Phasellus efficitur sollicitudin orci, eu feugiat nisl condimentum ut. Cras consectetur sagittis urna sed ullamcorper. Aenean metus arcu, gravida quis mauris ut, mattis semper orci. Fusce quis semper elit, sed finibus nibh.</p>
    <h3 class="ama__h3">What inspired me to pursue a career in medicine</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod gravida nunc in convallis. Nullam vestibulum nisl quam, a pharetra quam cursus in. Curabitur tempus aliquet turpis, nec viverra nunc tincidunt id. Nullam ac quam eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus suscipit porta odio, ac porta arcu ultricies in. Nullam non neque vitae ipsum malesuada pharetra eget non ex. Nullam mattis turpis eros, eu condimentum quam hendrerit at. Suspendisse feugiat lorem eget mauris consectetur gravida. Phasellus non odio ut enim pharetra eleifend. Cras tristique enim a lacus auctor tristique in in nulla. Phasellus efficitur sollicitudin orci, eu feugiat nisl condimentum ut. Cras consectetur sagittis urna sed ullamcorper. Aenean metus arcu, gravida quis mauris ut, mattis semper orci. Fusce quis semper elit, sed finibus nibh.</p>
    <h3 class="ama__h3">What inspired me to pursue a career in medicine</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod gravida nunc in convallis. Nullam vestibulum nisl quam, a pharetra quam cursus in. Curabitur tempus aliquet turpis, nec viverra nunc tincidunt id. Nullam ac quam eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus suscipit porta odio, ac porta arcu ultricies in. Nullam non neque vitae ipsum malesuada pharetra eget non ex. Nullam mattis turpis eros, eu condimentum quam hendrerit at. Suspendisse feugiat lorem eget mauris consectetur gravida. Phasellus non odio ut enim pharetra eleifend. Cras tristique enim a lacus auctor tristique in in nulla. Phasellus efficitur sollicitudin orci, eu feugiat nisl condimentum ut. Cras consectetur sagittis urna sed ullamcorper. Aenean metus arcu, gravida quis mauris ut, mattis semper orci. Fusce quis semper elit, sed finibus nibh.</p>
    {% include '@molecules/dr-finder-credentials/dr-finder-credentials-physician.twig' %}
  </div>
{% endblock %}
