{% extends '@templates/one-column.twig' %}

{% block header %}
  {% if alertBanner %}
    {% set alert = alert %}
    {% include '@molecules/alert.twig' %}
  {% endif %}
  {% include '@organisms/dr-finder-main-navigation/dr-finder-main-navigation.twig' %}
{% endblock %}

{% block pageContent %}
  <div class="ama__dr-finder container">
    {% set heading = heading|merge({
      "level": "1",
      "class": "ama__h1"
    }) %}
    {% include '@atoms/heading/heading.twig' %}
    {{ subheading|raw }}
    {% include '@organisms/dr-finder-search/dr-finder-search.twig' %}
    {% include '@molecules/dr-finder-filter-list/dr-finder-filter-list.twig' %}
    {% include '@molecules/dr-finder-filter-buttons/dr-finder-filter-buttons.twig' %}
    {% include '@molecules/dr-finder-search-results-header/dr-finder-search-results-header.twig' %}
    {% for drFinderSearchResultCard in resultCards %}
      {% include '@molecules/dr-finder-search-result-card/dr-finder-search-result-card.twig'%}
    {% endfor %}
    {% include '@atoms/loading/loading.twig'%}
  </div>
{% endblock %}
