{%  set link, heading, social = articleHeader.link, articleHeader.heading, articleHeader.social %}

<header class="ama__article-header">
    {% include "@atoms/link.twig" %}
    {% include "@atoms/heading.twig" %}
    <div class="ama__article-header__date">
      {% include "@atoms/date-block.twig" %}
    </div>
    <div class="ama__article-header__share">
      {% include "@molecules/social-share.twig" %}
    </div>
</header>
