<div class="ama__bio-image-with-body">
  <div class="ama__bio-image-with-body__image">
    {% set image = bioImageWithBody.image %}
    {% include "@atoms/image/image.twig" %}
  </div>
  <div class="ama__bio-image-with-body__copy">
    <h1 class="ama__h1">Dr. John P. Doe, MD, MA</h1>
    {% for bioSection in bioImageWithBody.bioSections %}
      {% include "@organisms/bio-section.twig" %}
    {% endfor %}
  </div>
</div>
<div class="ama__bio-image-with-body__paragraph">
  {% set paragraph = bioImageWithBody.bio.paragraph %}
  {% include "@atoms/paragraph.twig" %}
</div>
