{% set appliedFilters, expandList, searchField, button = filter.appliedFilters, filter.expandList, filter.searchField, filter.button %}

<div class="ama__filter">
  {% include "@molecules/expand-list.twig" %}

  <div class="ama__filter__collapse-panels">
    {% include "@atoms/button/button.twig"  with { 'class': 'ama__filter__see-results' } %}
  </div>
</div>


