{% set heading = {
  "text": "The AMA promotes the art and science of medicine and the betterment of public health.",
  "level": "2",
  "class": "ama__h2 ama__footer__mission-statement" } %}

<footer class="ama__footer">
  <div class="container ama__footer__container">
    {% include '@atoms/site-logo/site-logo.twig' with { siteLogo : footer.siteLogo } %}
    {% include "@atoms/heading/heading.twig" %}
    {% include "@molecules/social-share.twig" %}

    <div class="ama__footer__menu-container">
      <div class="ama__rule ama__rule--horizontal"></div>

      {% block menus %}
        <div class="ama__footer__menu-secondary-user">
          {% for column in menus.secondaryUser %}
            <ul>
              {% for link in column %}
                <li>
                  {% include "@atoms/link/link.twig" %}
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% endblock menus %}

    </div>
  </div>
  <div class="container ama__footer__bottom">
    {% block utility %}
      <ul class="ama__footer__menu-utility">
        {% for link in menus.utility %}
          <li>
            {% include "@atoms/link/link.twig" %}
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
    {% include "@atoms/copyright.twig" %}
  </div>
</footer>
