{%  set
  indented, link, heading, subtitle, social =
  masthead.indented ? "ama__masthead__content--indented" : "",
  masthead.link,
  masthead.heading|merge({
    "level": "1",
    "class": "ama__h1"
  }),
  masthead.subtitle,
  masthead.social
%}

<header class="ama__masthead">
  <div class="ama__masthead__content {{ indented }}" role="complementary">
    {% include "@atoms/link.twig" %}
    {% include "@atoms/heading.twig" %}
    {% include "@atoms/subtitle.twig" %}
    <div class="ama__masthead__content__container">
      <div class="ama__masthead__content__date">
        {% include "@atoms/date-block.twig" %}
      </div>
      <div class="ama__masthead__content__share">
        {% include "@molecules/social-share.twig" %}
      </div>
    </div>
  </div>
</header>
