{% set
  link, button, paragraph, heading =
  link ? link : membership.link,
  button ? button : membership.button,
  paragraph ? paragraph : membership.paragraph,
  heading ? heading : membership.heading
%}

{% if button %}
<div class="ama__membership">
  {% else %}
  <a href="{{ link }}" class="ama__membership">
    {% endif %}

    {% include '@atoms/heading.twig' %}
    {% include '@atoms/paragraph.twig' %}

    {% if button %}
      {% include '@atoms/button.twig' with {"style" : "primary"} %}
    {% endif %}

    {% if button %}
</div>
{% else %}
  </a>
{% endif %}

