{% set showCta = button ? "true" : "false" %}

{% if not button %}
  <a href="{{ link }}" class="ama__membership--link">
{% endif %}
<div class="ama__membership {{ class }}">
  {% if image %}
    {% if patternlab %}
      {% include '@atoms/image.twig' %}
    {% else %}
      <div class="ama__image">
        {{ image }}
      </div>
    {% endif %}
  {% endif %}

  {% include '@atoms/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}

  {% if button %}
    {% include '@atoms/button.twig' %}
  {% endif %}
</div>
{% if not button %}</a>{% endif %}
