{% set heading, paragraph, button = membership.heading, membership.paragraph, membership.button %}

{% block startMembershipLink %}
  {% if not button %}
    <a href="{{ membership.link }}" class="ama__membership--link">
  {% endif %}
{% endblock %}

<div class="ama__membership {{ class }}">
  {% block membershipHeading %}
   {% include '@atoms/heading.twig' %}
  {% endblock %}

  {% block membershipDescription %}
    {% include '@atoms/paragraph.twig' %}
  {% endblock %}

  {% block membershipButton %}
    {% if button %}
      {% include '@atoms/button.twig' %}
    {% endif %}
  {% endblock %}
</div>
{% block EndMembershipLink %}
  {% if not button %}</a>{% endif %}
{% endblock %}
