<div class="ama__member-feature">
  <div class="ama__member-feature__wrapper">
    {% include '@molecules/hero-story.twig' with { heroStory : memberFeature.heroStory } %}
    {% include '@molecules/member-feature-rail.twig' with { memberFeatureRail : memberFeature.memberFeatureRail } %}
  </div>
</div>
