<div class="ama__podcast-player">

  <div class="ama__podcast-player__heading">
    {% if podcastPlayer.heading %}
      {% set heading = podcastPlayer.heading %}
      {% include "@atoms/heading/heading.twig" %}
    {% endif %}

    {% set paragraph = podcastPlayer.paragraph %}
    {% include "@atoms/paragraph.twig" %}
  </div>

  <ul class="ama__podcast-player__links">
    {% for podcastlink in podcastPlayer.podcastLinks.links %}
      <li>
        {% include "@atoms/podcast-link.twig" %}
      </li>
    {% endfor %}
  </ul>
</div>
