{% set class = "ama__ribbon__dropdown--nav__menu" %}

<section class="ama__ribbon">
  {% set ribbonDropdown = ribbon %}
  {% include "@molecules/ribbon-dropdown.twig" %}
  {% set ribbonDropdown = ribbon.userMenu %}
  {% include "@molecules/ribbon-dropdown.twig" %}
</section>
