<section class="ama__ribbon">
  <section class="ama__ribbon__menu">
    {% set menu = ribbon.menu %}
    {% include "@molecules/menu.twig" %}
  </section>
  <section class="ama__ribbon__menu-user">
    {% set menuUser = ribbon.menuUser %}
    {% include "@molecules/menu-user.twig" %}
  </section>
</section>