<nav id="ribbon" role="navigation" class="ama__ribbon">
  {% block ribbon %}
    <!-- @see organisms/ribbon.twig -->
    {% include "@base/placeholder.twig" with {'placeholder':{'text':'Navigaton'}} %}
  {% endblock %}
</nav>