<div class="ama__sidebar-articles">
  {% set heading = {
    "text": sidebarArticles.heading.text,
    "level": "3",
    "class": "ama__h3"
  }
  %}

  {% include "@atoms/heading.twig" %}

  {% for article in sidebarArticles.articles %}
    {% set articleStub = article %}
    {% include "@molecules/article-stub.twig" %}
  {% endfor %}
</div>

