<div class="ama__subcategory-explore-topics">
  <div class="ama__subcategory-explore-topics__heading">
    {{ subcategoryExploreTopics.heading }}
  </div>
  <ul class="ama__subcategory-explore-topics__items">
    {% for item in subcategoryExploreTopics.items %}
      <li class="ama__subcategory-explore-topics__item">
        <a href="{{ item.url }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
