<div class="ama__subcategory-exploration">
  <ul class="ama__subcategory-exploration__list ama__subcategory-exploration__list--expanded">
    {% for key,link in subcategoryExploration.links %}
      <li {% if key > 2 %} class="ama__subcategory-exploration__list__item--hidden" {% endif %}>
        <a href="{{ link.url }}">
          <h2>{{ link.text }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="ama__subcategory-exploration__show-more">More</div>
</div>
