<div class="ama__subcategory-exploration">
  <ul class="ama__subcategory-exploration__list">
    {% for link in subcategoryExploration.links %}
      <li>
        <a href="{{ link.url }}">
          <h2>{{ link.text }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="#" class="ama__subcategory-exploration__show-more">View all subcategories v</a>
  <div class="ama__subcategory-exploration__select ama__subcategory-exploration__select--visible">
    {% include "@atoms/forms/select-menu.twig" %}
  </div>
</div>
