{% set layoutClass = 'container' %}

{% extends '@templates/two-column-right-75-25.twig' %}


{% block contentTop %}
  {% set searchField, displaySwitchMenu = subcategoryIndex.searchField, subcategoryIndex.displaySwitchMenu %}
  {% include '@atoms/forms/search-field-as-in-body.twig' %}
  {% include '@molecules/display-switch-menu.twig' %}
{% endblock %}

{% block contentLeft %}
  <div class="ama__subcategory-index__stubs">
    {% for stub in subcategoryIndex.articleStubs %}
      {% set subCatArticleStub = stub %}
      {% include '@molecules/subcategory-page-article-stub.twig' %}
    {% endfor %}
  </div>
{% endblock %}

{% block contentRight %}
  {% set membership = subcategoryIndex.promotionalRealEstate.membership %}
  {% include '@molecules/membership/membership.twig' %}

  {% set partnerPromo = subcategoryIndex.promotionalRealEstate.partnerPromo %}
  {% include '@molecules/partner-promo.twig' %}

{% endblock %}
