{% set heading, tools, learnMore = toolsBlock.heading, toolsBlock.tools, tools.learnMore %}
<div class="ama__tools-block {{ class }}">
  {% block headingTools %}
    {% include "@atoms/heading.twig" %}
  {% endblock %}

  {% block tools %}
    {% include "@molecules/tools-list.twig" %}
  {% endblock %}
</div>
