{% set
  heading, paragraph, link, image, showCta, button, style =
  heading,
  paragraph,
  link,
  image,
  button ? "true" : "false",
  button,
  style
%}

{% if not button %}
  <a href="{{ link }}" class="ama__topic_promotion--link">
{% endif %}
<div class="ama__topic_promotion {{ class }} ama__topic_promotion--{{ style }}">
  {% if image %}
    {% if patternlab %}
      {% include '@atoms/image.twig' %}
    {% else %}
      <div class="ama__image">
        {{ image }}
      </div>
    {% endif %}
  {% endif %}

  {% include '@atoms/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}

  {% if button %}
    {% include '@atoms/button.twig' %}
  {% endif %}
</div>
{% if not button %}</a>{% endif %}
