{% set
  heading, paragraph, link, image, button, background, email, checkbox =
  topicPromo.heading,
  topicPromo.paragraph,
  topicPromo.link,
  topicPromo.image,
  topicPromo.button,
  topicPromo.background ? "ama__topic_promotion--background" : "",
  topicPromo.email,
  topicPromo.checkbox
%}
{% if topicPromo.link %}
  <a href="{{ topicPromo.link }}" class="ama__topic_promotion--link">
{% endif %}
  <div class="ama__topic_promotion {{ class }} {{ background }}">
    {% if topicPromo.image %}
      {% include '@atoms/image.twig' %}
    {% endif %}

    {% include '@atoms/heading.twig' %}
    {% include '@atoms/paragraph.twig' %}

    {% if topicPromo.button %}
      {% include '@atoms/button.twig' %}
    {% endif %}
  </div>
{% if topicPromo.link %}</a>{% endif %}

