<section class="ama__upcoming-events">
  <div class="ama__upcoming-events__header">
    {% include "@atoms/section-title.twig" %}
    {% include "@atoms/link/link.twig" %}
  </div>
  {% for event in events %}
    {% include "@molecules/upcoming-event.twig" %}
  {% endfor %}
</section>
