<section class="ama__upcoming-events">
  {% include "@atoms/section-title.twig" %}
  {% for event in events %}
    {% include "@molecules/upcoming-event.twig" %}
  {% endfor %}
  {% include "@atoms/link/link.twig" %}
</section>
