<?xml version="1.0" encoding="UTF-8"?>
<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>email</title>
    <g id="email" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="PaperPlaneRight" transform="translate(4.000000, 4.000000)">
            <rect id="Rectangle" x="0" y="0" width="32" height="32"></rect>
            <path d="M27.4419538,15.1275 L6.32759375,3.3034525 C5.96385336,3.09975891 5.51190867,3.14309245 5.19350083,3.41219205 C4.87509298,3.68129165 4.75703477,4.11969108 4.89725,4.512295 L8.8798825,15.66367 C8.95755988,15.8811668 8.95755988,16.1188457 8.8798825,16.3363425 L4.89725,27.487705 C4.7570337,27.8803096 4.87509203,28.3187103 5.19350086,28.5878103 C5.51190969,28.8569102 5.96385572,28.9002429 6.32759625,28.6965475 L27.4419563,16.8725063 C27.7577598,16.6956532 27.9533465,16.3619539 27.9533465,16.0000024 C27.9533465,15.6380509 27.7577578,15.3043521 27.4419538,15.1275 Z" id="Path" stroke="#46166B" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <line x1="9" y1="16" x2="17" y2="16" id="Path" stroke="#46166B" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></line>
        </g>
    </g>
</svg>
