{% set heading, paragraph, image, video, unorderedList, button = hubHero.heading, hubHero.paragraph, hubHero.image, hubHero.video, hubHero.unorderedList, hubHero.button %}

 {% if hubHero.layout == "ama__hub-hero--side-right" %}
   {% set background = "background-image: url( #{hubHero.backgroundImage} );" %}
{% elseif hubHero.layout == "ama__hub-hero--hero-side" %}
  {% set background = "background-image: url( #{hubHero.backgroundImage} );" %}
{% endif %}

<section class="ama__hub-hero {{ hubHero.layout }}" style="{{ background }}">
  {% if hubHero.image.src is not empty %}
    <div class="ama__hub-hero__image">
      {% include "@atoms/image/image.twig" %}
    </div>
  {% elseif hubHero.video.src is not empty %}
    <div class="ama__hub-hero__video">
      {% include "@atoms/video.twig" %}
    </div>
  {% endif %}

  <div class="ama__hub-hero__description">
    {% if hubHero.paragraph is not empty %}
      {% include "@atoms/paragraph.twig" with { 'class': 'ama__hub-hero__text' } %}
    {% endif %}
    <div class="ama__hub-hero__heading">
      {% include "@atoms/heading/heading.twig" %}
    </div>
  </div>
</section>
