{% set link = searchResult.title %}
{% set classes = [
  searchResult.bestBet ? "ama__search-result--best-bet"
] %}

{% set link = searchResult.link %}


<div class="ama__search-result {{ classes|join(' ') }}">
  {% if searchResult.category %}
    {% include "@atoms/paragraph.twig" with { "paragraph" : searchResult.category } %}
  {% endif %}

  {% if link %}
    {% set link = link|merge({class: 'ama__link--black', target: 'self'}) %}
    <h2 class="ama__h2 ama__search-result__title">
      {% include "@atoms/link/link.twig" %}
    </h2>
  {% endif %}

  {% if searchResult.paragraph %}
    <div class="ama__search-result__description">
      {% include "@atoms/paragraph.twig" with { "paragraph" : searchResult.paragraph } %}
    </div>
  {% endif %}
  <div class="ama__rule ama__rule--horizontal"></div>
</div>
