{% set unorderedList = ribbonDropdown.userMenuDropdown ? ribbonDropdown.userMenuDropdown.unorderedList : ribbonDropdown.unorderedList %}
{% set class = "ama__ribbon__dropdown__nav__menu" %}
{% set mobileClass = ribbonDropdown.mobile ? "ama__ribbon__dropdown__trigger__mobile" : "" %}

<nav class="ama__ribbon__dropdown">
  <div class="ama__ribbon__dropdown__trigger {{ mobileClass }}" tabindex="0" href="#">
    {% if ribbonDropdown.mobile %}
      <i class="ama__ribbon__dropdown__trigger__icon ama__ribbon__dropdown__trigger__icon__user">
        {% include "@atoms/media/icons/svg/icon-usermenu.twig" %}
      </i>
    {% else %}
      <span class="ama__ribbon__dropdown__trigger__name">
        {{ ribbonDropdown.triggerText|raw }}
      </span>
      <i class="ama__ribbon__dropdown__trigger__icon ama__ribbon__dropdown__trigger__icon__arrow">
        {% include "@atoms/media/icons/svg/icon-arrow.twig" %}
      </i>
    {% endif %}

    <div class="ama__ribbon__dropdown__nav">
      {% include '@atoms/unordered-list.twig' %}
    </div>
  </div>
</nav>

