{% set
  link, button, paragraph, siteLogo, image, heading =
  membership.link,
  membership.button,
  membership.paragraph,
  membership.siteLogo,
  membership.image,
  membership.heading|merge({
    "level": "2",
    "class": "ama__h2"
  })
%}

<div class="ama__category">
  <div class="layout__region--content">
    <div class="ama__membership">
      <div class="ama__membership-content">
        <div class="ama__membership_logo-container">
          <div class="ama__membership_logo">
            {% set siteLogo = membership.siteLogo %}
            {% if siteLogo %}
              {% include '@atoms/site-logo/site-logo.twig' with {"nolink": true} %}
            {% endif %}
          </div>
        </div>
        {% include '@atoms/heading/heading.twig' %}
        <div class="membership-body">
          {% include '@atoms/paragraph.twig' %}
        </div>

        {% if button %}
            {% set button = membership.button %}
            {% include '@atoms/button/button.twig' %}
        {% endif %}
      </div>
      <div class="ama__membership_media-container">
        {% include '@atoms/image/image.twig' %}
      </div>
    </div>
  </div>
</div>
