{% set heading, link, paragraph, date = forumComments.heading, forumComments.author, forumComments.paragraph, forumComments.date %}

<section class="ama__forum_comments">
  <div class="ama__comment">
    <div class="ama__comment-header">
      <div class="ama__comment--info">
        <div class="ama__comment--author-info">
          {% set link = forumComments.author %}
          {% include "@atoms/link/link.twig" %}
        </div>
        <div class="ama__comment-date">
          {% include "@atoms/date-block.twig" with { "inline" : "true" } %}
        </div>
        <mark class="ama__comment-status" data-comment-timestamp="1582930056">New</mark>
      </div>
      <div class="ama__comment-link">
        {% set link = forumComments.flag %}
        <div><i class="far fa-flag"></i>{% include "@atoms/link/link.twig" %}</div>
        {% set link = forumComments.permalink %}
        {% include "@atoms/link/link.twig" %}
      </div>
    </div>
    <div class="ama__comment-body">
      <div class="ama__comment-title">
        {% include "@atoms/heading/heading.twig" %}
      </div>
      <div class="ama__comment-body">
        <div class="ama__comment-body--content">
          {% include "@atoms/paragraph.twig" %}
        </div>
        <div>
          <strong>Opinion Type:</strong>
          <span>My post reflects the opinion of my delegation or section</span>
        </div>
  <div>
    <strong>Delegation Name:</strong>
    <span>Texas Medical Association</span>
  </div>
  </div>
  </div>
  <div class="ama__comment-footer">
    <ul class="links inline">
      <li class="comment-delete">
        {% set link = forumComments.delete %}
        {% include "@atoms/link/link.twig" %}
      </li>
      <li class="comment-edit">
        {% set link = forumComments.edit %}
        {% include "@atoms/link/link.twig" %}
      </li>
      <li class="comment-reply">
        {% set link = forumComments.reply %}
        {% include "@atoms/link/link.twig" %}
      </li>
    </ul>
    <div class="forum-jump-links">
      {% set link = forumComments.top %}
      <i class="fas fa-long-arrow-alt-up"></i>
      {% include "@atoms/link/link.twig" %}
    </div>
  </div>
  </div>
  {% if forumComments.thread %}
  <div class="indented">
    <div class="ama__comment">
      <div class="ama__comment-header">
        <div class="ama__comment--info">
          <div class="ama__comment--author-info">
            {% set link = forumComments.author %}
            {% include "@atoms/link/link.twig" %}
          </div>
          <div class="ama__comment-date">
            {% include "@atoms/date-block.twig" with { "inline" : "true" } %}
          </div>
        </div>
        <div class="ama__comment-link">
          {% set link = forumComments.flag %}
          <div><i class="far fa-flag"></i>{% include "@atoms/link/link.twig" %}</div>
          {% set link = forumComments.permalink %}
          {% include "@atoms/link/link.twig" %}
        </div>
      </div>
      <div class="ama__comment-body">
        <div class="ama__comment-title">
          {% include "@atoms/heading/heading.twig" %}
        </div>
        <div class="ama__comment-body">
          <div class="ama__comment-body--content">
            {% include "@atoms/paragraph.twig" %}
          </div>
          <div>
            <strong>Opinion Type:</strong>
            <span>My post reflects the opinion of my delegation or section</span>
          </div>
          <div>
            <strong>Delegation Name:</strong>
            <span>Texas Medical Association</span>
          </div>
        </div>
      </div>
      <div class="ama__comment-footer">
        <ul class="links inline">
          <li class="comment-delete">
            {% set link = forumComments.delete %}
            {% include "@atoms/link/link.twig" %}
          </li>
          <li class="comment-edit">
            {% set link = forumComments.edit %}
            {% include "@atoms/link/link.twig" %}
          </li>
          <li class="comment-reply">
            {% set link = forumComments.reply %}
            {% include "@atoms/link/link.twig" %}
          </li>
        </ul>
        <div class="forum-jump-links">
          {% set link = forumComments.top %}
          <i class="fas fa-long-arrow-alt-up"></i>
          {% include "@atoms/link/link.twig" %}
        </div>
      </div>
    </div>
    <div class="indented">
      <div class="ama__comment">
        <div class="ama__comment-header">
          <div class="ama__comment--info">
            <div class="ama__comment--author-info">
              {% set link = forumComments.author %}
              {% include "@atoms/link/link.twig" %}
            </div>
            <div class="ama__comment-date">
              {% include "@atoms/date-block.twig" with { "inline" : "true" } %}
            </div>
          </div>
          <div class="ama__comment-link">
            {% set link = forumComments.flag %}
            <div><i class="far fa-flag"></i>{% include "@atoms/link/link.twig" %}</div>
            {% set link = forumComments.permalink %}
            {% include "@atoms/link/link.twig" %}
          </div>
        </div>
        <div class="ama__comment-body">
          <div class="ama__comment-title">
            {% include "@atoms/heading/heading.twig" %}
          </div>
          <div class="ama__comment-body">
            <div class="ama__comment-body--content">
              {% include "@atoms/paragraph.twig" %}
            </div>
            <div>
              <strong>Opinion Type:</strong>
              <span>My post reflects the opinion of my delegation or section</span>
            </div>
            <div>
              <strong>Delegation Name:</strong>
              <span>Texas Medical Association</span>
            </div>
          </div>
        </div>
        <div class="ama__comment-footer">
          <ul class="links inline">
            <li class="comment-delete">
              {% set link = forumComments.delete %}
              {% include "@atoms/link/link.twig" %}
            </li>
            <li class="comment-edit">
              {% set link = forumComments.edit %}
              {% include "@atoms/link/link.twig" %}
            </li>
            <li class="comment-reply">
              {% set link = forumComments.reply %}
              {% include "@atoms/link/link.twig" %}
            </li>
          </ul>
          <div class="forum-jump-links">
            {% set link = forumComments.top %}
            <i class="fas fa-long-arrow-alt-up"></i>
            {% include "@atoms/link/link.twig" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
