.ama__resource-tabs {
  border: 0 !important;
  margin: 0;
  padding: 0;

  @include breakpoint($bp-small) {
    @include gutter($margin-top-half...);
    @include gutter($margin-left-half...);
  }

  @include breakpoint($bp-med) {
    position: absolute;
    width: 100%;
  }
}

.ama__resource-tabs__nav.ui-tabs-nav {
  border-top: 14px solid $white;
  width: 100%;
  background: $purple;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  border-radius: unset;
  z-index: 9;
}

.ama__resource-tabs__nav li{

  &.ui-state-default {
    background: inherit;
    border-top: none;
    border-bottom: none;
    border-left: none;
    float: inherit;
    border-radius: 0;
    padding: ($gutter / 2) ($gutter / 4);
    color: $white;
    text-align: center;
    margin: 0;
    border-right: solid 1px $white;
    a.ui-tabs-anchor{
      color: $white;
      padding: 0;
      margin: 0;

    }
  }

  &.ui-state-active {
    background: $white;
    border-right: double 3px $purple;
    border-left: solid 1px;
    margin-bottom: -1px;
    padding-bottom: 1px;

    a.ui-tabs-anchor{
      color: $purple;;
    }

    + li {
      list-style: none;
      padding-left: 4px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.ama__resource-tabs__nav__icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

li {
  &.js--tab-start--mobile{
    display: block;
    list-style: none;
    
    @include breakpoint($bp-small) {
      display: none;
    }
  }
  & > [href='#resources'] {
    .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-resources.svg');
    }
  }

  & > [href='#media'] {
    @include breakpoint($bp-small) {
      border-left: 0;
    }

    .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-media.svg');
    }
  }

  & > [href='#downloads'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-downloads.svg');
  }

  & > [href='#related_links'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-relatedlinks.svg');
  }

  & > [href='#schedules'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-schedules.svg');
  }

  & > [href='#tables'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-table.svg');
  }

  & > [href='#contacts'] .ama__resource-tabs__nav__icon {
    background-image: url('../icons/svg/icon-resources-nav-contacts.svg');
  }

  &.ui-state-active {
    & > [href='#resources'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-resources-active.svg');
    }

    & > [href='#media'] {
      @include breakpoint($bp-small) {
        border-left: 0;
      }

      .ama__resource-tabs__nav__icon {
        background-image: url('../icons/svg/icon-resources-nav-media-active.svg');
      }
    }

    & > [href='#downloads'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-downloads-active.svg');
    }

    & > [href='#related_links'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-relatedlinks-active.svg');
    }

    & > [href='#schedules'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-schedules-active.svg');
    }

    & > [href='#tables'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-table-active.svg');
    }

    & > [href='#contacts'] .ama__resource-tabs__nav__icon {
      background-image: url('../icons/svg/icon-resources-nav-contacts-active.svg');
    }
  }
}

.ama__resource-tabs__content {
  position: relative;

  @include breakpoint($bp-large) {
    overflow-y: auto;
    overflow-x: hidden;
    clip: auto;
    width: auto;
    margin: 0;
    position: relative;
    height: calc(100vh - 180px);
  }

  a:not(.ama__tool):not(.ama__button) {
    @extend %ama__link--no-underline;
  }

  // To override the `.ui-widget-content a` rule that is part of jquery UI.
  .ui-widget-content a.ama__button {
    color: $white;
  }

  .ama_resource-subheader {
    @include gutter($margin-bottom-half...);
    @include gutter($padding-left-quarter...);
  }

  .ama_resource-header {
    @include gutter($margin-top-full...);
    @include gutter($margin-bottom-half...);
    @include gutter($padding-left-quarter...);

    &.ama_resource-header--highlight {
      background-color: $bodyTextHoverPurple;
    }
  }

  .ama__resource--schedules div {
    &:nth-child(1) {
      @include gutter($margin-bottom-full...);
    }

    caption,
    .ama__caption {
      @include gutter($padding-left-quarter...);
    }

    table.bt {
      @include breakpoint($bp-small) {
        border-left: 0;
      }
    }
  }
}

.ama__resource-tabs__nav__label {
  display: none;
  @include breakpoint($bp-large) {
    display: block;
  }
}

.ama__resource-tabs__content section.ui-tabs-panel {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  padding: $gutter / 2 0;

  &.ui-state-active {
    outline: none;
    display: block;

  }

  &:focus,
  *:focus {
    outline: none;
  }

  > * + * {
    margin-top: $gutter;
  }
}

.ama__resource-tabs__content section#resources.ui-state-active {
  display: block;
  @include breakpoint($bp-small) {
    display: none;
  }
}

section#schedules {
  margin: 0;
  padding: 0;
}

.ama__layout--split__left .ama__masthead > * {
  padding-right: $gutter / 2;
}

.ama__layout--split__left .ama__masthead__content {
  border-bottom: solid 1px $gray-50;
}

section#related_links {
  ul {
    list-style: none;

    li {
      list-style: none;
      margin: 0;
    }
  }

  .ama__membership ul {
    list-style: initial;

    li {
      list-style: initial;
      list-style-position: inside;
      padding: 0;
    }
  }
}

#downloads .ama__resource-tabs__item{
  margin-bottom: $gutter-mobile;
}
