
.icon-icon-alert {
	background-image: url('png/icon-alert.png');
	background-repeat: no-repeat;
  width: 35px;
  height: 31px;
}



.icon-icon-audio {
	background-image: url('png/icon-audio.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-checkbox {
	background-image: url('png/icon-checkbox.png');
	background-repeat: no-repeat;
  width: 20px;
  height: 45px;
}



.icon-icon-checkmark {
	background-image: url('png/icon-checkmark.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 7px;
}



.icon-icon-clear {
	background-image: url('png/icon-clear.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-icon-close {
	background-image: url('png/icon-close.png');
	background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}



.icon-icon-closedropdown {
	background-image: url('png/icon-closedropdown.png');
	background-repeat: no-repeat;
  width: 14px;
  height: 8px;
}



.icon-icon-closedropdownsmall {
	background-image: url('png/icon-closedropdownsmall.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}



.icon-icon-cme {
	background-image: url('png/icon-cme.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-download {
	background-image: url('png/icon-download.png');
	background-repeat: no-repeat;
  width: 9px;
  height: 14px;
}



.icon-icon-external-site {
	background-image: url('png/icon-external-site.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-external {
	background-image: url('png/icon-external.png');
	background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}



.icon-icon-facebook {
	background-image: url('png/icon-facebook.png');
	background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}



.icon-icon-googleplus {
	background-image: url('png/icon-googleplus.png');
	background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}



.icon-icon-grid {
	background-image: url('png/icon-grid.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-icon-hide {
	background-image: url('png/icon-hide.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 18px;
}



.icon-icon-information {
	background-image: url('png/icon-information.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-icon-internal-site {
	background-image: url('png/icon-internal-site.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-linkedin {
	background-image: url('png/icon-linkedin.png');
	background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}



.icon-icon-list {
	background-image: url('png/icon-list.png');
	background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}



.icon-icon-next {
	background-image: url('png/icon-next.png');
	background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}



.icon-icon-opendropdown {
	background-image: url('png/icon-opendropdown.png');
	background-repeat: no-repeat;
  width: 14px;
  height: 8px;
}



.icon-icon-opendropdownsmall {
	background-image: url('png/icon-opendropdownsmall.png');
	background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}



.icon-icon-pdf {
	background-image: url('png/icon-pdf.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-play {
	background-image: url('png/icon-play.png');
	background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}



.icon-icon-podcast {
	background-image: url('png/icon-podcast.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-previous {
	background-image: url('png/icon-previous.png');
	background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}



.icon-icon-radio {
	background-image: url('png/icon-radio.png');
	background-repeat: no-repeat;
  width: 20px;
  height: 45px;
}



.icon-icon-search {
	background-image: url('png/icon-search.png');
	background-repeat: no-repeat;
  width: 24px;
  height: 26px;
}



.icon-icon-select {
	background-image: url('png/icon-select.png');
	background-repeat: no-repeat;
  width: 18px;
  height: 10px;
}



.icon-icon-show {
	background-image: url('png/icon-show.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 18px;
}



.icon-icon-twitter {
	background-image: url('png/icon-twitter.png');
	background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}



.icon-icon-usermenu {
	background-image: url('png/icon-usermenu.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-icon-valid {
	background-image: url('png/icon-valid.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-icon-video {
	background-image: url('png/icon-video.png');
	background-repeat: no-repeat;
  width: 234px;
  height: 234px;
}



.icon-icon-viewless {
	background-image: url('png/icon-viewless.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-icon-viewmore {
	background-image: url('png/icon-viewmore.png');
	background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}



.icon-icon-youtube {
	background-image: url('png/icon-youtube.png');
	background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}


