{%  set
  centered, indented, series_subscribe, series_is_subscribed, link, heading, subtitle, date, social, description =
  masthead.centered ? "ama__masthead__content__title--centered" : "",
  masthead.indented ? "ama__masthead__content--indented" : "",
  masthead.series_subscribe ? "ama__masthead__series--subscribe" : "",
  masthead.series_is_subscribed,
  masthead.link,
  masthead.heading|merge({
    "level": "1",
    "class": "ama__h1"
  }),
  masthead.subtitle,
  masthead.date,
  masthead.social,
  masthead.description
%}

<header class="ama__masthead">
  <div class="ama__masthead__sidebar" role="complementary"></div>
  <div class="ama__masthead__content {{ indented }}" role="complementary">
    <div class="ama__masthead__content__title__container">
      <div class="ama__masthead__content__title {{ centered }}{% if not masthead.heading.text %} ama__masthead__content__title--empty{% endif %}">
        {% if masthead.link.title %}
          {% include "@atoms/link/link.twig" %}
        {% endif %}
        {% if masthead.heading.text %}
        {% include "@atoms/heading/heading.twig" %}
        {% endif %}
        {% if subtitle %}
          {% include "@atoms/subtitle.twig" %}
        {% endif %}
        {% if description %}
          {% include "@atoms/description.twig" %}
        {% endif %}
      </div>
      {% if button %}
        <div class="ama__masthead__content__event__button">
          {% include "@atoms/button/button.twig" %}
        </div>
      {% endif %}
    </div>

    <div class="ama__masthead__content__container">
      {% if masthead.date.month %}
        <div class="ama__masthead__content__date">
          {% include "@atoms/date-block.twig" %}
        </div>
      {% endif %}
      {% if masthead.social %}
        <div class="ama__masthead__content__share">
          {% include "@molecules/social-share.twig" %}
        </div>
      {% endif %}
    </div>
    {% if series_is_subscribed %}
      <span class="subscribe-series subscribed">Subscribed to series</span>
      <div class="ama__rule ama__rule--horizontal"></div>
    {% endif %}

    {% if series_subscribe %}
      <span class="subscribe-series">Subscribe to series<div class="triangle-right"></div></span>
      <div class="ama__rule ama__rule--horizontal"></div>
    {% endif %}
  </div>
</header>
