<div class="ama__personalized-account-hub">
    <div class="ama__personalized-account-hub__account-info">
        {% include "@molecules/personalized-account-info/personalized-account-info.twig" %}
    </div>   
</div>