//Accesibility skip to main
//https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/
.ama__skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  transform: translateY(-50px);
}
.ama__skip-nav:focus {
  transform: translateY(0);
}
