.ama__org-nav {
  flex: 0 0 34%;
  max-width: 34%;
  text-align: right;

  li {
    display: inline-block;

    a {
      color: $purple;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 ($gutter / 4);
      font-size: .778em;
      line-height: 2.214em;
      font-weight: $font-weight-semibold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
