{% extends '@templates/one-column.twig' %}
{% block header %}
  {% include '@organisms/product-nav.twig' with { productNav : homepage.productNav } %}
{% endblock %}

{% block pageContent %}
  <div class="ama__homepage__navs">
    {% include '@organisms/category-nav.twig' with { catNav : homepage.catNav } %}
    {% include '@organisms/org-nav.twig' with { orgNav : homepage.orgNav } %}
  </div>
  {% include '@organisms/upcoming-events.twig' with { upcomingEvents : homepage.upcomingEvents } %}
{% endblock %}
