{% extends '@templates/one-column.twig' %}
{% block header %}
  {% set alert = homepage.alert %}
  {% include '@molecules/alert.twig' %}
  {% include '@organisms/product-nav.twig' with { productNav : homepage.productNav } %}
{% endblock %}

{% block pageContent %}
  <div class="ama__homepage__navs">
    {% include '@organisms/category-nav.twig' with { catNav : homepage.catNav } %}
    {% include '@organisms/org-nav.twig' with { orgNav : homepage.orgNav } %}
  </div>
  {% include '@molecules/jama/jama.twig' with { jama : homepage.jama } %}
  {% include '@organisms/upcoming-events.twig' with { upcomingEvents : homepage.upcomingEvents } %}
  {% include '@organisms/your-products.twig' with { yourProducts : homepage.yourProducts } %}
  {% include '@organisms/member-feature.twig' with { memberFeature : homepage.memberFeature } %}
  {% include '@organisms/upcoming-events.twig' %}
{% endblock %}
