{% set hubHero, hubSectionHeader, hubHeroes, hubCards = hubPage.hubHero, hubPage.hubSectionHeader, hubPage.hubHeroes, hubPage.hubCards %}

<main class="hub-page container">
  {% include "@molecules/hub/hub-hero.twig" %}
  {% include "@molecules/hub/hub-section-header.twig" %}
  {% include "@organisms/hub-heroes.twig" %}
  {% include "@organisms/hub-cards.twig" %}
</main>
