{% set hubHero, hubSectionHeader, hubHeroes, hubCards = hubPage.hubHero, hubPage.hubSectionHeader, hubPage.hubHeroes, hubPage.hubCards|slice(0, 4) %}

{% block header %}
  {% include '@organisms/main-navigation/main-navigation-hub-page.twig' %}
{% endblock %}

{% block contentTop %}
  {% include "@molecules/hub/hub-hero.twig" %}
{% endblock %}

<div class="layout-container hub-container">
{% block pageContent %}
  <div class="ama__layout--one-column container {{ class }}">
    {# Keeping tabindex for accessibility purposes #}
    <article class="ama__layout--one-column__page-content" role="article">
        <main class="hub-page container">
          {% include "@molecules/hub/hub-section-header.twig" %}
          {% include "@organisms/hub-heroes.twig" %}
          {% include "@organisms/hub-cards.twig" %}
          {% set hubCards = hubPage.hubCards|slice(0, 3) %}
          {% include "@organisms/hub-cards.twig" %}
          {% set hubCards = hubPage.hubCards|slice(0, 2) %}
          {% include "@organisms/hub-cards.twig" %}
        </main>
    </article>
  </div>
  {% endblock %}

  {% block footer %}
    {% include "@organisms/footer/footer-hub-page.twig" %}
  {% endblock %}
</div>