{% extends '@templates/two-column-right.twig' %}

{% block header %}
  {% include '@organisms/ribbon.twig' %}
  {% include '@organisms/wayfinder.twig' %}
  <div class="container">
    {% include '@atoms/link.twig' %}
    {% include '@atoms/page-title.twig' %}
  </div>
{% endblock %}

{% block pageContent %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@molecules/article-stub-as-inline.twig' %}
  {% include '@atoms/heading.twig' %}
  {% include '@atoms/paragraph.twig' %}
  {% include '@molecules/tags.twig' %}
  {% include '@organisms/four-up-teaser.twig' %}
{% endblock %}

{% block sidebarSecondary %}
  {% include '@organisms/tools-block.twig' %}
  {% include '@organisms/membership.twig' %}
  {% include '@organisms/column-teaser.twig' %}
{% endblock %}