{% extends '@templates/two-column-right.twig' %}

{% block pageContent %}
  <div class="container">
    {% include '@organisms/masthead.twig' %}
  </div>
{% endblock %}

{% block sidebarSecondary %}
{% endblock %}
