{% extends '@templates/split.twig' %}

{% block contentLeft %}
{% include '@organisms/masthead.twig' %}
<div class="ama____page--resources__page-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores atque cupiditate <a href="http://www.google.com">normal link</a> debitis dignissimos, dolorem dolorum ea
  <a href="#" class="ama__page--resource__resource-link" data-resource="downloads-1">(Download 1)</a> eius hic laboriosam, necessitatibus nesciunt nobis omnis placeat reprehenderit tenetur ullam vel veniam. Delectus, eaque est molestiae pariatur quae quidem suscipit tenetur voluptatibus.</p>
  {% include '@molecules/resource-link-as-inline.twig' with { resourceLinkAsInline : body.resourceLinkAsInline } %}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda consequuntur cupiditate, ea eius, facilis fuga laudantium modi molestiae placeat similique soluta tempora vel? Aliquid cupiditate delectus distinctio, doloribus enim eveniet illum, laudantium obcaecati pariatur perspiciatis quaerat quod similique velit. Eos libero provident quod sit.</p>
</div>
{% include '@molecules/tags.twig' with { tags : body.tags } %}
{% endblock %}

{% block contentRight %}
  {% include '@organisms/resource-tabs.twig' %}
{% endblock %}

{% block footer %}
{% endblock %}
