{% extends '@templates/three-column.twig' %}

{% block header %}
  {% include '@organisms/ribbon.twig' %}
  {% include '@organisms/wayfinder.twig' %}
  <div class="container">
    {% include '@atoms/page-title.twig' %}
  </div>
{% endblock %}

{% block pageContent %}
  {% include '@organisms/lead-news.twig' %}
{% endblock %}

{% block sidebarPrimary %}
  {% include '@organisms/membership.twig' %}
  {% include '@organisms/tools-block.twig' %}
  {% set articleStub = articleStubOne %}
  {% include '@molecules/article-stub.twig' %}
  {% set articleStub = articleStubTwo %}
  {% include '@molecules/article-stub.twig' %}
{% endblock %}

{% block sidebarSecondary %}
  {% set membership = membershipTwo %}
  {% include '@organisms/membership.twig' %}
  {% set membership = membershipThree %}
  {% include '@organisms/membership.twig' %}
{% endblock %}

{% block footer %}
  {% include '@organisms/footer.twig' %}
{% endblock %}
