<div id="amaCategoryNavigation" class="ama__main-navigation">
  <div class="container">
    {% include '@molecules/explore-menu.twig' with { exploreMenu : drFinderMainNavigation.exploreMenu } %}
    {% include '@atoms/site-logo/site-logo.twig' with { siteLogo : drFinderMainNavigation.siteLogo } %}
    {% include '@molecules/sign-in-dropdown.twig' with { signInDropdown : drFinderMainNavigation.signInDropdown } %}
  </div>
</div>
