<div class="ama__hub">
  <div id="amaCategoryNavigation" class="ama__main-navigation">
    <div class="container">
      {% include '@atoms/site-logo/site-logo.twig' with { siteLogo : mainNavigation.siteLogo } %}

      <a href="" target="_blank" class="hub-header--link">Sign In</a>
    </div>
  </div>
</div>