<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>AddtoCalendarIcon</title>
    <g id="AddtoCalendarIcon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect fill="#FFFFFF" x="0" y="0" width="32" height="32"></rect>
        <g id="AddtoCalendarIcon.ArtHeader" transform="translate(4.824882, 4.036738)" fill="#FFFFFF" stroke="#46166B" stroke-width="0.5">
            <rect id="Rectangle" x="0.257989046" y="2.17652431" width="21.8422465" height="21.5" rx="1"></rect>
            <line x1="0.5" y1="6.41006603" x2="21.7790901" y2="6.41006603" id="Line-4" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="5.5" y1="0.391006603" x2="5.5" y2="3.51905943" id="Line-5" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="16.5" y1="0.391006603" x2="16.5" y2="3.51905943" id="Line-6" stroke-linecap="round" stroke-linejoin="round"></line>
            <g id="Group-11" transform="translate(7.679112, 11.358438)" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3.26525465" y1="0.61628117" x2="3.73769799" y2="6.57525541" id="Line-7" transform="translate(3.728937, 3.568086) rotate(4.533080) translate(-3.728937, -3.568086) "></line>
                <line x1="0.5" y1="3.56495807" x2="6.5" y2="3.56495807" id="Line-8"></line>
            </g>
        </g>
    </g>
</svg>