<section>
  <ul>
    <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
    <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
      <ul>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
      </ul>
    </li>
    <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
    <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
      <ul>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
        <li>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
      </ul>
    </li>
  </ul>
</section>
